<!-- Start Instagram Posts Area -->
<div class="row row--12 mt_dec--24">
    <div class="col-lg-2 col-md-4 col-sm-4 col-4 mt--24">
        <div class="rbt-instapost text-center rbt-instapost-style-one">
            <div class="inner" data-bs-toggle="modal" data-bs-target="#instaModal">
                <a href="#!" class="instapost-img">
                    <img class="rbt-scroll-trigger zoom_in animation-order-1"
                        src="assets/images/insta-posts/@@insta-post-img-01" alt="Ecommerce Instagram Posts Image">
                </a>
                <div class="instapost-content">
                    <span class="insta-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </span>
                    <a href="#!" class="rbt-btn-link">View Product</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4 col-4 mt--24">
        <div class="rbt-instapost text-center rbt-instapost-style-one">
            <div class="inner" data-bs-toggle="modal" data-bs-target="#instaModal">
                <a href="#!" class="instapost-img">
                    <img class="rbt-scroll-trigger zoom_in animation-order-2"
                        src="assets/images/insta-posts/@@insta-post-img-02" alt="Ecommerce Instagram Posts Image">
                </a>
                <div class="instapost-content">
                    <span class="insta-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </span>
                    <a href="#!" class="rbt-btn-link">View Product</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4 col-4 mt--24">
        <div class="rbt-instapost text-center rbt-instapost-style-one">
            <div class="inner" data-bs-toggle="modal" data-bs-target="#instaModal">
                <a href="#!" class="instapost-img">
                    <img class="rbt-scroll-trigger zoom_in animation-order-3"
                        src="assets/images/insta-posts/@@insta-post-img-03" alt="Ecommerce Instagram Posts Image">
                </a>
                <div class="instapost-content">
                    <span class="insta-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </span>
                    <a href="#!" class="rbt-btn-link">View Product</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4 col-4 mt--24">
        <div class="rbt-instapost text-center rbt-instapost-style-one">
            <div class="inner" data-bs-toggle="modal" data-bs-target="#instaModal">
                <a href="#!" class="instapost-img">
                    <img class="rbt-scroll-trigger zoom_in animation-order-4"
                        src="assets/images/insta-posts/@@insta-post-img-04" alt="Ecommerce Instagram Posts Image">
                </a>
                <div class="instapost-content">
                    <span class="insta-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </span>
                    <a href="#!" class="rbt-btn-link">View Product</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4 col-4 mt--24">
        <div class="rbt-instapost text-center rbt-instapost-style-one">
            <div class="inner" data-bs-toggle="modal" data-bs-target="#instaModal">
                <a href="#!" class="instapost-img">
                    <img class="rbt-scroll-trigger zoom_in animation-order-5"
                        src="assets/images/insta-posts/@@insta-post-img-05" alt="Ecommerce Instagram Posts Image">
                </a>
                <div class="instapost-content">
                    <span class="insta-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </span>
                    <a href="#!" class="rbt-btn-link">View Product</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-4 col-4 mt--24">
        <div class="rbt-instapost text-center rbt-instapost-style-one">
            <div class="inner" data-bs-toggle="modal" data-bs-target="#instaModal">
                <a href="#!" class="instapost-img">
                    <img class="rbt-scroll-trigger zoom_in animation-order-6"
                        src="assets/images/insta-posts/@@insta-post-img-06" alt="Ecommerce Instagram Posts Image">
                </a>
                <div class="instapost-content">
                    <span class="insta-icon">
                        <i class="fa-brands fa-instagram"></i>
                    </span>
                    <a href="#!" class="rbt-btn-link">View Product</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End Instagram Posts Area -->