<!-- Start Instagram Posts Area -->
<div class="row row--12">
    <div class="col-lg-12">
        <div class="rbt-instapost-grp style--one rbt-mobile-row">
            <div class="rbt-instapost text-center rbt-instapost-style-one rbt-scroll-trigger fade_in animation-order-1">
                <div class="inner" data-bs-toggle="modal" data-bs-target="#instaModal">
                    <a href="#!" class="instapost-img">
                        <img class=" rbt-scroll-trigger zoom_in animation-order-1" src="assets/images/insta-posts/insta-post-d-01.webp" alt="Ecommerce Brand Images">
                    </a>
                    <div class="instapost-content">
                        <span class="insta-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </span>                        
                        <a href="#!" class="rbt-btn-link">View Product</a>
                    </div>
                </div>
            </div>
            <div class="rbt-instapost text-center rbt-instapost-style-one rbt-scroll-trigger fade_in animation-order-2">
                <div class="inner" data-bs-toggle="modal" data-bs-target="#instaModal">
                    <a href="#!" class="instapost-img">
                        <img class=" rbt-scroll-trigger zoom_in animation-order-2" src="assets/images/insta-posts/insta-post-d-02.webp" alt="Ecommerce Brand Images">
                    </a>
                    <div class="instapost-content">
                        <span class="insta-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </span>                        
                        <a href="#!" class="rbt-btn-link">View Product</a>
                    </div>
                </div>
            </div>
            <div class="rbt-instapost text-center rbt-instapost-style-one rbt-scroll-trigger fade_in animation-order-3">
                <div class="inner" data-bs-toggle="modal" data-bs-target="#instaModal">
                    <a href="#!" class="instapost-img">
                        <img class=" rbt-scroll-trigger zoom_in animation-order-3" src="assets/images/insta-posts/insta-post-d-03.webp" alt="Ecommerce Brand Images">
                    </a>
                    <div class="instapost-content">
                        <span class="insta-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </span>                        
                        <a href="#!" class="rbt-btn-link">View Product</a>
                    </div>
                </div>
            </div>
            <div class="rbt-instapost-social-area text-center rbt-scroll-trigger fade_in animation-order-1">
                <h3 class="title">Follow Us On <span>@instagram</span></h3>
                <p class="desc">Find out what is happening with us</p>
                <ul class="social-icon rbt-social-default with-bg-primary">
                    <li><a href="https://www.tiktok.com/">
                        <i class="fa-brands fa-tiktok"></i>
                        </a>
                    </li>
                    <li><a href="https://www.facebook.com">
                        <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                    <li><a href="https://www.instagram.com/">
                        <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="rbt-instapost text-center rbt-instapost-style-one rbt-scroll-trigger fade_in animation-order-4">
                <div class="inner" data-bs-toggle="modal" data-bs-target="#instaModal">
                    <a href="#!" class="instapost-img">
                        <img class=" rbt-scroll-trigger zoom_in animation-order-4" src="assets/images/insta-posts/insta-post-d-04.webp" alt="Ecommerce Brand Images">
                    </a>
                    <div class="instapost-content">
                        <span class="insta-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </span>                        
                        <a href="#!" class="rbt-btn-link">View Product</a>
                    </div>
                </div>
            </div>
            <div class="rbt-instapost text-center rbt-instapost-style-one rbt-scroll-trigger fade_in animation-order-5">
                <div class="inner" data-bs-toggle="modal" data-bs-target="#instaModal">
                    <a href="#!" class="instapost-img">
                        <img class=" rbt-scroll-trigger zoom_in animation-order-5" src="assets/images/insta-posts/insta-post-d-05.webp" alt="Ecommerce Brand Images">
                    </a>
                    <div class="instapost-content">
                        <span class="insta-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </span>                        
                        <a href="#!" class="rbt-btn-link">View Product</a>
                    </div>
                </div>
            </div>
            <div class="rbt-instapost text-center rbt-instapost-style-one rbt-scroll-trigger fade_in animation-order-6">
                <div class="inner" data-bs-toggle="modal" data-bs-target="#instaModal">
                    <a href="#!" class="instapost-img">
                        <img class=" rbt-scroll-trigger zoom_in animation-order-6" src="assets/images/insta-posts/insta-post-d-06.webp" alt="Ecommerce Brand Images">
                    </a>
                    <div class="instapost-content">
                        <span class="insta-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </span>                        
                        <a href="#!" class="rbt-btn-link">View Product</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- End Instagram Posts Area -->