<!-- Start Instagram Posts Area -->
<div class="row rounded--16 overflow-hidden">
    <div class="col-lg-5 col-md-5 col-sm-12 col-12 p-0">
        <div class="rbt-instapost text-center rbt-instapost-style-one rbt-instapost-boxed-round-style">
            <div class="inner" data-bs-toggle="modal" data-bs-target="#instaModal">
                <div class="instapost-img">
                    <img src="assets/images/insta-posts/insta-post-c-01.webp" alt="Ecommerce Brand Images">
                    <div class="instapost-content">
                        <span class="insta-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </span>
                        <a href="#!" class="rbt-btn-link">View Product</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-7 col-md-7 col-sm-12 col-12 p-0">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-4 p-0">
                <div class="rbt-instapost text-center rbt-instapost-style-one rbt-instapost-boxed-round-style">
                    <div class="inner" data-bs-toggle="modal" data-bs-target="#instaModal">
                        <div class="instapost-img">
                            <img src="assets/images/insta-posts/insta-post-c-02.webp" alt="Ecommerce Brand Images">
                            <div class="instapost-content">
                                <span class="insta-icon">
                                    <i class="fa-brands fa-instagram"></i>
                                </span>
                                <a href="#!" class="rbt-btn-link">View Product</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-4 p-0">
                <div class="rbt-instapost text-center rbt-instapost-style-one rbt-instapost-boxed-round-style">
                    <div class="inner" data-bs-toggle="modal" data-bs-target="#instaModal">
                        <div class="instapost-img">
                            <img src="assets/images/insta-posts/insta-post-c-03.webp" alt="Ecommerce Brand Images">
                            <div class="instapost-content">
                                <span class="insta-icon">
                                    <i class="fa-brands fa-instagram"></i>
                                </span>
                                <a href="#!" class="rbt-btn-link">View Product</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-4 p-0">
                <div class="rbt-instapost text-center rbt-instapost-style-one rbt-instapost-boxed-round-style">
                    <div class="inner" data-bs-toggle="modal" data-bs-target="#instaModal">
                        <div class="instapost-img">
                            <img src="assets/images/insta-posts/insta-post-c-04.webp" alt="Ecommerce Brand Images">
                            <div class="instapost-content">
                                <span class="insta-icon">
                                    <i class="fa-brands fa-instagram"></i>
                                </span>
                                <a href="#!" class="rbt-btn-link">View Product</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-4 p-0">
                <div class="rbt-instapost text-center rbt-instapost-style-one rbt-instapost-boxed-round-style">
                    <div class="inner" data-bs-toggle="modal" data-bs-target="#instaModal">
                        <div class="instapost-img">
                            <img src="assets/images/insta-posts/insta-post-c-05.webp" alt="Ecommerce Brand Images">
                            <div class="instapost-content">
                                <span class="insta-icon">
                                    <i class="fa-brands fa-instagram"></i>
                                </span>
                                <a href="#!" class="rbt-btn-link">View Product</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-4 p-0">
                <div class="rbt-instapost text-center rbt-instapost-style-one rbt-instapost-boxed-round-style">
                    <div class="inner" data-bs-toggle="modal" data-bs-target="#instaModal">
                        <div class="instapost-img">
                            <img src="assets/images/insta-posts/insta-post-c-06.webp" alt="Ecommerce Brand Images">
                            <div class="instapost-content">
                                <span class="insta-icon">
                                    <i class="fa-brands fa-instagram"></i>
                                </span>
                                <a href="#!" class="rbt-btn-link">View Product</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-4 p-0">
                <div class="rbt-instapost text-center rbt-instapost-style-one rbt-instapost-boxed-round-style">
                    <div class="inner" data-bs-toggle="modal" data-bs-target="#instaModal">
                        <div class="instapost-img">
                            <img src="assets/images/insta-posts/insta-post-c-07.webp" alt="Ecommerce Brand Images">
                            <div class="instapost-content">
                                <span class="insta-icon">
                                    <i class="fa-brands fa-instagram"></i>
                                </span>
                                <a href="#!" class="rbt-btn-link">View Product</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Instagram Posts Area -->