<!-- Start Look Book Area -->
<div class="row row--12 mt_dec--24">
    <div class="col-md-4 col-sm-12 col-12 mt--24 sal-animate">
        <div class="rbt-lookbook-section lookbook-style--three">
            <div class="rbt-lookbook-banner hover-appeardot-style rbt-lookbook-banner-five">
                <img class="rbt-scroll-trigger zoom_in animation-order-1"
                    src="assets/images/lookbook-images/lookbook-image-10.webp" alt="Lookbook Image">

                <div class="rbt-lookbook-portion" data-rbt-position-vertical="80" data-rbt-position-horigental="30">
                    <button class="rbt-lookbook-dot"></button>
                    <div class="rbt-dot-lookbok-product-wrapper">
                        <button><i class="fas fa-times"></i></button>
                        <div class="rbt-lookbook-dot-content placed-top lookbook-content-width--420">
                            <div class="rbt-card rbt-product-card card-list-styled">
                                <div class="inner border-0 d-flex p-0">
                                    <div class="rbt-card-img rbt-bg-color-white">
                                        <a href="product-single-default.html"><img
                                                src="assets/images/lookbook-images/product-list-02.webp"
                                                alt="Card Image"></a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">Table</a>
                                        <h2 class="rbt-card-title text-start"><a
                                                href="product-single-default.html">Classic A-Line Sundress</a></h2>
                                        <div class="rbt-card-rating">
                                            <ul class="rbt-rating-icon-list">
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                            </ul>
                                            <p class="rating-digit">(25)</p>
                                        </div>
                                        <div class="pricing-part">
                                            <del class="price-text">₹295.00</del>
                                            <span class="price-text">₹179.98</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rbt-lookbook-portion" data-rbt-position-vertical="25" data-rbt-position-horigental="55">
                    <button class="rbt-lookbook-dot"></button>
                    <div class="rbt-dot-lookbok-product-wrapper">
                        <button><i class="fas fa-times"></i></button>
                        <div class="rbt-lookbook-dot-content placed-left lookbook-content-width--420">
                            <div class="rbt-card rbt-product-card card-list-styled">
                                <div class="inner border-0 d-flex p-0">
                                    <div class="rbt-card-img rbt-bg-color-white">
                                        <a href="product-single-default.html"><img
                                                src="assets/images/lookbook-images/product-list-02.webp"
                                                alt="Card Image"></a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">Table</a>
                                        <h2 class="rbt-card-title text-start"><a href="product-single-default.html">Chic
                                                Little White Dress</a></h2>
                                        <div class="rbt-card-rating">
                                            <ul class="rbt-rating-icon-list">
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                            </ul>
                                            <p class="rating-digit">(25)</p>
                                        </div>
                                        <div class="pricing-part">
                                            <del class="price-text">₹295.00</del>
                                            <span class="price-text">₹179.98</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-12 col-12 mt--24 sal-animate">
        <div class="rbt-lookbook-section lookbook-style--three">
            <div class="rbt-lookbook-banner hover-appeardot-style rbt-lookbook-banner-five">
                <img class="rbt-scroll-trigger zoom_in animation-order-2"
                    src="assets/images/lookbook-images/lookbook-image-12.webp" alt="Lookbook Image">

                <div class="rbt-lookbook-portion" data-rbt-position-vertical="75" data-rbt-position-horigental="25">
                    <button class="rbt-lookbook-dot"></button>
                    <div class="rbt-dot-lookbok-product-wrapper">
                        <button><i class="fas fa-times"></i></button>
                        <div class="rbt-lookbook-dot-content placed-left lookbook-content-width--420">
                            <div class="rbt-card rbt-product-card card-list-styled">
                                <div class="inner border-0 d-flex p-0">
                                    <div class="rbt-card-img rbt-bg-color-white">
                                        <a href="product-single-default.html"><img
                                                src="assets/images/lookbook-images/product-list-02.webp"
                                                alt="Card Image"></a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">Table</a>
                                        <h2 class="rbt-card-title text-start"><a
                                                href="product-single-default.html">Classic A-Line Sundress</a></h2>
                                        <div class="rbt-card-rating">
                                            <ul class="rbt-rating-icon-list">
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                            </ul>
                                            <p class="rating-digit">(25)</p>
                                        </div>
                                        <div class="pricing-part">
                                            <del class="price-text">₹295.00</del>
                                            <span class="price-text">₹179.98</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rbt-lookbook-portion" data-rbt-position-vertical="30" data-rbt-position-horigental="50">
                    <button class="rbt-lookbook-dot"></button>
                    <div class="rbt-dot-lookbok-product-wrapper">
                        <button><i class="fas fa-times"></i></button>
                        <div class="rbt-lookbook-dot-content placed-left lookbook-content-width--420">
                            <div class="rbt-card rbt-product-card card-list-styled">
                                <div class="inner border-0 d-flex p-0">
                                    <div class="rbt-card-img rbt-bg-color-white">
                                        <a href="product-single-default.html"><img
                                                src="assets/images/lookbook-images/product-list-02.webp"
                                                alt="Card Image"></a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">Table</a>
                                        <h2 class="rbt-card-title text-start"><a
                                                href="product-single-default.html">Romantic Ruffled Mid</a></h2>
                                        <div class="rbt-card-rating">
                                            <ul class="rbt-rating-icon-list">
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                            </ul>
                                            <p class="rating-digit">(25)</p>
                                        </div>
                                        <div class="pricing-part">
                                            <del class="price-text">₹396.00</del>
                                            <span class="price-text">₹149.98</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-12 col-12 mt--24 sal-animate">
        <div class="rbt-lookbook-section lookbook-style--three">
            <div class="rbt-lookbook-banner hover-appeardot-style rbt-lookbook-banner-five">
                <img class="rbt-scroll-trigger zoom_in animation-order-3"
                    src="assets/images/lookbook-images/lookbook-image-13.webp" alt="Lookbook Image">

                <div class="rbt-lookbook-portion" data-rbt-position-vertical="52" data-rbt-position-horigental="35">
                    <button class="rbt-lookbook-dot"></button>
                    <div class="rbt-dot-lookbok-product-wrapper">
                        <button><i class="fas fa-times"></i></button>
                        <div class="rbt-lookbook-dot-content placed-left lookbook-content-width--420">
                            <div class="rbt-card rbt-product-card card-list-styled">
                                <div class="inner border-0 d-flex p-0">
                                    <div class="rbt-card-img rbt-bg-color-white">
                                        <a href="product-single-default.html"><img
                                                src="assets/images/lookbook-images/product-list-02.webp"
                                                alt="Card Image"></a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">Table</a>
                                        <h2 class="rbt-card-title text-start"><a
                                                href="product-single-default.html">Sleek Satin Bodycon</a></h2>
                                        <div class="rbt-card-rating">
                                            <ul class="rbt-rating-icon-list">
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                            </ul>
                                            <p class="rating-digit">(25)</p>
                                        </div>
                                        <div class="pricing-part">
                                            <del class="price-text">₹255.00</del>
                                            <span class="price-text">₹88.98</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rbt-lookbook-portion" data-rbt-position-vertical="25" data-rbt-position-horigental="55">
                    <button class="rbt-lookbook-dot"></button>
                    <div class="rbt-dot-lookbok-product-wrapper">
                        <button><i class="fas fa-times"></i></button>
                        <div class="rbt-lookbook-dot-content placed-left lookbook-content-width--420">
                            <div class="rbt-card rbt-product-card card-list-styled">
                                <div class="inner border-0 d-flex p-0">
                                    <div class="rbt-card-img rbt-bg-color-white">
                                        <a href="product-single-default.html"><img
                                                src="assets/images/lookbook-images/product-list-02.webp"
                                                alt="Card Image"></a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">Table</a>
                                        <h2 class="rbt-card-title text-start"><a
                                                href="product-single-default.html">Timeless Wrap Dress</a></h2>
                                        <div class="rbt-card-rating">
                                            <ul class="rbt-rating-icon-list">
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                            </ul>
                                            <p class="rating-digit">(25)</p>
                                        </div>
                                        <div class="pricing-part">
                                            <del class="price-text">₹535.00</del>
                                            <span class="price-text">₹273.98</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rbt-lookbook-portion" data-rbt-position-vertical="80" data-rbt-position-horigental="55">
                    <button class="rbt-lookbook-dot"></button>
                    <div class="rbt-dot-lookbok-product-wrapper">
                        <button><i class="fas fa-times"></i></button>
                        <div class="rbt-lookbook-dot-content placed-left lookbook-content-width--420">
                            <div class="rbt-card rbt-product-card card-list-styled">
                                <div class="inner border-0 d-flex p-0">
                                    <div class="rbt-card-img rbt-bg-color-white">
                                        <a href="product-single-default.html"><img
                                                src="assets/images/product-img/fashion/product-09.webp"
                                                alt="Card Image"></a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">Table</a>
                                        <h2 class="rbt-card-title text-start"><a
                                                href="product-single-default.html">Sleek Satin
                                                Bodycon</a></h2>
                                        <div class="rbt-card-rating">
                                            <ul class="rbt-rating-icon-list">
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                            </ul>
                                            <p class="rating-digit">(25)</p>
                                        </div>
                                        <div class="pricing-part">
                                            <del class="price-text">₹255.00</del>
                                            <span class="price-text">₹88.98</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Look Book Area -->