<!-- Start Look Book Area -->
<div class="row row--0 mt_dec--24 align-items-center justify-content-center">

    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 mt--24 text-xl-end text-center">
        <div class="rbt-lookbook-section">
            <div class="rbt-lookbook-banner rbt-lookbook-banner-one rbt-scroll-trigger zoom_in animation-order-1">
                <img src="assets/images/lookbook-images/lookbook-image-01.webp" alt="Lookbook Image">
                <a href="#" class="rbt-lookbook-dot rbt-lookbook-dot-one show-rbt-lookbook-dot"
                    data-rbt-position-vertical="35" data-rbt-position-horigental="30" data-index="1"></a>
                <a href="#" class="rbt-lookbook-dot rbt-lookbook-dot-two  show-rbt-lookbook-dot"
                    data-rbt-position-vertical="33" data-rbt-position-horigental="71" data-index="2"></a>
                <a href="#" class="rbt-lookbook-dot rbt-lookbook-dot-three  show-rbt-lookbook-dot"
                    data-rbt-position-vertical="87" data-rbt-position-horigental="26" data-index="3"></a>
                <a href="#" class="rbt-lookbook-dot rbt-lookbook-dot-four  show-rbt-lookbook-dot"
                    data-rbt-position-vertical="75" data-rbt-position-horigental="73" data-index="4"></a>
            </div>
        </div>

    </div>
    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 mt--24">
        <div class="rbt-lookbook-content">

            <div class="rbt-component-section-title text-center p-0 border-0 mb--32 mb_sm--16">
                <h2 class="rbt-title rbt-scroll-trigger fade_in animation-order-1">Lookbook <span
                        class="rbt-bold--text">Special Denim</span></h2>
            </div>

            <!-- Start Card Swiper Area -->
            <div
                class="swiper product-swiper-activation-three-lookbook rbt-arrow-between rbt-dot-bottom-center gutter-swiper-24 pb--40">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="single-slide">
                            <div
                                class="rbt-card rbt-product-card rbt-product-card-style-2 rbt-card-has-animated rounded--16 rbt-scroll-trigger fade_in animation-order-1">
                                <div class="rbt-card-img rounded--16">
                                    <a href="product-single-default.html"><img
                                            class=" rbt-scroll-trigger zoom_in animation-order-1"
                                            src="assets/images/product-img/fashion/product-01.webp"
                                            alt="Card Image"></a>
                                    <div
                                        class="rbt-product-badge rbt-product-badge-bg-green rbt-badge-top-left--position">
                                        NEW ARRIVAL</div>
                                    <button
                                        class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips"
                                        type="button" data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                                            class="fa-regular fa-heart"></i></button>
                                </div>

                                <div
                                    class="rbt-card-body has-rbt-top-right-corner-portion rbt-card-body-top-botttom-space">
                                    <div class="rbt-curved-radius-bottom-corner"></div>

                                    <div class="rbt-right-corner-portion bottom--position">
                                        <div class="rbt-corner-portion-wrapper">
                                            <div class="rbt-quick-btn-grp has-mixup-midlayer bottom-right--position">
                                                <button class="rbt-compare-btn rbt-quick-btn tooltips"
                                                    data-tooltip="Add to Compare" data-tooltip-position="left"
                                                    type="button"><i class="fa-regular fa-scale-balanced"></i></button>
                                                <button class="rbt-watch-btn rbt-quick-btn tooltips"
                                                    data-tooltip="Quick View" data-tooltip-position="left" type="button"
                                                    data-bs-toggle="modal" data-bs-target="#quickviewModal"><i
                                                        class="fa-sharp fa-regular fa-eye"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rbt-card-top-content">
                                        <div class="rbt-product-switch-area">
                                            <ul class="rbt-switcher-product-list product-switcher-activation">
                                                <li class="active"><a class="rbt-switcher--prd rbt-switcher--prd-one"
                                                        data-src="assets/images/product-img/fashion/product-01.webp"
                                                        href="#"><img
                                                            src="assets/images/product-img/fashion/product-01.webp"
                                                            alt="Product Image"></a></li>
                                                <li><a class="rbt-switcher--prd rbt-switcher--prd-two"
                                                        data-src="assets/images/product-img/fashion/product-02.webp"
                                                        href="#"><img
                                                            src="assets/images/product-img/fashion/product-02.webp"
                                                            alt="Product Image"></a></li>
                                                <li><a class="rbt-switcher--prd rbt-switcher--prd-three"
                                                        data-src="assets/images/product-img/fashion/product-03.webp"
                                                        href="#"><img
                                                            src="assets/images/product-img/fashion/product-03.webp"
                                                            alt="Product Image"></a></li>
                                                <li><a class="rbt-switcher--prd rbt-switcher--prd-four"
                                                        data-src="assets/images/product-img/fashion/product-04.webp"
                                                        href="#"><img
                                                            src="assets/images/product-img/fashion/product-04.webp"
                                                            alt="Product Image"></a></li>
                                            </ul>
                                            <a class="prd-link-text" href="product-single-default.html">+12 More</a>
                                        </div>
                                        <a href="#"
                                            class="rbt-card-subtitle rbt-card-catagories-text mt--12">Foundation</a>
                                        <h2 class="rbt-card-title mt--4"><a
                                                href="product-single-default.html">Glamourous Silk Evening Gown</a></h2>
                                        <div class="rbt-card-rating">
                                            <ul class="rbt-rating-icon-list">
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                            </ul>
                                            <p class="rating-digit">(25)</p>
                                        </div>
                                        <div class="pricing-part">
                                            <del class="price-text">$295.00</del>
                                            <span class="price-text">$179.98</span>
                                            <span class="rbt-offer-badge">-30%</span>
                                        </div>
                                    </div>
                                    <div class="rbt-card-footer d-flex footer-content-btn">
                                        <a class="rbt-btn rbt-btn-sm has-left-icon flex-basis-100" href="#"><i
                                                class="fa-regular fa-cart-shopping"></i> Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="single-slide">
                            <div
                                class="rbt-card rbt-product-card rbt-product-card-style-2 rbt-card-has-animated rounded--16 rbt-scroll-trigger fade_in animation-order-2">
                                <div class="rbt-card-img rounded--16">
                                    <a href="product-single-default.html"><img
                                            class=" rbt-scroll-trigger zoom_in animation-order-2"
                                            src="assets/images/product-img/fashion/product-02.webp"
                                            alt="Card Image"></a>
                                    <div
                                        class="rbt-product-badge rbt-product-badge-bg-primary rbt-badge-top-left--position">
                                        NEW ARRIVAL</div>
                                    <button
                                        class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips"
                                        type="button" data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                                            class="fa-regular fa-heart"></i></button>
                                </div>

                                <div
                                    class="rbt-card-body has-rbt-top-right-corner-portion rbt-card-body-top-botttom-space">
                                    <div class="rbt-curved-radius-bottom-corner"></div>

                                    <div class="rbt-right-corner-portion bottom--position">
                                        <div class="rbt-corner-portion-wrapper">
                                            <div class="rbt-quick-btn-grp has-mixup-midlayer bottom-right--position">
                                                <button class="rbt-compare-btn rbt-quick-btn tooltips"
                                                    data-tooltip="Add to Compare" data-tooltip-position="left"
                                                    type="button"><i class="fa-regular fa-scale-balanced"></i></button>
                                                <button class="rbt-watch-btn rbt-quick-btn tooltips"
                                                    data-tooltip="Quick View" data-tooltip-position="left" type="button"
                                                    data-bs-toggle="modal" data-bs-target="#quickviewModal"><i
                                                        class="fa-sharp fa-regular fa-eye"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rbt-card-top-content">
                                        <div class="rbt-product-switch-area">
                                            <ul class="rbt-switcher-product-list product-switcher-activation">
                                                <li><a class="rbt-switcher--prd rbt-switcher--prd-one"
                                                        data-src="assets/images/product-img/fashion/product-01.webp"
                                                        href="#"><img
                                                            src="assets/images/product-img/fashion/product-01.webp"
                                                            alt="Product Image"></a></li>
                                                <li class="active"><a class="rbt-switcher--prd rbt-switcher--prd-two"
                                                        data-src="assets/images/product-img/fashion/product-02.webp"
                                                        href="#"><img
                                                            src="assets/images/product-img/fashion/product-02.webp"
                                                            alt="Product Image"></a></li>
                                                <li><a class="rbt-switcher--prd rbt-switcher--prd-three"
                                                        data-src="assets/images/product-img/fashion/product-03.webp"
                                                        href="#"><img
                                                            src="assets/images/product-img/fashion/product-03.webp"
                                                            alt="Product Image"></a></li>
                                                <li><a class="rbt-switcher--prd rbt-switcher--prd-four"
                                                        data-src="assets/images/product-img/fashion/product-04.webp"
                                                        href="#"><img
                                                            src="assets/images/product-img/fashion/product-04.webp"
                                                            alt="Product Image"></a></li>
                                            </ul>
                                            <a class="prd-link-text" href="product-single-default.html">+12 More</a>
                                        </div>
                                        <a href="#"
                                            class="rbt-card-subtitle rbt-card-catagories-text mt--12">Foundation</a>
                                        <h2 class="rbt-card-title mt--4"><a href="product-single-default.html">Elegant
                                                Lace Cocktail Dress</a></h2>
                                        <div class="rbt-card-rating">
                                            <ul class="rbt-rating-icon-list">
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                            </ul>
                                            <p class="rating-digit">(25)</p>
                                        </div>
                                        <div class="pricing-part">
                                            <del class="price-text">$295.00</del>
                                            <span class="price-text">$179.98</span>
                                        </div>
                                    </div>
                                    <div class="rbt-card-footer d-flex footer-content-btn">
                                        <a class="rbt-btn rbt-btn-sm has-left-icon flex-basis-100" href="#"><i
                                                class="fa-regular fa-cart-shopping"></i> Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="single-slide">
                            <div
                                class="rbt-card rbt-product-card rbt-product-card-style-2 rbt-card-has-animated rounded--16 rbt-scroll-trigger fade_in animation-order-3">
                                <div class="rbt-card-img rounded--16">
                                    <a href="product-single-default.html"><img
                                            class=" rbt-scroll-trigger zoom_in animation-order-3"
                                            src="assets/images/product-img/fashion/product-03.webp"
                                            alt="Card Image"></a>
                                    <div
                                        class="rbt-product-badge rbt-product-badge-bg-green rbt-badge-top-left--position">
                                        NEW ARRIVAL</div>
                                    <button
                                        class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips"
                                        type="button" data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                                            class="fa-regular fa-heart"></i></button>
                                </div>
                                <div
                                    class="rbt-card-body has-rbt-top-right-corner-portion rbt-card-body-top-botttom-space">
                                    <div class="rbt-curved-radius-bottom-corner"></div>
                                    <div class="rbt-right-corner-portion bottom--position">
                                        <div class="rbt-corner-portion-wrapper">
                                            <div class="rbt-quick-btn-grp has-mixup-midlayer bottom-right--position">
                                                <button class="rbt-compare-btn rbt-quick-btn tooltips"
                                                    data-tooltip="Add to Compare" data-tooltip-position="left"
                                                    type="button"><i class="fa-regular fa-scale-balanced"></i></button>
                                                <button class="rbt-watch-btn rbt-quick-btn tooltips"
                                                    data-tooltip="Quick View" data-tooltip-position="left" type="button"
                                                    data-bs-toggle="modal" data-bs-target="#quickviewModal"><i
                                                        class="fa-sharp fa-regular fa-eye"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rbt-card-top-content">
                                        <div class="rbt-product-switch-area">
                                            <ul class="rbt-switcher-product-list product-switcher-activation">
                                                <li><a class="rbt-switcher--prd rbt-switcher--prd-one"
                                                        data-src="assets/images/product-img/fashion/product-01.webp"
                                                        href="#"><img
                                                            src="assets/images/product-img/fashion/product-01.webp"
                                                            alt="Product Image"></a></li>
                                                <li><a class="rbt-switcher--prd rbt-switcher--prd-two"
                                                        data-src="assets/images/product-img/fashion/product-02.webp"
                                                        href="#"><img
                                                            src="assets/images/product-img/fashion/product-02.webp"
                                                            alt="Product Image"></a></li>
                                                <li class="active"><a class="rbt-switcher--prd rbt-switcher--prd-three"
                                                        data-src="assets/images/product-img/fashion/product-03.webp"
                                                        href="#"><img
                                                            src="assets/images/product-img/fashion/product-03.webp"
                                                            alt="Product Image"></a></li>
                                                <li><a class="rbt-switcher--prd rbt-switcher--prd-four"
                                                        data-src="assets/images/product-img/fashion/product-04.webp"
                                                        href="#"><img
                                                            src="assets/images/product-img/fashion/product-04.webp"
                                                            alt="Product Image"></a></li>
                                            </ul>
                                            <a class="prd-link-text" href="product-single-default.html">+12 More</a>
                                        </div>
                                        <a href="#"
                                            class="rbt-card-subtitle rbt-card-catagories-text mt--12">Foundation</a>
                                        <h2 class="rbt-card-title mt--4"><a href="product-single-default.html">Bohemian
                                                Floral Maxi Dress</a></h2>
                                        <div class="rbt-card-rating">
                                            <ul class="rbt-rating-icon-list">
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                            </ul>
                                            <p class="rating-digit">(25)</p>
                                        </div>
                                        <div class="pricing-part">
                                            <del class="price-text">$295.00</del>
                                            <span class="price-text">$179.98</span>
                                            <span class="rbt-offer-badge">-30%</span>
                                        </div>
                                    </div>
                                    <div class="rbt-card-footer d-flex footer-content-btn">
                                        <a class="rbt-btn rbt-btn-sm has-left-icon flex-basis-100" href="#"><i
                                                class="fa-regular fa-cart-shopping"></i> Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="single-slide">
                            <div
                                class="rbt-card rbt-product-card rbt-product-card-style-2 rbt-card-has-animated rounded--16 rbt-scroll-trigger fade_in animation-order-4">
                                <div class="rbt-card-img rounded--16">
                                    <a href="product-single-default.html"><img
                                            class=" rbt-scroll-trigger zoom_in animation-order-4"
                                            src="assets/images/product-img/fashion/product-04.webp"
                                            alt="Card Image"></a>
                                    <div
                                        class="rbt-product-badge rbt-product-badge-bg-primary rbt-badge-top-left--position">
                                        NEW ARRIVAL</div>
                                    <button
                                        class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips"
                                        type="button" data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                                            class="fa-regular fa-heart"></i></button>
                                </div>
                                <div
                                    class="rbt-card-body has-rbt-top-right-corner-portion rbt-card-body-top-botttom-space">
                                    <div class="rbt-curved-radius-bottom-corner"></div>
                                    <div class="rbt-right-corner-portion bottom--position">
                                        <div class="rbt-corner-portion-wrapper">
                                            <div class="rbt-quick-btn-grp has-mixup-midlayer bottom-right--position">
                                                <button class="rbt-compare-btn rbt-quick-btn tooltips"
                                                    data-tooltip="Add to Compare" data-tooltip-position="left"
                                                    type="button"><i class="fa-regular fa-scale-balanced"></i></button>
                                                <button class="rbt-watch-btn rbt-quick-btn tooltips"
                                                    data-tooltip="Quick View" data-tooltip-position="left" type="button"
                                                    data-bs-toggle="modal" data-bs-target="#quickviewModal"><i
                                                        class="fa-sharp fa-regular fa-eye"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="rbt-card-top-content">
                                        <div class="rbt-product-switch-area">
                                            <ul class="rbt-switcher-product-list product-switcher-activation">
                                                <li><a class="rbt-switcher--prd rbt-switcher--prd-one"
                                                        data-src="assets/images/product-img/fashion/product-01.webp"
                                                        href="#"><img
                                                            src="assets/images/product-img/fashion/product-01.webp"
                                                            alt="Product Image"></a></li>
                                                <li><a class="rbt-switcher--prd rbt-switcher--prd-two"
                                                        data-src="assets/images/product-img/fashion/product-02.webp"
                                                        href="#"><img
                                                            src="assets/images/product-img/fashion/product-02.webp"
                                                            alt="Product Image"></a></li>
                                                <li><a class="rbt-switcher--prd rbt-switcher--prd-three"
                                                        data-src="assets/images/product-img/fashion/product-03.webp"
                                                        href="#"><img
                                                            src="assets/images/product-img/fashion/product-03.webp"
                                                            alt="Product Image"></a></li>
                                                <li class="active"><a class="rbt-switcher--prd rbt-switcher--prd-four "
                                                        data-src="assets/images/product-img/fashion/product-04.webp"
                                                        href="#"><img
                                                            src="assets/images/product-img/fashion/product-04.webp"
                                                            alt="Product Image"></a></li>
                                            </ul>
                                            <a class="prd-link-text" href="product-single-default.html">+12 More</a>
                                        </div>
                                        <a href="#"
                                            class="rbt-card-subtitle rbt-card-catagories-text mt--12">Foundation</a>
                                        <h2 class="rbt-card-title mt--4"><a href="product-single-default.html">Romantic
                                                Ruffled Midi Dress</a></h2>
                                        <div class="rbt-card-rating">
                                            <ul class="rbt-rating-icon-list">
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                            </ul>
                                            <p class="rating-digit">(25)</p>
                                        </div>
                                        <div class="pricing-part">
                                            <del class="price-text">$295.00</del>
                                            <span class="price-text">$179.98</span>
                                        </div>
                                    </div>
                                    <div class="rbt-card-footer d-flex footer-content-btn">
                                        <a class="rbt-btn rbt-btn-sm has-left-icon flex-basis-100" href="#"><i
                                                class="fa-regular fa-cart-shopping"></i> Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rbt-swiper-arrow rbt-arrow-right">
                    <div class="custom-overflow">
                        <i class="rbt-icon fa-regular fa-arrow-right"></i>
                        <i class="rbt-icon-top fa-regular fa-arrow-right"></i>
                    </div>
                </div>
                <div class="rbt-swiper-pagination rbt-swiper-pagination-var-one "></div>
            </div>
            <!-- End Card Swiper Area -->
        </div>
    </div>
</div>
<!-- End Look Book Area -->