<nav class="rbt-mainmenu-nav rbt-catagory-nav rbt-catagory-nav-one">
    <ul class="mainmenu">
        <li>
            <a href="#">Jeans</a>
        </li>

        <li>
            <a href="#">Hoddies</a>
        </li>

        <li>
            <a href="#">Shirts</a>
        </li>
        
        <li>
            <a href="#">Tops</a>
        </li>
        
        <li>
            <a href="#">T-Shirts</a>
        </li>
        <li>
            <a href="#">Dresses</a>
        </li>

        <li>
            <a href="#">Sweet Shirts</a>
        </li>
        
        <li>
            <a href="#">Sportswear</a>
        </li>
    </ul>
</nav>






