<!-- Start Mega Menu  -->
<div class="rbt-megamenu rbt-prsentation-megamenu rbt-width-fullscreen">
    <div class="rbt-megamenu-wrapper">
        <div class="container p_sm--0 p_md--0 p_lg--0">
            <div class="row row--12 home-plesentation-wrapper single-dropdown-menu-presentation mt_dec--24 mb_sm--0">

                <!-- Start Single Demo  -->
                <div
                    class="col-lg-1-5 col-md-12 col-sm-12 col-12 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                    <div class="demo-single rbt-scroll-trigger zoom_in animation-order-1">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="home-electronics.html"><img src="assets/images/splash/demo-pages/demo-1.webp"
                                        alt="Demo Images"></a>
                            </div>
                            <div class="content">
                                <h2 class="rbt-title h4"><a href="home-electronics.html">Electronics One</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Demo  -->

                <!-- Start Single Demo  -->
                <div
                    class="col-lg-1-5 col-md-12 col-sm-12 col-12 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                    <div class="demo-single rbt-scroll-trigger zoom_in animation-order-2">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="home-fashion.html"><img src="assets/images/splash/demo-pages/demo-5.webp"
                                        alt="Demo Images"></a>
                            </div>
                            <div class="content">
                                <h2 class="rbt-title h4"><a href="home-fashion.html">Fashion One</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Demo  -->

                <!-- Start Single Demo  -->
                <div
                    class="col-lg-1-5 col-md-12 col-sm-12 col-12 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                    <div class="demo-single rbt-scroll-trigger zoom_in animation-order-3">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="home-furniture.html"><img src="assets/images/splash/demo-pages/demo-8.webp"
                                        alt="Demo Images"></a>
                            </div>
                            <div class="content">
                                <h2 class="rbt-title h4"><a href="home-furniture.html">Furniture One</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Demo  -->

                <!-- Start Single Demo  -->
                <div
                    class="col-lg-1-5 col-md-12 col-sm-12 col-12 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                    <div class="demo-single rbt-scroll-trigger zoom_in animation-order-4">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="home-printing-service.html"><img
                                        src="assets/images/splash/demo-pages/demo-6.webp" alt="Demo Images"></a>
                            </div>
                            <div class="content">
                                <h2 class="rbt-title h4"><a href="home-printing-service.html">Print Service One</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Demo  -->

                <!-- Start Single Demo  -->
                <div
                    class="col-lg-1-5 col-md-12 col-sm-12 col-12 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                    <div class="demo-single rbt-scroll-trigger zoom_in animation-order-5">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="home-cosmetic-beauty.html"><img
                                        src="assets/images/splash/demo-pages/demo-2.webp" alt="Demo Images"></a>
                            </div>
                            <div class="content">
                                <h2 class="rbt-title h4"><a href="home-cosmetic-beauty.html">Cosmetic Beauty One</a>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Demo  -->

                <!-- Start Single Demo  -->
                <div
                    class="col-lg-1-5 col-md-12 col-sm-12 col-12 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                    <div class="demo-single rbt-scroll-trigger zoom_in animation-order-6">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="home-sports.html"><img src="assets/images/splash/demo-pages/demo-9.webp"
                                        alt="Demo Images"></a>
                            </div>
                            <div class="content">
                                <h2 class="rbt-title h4"><a href="home-sports.html">Sports One</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Demo  -->

                <!-- Start Single Demo  -->
                <div
                    class="col-lg-1-5 col-md-12 col-sm-12 col-12 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                    <div class="demo-single rbt-scroll-trigger zoom_in animation-order-7">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="home-glass.html"><img src="assets/images/splash/demo-pages/demo-3.webp"
                                        alt="Demo Images"></a>
                            </div>
                            <div class="content">
                                <h2 class="rbt-title h4"><a href="home-glass.html">Glass One</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Demo  -->

                <!-- Start Single Demo  -->
                <div
                    class="col-lg-1-5 col-md-12 col-sm-12 col-12 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                    <div class="demo-single rbt-scroll-trigger zoom_in animation-order-8">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="home-phone-case.html"><img src="assets/images/splash/demo-pages/demo-4.webp"
                                        alt="Demo Images"></a>
                            </div>
                            <div class="content">
                                <h2 class="rbt-title h4"><a href="home-phone-case.html">Phone One</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Demo  -->

                <!-- Start Single Demo  -->
                <div
                    class="col-lg-1-5 col-md-12 col-sm-12 col-12 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                    <div class="demo-single rbt-scroll-trigger zoom_in animation-order-9">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="home-accessories.html"><img src="assets/images/splash/demo-pages/demo-10.webp"
                                        alt="Demo Images"></a>
                            </div>
                            <div class="content">
                                <h2 class="rbt-title h4"><a href="home-accessories.html">Accessories One</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Demo  -->

                <!-- Start Single Demo  -->
                <div
                    class="col-lg-1-5 col-md-12 col-sm-12 col-12 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                    <div class="demo-single rbt-scroll-trigger zoom_in animation-order-10">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="home-jewellery.html"><img src="assets/images/splash/demo-pages/demo-11.webp"
                                        alt="Demo Images"></a>
                            </div>
                            <div class="content">
                                <h2 class="rbt-title h4"><a href="home-jewellery.html">jewellery One</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Demo  -->

            </div>

            <div class="load-demo-btn text-center pt--24 pt_sm--0 pt_lg--0 position-relative">
                <a href="index.html#rbt-demo-presentation-section"
                    class="rbt-btn-grp rbt-has-separator-shape justify-content-center rbt-scroll-trigger fade_in animation-order-2 pb_sm--0">
                    <span
                        class="rbt-btn rbt-btn-single rbt-btn rbt-marquee-btn marquee-auto rbt-btn-md has-primary-overlay has-no-hover-transform">
                        <span data-text="View All The Trending Collection">
                            VIEW ALL DEMOS (81+) New drops every month 🔥
                        </span>
                    </span>
                    <span class="rbt-btn rbt-btn-single animated-icon-btn round-sm defalt-primary-bg p--0">
                        <span class="animated-icon">
                            <svg class="icon_external" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.5 15.5">
                                <g class="icon-wrapper">
                                    <path class="icon-rectangle"
                                        d="m7.75,0c.41,0,.75.34.75.75s-.34.75-.75.75H3.08c-.87,0-1.58.71-1.58,1.58v9.33c0,.87.71,1.58,1.58,1.58h9.33c.87,0,1.58-.71,1.58-1.58v-4.67c0-.41.34-.75.75-.75s.75.34.75.75v4.67c0,1.7-1.38,3.08-3.08,3.08H3.08c-1.7,0-3.08-1.38-3.08-3.08V3.08C0,1.38,1.38,0,3.08,0h4.67Z"
                                        stroke-width="0">
                                    </path>
                                    <path class="icon-arrow-el-one"
                                        d="m15.5,0v4.29c0,.41-.34.75-.75.75s-.75-.34-.75-.75V1.5h-2.75c-.38,0-.69-.28-.74-.65v-.1c0-.41.33-.75.74-.75h4.25Z"
                                        stroke-width="0"
                                        style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px 0px;"
                                        data-svg-origin="15.5 0" transform="matrix(1,0,0,1,0,0)">
                                    </path>
                                    <path class="icon-arrow-line-one"
                                        d="m14.22.22c.29-.29.77-.29,1.06,0,.29.29.29.77,0,1.06L5.95,10.61c-.29.29-.77.29-1.06,0-.29-.29-.29-.77,0-1.06.4-.4.76-.76,1.09-1.09l.47-.47c.37-.37.7-.7,1-1l.34-.34.46-.46.41-.41c.74-.74,1.29-1.29,2.09-2.09l.61-.61c.17-.17.34-.34.53-.53.13-.13.25-.25.36-.36l.59-.59c.08-.08.16-.16.23-.23l.36-.36c.1-.1.19-.19.26-.26l.42-.42s.07-.07.11-.11Z"
                                        stroke-width="0"
                                        style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px 0px;"
                                        data-svg-origin="15.4975004196167 0.002499997615814209"
                                        transform="matrix(1,0,0,1,0,0)">
                                    </path>
                                    <path class="icon-arrow-el-two"
                                        d="m15.5,0v4.29c0,.41-.34.75-.75.75s-.75-.34-.75-.75V1.5h-2.75c-.38,0-.69-.28-.74-.65v-.1c0-.41.33-.75.74-.75h4.25Z"
                                        stroke-width="0"
                                        style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px 0px;"
                                        data-svg-origin="15.5 0" transform="matrix(1,0,0,1,0,0)">
                                    </path>
                                    <path class="icon-arrow-line-two"
                                        d="m14.22.22c.29-.29.77-.29,1.06,0,.29.29.29.77,0,1.06L5.95,10.61c-.29.29-.77.29-1.06,0-.29-.29-.29-.77,0-1.06.4-.4.76-.76,1.09-1.09l.47-.47c.37-.37.7-.7,1-1l.34-.34.46-.46.41-.41c.74-.74,1.29-1.29,2.09-2.09l.61-.61c.17-.17.34-.34.53-.53.13-.13.25-.25.36-.36l.59-.59c.08-.08.16-.16.23-.23l.36-.36c.1-.1.19-.19.26-.26l.42-.42s.07-.07.11-.11Z"
                                        stroke-width="0"
                                        style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px 0px;"
                                        data-svg-origin="15.4975004196167 0.002499997615814209"
                                        transform="matrix(1,0,0,1,0,0)">
                                    </path>
                                </g>
                            </svg>
                        </span>
                    </span>
                </a>
                <span class="rbt-overlay-counter counter-md rbt-scroll-trigger fade_in animation-order-4">
                    <span class="odometer" data-count="100">00</span>
                    <span class="counter-suffix">+</span>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- End Mega Menu  -->