<!-- Start Mega Menu  -->
<div class="rbt-megamenu grid-item-4">
    <div class="rbt-megamenu-wrapper">
        <div class="container">
            <div class="row row--12">
                <div class="col-md-12">
                    <h6 class="rbt-small-title text-left">
                        The best discounts this week
                    </h6>
                </div>
            </div>
            <!-- Start Card Area -->
            <div class="row row--12 mt_dec--24">

                <!-- Start Single Card  -->
                <div class="col-lg-3 col-12 mt--24">
                    <div class="rbt-card rbt-product-card rounded--16">
                        <div class="rbt-card-img rounded--16">
                            <a href="product-single-default.html"><img src="assets/images/product-img/fashion/product-01.webp" alt="Card Image"></a>
                            <div class="rbt-product-badge rbt-product-badge-bg-primary rbt-badge-top-left--position">NEW ARRIVAL</div>
                            <button class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips tooltip-distance-lg" type="button" data-tooltip="Add to wishlist" data-tooltip-position="left"><i class="fa-regular fa-heart"></i></button>
                            <div class="rbt-right-corner-portion bottom--position">
                                <div class="rbt-corner-portion-wrapper">
                                    <div class="rbt-quick-btn-grp has-mixup-midlayer bottom-right--position">
                                        <button class="rbt-compare-btn rbt-quick-btn tooltips tooltip-distance-lg" data-tooltip="Add to Compare" data-tooltip-position="left" type="button" ><i class="fa-regular fa-scale-balanced"></i></button>
                                        <button class="rbt-watch-btn rbt-quick-btn tooltips tooltip-distance-lg" data-tooltip="Quick View" data-tooltip-position="left" type="button" data-bs-toggle="modal" data-bs-target="#quickviewModal"><i class="fa-sharp fa-regular fa-eye"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rbt-card-body">
                            <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">T-shirts</a>
                            <h6 class="rbt-card-title"><a href="product-single-default.html">Signature Hooded Wrap Coat</a></h6>
                            <div class="rbt-card-rating">
                                <ul class="rbt-rating-icon-list">
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                                <p class="rating-digit">(92)</p>
                            </div>
                            <div class="pricing-part">
                                <del class="price-text">$75.00</del>
                                <span class="price-text">$43.65</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Card  -->
    
                <!-- Start Single Card  -->
                <div class="col-lg-3 col-12 mt--24">
                    <div class="rbt-card rbt-product-card rounded--16">
                        <div class="rbt-card-img rounded--16">
                            <a href="product-single-default.html"><img src="assets/images/product-img/fashion/product-02.webp" alt="Card Image"></a>
                            <div class="rbt-product-badge rbt-product-badge-bg-primary rbt-badge-top-left--position">Trending</div>
                            <button class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips tooltip-distance-lg" type="button" data-tooltip="Add to wishlist" data-tooltip-position="left"><i class="fa-regular fa-heart"></i></button>
                            <div class="rbt-right-corner-portion bottom--position">
                                <div class="rbt-corner-portion-wrapper">
                                    <div class="rbt-quick-btn-grp has-mixup-midlayer bottom-right--position">
                                        <button class="rbt-compare-btn rbt-quick-btn tooltips tooltip-distance-lg" data-tooltip="Add to Compare" data-tooltip-position="left" type="button" ><i class="fa-regular fa-scale-balanced"></i></button>
                                        <button class="rbt-watch-btn rbt-quick-btn tooltips tooltip-distance-lg" data-tooltip="Quick View" data-tooltip-position="left" type="button" data-bs-toggle="modal" data-bs-target="#quickviewModal"><i class="fa-sharp fa-regular fa-eye"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rbt-card-body">
                            <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">Jackets</a>
                            <h6 class="rbt-card-title"><a href="product-single-default.html">Long Belted Wrap Full Coat</a></h6>
                            <div class="rbt-card-rating">
                                <ul class="rbt-rating-icon-list">
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                </ul>
                                <p class="rating-digit">(129)</p>
                            </div>
                            <div class="pricing-part">
                                <del class="price-text">$28.00</del>
                                <span class="price-text">$22.87</span>
                                <span class="rbt-offer-badge">-30%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Card  -->
    
                <!-- Start Single Card  -->
                <div class="col-lg-3 col-12 mt--24">
                    <div class="rbt-card rbt-product-card rounded--16">
                        <div class="rbt-card-img rounded--16">
                            <a href="product-single-default.html"><img src="assets/images/product-img/fashion/product-03.webp" alt="Card Image"></a>
                            <button class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips tooltip-distance-lg" type="button" data-tooltip="Add to wishlist" data-tooltip-position="left"><i class="fa-regular fa-heart"></i></button>
                            <div class="rbt-right-corner-portion bottom--position">
                                <div class="rbt-corner-portion-wrapper">
                                    <div class="rbt-quick-btn-grp has-mixup-midlayer bottom-right--position">
                                        <button class="rbt-compare-btn rbt-quick-btn tooltips tooltip-distance-lg" data-tooltip="Add to Compare" data-tooltip-position="left" type="button" ><i class="fa-regular fa-scale-balanced"></i></button>
                                        <button class="rbt-watch-btn rbt-quick-btn tooltips tooltip-distance-lg" data-tooltip="Quick View" data-tooltip-position="left" type="button" data-bs-toggle="modal" data-bs-target="#quickviewModal"><i class="fa-sharp fa-regular fa-eye"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rbt-card-body">
                            <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">Pajamas</a>
                            <h6 class="rbt-card-title"><a href="product-single-default.html">Zipper Neckline Bateau T-Shirt</a></h6>
                            <div class="rbt-card-rating">
                                <ul class="rbt-rating-icon-list">
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                                <p class="rating-digit">(42)</p>
                            </div>
                            <div class="pricing-part">
                                <del class="price-text">$89.00</del>
                                <span class="price-text">$51.02</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Card  -->

                <!-- Start Single Card  -->
                <div class="col-lg-3 col-12 mt--24">
                    <div class="rbt-card rbt-product-card rounded--16">
                        <div class="rbt-card-img rounded--16">
                            <a href="product-single-default.html"><img src="assets/images/product-img/fashion/product-04.webp" alt="Card Image"></a>
                            <div class="rbt-product-badge rbt-product-badge-bg-primary rbt-badge-top-left--position">NEW ARRIVAL</div>
                            <button class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips tooltip-distance-lg" type="button" data-tooltip="Add to wishlist" data-tooltip-position="left"><i class="fa-regular fa-heart"></i></button>
                            <div class="rbt-right-corner-portion bottom--position">
                                <div class="rbt-corner-portion-wrapper">
                                    <div class="rbt-quick-btn-grp has-mixup-midlayer bottom-right--position">
                                        <button class="rbt-compare-btn rbt-quick-btn tooltips tooltip-distance-lg" data-tooltip="Add to Compare" data-tooltip-position="left" type="button" ><i class="fa-regular fa-scale-balanced"></i></button>
                                        <button class="rbt-watch-btn rbt-quick-btn tooltips tooltip-distance-lg" data-tooltip="Quick View" data-tooltip-position="left" type="button" data-bs-toggle="modal" data-bs-target="#quickviewModal"><i class="fa-sharp fa-regular fa-eye"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rbt-card-body">
                            <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">Jackets</a>
                            <h6 class="rbt-card-title"><a href="product-single-default.html">Masculine Tailored Pants</a></h6>
                            <div class="rbt-card-rating">
                                <ul class="rbt-rating-icon-list">
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                </ul>
                                <p class="rating-digit">(129)</p>
                            </div>
                            <div class="pricing-part">
                                <del class="price-text">$28.00</del>
                                <span class="price-text">$22.87</span>
                                <span class="rbt-offer-badge">-30%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Card  -->

            </div>
            <!-- End Card Area -->
        </div>
    </div>
</div>
<!-- End Mega Menu  -->

