<!-- Start Mega Menu  -->
<div class="rbt-megamenu rbt-width-fullscreen mega-has-bg-img mega-bg-one p-0 ">
    <!-- Start Mega Menu  -->
    <div class="rbt-megamenu-wrapper bg-transparent">
        <div class="wrapper">
            <div class="row row--12 mt_dec--12">
                <div class="col-xl-9">
                    <div class="h-100 d-flex flex-column justify-content-between">
                        <div class="row">
                            <div
                                class="col-12 col-lg-1-5 single-mega-item rbt-scroll-trigger fade_in animation-order-1 mt--16">
                                <p class="rbt-short-title h5">Inner Pages</p>
                                <ul class="mega-menu-item">
                                    <li><a href="contact.html">Contact Page One</a></li>
                                    <li><a href="about.html">About Us One</a></li>
                                    <li><a href="faq-page-01.html">FAQs One</a></li>
                                    <li><a href="contact-two.html">Contact Page Two</a></li>
                                    <li><a href="about-two.html">About Us Two</a></li>
                                    <li><a href="contact-four.html">Contact Page Four</a></li>
                                    <li><a href="faq-page-02.html">FAQs Two</a></li>
                                    <li><a href="find-store.html">Find A Store</a></li>
                                    <li><a href="compare-product.html">Compare Products</a></li>
                                    <li><a href="compare-empty-page.html">Compare Empty</a></li>
                                </ul>
                            </div>
                            <div
                                class="col-12 col-lg-1-5 single-mega-item rbt-scroll-trigger fade_in animation-order-1 mt--16">
                                <p class="rbt-short-title h5">Inner Pages</p>
                                <ul class="mega-menu-item">
                                    <li><a href="team-page-one.html">Team One</a></li>
                                    <li><a href="team-page-two.html">Team Two</a></li>
                                    <li><a href="team-page-three.html">Team Three</a></li>
                                    <li><a href="team-page-four.html">Team Four</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="error-404.html">Error 404</a></li>
                                    <li><a href="error-maintanance.html">Maintanace</a></li>
                                    <li><a href="portfolio-default.html">Portfolio Default</a></li>
                                    <li><a href="portfolio-grid-layout-full-width.html">Portfolio Full Width</a></li>
                                    <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                </ul>
                            </div>
                            <div
                                class="col-12 col-lg-1-5 single-mega-item rbt-scroll-trigger fade_in animation-order-1 mt--16">
                                <p class="rbt-short-title h5">Inner Pages</p>
                                <ul class="mega-menu-item">
                                    <li><a href="blog-default.html">Blog Default</a></li>
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-sidebar.html">Blog Sidebar</a></li>
                                    <li><a href="blog-modern.html">Blog Modern</a></li>
                                    <li><a href="blog-infinite-scroll.html">Blog Infinite Scroll</a></li>
                                    <li><a href="blog-load-more.html">Blog load-more</a></li>
                                    <li><a href="blog-single.html">Blog Details</a></li>
                                    <li><a href="brand-list.html">Brand List</a></li>
                                    <li><a href="#!">Blog Timeline
                                            <div class="rbt-product-badge rbt-product-badge-bg-primary border-rounded">
                                                Coming
                                            </div>
                                        </a></li>
                                    <li><a href="#!">Blog Gallery
                                            <div class="rbt-product-badge rbt-product-badge-bg-primary border-rounded">
                                                Coming
                                            </div>
                                        </a></li>

                                </ul>
                            </div>
                            <div
                                class="col-12 col-lg-1-5 single-mega-item rbt-scroll-trigger fade_in animation-order-1 mt--16">
                                <p class="rbt-short-title h5">Shop User Pages</p>
                                <ul class="mega-menu-item">
                                    <li><a href="my-order-history.html">Order History</a></li>
                                    <li><a href="my-wishlist.html">Wishlist</a></li>
                                    <li><a href="my-payment-methods.html">Payment Methods</a></li>
                                    <li><a href="account-info.html">Personal info</a></li>
                                    <li><a href="account-notifications.html">Notifications</a></li>
                                    <li><a href="help-center.html">User Help Center</a></li>
                                    <li><a href="terms-policy.html">Terms and conditions</a></li>
                                    <li><a href="signin.html">Sign In</a></li>
                                    <li><a href="signup.html">Sign Up</a></li>
                                    <li><a href="#!">Membership Details
                                            <div class="rbt-product-badge rbt-product-badge-bg-success border-rounded">
                                                Coming
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div
                                class="col-12 col-lg-1-5 single-mega-item rbt-scroll-trigger fade_in animation-order-1 mt--16">
                                <p class="rbt-short-title h5">E-commerce</p>
                                <ul class="mega-menu-item">
                                    <li><a href="cart.html">Cart Page</a></li>
                                    <li><a href="return-policy.html">
                                            Return Policy
                                            <div class="rbt-product-badge rbt-product-badge-bg-yellow border-rounded">
                                                New
                                            </div>
                                        </a></li>
                                    <li><a href="wishlist.html">Wishlist Page</a></li>
                                    <li><a href="checkout-delivery-step-one.html">Checkout Page</a></li>
                                    <li><a href="checkout-delivery-step-two.html">Checkout Delivary Info</a></li>
                                    <li><a href="checkout-payment.html">Checkout Payment</a></li>
                                    <li><a href="checkout-shipping.html">Checkout Shipping</a></li>
                                    <li><a href="checkout-thankyou.html">Thank You</a></li>
                                    <li><a href="categories-list.html">Categories List</a></li>
                                    <li><a href="offer-list-page.html">Offer List</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <hr
                                    class="rbt-separator rbt-separator-gray200 mb--16 mt--16 mt_sm--12 mb_sm--12 rbt-bg-color-gray-100">
                            </div>
                            <div class="col-lg-12">
                                <ul class="rbt-nav-brand-list liststyle d-flex justify-content-xl-between">
                                    <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-01.webp"
                                                alt="Ecommerce Brand Image"></a></li>
                                    <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-02.webp"
                                                alt="Ecommerce Brand Image"></a></li>
                                    <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-03.webp"
                                                alt="Ecommerce Brand Image"></a></li>
                                    <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-04.webp"
                                                alt="Ecommerce Brand Image"></a></li>
                                    <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-05.webp"
                                                alt="Ecommerce Brand Image"></a></li>
                                    <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-06.webp"
                                                alt="Ecommerce Brand Image"></a></li>
                                    <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-07.webp"
                                                alt="Ecommerce Brand Image"></a></li>
                                    <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-01.webp"
                                                alt="Ecommerce Brand Image"></a></li>
                                    <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-02.webp"
                                                alt="Ecommerce Brand Image"></a></li>
                                    <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-03.webp"
                                                alt="Ecommerce Brand Image"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Mega Menu  -->
</div>
<!-- End Mega Menu  -->