<!-- Start Mega Menu  -->
<div class="rbt-megamenu p-0 container">
    <!-- Start Mega Menu  -->
    <div class="rbt-megamenu-wrapper p--0">
        <div class="wrapper">
            <div class="row row--0 mt_dec--32">
                <div class="col-xl-8 mt--24 rbt-scroll-trigger zoom_in animation-order-2">
                    <div class="rbt-inner-menu-wrapper p--24 p_sm--0 p_md--0 p_lg--0">
                        <div class="row row-12 mt_dec--16">
                            <div
                                class="col-12 col-xl-4 single-mega-item rbt-scroll-trigger fade_in animation-order-1 mt--16">
                                <p class="rbt-short-title h5">Ultimate User Experience</p>
                                <ul class="mega-menu-item">
                                    <li><a href="customize-options.html">Easy to Customize Codes</a></li>
                                    <li><a href="page-customizability.html">Highly Customizable Elements</a></li>
                                    <li><a href="performance.html">Fast Performance
                                            <div class="rbt-product-badge rbt-product-badge-bg-red border-rounded">
                                                Hot
                                            </div>
                                        </a></li>
                                    <li><a href="header-builder.html">Ultimate Header Layouts</a></li>
                                    <li><a href="footer-builder.html">Excessive Footer Variation</a></li>
                                    <li><a href="advanced-megamenu.html">Advanced Mega Menu</a></li>
                                    <li><a href="popup-builder.html">Popup & Sidebar Search</a></li>
                                    <li><a href="boost-features.html">All Boost Sales Features
                                            <div class="rbt-product-badge rbt-product-badge-bg-primary border-rounded">
                                                New
                                            </div>
                                        </a></li>
                                    <li><a href="mobile-first.html">Mobile-first Experience</a></li>
                                    <li><a href="#!">User Feedback
                                            <div class="rbt-product-badge rbt-product-badge-bg-yellow border-rounded">
                                                Coming
                                            </div>
                                        </a></li>
                                    <li><a href="#!">Seamless Integration
                                            <div class="rbt-product-badge rbt-product-badge-bg-yellow border-rounded">
                                                Coming
                                            </div>
                                        </a></li>
                                </ul>
                            </div>
                            <div
                                class="col-12 col-xl-4 single-mega-item rbt-scroll-trigger fade_in animation-order-1 mt--16">
                                <p class="rbt-short-title h5">Flexible Shopping</p>
                                <ul class="mega-menu-item">
                                    <li><a href="product-filtering.html">Smart Product Filtering</a></li>
                                    <li><a href="variant-switcher.html">Variant Swatches
                                            <div
                                                class="rbt-product-badge rbt-product-badge-bg-secondary border-rounded">
                                                Fully Ready
                                            </div>
                                        </a></li>
                                    <li><a href="compare-table-builder.html">Product Compare</a></li>
                                    <li><a href="wishlist-builder.html">WishLists Builder</a></li>
                                    <li><a href="quick-view.html">Quick View</a></li>
                                    <li><a href="flash-sell-management.html">Flash Sales Management</a></li>
                                    <li><a href="cart-builder.html">Cart Upsell
                                            <div class="rbt-product-badge rbt-product-badge-bg-primary border-rounded">
                                                New
                                            </div>
                                        </a></li>
                                    <li><a href="size-chart-builder.html">Size Chart Variation</a></li>
                                    <li><a href="sticky-cart-builder.html">Sticky Add To Cart</a></li>
                                    <li><a href="product-display.html">Product Video & 3D View</a></li>
                                    <li><a href="multi-step-checkout.html">Multi-Step Checkout</a></li>
                                </ul>
                            </div>
                            <div
                                class="col-12 col-xl-4 single-mega-item rbt-scroll-trigger fade_in animation-order-1 mt--16">
                                <p class="rbt-short-title h5">Boost Sales</p>
                                <ul class="mega-menu-item">
                                    <li><a href="notifications.html">Back To Stock Notification</a></li>
                                    <li><a href="sales-popup.html">Sales Popup</a></li>
                                    <li><a href="pre-order.html">Pre Order</a></li>
                                    <li><a href="backorder.html">Backorder</a></li>
                                    <li><a href="partial-payment.html">Partial Payment</a></li>
                                    <li><a href="shareable-cart.html">Shareable Cart</a></li>
                                    <li><a href="bulk-amount-purchase.html">Bulk Amount Purchase</a></li>
                                    <li><a href="stock-progressbar.html">Stock Progress Bar</a></li>
                                    <li><a href="sale-push-notification.html">Sales Push Notification</a></li>
                                    <li><a href="offer-management.html">Special Offers Management</a></li>
                                    <li><a href="free-shipping.html">Free Shipping Threshold</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 mt--24 single-mega-item rbt-scroll-trigger zoom_in animation-order-2">
                    <img class="h-100" src="assets/images/header-bg/megamenu-banner-hr-01.webp" alt="Eccommerce Banner">
                </div>
            </div>
        </div>
    </div>
    <!-- End Mega Menu  -->
</div>
<!-- End Mega Menu  -->