<!-- Start Mega Menu  -->
<div class="rbt-megamenu grid-item-2">
    <div class="rbt-megamenu-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="mega-top-banner bg-one">
                    <div class="rbt-banner-inner">
                        <div class="rbt-banner-content">
                            <h2 class="title">Buy One and Get 50% Off the Second Purchase Now</h2>
                            <p class="b3 desc">Send us your idea, it may appear on RVN.</p>
                        </div>
                        <a class="rbt-btn rbt-btn-sm rbt-btn-black" href="product-single-default.html">View Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row--16">
            <div class="col-lg-12 col-xl-6 col-xxl-6 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                <p class="rbt-short-title h5">Shop Lists</p>
                <ul class="mega-menu-item">
                    <li>
                        <a href="shop.html">
                            Shop Default
                            <div class="rbt-product-badge rbt-product-badge-bg-green border-rounded">
                                POPULAR
                            </div>
                        </a>
                    </li>
                    <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                    <li><a href="shop-filter-list-left-sidebar.html">Shop List Left Sidebar</a></li>
                    <li><a href="shop-filter-list-left-sidebar.html">Shop List Right Sidebar</a></li>
                    <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                    <li><a href="shop-wider.html">Shop Wide</a></li>
                    <li><a href="shop-loadmore.html">Load More Button</a></li>
                    <li><a href="#">Infinite Scroll
                            <div class="rbt-product-badge rbt-product-badge-bg-yellow border-rounded">
                                Coming
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-12 col-xl-6 col-xxl-6 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                <p class="rbt-short-title h5">Shop Layouts</p>
                <ul class="mega-menu-item">
                    <li><a href="shop-filter-grid-two.html">Two Columns</a></li>
                    <li><a href="shop-filter-grid-three.html">Three Columns</a></li>
                    <li><a href="shop-wider-five.html">Five Columns Wide</a></li>
                    <li><a href="shop-wider.html">Three Columns Wide</a></li>
                    <li><a href="shop-wider-five.html">Four Columns Wide</a></li>
                    <li><a href="shop-filter-grid-four.html">
                            Four Columns
                            <div class="rbt-product-badge rbt-product-badge-bg-danger border-rounded ml--8">
                                Hot
                            </div>
                        </a></li>
                    <li><a href="shop-wider-five.html">Six Columns Wide</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="rbt-quick-info-tag d-flex mt--16">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M18.9706 14.9359C18.8148 18.8649 15.7493 22 11.9891 22C8.12909 22 5 18.5858 5 14.6221C5 14.0924 4.99101 13.0336 5.74352 11.2472C6.19387 10.1781 6.47633 9.50646 6.63574 8.89253C6.72333 8.55511 6.89367 8.01904 7.37926 8.89253C7.66559 9.40757 7.67666 10.1483 7.67666 10.1483C7.67666 10.1483 8.74197 9.28536 9.4611 7.63673C10.5153 5.21985 9.67419 3.77512 9.38675 2.77048C9.28727 2.42294 9.22481 1.79833 9.90721 2.06409C10.6025 2.33495 12.4408 3.69334 13.4017 5.12512C14.7732 7.16855 15.2605 9.128 15.2605 9.128C15.2605 9.128 15.6997 8.55268 15.8553 7.95068C16.0312 7.27089 16.0338 6.59763 16.5988 7.32285C17.1361 8.01253 17.9341 9.3086 18.3833 10.5408C19.1989 12.7784 18.9706 14.9359 18.9706 14.9359Z"
                            fill="url(#paint0_linear_47_23647)" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M11.9999 22C9.23852 22 7 19.7944 7 17.0735C7 15.4318 7.67145 14.435 9.0689 13.0833C9.96366 12.2179 10.8011 11.1549 11.157 10.4311C11.2271 10.2886 11.3866 9.54605 12.0014 10.4155C12.3239 10.8714 12.8296 11.6823 13.1538 12.3744C13.7127 13.5676 13.8461 14.7239 13.8461 14.7239C13.8461 14.7239 14.3938 14.4059 14.7692 13.5871C14.8902 13.3232 15.1348 12.3241 15.8186 13.323C16.3204 14.0561 17.0097 15.3741 16.9999 17.0735C16.9999 19.7944 14.7613 22 11.9999 22Z"
                            fill="#FC9502" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M12.1019 16C12.8497 16 12.8497 17.4475 13.7996 19.3803C14.4321 20.6672 13.486 22 12.1019 22C10.7178 22 10 20.8271 10 19.3803C10 17.9335 11.3541 16 12.1019 16Z"
                            fill="#FCE202" />
                        <defs>
                            <linearGradient id="paint0_linear_47_23647" x1="11.9995" y1="22.0148" x2="11.9995"
                                y2="2.01511" gradientUnits="userSpaceOnUse">
                                <stop offset="1" stop-color="#FF4C0D" />
                                <stop offset="1" stop-color="#FC9502" />
                            </linearGradient>
                        </defs>
                    </svg>
                    <p><strong>Free Express Shipping</strong> on orders ₹200! Apply Coupon <strong>HURRY200</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Mega Menu  -->