<!-- Start Mega Menu  -->
<div class="rbt-megamenu grid-item-3 pl_sm--0 pl_md--0 pl_lg--0">
    <div class="rbt-megamenu-wrapper">
        <div class="row d-none d-xl-flex">
            <div class="col-lg-12">
                <div class="mega-top-banner bg-two">
                    <div class="rbt-banner-inner justify-content-start">
                        <div class="rbt-banner-content">
                            <h2 class="title">Buy One and Get 50% Off the Second Purchase Now</h2>
                            <p class="b3 desc">Send us your idea, it may appear on RVN.</p>
                        </div>
                        <div class="pricing-action d-flex flex-column align-items-center rbt-gap--8">
                            <div class="rbt-pricing-part d-flex">
                                <span class="rbt-price-text offer-price">₹189.00</span>
                                <del class="rbt-dis-price-text">₹295.00</del>
                            </div>
                            <a class="rbt-btn rbt-btn-sm rbt-btn-black" href="product-single-default.html">View
                                Details</a>
                        </div>
                        <a href="#" class="product-img position-bottom"><img
                                src="assets/images/splash/menu-banner/menu-prd-01.webp" alt="Eccommerce Product"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row--16">
            <div class="col-lg-12 col-xl-6 col-xxl-4 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                <p class="rbt-short-title h5">Shop Pages</p>
                <ul class="mega-menu-item">
                    <li>
                        <a href="shop.html">
                            Shop Default
                            <div class="rbt-product-badge rbt-product-badge-bg-green border-rounded">
                                SHOP
                            </div>
                        </a>
                    </li>
                    <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                    <li><a href="shop-filter-list-left-sidebar.html">Shop List Left Sidebar</a></li>
                    <li><a href="shop-filter-list-right-sidebar.html">Shop List Right Sidebar</a></li>
                    <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                    <li><a href="shop-sticky-sidebar.html">Sticky Sidebar Shop
                            <div class="rbt-product-badge rbt-product-badge-bg-primary border-rounded">
                                POPULAR
                            </div>
                        </a></li>
                    <li><a href="shop-collapsible-sidebar.html">Collapse Sidebar Shop</a></li>
                    <li><a href="shop-scroll-sidebar.html">Scroll Sidebar Shop</a></li>
                    <li><a href="shop-loadmore.html">Load More Button</a></li>
                    <li><a href="shop-sm-categories.html">Shop Small Categories</a></li>
                    <li><a href="products-inside-border-column-shop.html">Bordered inside
                            Products Shop</a></li>
                    <li><a href="products-show-rating-shop.html">
                            Products Show Rating
                            <div class="rbt-product-badge rbt-product-badge-bg-danger border-rounded">
                                HOT
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-12 col-xl-6 col-xxl-4 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                <p class="rbt-short-title h5">Custom Pages</p>
                <ul class="mega-menu-item">
                    <li><a href="shop-filter-grid-two.html">Two Columns</a></li>
                    <li><a href="shop-filter-grid-three.html">Three Columns</a></li>
                    <li><a href="shop-filter-grid-four.html">Four Columns
                            <div class="rbt-product-badge rbt-product-badge-bg-danger border-rounded ml--8">
                                POPULAR
                            </div>
                        </a></li>
                    <li><a href="shop-wider.html">Three Columns Wide</a></li>
                    <li><a href="shop-wider-four.html">
                            Four Columns
                            <div class="rbt-product-badge rbt-product-badge-bg-green border-rounded ml--8">
                                POPULAR
                            </div>
                        </a></li>
                    <li><a href="shop-wider-five.html">Five Columns Wide</a></li>

                    <li><a href="shop-wider-six.html">Six Columns Wide</a></li>

                    <li><a href="shop-featured.html">Featured Products</a></li>
                    <li><a href="shop-best-prds.html">Best Selling Products</a></li>
                    <li><a href="shop-collapse-filter-top.html">Hidden Side Bar Shop</a></li>
                    <li><a href="products-show-countdown-shop-style-two.html">Products Show
                            Countdown Two</a>
                    </li>
                    <li><a href="products-even-list-shop.html">Even List Products</a></li>
                </ul>
            </div>
            <div class="col-lg-12 col-xl-6 col-xxl-4 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                <p class="rbt-short-title h5">Custom Pages</p>
                <ul class="mega-menu-item">
                    <li><a href="shop-no-page-heading.html">Shop No Page Heading</a></li>
                    <li><a href="shop-only-category.html">Shop Only Category</a></li>
                    <li><a href="shop-offcanvas-sidebar-left.html">Shop offcanvas Left</a></li>
                    <li><a href="shop-offcanvas-sidebar-right.html">Shop offcanvas Right</a></li>
                    <li><a href="shop-offcanvas-sidebar-top.html">Shop offcanvas top</a></li>
                    <li><a href="shop-offcanvas-sidebar-bottom.html">Shop offcanvas Bottom</a></li>
                    <li><a href="shop-collapse-filter-bottom.html">Shop Filter Collapse Bottom</a></li>
                    <li><a href="shop-collapse-filter-left.html">Shop Filter Collapse Left</a></li>
                    <li><a href="shop-collapse-filter-right.html">Shop Filter Collapse Right</a></li>
                    <li><a href="products-show-progressbar-shop.html">Products Show
                            Progress-bar</a></li>
                    <li><a href="products-show-countdown-shop.html">Products Show
                            Countdown</a></li>
                    <li><a href="#!">Infinite Scroll
                            <div class="rbt-product-badge rbt-product-badge-bg-yellow border-rounded">
                                Coming Soon
                            </div>
                        </a>
                    </li>
                    <li><a href="#!">Shop Classic
                            <div class="rbt-product-badge rbt-product-badge-bg-yellow border-rounded">
                                Coming Soon
                            </div>
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Mega Menu  -->