<!-- Start Mega Menu  -->
<div class="rbt-megamenu rbt-megamenu-7">
    <div class="rbt-megamenu-wrapper">
        <div class="container">
            <div class="row row--12 d-flex justify-content-between">
                <div class="col-xl-9">
                    <div class="row row--12">
                        <div class="col-xl-3 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                            <p class="rbt-short-title h5">Shop Lists</p>
                            <ul class="mega-menu-item">
                                <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                <li><a href="shop-filter-list-left-sidebar.html">Shop List Left Sidebar</a></li>
                                <li><a href="shop-filter-list-left-sidebar.html">Shop List Right Sidebar</a></li>
                                <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                                <li>
                                    <a href="shop.html">
                                        Shop Default
                                        <div class="rbt-product-badge rbt-product-badge-bg-green border-rounded">
                                            Popular
                                        </div>
                                    </a>
                                </li>
                                <li><a href="shop-wider.html">Shop Wide</a></li>
                                <li><a href="shop-loadmore.html">Load More Button</a></li>
                                <li><a href="#">Infinite Scroll
                                        <div class="rbt-product-badge rbt-product-badge-bg-yellow border-rounded">
                                            Coming
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-3 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                            <p class="rbt-short-title h5">Shop Layouts</p>
                            <ul class="mega-menu-item">
                                <li><a href="shop-filter-grid-two.html">Two Columns</a></li>
                                <li><a href="shop-filter-grid-three.html">Three Columns</a></li>
                                <li><a href="shop-wider-five.html">Five Columns Wide</a></li>
                                <li><a href="shop-wider.html">Three Columns Wide</a></li>
                                <li><a href="shop-wider-five.html">Four Columns Wide</a></li>
                                <li><a href="shop-filter-grid-four.html">
                                        Four Columns
                                        <div class="rbt-product-badge rbt-product-badge-bg-danger border-rounded ml--8">
                                            Hot
                                        </div>
                                    </a></li>
                                <li><a href="shop-wider-five.html">Six Columns Wide</a></li>
                            </ul>
                        </div>
                        <div class="col-xl-3 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                            <p class="rbt-short-title h5">Shop Pages</p>
                            <ul class="mega-menu-item">
                                <li><a href="product-single-default.html">Product Single Default</a></li>
                                <li><a href="#">Checkout</a></li>
                                <li><a href="#">
                                        My account
                                        <div class="rbt-product-badge rbt-product-badge-bg-primary border-rounded">
                                            TOP
                                        </div>
                                    </a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                                <li><a href="#">Order Tracking
                                        <div class="rbt-product-badge rbt-product-badge-bg-primary border-rounded">
                                            Coming
                                        </div>
                                    </a></li>
                                <li><a href="shop.html">Featured Products</a></li>
                                <li><a href="shop.html">Best Selling Products</a></li>
                            </ul>
                        </div>
                        <div class="col-xl-3 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                            <p class="rbt-short-title h5">Shop Pages</p>
                            <ul class="mega-menu-item rbt-shop-color">
                                <li><a class="black" href="shop-by-color.html">Black</a></li>
                                <li><a class="blue" href="shop-by-color.html">Blue</a></li>
                                <li><a class="brown" href="shop-by-color.html">Brown</a></li>
                                <li><a class="gray" href="shop-by-color.html">Gray</a></li>
                                <li><a class="green" href="shop-by-color.html">Green</a></li>
                                <li><a class="orange" href="shop-by-color.html">Orange</a></li>
                                <li><a class="red" href="shop-by-color.html">Red</a></li>
                            </ul>
                        </div>
                        <hr
                            class="rbt-separator rbt-separator-gray200 mb--16 mt--16 mt_sm--12 mb_sm--12 rbt-bg-color-gray-100">
                        <div class="col-lg-12">
                            <ul class="rbt-nav-brand-list liststyle d-flex justify-content-between">
                                <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-01.webp"
                                            alt="Ecommerce Brand Image"></a></li>
                                <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-02.webp"
                                            alt="Ecommerce Brand Image"></a></li>
                                <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-03.webp"
                                            alt="Ecommerce Brand Image"></a></li>
                                <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-04.webp"
                                            alt="Ecommerce Brand Image"></a></li>
                                <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-05.webp"
                                            alt="Ecommerce Brand Image"></a></li>
                                <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-06.webp"
                                            alt="Ecommerce Brand Image"></a></li>
                                <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-07.webp"
                                            alt="Ecommerce Brand Image"></a></li>
                                <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-08.webp"
                                            alt="Ecommerce Brand Image"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                    <div class="rbt-menu-offer-card rbt-bg-style-box rbt-bg-two">
                        <div class="mega-top-banner">
                            <div
                                class="rbt-banner-inner flex-column justify-content-center rbt-gap--8 align-items-center text-center">
                                <div class="rbt-banner-content">
                                    <h2 class="title rbt-text-color-white">New Aurora Watch</h2>
                                    <p class="b3 desc rbt-text-color-gray-200">Send your idea, appear RVN.</p>
                                </div>
                                <a class="rbt-btn rbt-btn-sm" href="#">View Details</a>
                                <a href="#" class="product-img position-bottom mt--24"><img
                                        src="assets/images/splash/menu-banner/menu-prd-03-lg.webp"
                                        alt="Eccommerce Product"></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Mega Menu  -->