<!-- Start Mega Menu  -->
<div class="rbt-megamenu rbt-megamenu-4">
    <div class="rbt-megamenu-wrapper">
        <div class="container-fluid">
            <div class="row row--12">
                <div class="col-xl-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mega-top-banner bg-three">
                                <div class="rbt-banner-inner justify-content-start">
                                    <div class="rbt-banner-content">
                                        <h2 class="title">Buy One and Get 50% Off the Second Purchase Now</h2>
                                        <p class="b3 desc">Send us your idea, it may appear on RVN.</p>
                                    </div>
                                    <div class="pricing-action d-flex flex-column align-items-center rbt-gap--8">
                                        <div class="rbt-pricing-part d-flex">
                                            <span class="rbt-price-text offer-price">₹189.00</span>
                                            <del class="rbt-dis-price-text">₹295.00</del>
                                        </div>
                                        <a class="rbt-btn rbt-btn-sm rbt-btn-black"
                                            href="product-single-default.html">View Details</a>
                                    </div>
                                    <a href="#" class="product-img position-bottom"><img
                                            src="assets/images/splash/menu-banner/menu-prd-02.webp"
                                            alt="Eccommerce Product"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row--12">
                        <div class="col-xl-3 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                            <p class="rbt-short-title h5">Shop Lists</p>
                            <ul class="mega-menu-item">
                                <li><a href="#">Shop Right Sidebar</a></li>
                                <li><a href="#">Shop Wide</a></li>
                                <li>
                                    <a href="#">
                                        Shop Default
                                        <div class="rbt-product-badge rbt-product-badge-bg-yellow border-rounded">
                                            SHOP
                                        </div>
                                    </a>
                                </li>
                                <li><a href="#">Filters Area</a></li>
                                <li><a href="#">List Left Sidebar</a></li>
                                <li><a href="#">Load More Button</a></li>
                                <li><a href="#">Infinite Scroll</a></li>
                            </ul>
                        </div>
                        <div class="col-xl-3 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                            <p class="rbt-short-title h5">Shop Layouts</p>
                            <ul class="mega-menu-item">
                                <li><a href="#">Two Columns</a></li>
                                <li><a href="#">Three Columns</a></li>
                                <li><a href="#">Five Columns Wide</a></li>
                                <li><a href="#">Three Columns Wide</a></li>
                                <li><a href="#">Four Columns Wide</a></li>
                                <li><a href="#">
                                        Four Columns
                                        <div class="rbt-product-badge rbt-product-badge-bg-danger border-rounded">
                                            HOT
                                        </div>
                                    </a></li>
                                <li><a href="#">Six Columns Wide</a></li>
                            </ul>
                        </div>
                        <div class="col-xl-3 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                            <p class="rbt-short-title h5">Product Single Pages</p>
                            <ul class="mega-menu-item">
                                <li><a href="product-single-default.html">Product Single Default</a></li>
                                <li><a href="#">Checkout</a></li>
                                <li><a href="#">
                                        My account
                                        <div class="rbt-product-badge rbt-product-badge-bg-primary border-rounded">
                                            TOP
                                        </div>
                                    </a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Order Tracking</a></li>
                                <li><a href="#">Featured Products</a></li>
                                <li><a href="#">Best Selling Products</a></li>
                            </ul>
                        </div>
                        <div class="col-xl-3 single-mega-item rbt-scroll-trigger fade_in animation-order-1">
                            <p class="rbt-short-title h5">Product Single Pages</p>
                            <ul class="mega-menu-item">
                                <li><a href="product-single-default.html">Product Single Default</a></li>
                                <li><a href="#">Checkout</a></li>
                                <li><a href="#">My account</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Order Tracking</a></li>
                                <li><a href="#">Featured Products</a></li>
                                <li><a href="#">Best Selling Products</a></li>
                            </ul>
                        </div>
                        <hr
                            class="rbt-separator rbt-separator-gray200 mb--16 mt--16 mt_sm--12 mb_sm--12 rbt-bg-color-gray-100">
                        <div class="col-lg-12">
                            <ul class="rbt-nav-brand-list liststyle d-flex justify-content-between">
                                <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-01.webp"
                                            alt="Ecommerce Brand Image"></a></li>
                                <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-02.webp"
                                            alt="Ecommerce Brand Image"></a></li>
                                <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-03.webp"
                                            alt="Ecommerce Brand Image"></a></li>
                                <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-04.webp"
                                            alt="Ecommerce Brand Image"></a></li>
                                <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-05.webp"
                                            alt="Ecommerce Brand Image"></a></li>
                                <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-06.webp"
                                            alt="Ecommerce Brand Image"></a></li>
                                <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-07.webp"
                                            alt="Ecommerce Brand Image"></a></li>
                                <li><a href="shop-by-brands.html"><img src="assets/images/brands/brand-a-08.webp"
                                            alt="Ecommerce Brand Image"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="rbt-swiper-container">
                        <div class="swiper rbt-megamenu-prd-card-activation-1 pb--24">
                            <div class="swiper-wrapper">

                                <!-- Start single card -->
                                <div class="swiper-slide">
                                    <div class="rbt-card rbt-product-card rounded--16">
                                        <div class="rbt-card-img rounded--16">
                                            <a href="product-single-default.html"><img
                                                    src="assets/images/product-img/fashion/product-01.webp"
                                                    alt="Card Image"></a>
                                            <div
                                                class="rbt-product-badge rbt-product-badge-bg-primary rbt-badge-top-left--position">
                                                POPULAR</div>
                                            <button
                                                class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips tooltip-distance-lg"
                                                type="button" data-bs-toggle="modal" data-bs-target="#wishlistModal"
                                                data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                                                    class="fa-regular fa-heart"></i><span></span></button>
                                            <div class="rbt-right-corner-portion bottom--position">
                                                <div class="rbt-corner-portion-wrapper">
                                                    <div
                                                        class="rbt-quick-btn-grp has-mixup-midlayer bottom-right--position">
                                                        <button
                                                            class="rbt-compare-btn rbt-quick-btn tooltips tooltip-distance-lg"
                                                            data-tooltip="Add to Compare" data-tooltip-position="left"
                                                            type="button" data-bs-toggle="modal"
                                                            data-bs-target="#compareviewModal"><i
                                                                class="fa-regular fa-scale-balanced"></i><span></span></button>
                                                        <button
                                                            class="rbt-watch-btn rbt-quick-btn tooltips tooltip-distance-lg"
                                                            data-tooltip="Quick View" data-tooltip-position="left"
                                                            type="button" data-bs-toggle="modal"
                                                            data-bs-target="#quickviewModal"><i
                                                                class="fa-sharp fa-regular fa-eye"></i><span></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rbt-card-body rbt-card-content-center">
                                            <div class="rbt-product-switch-area">
                                                <ul class="rbt-switcher-product-list product-switcher-activation">
                                                    <li><a class="rbt-switcher--prd rbt-switcher--prd-one"
                                                            data-src="assets/images/product-img/fashion/product-01.webp"
                                                            href="#"><img
                                                                src="assets/images/product-img/fashion/product-01.webp"
                                                                alt="Product Image"></a></li>
                                                    <li class="active"><a
                                                            class="rbt-switcher--prd rbt-switcher--prd-two"
                                                            data-src="assets/images/product-img/fashion/product-02.webp"
                                                            href="#"><img
                                                                src="assets/images/product-img/fashion/product-02.webp"
                                                                alt="Product Image"></a></li>
                                                    <li><a class="rbt-switcher--prd rbt-switcher--prd-three"
                                                            data-src="assets/images/product-img/fashion/product-03.webp"
                                                            href="#"><img
                                                                src="assets/images/product-img/fashion/product-03.webp"
                                                                alt="Product Image"></a></li>
                                                    <li><a class="rbt-switcher--prd rbt-switcher--prd-four"
                                                            data-src="assets/images/product-img/fashion/product-04.webp"
                                                            href="#"><img
                                                                src="assets/images/product-img/fashion/product-04.webp"
                                                                alt="Product Image"></a></li>
                                                </ul>
                                            </div>
                                            <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">T-shirts</a>
                                            <h6 class="rbt-card-title"><a href="product-single-default.html">Signature
                                                    Hooded Wrap Coat</a></h6>
                                            <div class="rbt-card-rating">
                                                <ul class="rbt-rating-icon-list">
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star"></i></li>
                                                    <li><i class="fa-solid fa-star"></i></li>
                                                </ul>
                                                <p class="rating-digit">(92)</p>
                                            </div>
                                            <div class="pricing-part">
                                                <del class="price-text">₹75.00</del>
                                                <span class="price-text">₹43.65</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single card -->

                                <!-- Start single card -->
                                <div class="swiper-slide">
                                    <div class="rbt-card rbt-product-card rounded--16">
                                        <div class="rbt-card-img rounded--16">
                                            <a href="product-single-default.html"><img
                                                    src="assets/images/product-img/fashion/product-01.webp"
                                                    alt="Card Image"></a>
                                            <div
                                                class="rbt-product-badge rbt-product-badge-bg-primary rbt-badge-top-left--position">
                                                POPULAR</div>
                                            <button
                                                class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips tooltip-distance-lg"
                                                type="button" data-bs-toggle="modal" data-bs-target="#wishlistModal"
                                                data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                                                    class="fa-regular fa-heart"></i><span></span></button>
                                            <div class="rbt-right-corner-portion bottom--position">
                                                <div class="rbt-corner-portion-wrapper">
                                                    <div
                                                        class="rbt-quick-btn-grp has-mixup-midlayer bottom-right--position">
                                                        <button
                                                            class="rbt-compare-btn rbt-quick-btn tooltips tooltip-distance-lg"
                                                            data-tooltip="Add to Compare" data-tooltip-position="left"
                                                            type="button" data-bs-toggle="modal"
                                                            data-bs-target="#compareviewModal"><i
                                                                class="fa-regular fa-scale-balanced"></i><span></span></button>
                                                        <button
                                                            class="rbt-watch-btn rbt-quick-btn tooltips tooltip-distance-lg"
                                                            data-tooltip="Quick View" data-tooltip-position="left"
                                                            type="button" data-bs-toggle="modal"
                                                            data-bs-target="#quickviewModal"><i
                                                                class="fa-sharp fa-regular fa-eye"></i><span></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rbt-card-body rbt-card-content-center">
                                            <div class="rbt-product-switch-area">
                                                <ul class="rbt-switcher-product-list product-switcher-activation">
                                                    <li><a class="rbt-switcher--prd rbt-switcher--prd-one"
                                                            data-src="assets/images/product-img/fashion/product-01.webp"
                                                            href="#"><img
                                                                src="assets/images/product-img/fashion/product-01.webp"
                                                                alt="Product Image"></a></li>
                                                    <li class="active"><a
                                                            class="rbt-switcher--prd rbt-switcher--prd-two"
                                                            data-src="assets/images/product-img/fashion/product-02.webp"
                                                            href="#"><img
                                                                src="assets/images/product-img/fashion/product-02.webp"
                                                                alt="Product Image"></a></li>
                                                    <li><a class="rbt-switcher--prd rbt-switcher--prd-three"
                                                            data-src="assets/images/product-img/fashion/product-03.webp"
                                                            href="#"><img
                                                                src="assets/images/product-img/fashion/product-03.webp"
                                                                alt="Product Image"></a></li>
                                                    <li><a class="rbt-switcher--prd rbt-switcher--prd-four"
                                                            data-src="assets/images/product-img/fashion/product-04.webp"
                                                            href="#"><img
                                                                src="assets/images/product-img/fashion/product-04.webp"
                                                                alt="Product Image"></a></li>
                                                </ul>
                                            </div>
                                            <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">T-shirts</a>
                                            <h6 class="rbt-card-title"><a href="product-single-default.html">Signature
                                                    Hooded Wrap Coat</a></h6>
                                            <div class="rbt-card-rating">
                                                <ul class="rbt-rating-icon-list">
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star"></i></li>
                                                    <li><i class="fa-solid fa-star"></i></li>
                                                </ul>
                                                <p class="rating-digit">(92)</p>
                                            </div>
                                            <div class="pricing-part">
                                                <del class="price-text">₹75.00</del>
                                                <span class="price-text">₹43.65</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single card -->

                                <!-- Start single card -->
                                <div class="swiper-slide">
                                    <div class="rbt-card rbt-product-card rounded--16">
                                        <div class="rbt-card-img rounded--16">
                                            <a href="product-single-default.html"><img
                                                    src="assets/images/product-img/fashion/product-02.webp"
                                                    alt="Card Image"></a>
                                            <div
                                                class="rbt-product-badge rbt-product-badge-bg-primary rbt-badge-top-left--position">
                                                POPULAR</div>
                                            <button
                                                class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips tooltip-distance-lg"
                                                type="button" data-bs-toggle="modal" data-bs-target="#wishlistModal"
                                                data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                                                    class="fa-regular fa-heart"></i><span></span></button>
                                            <div class="rbt-right-corner-portion bottom--position">
                                                <div class="rbt-corner-portion-wrapper">
                                                    <div
                                                        class="rbt-quick-btn-grp has-mixup-midlayer bottom-right--position">
                                                        <button
                                                            class="rbt-compare-btn rbt-quick-btn tooltips tooltip-distance-lg"
                                                            data-tooltip="Add to Compare" data-tooltip-position="left"
                                                            type="button" data-bs-toggle="modal"
                                                            data-bs-target="#compareviewModal"><i
                                                                class="fa-regular fa-scale-balanced"></i><span></span></button>
                                                        <button
                                                            class="rbt-watch-btn rbt-quick-btn tooltips tooltip-distance-lg"
                                                            data-tooltip="Quick View" data-tooltip-position="left"
                                                            type="button" data-bs-toggle="modal"
                                                            data-bs-target="#quickviewModal"><i
                                                                class="fa-sharp fa-regular fa-eye"></i><span></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rbt-card-body rbt-card-content-center">
                                            <div class="rbt-product-switch-area">
                                                <ul class="rbt-switcher-product-list product-switcher-activation">
                                                    <li><a class="rbt-switcher--prd rbt-switcher--prd-one"
                                                            data-src="assets/images/product-img/fashion/product-03.webp"
                                                            href="#"><img
                                                                src="assets/images/product-img/fashion/product-01.webp"
                                                                alt="Product Image"></a></li>
                                                    <li class="active"><a
                                                            class="rbt-switcher--prd rbt-switcher--prd-two"
                                                            data-src="assets/images/product-img/fashion/product-02.webp"
                                                            href="#"><img
                                                                src="assets/images/product-img/fashion/product-02.webp"
                                                                alt="Product Image"></a></li>
                                                    <li><a class="rbt-switcher--prd rbt-switcher--prd-three"
                                                            data-src="assets/images/product-img/fashion/product-03.webp"
                                                            href="#"><img
                                                                src="assets/images/product-img/fashion/product-03.webp"
                                                                alt="Product Image"></a></li>
                                                    <li><a class="rbt-switcher--prd rbt-switcher--prd-four"
                                                            data-src="assets/images/product-img/fashion/product-04.webp"
                                                            href="#"><img
                                                                src="assets/images/product-img/fashion/product-04.webp"
                                                                alt="Product Image"></a></li>
                                                </ul>
                                            </div>
                                            <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">T-shirts</a>
                                            <h6 class="rbt-card-title"><a href="product-single-default.html">Signature
                                                    Hooded Wrap Coat</a></h6>
                                            <div class="rbt-card-rating">
                                                <ul class="rbt-rating-icon-list">
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star"></i></li>
                                                    <li><i class="fa-solid fa-star"></i></li>
                                                </ul>
                                                <p class="rating-digit">(92)</p>
                                            </div>
                                            <div class="pricing-part">
                                                <del class="price-text">₹75.00</del>
                                                <span class="price-text">₹43.65</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single card -->

                            </div>
                            <!-- pagination -->
                            <div class="rbt-swiper-pagination-center">
                                <div
                                    class="rbt-swiper-pagination rbt-swiper-pagination-var-one rbt-swiper-pagination-cente">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Mega Menu  -->