# Dependencies
node_modules/
server/node_modules/
rvn-admin/node_modules/

# Environment Variables & Local Secrets
.env
server/.env
server/firebase-key.json.json

# Local Databases
*.db
server/*.db

# Build Outputs
dist/
dest/
rvn-admin/dist/
.vercel/

# Logs & System Files
*.log
npm-debug.log*
.DS_Store
Thumbs.db
