<!-- Start Card Area -->
<div class="row row--12">
    <!-- Start Single Card  -->
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mt--24 mt_sm--16">
        <div
            class="rbt-card rbt-product-card rbt-product-card-style-2 product-variation-two transform-variation-two rbt-scroll-trigger fade_in animation-order-1">
            <div class="background-expand"></div>
            <div class="card-inner">
                <div class="rbt-card-img rbt-bg-color-white rbt-scroll-trigger zoom_in animation-order-1">
                    <a href="product-single-default.html"><img class="rbt-prd-img"
                            src="assets/images/product-img/furniture/transp/fp-img-1.webp" alt="Card Image"></a>
                    <div class="rbt-badge-wrapper rbt-content-top-left">
                        <div class="rbt-product-badge rbt-product-badge-bg-green border-rounded">New</div>
                    </div>
                    <button class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips"
                        type="button" data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                            class="fa-regular fa-heart"></i></button>
                    <ul class="product-hover-slider-list hover-slider-activation">
                        <li><a class="active" href="#0"
                                data-src="assets/images/product-img/furniture/transp/fp-img-1.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-2.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-3.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-4.webp"></a></li>
                    </ul>
                </div>
                <div class="rbt-card-body rbt-bg-color-white">
                    <div class="rbt-card-top-content">
                        <div class="rbt-color-select-area">
                            <ul class="rbt-switcher-color-list product-switcher-activation">
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#bb921f"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-1.webp"
                                        data-tooltip="Yellow" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#a4a195"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-2.webp"
                                        data-tooltip="Brown" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li class="active"><a class="rbt-switcher--color tooltips" data-switcher-color="#dbb795"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-3.webp"
                                        data-tooltip="Wood Color" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#335d66"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-4.webp"
                                        data-tooltip="Royel Green" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                            </ul>
                            <a class="prd-link-text" href="product-single-default.html">+3 More Items</a>
                        </div>
                        <a href="shop-by-categories.html" class="rbt-card-subtitle rbt-card-catagories-text">Sofa &
                            Homies</a>
                        <h2 class="rbt-card-title"><a href="product-single-default.html">Klipsch R-120SW Beautiful 5'5"
                                Qualitiful Sofa Homies</a></h2>
                        <div class="rbt-card-rating">
                            <ul class="rbt-rating-icon-list">
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                            </ul>
                            <p class="rating-digit">(25)</p>
                        </div>
                        <div class="pricing-part">
                            <del class="price-text">₹394.079</del>
                            <span class="price-text">₹369.99</span>
                        </div>
                    </div>
                    <div class="rbt-card-footer d-block footer-content-btn">
                        <div class="prd-btn-grp">
                            <a class="rbt-btn rbt-btn-primary rbt-btn-sm rbt-square-btn d-block has-left-icon rbt-cart-sidenav-activation"
                                href="#"><i class="fa-regular fa-cart-shopping"></i> Add To Cart</a>
                            <a class="rbt-btn rbt-btn-border rbt-btn-sm rbt-square-btn d-block rbt-btn-transparent has-left-icon rbt-compare-btn-activation"
                                href="#"><i class="fa-regular fa-file-plus-minus"></i>Add To Compare</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mt--24 mt_sm--16">
        <div
            class="rbt-card rbt-product-card rbt-product-card-style-2 product-variation-two transform-variation-two rbt-scroll-trigger fade_in animation-order-2">
            <div class="background-expand"></div>
            <div class="card-inner">
                <div class="rbt-card-img rbt-bg-color-white rbt-scroll-trigger zoom_in animation-order-2">
                    <a href="product-single-default.html"><img class="rbt-prd-img"
                            src="assets/images/product-img/furniture/transp/fp-img-2.webp" alt="Card Image"></a>
                    <div class="rbt-badge-wrapper rbt-content-top-left">
                        <div class="rbt-product-badge rbt-product-badge-bg-yellow border-rounded">Trending</div>
                    </div>
                    <button class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips"
                        type="button" data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                            class="fa-regular fa-heart"></i></button>
                    <ul class="product-hover-slider-list hover-slider-activation">
                        <li><a class="active" href="#0"
                                data-src="assets/images/product-img/furniture/transp/fp-img-1.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-2.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-3.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-4.webp"></a></li>
                    </ul>
                </div>
                <div class="rbt-card-body rbt-bg-color-white">
                    <div class="rbt-card-top-content">
                        <div class="rbt-color-select-area">
                            <ul class="rbt-switcher-color-list product-switcher-activation">
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#bb921f"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-1.webp"
                                        data-tooltip="Yellow" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#a4a195"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-2.webp"
                                        data-tooltip="Brown" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li class="active"><a class="rbt-switcher--color tooltips" data-switcher-color="#dbb795"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-3.webp"
                                        data-tooltip="Wood Color" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#335d66"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-4.webp"
                                        data-tooltip="Royel Green" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                            </ul>
                            <a class="prd-link-text" href="product-single-default.html">+3 More Items</a>
                        </div>
                        <a href="shop-by-categories.html" class="rbt-card-subtitle rbt-card-catagories-text">Modern
                            Furniture</a>
                        <h2 class="rbt-card-title"><a href="product-single-default.html">Rabit Furniture Elegant
                                Minimalist Side Table Design Unit</a></h2>
                        <div class="rbt-card-rating">
                            <ul class="rbt-rating-icon-list">
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                            </ul>
                            <p class="rating-digit">(25)</p>
                        </div>
                        <div class="pricing-part">
                            <del class="price-text">₹195.99</del>
                            <span class="price-text">₹179.99</span>
                        </div>
                    </div>
                    <div class="rbt-card-footer d-block footer-content-btn">
                        <div class="prd-btn-grp">
                            <a class="rbt-btn rbt-btn-primary rbt-btn-sm rbt-square-btn d-block has-left-icon rbt-cart-sidenav-activation"
                                href="#"><i class="fa-regular fa-cart-shopping"></i> Add To Cart</a>
                            <a class="rbt-btn rbt-btn-border rbt-btn-sm rbt-square-btn d-block rbt-btn-transparent has-left-icon rbt-compare-btn-activation"
                                href="#"><i class="fa-regular fa-file-plus-minus"></i>Add To Compare</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mt--24 mt_sm--16">
        <div
            class="rbt-card rbt-product-card rbt-product-card-style-2 product-variation-two transform-variation-two rbt-scroll-trigger fade_in animation-order-3">
            <div class="background-expand"></div>
            <div class="card-inner">
                <div class="rbt-card-img rbt-bg-color-white rbt-scroll-trigger zoom_in animation-order-3">
                    <a href="product-single-default.html"><img class="rbt-prd-img"
                            src="assets/images/product-img/furniture/transp/fp-img-3.webp" alt="Card Image"></a>
                    <div class="rbt-badge-wrapper rbt-content-top-left">
                    </div>
                    <button class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips"
                        type="button" data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                            class="fa-regular fa-heart"></i></button>
                    <ul class="product-hover-slider-list hover-slider-activation">
                        <li><a class="active" href="#0"
                                data-src="assets/images/product-img/furniture/transp/fp-img-1.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-2.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-3.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-4.webp"></a></li>
                    </ul>
                </div>
                <div class="rbt-card-body rbt-bg-color-white">
                    <div class="rbt-card-top-content">
                        <div class="rbt-color-select-area">
                            <ul class="rbt-switcher-color-list product-switcher-activation">
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#bb921f"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-1.webp"
                                        data-tooltip="Yellow" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#a4a195"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-2.webp"
                                        data-tooltip="Brown" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li class="active"><a class="rbt-switcher--color tooltips" data-switcher-color="#dbb795"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-3.webp"
                                        data-tooltip="Wood Color" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#335d66"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-4.webp"
                                        data-tooltip="Royel Green" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                            </ul>
                            <a class="prd-link-text" href="product-single-default.html">+3 More Items</a>
                        </div>
                        <a href="shop-by-categories.html" class="rbt-card-subtitle rbt-card-catagories-text">Seating &
                            Stools</a>
                        <h2 class="rbt-card-title"><a href="product-single-default.html">RFL Handcrafted Wooden Bar High
                                Stool with Comfort Unit</a></h2>
                        <div class="rbt-card-rating">
                            <ul class="rbt-rating-icon-list">
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                            </ul>
                            <p class="rating-digit">(25)</p>
                        </div>
                        <div class="pricing-part">
                            <del class="price-text">₹155.49</del>
                            <span class="price-text">₹149.99</span>
                        </div>
                    </div>
                    <div class="rbt-card-footer d-block footer-content-btn">
                        <div class="prd-btn-grp">
                            <a class="rbt-btn rbt-btn-primary rbt-btn-sm rbt-square-btn d-block has-left-icon rbt-cart-sidenav-activation"
                                href="#"><i class="fa-regular fa-cart-shopping"></i> Add To Cart</a>
                            <a class="rbt-btn rbt-btn-border rbt-btn-sm rbt-square-btn d-block rbt-btn-transparent has-left-icon rbt-compare-btn-activation"
                                href="#"><i class="fa-regular fa-file-plus-minus"></i>Add To Compare</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mt--24 mt_sm--16">
        <div
            class="rbt-card rbt-product-card rbt-product-card-style-2 product-variation-two transform-variation-two rbt-scroll-trigger fade_in animation-order-4">
            <div class="background-expand"></div>
            <div class="card-inner">
                <div class="rbt-card-img rbt-bg-color-white rbt-scroll-trigger zoom_in animation-order-4">
                    <a href="product-single-default.html"><img class="rbt-prd-img"
                            src="assets/images/product-img/furniture/transp/fp-img-4.webp" alt="Card Image"></a>
                    <div class="rbt-badge-wrapper rbt-content-top-left">
                        <div class="rbt-product-badge rbt-product-badge-bg-danger border-rounded">Hot</div>
                    </div>
                    <button class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips"
                        type="button" data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                            class="fa-regular fa-heart"></i></button>
                    <ul class="product-hover-slider-list hover-slider-activation">
                        <li><a class="active" href="#0"
                                data-src="assets/images/product-img/furniture/transp/fp-img-1.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-2.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-3.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-4.webp"></a></li>
                    </ul>
                </div>
                <div class="rbt-card-body rbt-bg-color-white">
                    <div class="rbt-card-top-content">
                        <div class="rbt-color-select-area">
                            <ul class="rbt-switcher-color-list product-switcher-activation">
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#bb921f"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-1.webp"
                                        data-tooltip="Yellow" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#a4a195"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-2.webp"
                                        data-tooltip="Brown" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li class="active"><a class="rbt-switcher--color tooltips" data-switcher-color="#dbb795"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-3.webp"
                                        data-tooltip="Wood Color" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#335d66"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-4.webp"
                                        data-tooltip="Royel Green" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                            </ul>
                            <a class="prd-link-text" href="product-single-default.html">+3 More Items</a>
                        </div>
                        <a href="shop-by-categories.html"
                            class="rbt-card-subtitle rbt-card-catagories-text">Contemporary Furniture</a>
                        <h2 class="rbt-card-title"><a href="product-single-default.html">Grid soft Cozy 4-Seater Sofa
                                with Soft Detailed Action Fabric Finish </a></h2>
                        <div class="rbt-card-rating">
                            <ul class="rbt-rating-icon-list">
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                            </ul>
                            <p class="rating-digit">(25)</p>
                        </div>
                        <div class="pricing-part">
                            <del class="price-text">₹255.00</del>
                            <span class="price-text">₹239.89</span>
                        </div>
                    </div>
                    <div class="rbt-card-footer d-block footer-content-btn">
                        <div class="prd-btn-grp">
                            <a class="rbt-btn rbt-btn-primary rbt-btn-sm rbt-square-btn d-block has-left-icon rbt-cart-sidenav-activation"
                                href="#"><i class="fa-regular fa-cart-shopping"></i> Add To Cart</a>
                            <a class="rbt-btn rbt-btn-border rbt-btn-sm rbt-square-btn d-block rbt-btn-transparent has-left-icon rbt-compare-btn-activation"
                                href="#"><i class="fa-regular fa-file-plus-minus"></i>Add To Compare</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mt--24 mt_sm--16">
        <div
            class="rbt-card rbt-product-card rbt-product-card-style-2 product-variation-two transform-variation-two rbt-scroll-trigger fade_in animation-order-5">
            <div class="background-expand"></div>
            <div class="card-inner">
                <div class="rbt-card-img rbt-bg-color-white rbt-scroll-trigger zoom_in animation-order-5">
                    <a href="product-single-default.html"><img class="rbt-prd-img"
                            src="assets/images/product-img/furniture/transp/fp-img-9.webp" alt="Card Image"></a>
                    <div class="rbt-badge-wrapper rbt-content-top-left">
                        <div class="rbt-product-badge rbt-product-badge-bg-secondary-gradient border-rounded">Best
                            Seller</div>
                    </div>
                    <button class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips"
                        type="button" data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                            class="fa-regular fa-heart"></i></button>
                    <ul class="product-hover-slider-list hover-slider-activation">
                        <li><a class="active" href="#0"
                                data-src="assets/images/product-img/furniture/transp/fp-img-9.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-2.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-3.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-4.webp"></a></li>
                    </ul>
                </div>
                <div class="rbt-card-body rbt-bg-color-white">
                    <div class="rbt-card-top-content">
                        <div class="rbt-color-select-area">
                            <ul class="rbt-switcher-color-list product-switcher-activation">
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#bb921f"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-1.webp"
                                        data-tooltip="Yellow" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#a4a195"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-2.webp"
                                        data-tooltip="Brown" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li class="active"><a class="rbt-switcher--color tooltips" data-switcher-color="#dbb795"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-3.webp"
                                        data-tooltip="Wood Color" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#335d66"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-4.webp"
                                        data-tooltip="Royel Green" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                            </ul>
                            <a class="prd-link-text" href="product-single-default.html">+4 More Items</a>
                        </div>
                        <a href="shop-by-categories.html" class="rbt-card-subtitle rbt-card-catagories-text">Living Room
                            Essentials</a>
                        <h2 class="rbt-card-title"><a href="product-single-default.html">Oversized Comfy Partex Soft
                                Bean Bag Chair for Relaxation</a></h2>
                        <div class="rbt-card-rating">
                            <ul class="rbt-rating-icon-list">
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                            </ul>
                            <p class="rating-digit">(25)</p>
                        </div>
                        <div class="pricing-part">
                            <del class="price-text">₹294.49</del>
                            <span class="price-text">₹279.98</span>
                        </div>
                    </div>
                    <div class="rbt-card-footer d-block footer-content-btn">
                        <div class="prd-btn-grp">
                            <a class="rbt-btn rbt-btn-primary rbt-btn-sm rbt-square-btn d-block has-left-icon rbt-cart-sidenav-activation"
                                href="#"><i class="fa-regular fa-cart-shopping"></i> Add To Cart</a>
                            <a class="rbt-btn rbt-btn-border rbt-btn-sm rbt-square-btn d-block rbt-btn-transparent has-left-icon rbt-compare-btn-activation"
                                href="#"><i class="fa-regular fa-file-plus-minus"></i>Add To Compare</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mt--24 mt_sm--16">
        <div
            class="rbt-card rbt-product-card rbt-product-card-style-2 product-variation-two transform-variation-two rbt-scroll-trigger fade_in animation-order-6">
            <div class="background-expand"></div>
            <div class="card-inner">
                <div class="rbt-card-img rbt-bg-color-white rbt-scroll-trigger zoom_in animation-order-6">
                    <a href="product-single-default.html"><img class="rbt-prd-img"
                            src="assets/images/product-img/furniture/transp/fp-img-6.webp" alt="Card Image"></a>
                    <div class="rbt-badge-wrapper rbt-content-top-left">
                        <div class="rbt-product-badge rbt-product-badge-bg-green border-rounded">New</div>
                    </div>
                    <button class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips"
                        type="button" data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                            class="fa-regular fa-heart"></i></button>
                    <ul class="product-hover-slider-list hover-slider-activation">
                        <li><a class="active" href="#0"
                                data-src="assets/images/product-img/furniture/transp/fp-img-6.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-2.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-3.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-4.webp"></a></li>
                    </ul>
                </div>
                <div class="rbt-card-body rbt-bg-color-white">
                    <div class="rbt-card-top-content">
                        <div class="rbt-color-select-area">
                            <ul class="rbt-switcher-color-list product-switcher-activation">
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#bb921f"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-1.webp"
                                        data-tooltip="Yellow" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#a4a195"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-2.webp"
                                        data-tooltip="Brown" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li class="active"><a class="rbt-switcher--color tooltips" data-switcher-color="#dbb795"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-3.webp"
                                        data-tooltip="Wood Color" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#335d66"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-4.webp"
                                        data-tooltip="Royel Green" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                            </ul>
                            <a class="prd-link-text" href="product-single-default.html">+3 More Items</a>
                        </div>
                        <a href="shop-by-categories.html" class="rbt-card-subtitle rbt-card-catagories-text">Dining Room
                            Chairs</a>
                        <h2 class="rbt-card-title"><a href="product-single-default.html">Klipsch Scandinavian Wooden
                                Dining Chair Detailed Action</a></h2>
                        <div class="rbt-card-rating">
                            <ul class="rbt-rating-icon-list">
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                            </ul>
                            <p class="rating-digit">(25)</p>
                        </div>
                        <div class="pricing-part">
                            <del class="price-text">₹194.00</del>
                            <span class="price-text">₹179.48</span>
                        </div>
                    </div>
                    <div class="rbt-card-footer d-block footer-content-btn">
                        <div class="prd-btn-grp">
                            <a class="rbt-btn rbt-btn-primary rbt-btn-sm rbt-square-btn d-block has-left-icon rbt-cart-sidenav-activation"
                                href="#"><i class="fa-regular fa-cart-shopping"></i> Add To Cart</a>
                            <a class="rbt-btn rbt-btn-border rbt-btn-sm rbt-square-btn d-block rbt-btn-transparent has-left-icon rbt-compare-btn-activation"
                                href="#"><i class="fa-regular fa-file-plus-minus"></i>Add To Compare</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mt--24 mt_sm--16">
        <div
            class="rbt-card rbt-product-card rbt-product-card-style-2 product-variation-two transform-variation-two rbt-scroll-trigger fade_in animation-order-7">
            <div class="background-expand"></div>
            <div class="card-inner">
                <div class="rbt-card-img rbt-bg-color-white rbt-scroll-trigger zoom_in animation-order-7">
                    <a href="product-single-default.html"><img class="rbt-prd-img"
                            src="assets/images/product-img/furniture/transp/fp-img-7.webp" alt="Card Image"></a>
                    <div class="rbt-badge-wrapper rbt-content-top-left">
                    </div>
                    <button class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips"
                        type="button" data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                            class="fa-regular fa-heart"></i></button>
                    <ul class="product-hover-slider-list hover-slider-activation">
                        <li><a class="active" href="#0"
                                data-src="assets/images/product-img/furniture/transp/fp-img-1.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-2.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-3.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-4.webp"></a></li>
                    </ul>
                </div>
                <div class="rbt-card-body rbt-bg-color-white">
                    <div class="rbt-card-top-content">
                        <div class="rbt-color-select-area">
                            <ul class="rbt-switcher-color-list product-switcher-activation">
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#bb921f"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-1.webp"
                                        data-tooltip="Yellow" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#a4a195"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-2.webp"
                                        data-tooltip="Brown" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li class="active"><a class="rbt-switcher--color tooltips" data-switcher-color="#dbb795"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-3.webp"
                                        data-tooltip="Wood Color" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#335d66"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-4.webp"
                                        data-tooltip="Royel Green" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                            </ul>
                            <a class="prd-link-text" href="product-single-default.html">+7 More Items</a>
                        </div>
                        <a href="shop-by-categories.html" class="rbt-card-subtitle rbt-card-catagories-text">Premium
                            Seating</a>
                        <h2 class="rbt-card-title"><a href="product-single-default.html">Hatil Furniture Stylish
                                Armchair with Plush Cushion Support</a></h2>
                        <div class="rbt-card-rating">
                            <ul class="rbt-rating-icon-list">
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                            </ul>
                            <p class="rating-digit">(25)</p>
                        </div>
                        <div class="pricing-part">
                            <del class="price-text">₹149.00</del>
                            <span class="price-text">₹129.99</span>
                        </div>
                    </div>
                    <div class="rbt-card-footer d-block footer-content-btn">
                        <div class="prd-btn-grp">
                            <a class="rbt-btn rbt-btn-primary rbt-btn-sm rbt-square-btn d-block has-left-icon rbt-cart-sidenav-activation"
                                href="#"><i class="fa-regular fa-cart-shopping"></i> Add To Cart</a>
                            <a class="rbt-btn rbt-btn-border rbt-btn-sm rbt-square-btn d-block rbt-btn-transparent has-left-icon rbt-compare-btn-activation"
                                href="#"><i class="fa-regular fa-file-plus-minus"></i>Add To Compare</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mt--24 mt_sm--16">
        <div
            class="rbt-card rbt-product-card rbt-product-card-style-2 product-variation-two transform-variation-two rbt-scroll-trigger fade_in animation-order-8">
            <div class="background-expand"></div>
            <div class="card-inner">
                <div class="rbt-card-img rbt-bg-color-white rbt-scroll-trigger zoom_in animation-order-8">
                    <a href="product-single-default.html"><img class="rbt-prd-img"
                            src="assets/images/product-img/furniture/transp/fp-img-8.webp" alt="Card Image"></a>
                    <div class="rbt-badge-wrapper rbt-content-top-left">
                        <div class="rbt-product-badge rbt-product-badge-bg-yellow border-rounded">Trending</div>
                    </div>
                    <button class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips"
                        type="button" data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                            class="fa-regular fa-heart"></i></button>
                    <ul class="product-hover-slider-list hover-slider-activation">
                        <li><a class="active" href="#0"
                                data-src="assets/images/product-img/furniture/transp/fp-img-8.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-2.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-3.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-4.webp"></a></li>
                    </ul>
                </div>
                <div class="rbt-card-body rbt-bg-color-white">
                    <div class="rbt-card-top-content">
                        <div class="rbt-color-select-area">
                            <ul class="rbt-switcher-color-list product-switcher-activation">
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#bb921f"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-1.webp"
                                        data-tooltip="Yellow" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#a4a195"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-2.webp"
                                        data-tooltip="Brown" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li class="active"><a class="rbt-switcher--color tooltips" data-switcher-color="#dbb795"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-3.webp"
                                        data-tooltip="Wood Color" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#335d66"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-4.webp"
                                        data-tooltip="Royel Green" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                            </ul>
                            <a class="prd-link-text" href="product-single-default.html">+3 More Items</a>
                        </div>
                        <a href="shop-by-categories.html" class="rbt-card-subtitle rbt-card-catagories-text">Unique
                            Tables</a>
                        <h2 class="rbt-card-title"><a href="product-single-default.html">Modern Coffee Table with
                                Artistic Base - Comfort Product</a></h2>
                        <div class="rbt-card-rating">
                            <ul class="rbt-rating-icon-list">
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                            </ul>
                            <p class="rating-digit">(25)</p>
                        </div>
                        <div class="pricing-part">
                            <del class="price-text">₹196.00</del>
                            <span class="price-text">₹189.00</span>
                        </div>
                    </div>
                    <div class="rbt-card-footer d-block footer-content-btn">
                        <div class="prd-btn-grp">
                            <a class="rbt-btn rbt-btn-primary rbt-btn-sm rbt-square-btn d-block has-left-icon rbt-cart-sidenav-activation"
                                href="#"><i class="fa-regular fa-cart-shopping"></i> Add To Cart</a>
                            <a class="rbt-btn rbt-btn-border rbt-btn-sm rbt-square-btn d-block rbt-btn-transparent has-left-icon rbt-compare-btn-activation"
                                href="#"><i class="fa-regular fa-file-plus-minus"></i>Add To Compare</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 mt--24 mt_sm--16">
        <div
            class="rbt-card rbt-product-card rbt-product-card-style-2 product-variation-two transform-variation-two rbt-scroll-trigger fade_in animation-order-1">
            <div class="background-expand"></div>
            <div class="card-inner">
                <div class="rbt-card-img rbt-bg-color-white rbt-scroll-trigger zoom_in animation-order-1">
                    <a href="product-single-default.html"><img class="rbt-prd-img"
                            src="assets/images/product-img/furniture/transp/fp-img-1.webp" alt="Card Image"></a>
                    <div class="rbt-badge-wrapper rbt-content-top-left">
                        <div class="rbt-product-badge rbt-product-badge-bg-green border-rounded">New</div>
                    </div>
                    <button class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips"
                        type="button" data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                            class="fa-regular fa-heart"></i></button>
                    <ul class="product-hover-slider-list hover-slider-activation">
                        <li><a class="active" href="#0"
                                data-src="assets/images/product-img/furniture/transp/fp-img-1.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-2.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-3.webp"></a></li>
                        <li><a href="#0" data-src="assets/images/product-img/furniture/transp/fp-img-4.webp"></a></li>
                    </ul>
                </div>
                <div class="rbt-card-body rbt-bg-color-white">
                    <div class="rbt-card-top-content">
                        <div class="rbt-color-select-area">
                            <ul class="rbt-switcher-color-list product-switcher-activation">
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#bb921f"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-1.webp"
                                        data-tooltip="Yellow" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#a4a195"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-2.webp"
                                        data-tooltip="Brown" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li class="active"><a class="rbt-switcher--color tooltips" data-switcher-color="#dbb795"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-3.webp"
                                        data-tooltip="Wood Color" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                                <li><a class="rbt-switcher--color tooltips" data-switcher-color="#335d66"
                                        data-src="assets/images/product-img/furniture/transp/fp-img-4.webp"
                                        data-tooltip="Royel Green" data-tooltip-position="top" href="#">
                                        <div class="rbt-color-circle"></div>
                                    </a></li>
                            </ul>
                            <a class="prd-link-text" href="product-single-default.html">+3 More Items</a>
                        </div>
                        <a href="shop-by-categories.html" class="rbt-card-subtitle rbt-card-catagories-text">Sofa &
                            Homies</a>
                        <h2 class="rbt-card-title"><a href="product-single-default.html">Klipsch R-120SW Beautiful 5'5"
                                Qualitiful Sofa Homies</a></h2>
                        <div class="rbt-card-rating">
                            <ul class="rbt-rating-icon-list">
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                            </ul>
                            <p class="rating-digit">(25)</p>
                        </div>
                        <div class="pricing-part">
                            <del class="price-text">₹295.00</del>
                            <span class="price-text">₹179.98</span>
                        </div>
                    </div>
                    <div class="rbt-card-footer d-block footer-content-btn">
                        <div class="prd-btn-grp">
                            <a class="rbt-btn rbt-btn-primary rbt-btn-sm rbt-square-btn d-block has-left-icon rbt-cart-sidenav-activation"
                                href="#"><i class="fa-regular fa-cart-shopping"></i> Add To Cart</a>
                            <a class="rbt-btn rbt-btn-border rbt-btn-sm rbt-square-btn d-block rbt-btn-transparent has-left-icon rbt-compare-btn-activation"
                                href="#"><i class="fa-regular fa-file-plus-minus"></i>Add To Compare</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->
</div>
<!-- End Card Area -->