<div class="row row--12">
    <!-- Start Single Card  -->
    <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-6 col-6 mt--24 mt_sm--16">
        <div class="rbt-card rbt-product-card rbt-scroll-trigger fade_in animation-order-1">
            <div class="rbt-card-img top-rounded-md">
                <a href="product-single-default.html"><img class="rbt-scroll-trigger fade_in animation-order-1"
                        src="assets/images/product-img/beauty-product/beauty-product-st-05.webp" alt="Card Image"></a>
                <div class="rbt-product-badge rbt-product-badge-bg-primary rbt-badge-top-left--position">SALE</div>
                <div class="rbt-quick-btn-grp has-mixup-midlayer rbt-top-right--position hover-variation-one">
                    <button class="rbt-wishlisted-btn bg-light-one rbt-quick-btn tooltips" type="button"
                        data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                            class="fa-regular fa-heart"></i><span></span></button>
                    <button class="rbt-watch-btn bg-light-one rbt-quick-btn tooltips" data-tooltip="Quick View"
                        data-tooltip-position="left" type="button" data-bs-toggle="modal"
                        data-bs-target="#quickviewModal"><i
                            class="fa-sharp fa-regular fa-magnifying-glass"></i><span></span></button>
                </div>
                <a class="rbt-btn hover-appear-element bottom-position text-center rbt-btn-sm rbt-square-btn d-block has-left-icon"
                    data-bs-toggle="modal" data-bs-target="#quickviewModal" href="#!">Select Option</a>
            </div>
            <div class="rbt-card-body rbt-card-body-center-align">
                <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">Gel</a>
                <h2 class="rbt-card-title"><a href="product-single-default.html">Neutrogena Hydro Boost Water Gel</a>
                </h2>
                <div class="rbt-card-rating">
                    <ul class="rbt-rating-icon-list">
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                    </ul>
                    <p class="rating-digit">(25)</p>
                    <span class="icon"><i class="fa-sharp fa-solid fa-truck-fast"></i></span>
                </div>
                <div class="pricing-part">
                    <del class="price-text">₹345.00</del>
                    <span class="price-text">₹149.98</span>
                    <span class="rbt-offer-badge">-30%</span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-6 col-6 mt--24 mt_sm--16">
        <div class="rbt-card rbt-product-card rbt-scroll-trigger fade_in animation-order-2">
            <div class="rbt-card-img top-rounded-md">
                <a href="product-single-default.html"><img class="rbt-scroll-trigger fade_in animation-order-2"
                        src="assets/images/product-img/beauty-product/beauty-product-st-06.webp" alt="Card Image"></a>
                <div class="rbt-product-badge rbt-product-badge-bg-primary rbt-badge-top-left--position">SALE</div>
                <div class="rbt-quick-btn-grp has-mixup-midlayer rbt-top-right--position hover-variation-one">
                    <button class="rbt-wishlisted-btn bg-light-one rbt-quick-btn tooltips" type="button"
                        data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                            class="fa-regular fa-heart"></i></button>
                    <button class="rbt-watch-btn bg-light-one rbt-quick-btn tooltips" data-tooltip="Quick View"
                        data-tooltip-position="left" type="button" data-bs-toggle="modal"
                        data-bs-target="#quickviewModal"><i
                            class="fa-sharp fa-regular fa-magnifying-glass"></i><span></span></button>
                </div>
                <a class="rbt-btn hover-appear-element bottom-position text-center rbt-btn-sm rbt-square-btn d-block has-left-icon"
                    data-bs-toggle="modal" data-bs-target="#quickviewModal" href="#!">Select Option</a>
            </div>
            <div class="rbt-card-body rbt-card-body-center-align">
                <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">Sunscreen</a>
                <h2 class="rbt-card-title"><a href="product-single-default.html">La Roche-Posay Anthelios Sunscreen</a>
                </h2>
                <div class="rbt-card-rating">
                    <ul class="rbt-rating-icon-list">
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                    </ul>
                    <p class="rating-digit">(25)</p>
                    <span class="icon"><i class="fa-sharp fa-solid fa-truck-fast"></i></span>
                </div>
                <div class="pricing-part">
                    <del class="price-text">₹255.00</del>
                    <span class="price-text">₹159.69</span>
                    <span class="rbt-offer-badge">-30%</span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-6 col-6 mt--24 mt_sm--16">
        <div class="rbt-card rbt-product-card rbt-scroll-trigger fade_in animation-order-3">
            <div class="rbt-card-img top-rounded-md">
                <a href="product-single-default.html"><img class="rbt-scroll-trigger fade_in animation-order-3"
                        src="assets/images/product-img/beauty-product/beauty-product-st-07.webp" alt="Card Image"></a>
                <div class="rbt-product-badge rbt-product-badge-bg-primary rbt-badge-top-left--position">SALE</div>
                <div class="rbt-quick-btn-grp has-mixup-midlayer rbt-top-right--position hover-variation-one">
                    <button class="rbt-wishlisted-btn bg-light-one rbt-quick-btn tooltips" type="button"
                        data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                            class="fa-regular fa-heart"></i><span></span></button>
                    <button class="rbt-watch-btn bg-light-one rbt-quick-btn tooltips" data-tooltip="Quick View"
                        data-tooltip-position="left" type="button" data-bs-toggle="modal"
                        data-bs-target="#quickviewModal"><i
                            class="fa-sharp fa-regular fa-magnifying-glass"></i><span></span></button>
                </div>
                <a class="rbt-btn hover-appear-element bottom-position text-center rbt-btn-sm rbt-square-btn d-block has-left-icon"
                    data-bs-toggle="modal" data-bs-target="#quickviewModal" href="#!">Select Option</a>
            </div>
            <div class="rbt-card-body rbt-card-body-center-align">
                <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">Cream</a>
                <h2 class="rbt-card-title"><a href="product-single-default.html">CeraVe Hydrating Facial Cleanser</a>
                </h2>
                <div class="rbt-card-rating">
                    <ul class="rbt-rating-icon-list">
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                    </ul>
                    <p class="rating-digit">(25)</p>
                    <span class="icon"><i class="fa-sharp fa-solid fa-truck-fast"></i></span>
                </div>
                <div class="pricing-part">
                    <del class="price-text">₹435.00</del>
                    <span class="price-text">₹378.99</span>
                    <span class="rbt-offer-badge">-30%</span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-6 col-6 mt--24 mt_sm--16">
        <div class="rbt-card rbt-product-card rbt-scroll-trigger fade_in animation-order-4">
            <div class="rbt-card-img top-rounded-md">
                <a href="product-single-default.html"><img class="rbt-scroll-trigger fade_in animation-order-4"
                        src="assets/images/product-img/beauty-product/beauty-product-st-08.webp" alt="Card Image"></a>
                <div class="rbt-product-badge rbt-product-badge-bg-primary rbt-badge-top-left--position">SALE</div>
                <div class="rbt-quick-btn-grp has-mixup-midlayer rbt-top-right--position hover-variation-one">
                    <button class="rbt-wishlisted-btn bg-light-one rbt-quick-btn tooltips" type="button"
                        data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                            class="fa-regular fa-heart"></i><span></span></button>
                    <button class="rbt-watch-btn bg-light-one rbt-quick-btn tooltips" data-tooltip="Quick View"
                        data-tooltip-position="left" type="button" data-bs-toggle="modal"
                        data-bs-target="#quickviewModal"><i
                            class="fa-sharp fa-regular fa-magnifying-glass"></i><span></span></button>
                </div>
                <a class="rbt-btn hover-appear-element bottom-position text-center rbt-btn-sm rbt-square-btn d-block has-left-icon"
                    data-bs-toggle="modal" data-bs-target="#quickviewModal" href="#!">Select Option</a>
            </div>
            <div class="rbt-card-body rbt-card-body-center-align">
                <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">Serum</a>
                <h2 class="rbt-card-title"><a href="product-single-default.html">The Ordinary Hyaluronic Acid 2% +
                        B5y</a></h2>
                <div class="rbt-card-rating">
                    <ul class="rbt-rating-icon-list">
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                    </ul>
                    <p class="rating-digit">(25)</p>
                    <span class="icon"><i class="fa-sharp fa-solid fa-truck-fast"></i></span>
                </div>
                <div class="pricing-part">
                    <del class="price-text">₹195.00</del>
                    <span class="price-text">₹176.99</span>
                    <span class="rbt-offer-badge">-30%</span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-6 col-6 mt--24 mt_sm--16">
        <div class="rbt-card rbt-product-card rbt-scroll-trigger fade_in animation-order-1">
            <div class="rbt-card-img top-rounded-md">
                <a href="product-single-default.html"><img class="rbt-scroll-trigger fade_in animation-order-1"
                        src="assets/images/product-img/beauty-product/beauty-product-st-05.webp" alt="Card Image"></a>
                <div class="rbt-product-badge rbt-product-badge-bg-primary rbt-badge-top-left--position">SALE</div>
                <div class="rbt-quick-btn-grp has-mixup-midlayer rbt-top-right--position hover-variation-one">
                    <button class="rbt-wishlisted-btn bg-light-one rbt-quick-btn tooltips" type="button"
                        data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                            class="fa-regular fa-heart"></i><span></span></button>
                    <button class="rbt-watch-btn bg-light-one rbt-quick-btn tooltips" data-tooltip="Quick View"
                        data-tooltip-position="left" type="button" data-bs-toggle="modal"
                        data-bs-target="#quickviewModal"><i
                            class="fa-sharp fa-regular fa-magnifying-glass"></i><span></span></button>
                </div>
                <a class="rbt-btn hover-appear-element bottom-position text-center rbt-btn-sm rbt-square-btn d-block has-left-icon"
                    data-bs-toggle="modal" data-bs-target="#quickviewModal" href="#!">Select Option</a>
            </div>
            <div class="rbt-card-body rbt-card-body-center-align">
                <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">Cream</a>
                <h2 class="rbt-card-title"><a href="product-single-default.html">Drunk Elephant Protini Polypeptide
                        Cream</a></h2>
                <div class="rbt-card-rating">
                    <ul class="rbt-rating-icon-list">
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                    </ul>
                    <p class="rating-digit">(25)</p>
                    <span class="icon"><i class="fa-sharp fa-solid fa-truck-fast"></i></span>
                </div>
                <div class="pricing-part">
                    <del class="price-text">₹695.00</del>
                    <span class="price-text">₹659.88</span>
                    <span class="rbt-offer-badge">-30%</span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-6 col-6 mt--24 mt_sm--16">
        <div class="rbt-card rbt-product-card rbt-scroll-trigger fade_in animation-order-2">
            <div class="rbt-card-img top-rounded-md">
                <a href="product-single-default.html"><img class="rbt-scroll-trigger fade_in animation-order-2"
                        src="assets/images/product-img/beauty-product/beauty-product-st-06.webp" alt="Card Image"></a>
                <div class="rbt-product-badge rbt-product-badge-bg-primary rbt-badge-top-left--position">SALE</div>
                <div class="rbt-quick-btn-grp has-mixup-midlayer rbt-top-right--position hover-variation-one">
                    <button class="rbt-wishlisted-btn bg-light-one rbt-quick-btn tooltips" type="button"
                        data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                            class="fa-regular fa-heart"></i></button>
                    <button class="rbt-watch-btn bg-light-one rbt-quick-btn tooltips" data-tooltip="Quick View"
                        data-tooltip-position="left" type="button" data-bs-toggle="modal"
                        data-bs-target="#quickviewModal"><i
                            class="fa-sharp fa-regular fa-magnifying-glass"></i><span></span></button>
                </div>
                <a class="rbt-btn hover-appear-element bottom-position text-center rbt-btn-sm rbt-square-btn d-block has-left-icon"
                    data-bs-toggle="modal" data-bs-target="#quickviewModal" href="#!">Select Option</a>
            </div>
            <div class="rbt-card-body rbt-card-body-center-align">
                <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">Foundation</a>
                <h2 class="rbt-card-title"><a href="product-single-default.html">Tatcha The Dewy Skin Cream</a></h2>
                <div class="rbt-card-rating">
                    <ul class="rbt-rating-icon-list">
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                    </ul>
                    <p class="rating-digit">(25)</p>
                    <span class="icon"><i class="fa-sharp fa-solid fa-truck-fast"></i></span>
                </div>
                <div class="pricing-part">
                    <del class="price-text">₹295.00</del>
                    <span class="price-text">₹179.98</span>
                    <span class="rbt-offer-badge">-30%</span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-6 col-6 mt--24 mt_sm--16">
        <div class="rbt-card rbt-product-card rbt-scroll-trigger fade_in animation-order-3">
            <div class="rbt-card-img top-rounded-md">
                <a href="product-single-default.html"><img class="rbt-scroll-trigger fade_in animation-order-3"
                        src="assets/images/product-img/beauty-product/beauty-product-st-07.webp" alt="Card Image"></a>
                <div class="rbt-product-badge rbt-product-badge-bg-primary rbt-badge-top-left--position">SALE</div>
                <div class="rbt-quick-btn-grp has-mixup-midlayer rbt-top-right--position hover-variation-one">
                    <button class="rbt-wishlisted-btn bg-light-one rbt-quick-btn tooltips" type="button"
                        data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                            class="fa-regular fa-heart"></i><span></span></button>
                    <button class="rbt-watch-btn bg-light-one rbt-quick-btn tooltips" data-tooltip="Quick View"
                        data-tooltip-position="left" type="button" data-bs-toggle="modal"
                        data-bs-target="#quickviewModal"><i
                            class="fa-sharp fa-regular fa-magnifying-glass"></i><span></span></button>
                </div>
                <a class="rbt-btn hover-appear-element bottom-position text-center rbt-btn-sm rbt-square-btn d-block has-left-icon"
                    data-bs-toggle="modal" data-bs-target="#quickviewModal" href="#!">Select Option</a>
            </div>
            <div class="rbt-card-body rbt-card-body-center-align">
                <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">Cream</a>
                <h2 class="rbt-card-title"><a href="product-single-default.html">Olay Regenerist Micro-Sculpting
                        Cream</a></h2>
                <div class="rbt-card-rating">
                    <ul class="rbt-rating-icon-list">
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                    </ul>
                    <p class="rating-digit">(25)</p>
                    <span class="icon"><i class="fa-sharp fa-solid fa-truck-fast"></i></span>
                </div>
                <div class="pricing-part">
                    <del class="price-text">₹295.00</del>
                    <span class="price-text">₹179.98</span>
                    <span class="rbt-offer-badge">-30%</span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-6 col-6 mt--24 mt_sm--16">
        <div class="rbt-card rbt-product-card rbt-scroll-trigger fade_in animation-order-4">
            <div class="rbt-card-img top-rounded-md">
                <a href="product-single-default.html"><img class="rbt-scroll-trigger fade_in animation-order-4"
                        src="assets/images/product-img/beauty-product/beauty-product-st-08.webp" alt="Card Image"></a>
                <div class="rbt-product-badge rbt-product-badge-bg-primary rbt-badge-top-left--position">SALE</div>
                <div class="rbt-quick-btn-grp has-mixup-midlayer rbt-top-right--position hover-variation-one">
                    <button class="rbt-wishlisted-btn bg-light-one rbt-quick-btn tooltips" type="button"
                        data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                            class="fa-regular fa-heart"></i><span></span></button>
                    <button class="rbt-watch-btn bg-light-one rbt-quick-btn tooltips" data-tooltip="Quick View"
                        data-tooltip-position="left" type="button" data-bs-toggle="modal"
                        data-bs-target="#quickviewModal"><i
                            class="fa-sharp fa-regular fa-magnifying-glass"></i><span></span></button>
                </div>
                <a class="rbt-btn hover-appear-element bottom-position text-center rbt-btn-sm rbt-square-btn d-block has-left-icon"
                    data-bs-toggle="modal" data-bs-target="#quickviewModal" href="#!">Select Option</a>
            </div>
            <div class="rbt-card-body rbt-card-body-center-align">
                <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">Gel</a>
                <h2 class="rbt-card-title"><a href="product-single-default.html">Neutrogena Hydro Boost Water Gel</a>
                </h2>
                <div class="rbt-card-rating">
                    <ul class="rbt-rating-icon-list">
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                    </ul>
                    <p class="rating-digit">(25)</p>
                    <span class="icon"><i class="fa-sharp fa-solid fa-truck-fast"></i></span>
                </div>
                <div class="pricing-part">
                    <del class="price-text">₹295.00</del>
                    <span class="price-text">₹179.98</span>
                    <span class="rbt-offer-badge">-30%</span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-6 col-6 mt--24 mt_sm--16">
        <div class="rbt-card rbt-product-card rbt-scroll-trigger fade_in animation-order-3">
            <div class="rbt-card-img top-rounded-md">
                <a href="product-single-default.html"><img class="rbt-scroll-trigger fade_in animation-order-3"
                        src="assets/images/product-img/beauty-product/beauty-product-st-05.webp" alt="Card Image"></a>
                <div class="rbt-product-badge rbt-product-badge-bg-primary rbt-badge-top-left--position">SALE</div>
                <div class="rbt-quick-btn-grp has-mixup-midlayer rbt-top-right--position hover-variation-one">
                    <button class="rbt-wishlisted-btn bg-light-one rbt-quick-btn tooltips" type="button"
                        data-tooltip="Add to wishlist" data-tooltip-position="left"><i
                            class="fa-regular fa-heart"></i><span></span></button>
                    <button class="rbt-watch-btn bg-light-one rbt-quick-btn tooltips" data-tooltip="Quick View"
                        data-tooltip-position="left" type="button" data-bs-toggle="modal"
                        data-bs-target="#quickviewModal"><i
                            class="fa-sharp fa-regular fa-magnifying-glass"></i><span></span></button>
                </div>
                <a class="rbt-btn hover-appear-element bottom-position text-center rbt-btn-sm rbt-square-btn d-block has-left-icon"
                    data-bs-toggle="modal" data-bs-target="#quickviewModal" href="#!">Select Option</a>
            </div>
            <div class="rbt-card-body rbt-card-body-center-align">
                <a href="#" class="rbt-card-subtitle rbt-card-catagories-text">Foundation</a>
                <h2 class="rbt-card-title"><a href="product-single-default.html">Neutrogena Hydro Boost Water Gel</a>
                </h2>
                <div class="rbt-card-rating">
                    <ul class="rbt-rating-icon-list">
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                        <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                    </ul>
                    <p class="rating-digit">(25)</p>
                    <span class="icon"><i class="fa-sharp fa-solid fa-truck-fast"></i></span>
                </div>
                <div class="pricing-part">
                    <del class="price-text">₹295.00</del>
                    <span class="price-text">₹179.98</span>
                    <span class="rbt-offer-badge">-30%</span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->
</div>