<!-- Start Banner Area -->
<div class="rbt-builder-banner rbt-builder-banner-var-2 rbt-splash-banner-bg-var-1 rbt-splash-banner-area @@variation-class">
    <div class="rbt-splash-builder-banner-wider">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="rbt-splash-section-title text-center">
                        <span class="subtitle">@@subtitle</span>
                        <h2 class="rbt-title mb--24">
                            <span class="rbt-bold--text">@@titleBold<br></span>
                            <span class="rbt-title-sm-text">@@titleRegular</span>
                        </h2>
                        <p class="rbt-description">
                            @@description
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="rbt-banner-part-right">
                        <div class="rbt-content">
                            <figure>
                                <img src="assets/images/splash/builder-element/@@imageURL" alt="Component Image">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="rbt-splash-btn-circle rbt-scroll-down-btn">
                <img class="rbt-animate-rotaion-forward" src="assets/images/splash/others/circle-btn-text.png"
                    alt="Text Image">
                <span class="circle-btn-center-icon">
                    <img src="assets/images/splash/icons/icon21.png" alt="Icon">
                </span>
            </a>
        </div>
    </div>
</div>
<!-- End Banner Area -->