<!-- Start Features Navigation area -->
<div id="rbt-feature-list-section" class="rbt-section-gap rbt-bg-color-gray-light position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="rbt-splash-section-title text-center mb_sm--24">
                    <span class="subtitle">Enhance Your Website</span>
                    <h2 class="mb--12">
                        <span class="rbt-text-bold">More Optionality Details<br></span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row row--12 mt_dec--24 justify-content-center">
            <div class="col-6 col-md-6 col-lg-4 col-xl-3 mt--24">
                <a href="header-builder.html"
                    class="rbt-feature-navigation-card rbt-color-var-4 rbt-scroll-trigger fade_in animation-order-1">
                    <div class="rbt-card-top">
                        <figure>
                            <img src="assets/images/splash/feature/feature-list-img4.webp" alt="Feature Image">
                        </figure>
                    </div>
                    <div class="rbt-shape"></div>
                    <div class="rbt-card-bottom">
                        <div class="rbt-inner">
                            <div class="rbt-feature-info">
                                <h2 class="rbt-title h6">
                                    <span>Ultimate Header Layouts</span>
                                </h2>
                                <span>20+ Components, 14+ Variants</span>
                            </div>
                            <span class="rbt-icon-overlay-link-btn d-none d-md-block">
                                <span class="rbt-btn-overlay">
                                    <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 col-xl-3 mt--24">
                <a href="footer-builder.html"
                    class="rbt-feature-navigation-card rbt-color-var-6 rbt-scroll-trigger fade_in animation-order-1">
                    <div class="rbt-card-top">
                        <figure>
                            <img src="assets/images/splash/feature/feature-list-img6.webp" alt="Feature Image">
                        </figure>
                    </div>
                    <div class="rbt-shape"></div>
                    <div class="rbt-card-bottom">
                        <div class="rbt-inner">
                            <div class="rbt-feature-info">
                                <h2 class="rbt-title h6">
                                    <span>Excessive Footer Variation</span>
                                </h2>
                                <span>20+ Components, 14+ Variants</span>
                            </div>
                            <span class="rbt-icon-overlay-link-btn d-none d-md-block">
                                <span class="rbt-btn-overlay">
                                    <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 col-xl-3 mt--24">
                <a href="advanced-megamenu.html"
                    class="rbt-feature-navigation-card rbt-color-var-7 rbt-scroll-trigger fade_in animation-order-1">
                    <div class="rbt-card-top">
                        <figure>
                            <img src="assets/images/splash/feature/feature-list-img7.webp" alt="Feature Image">
                        </figure>
                    </div>
                    <div class="rbt-shape"></div>
                    <div class="rbt-card-bottom">
                        <div class="rbt-inner">
                            <div class="rbt-feature-info">
                                <h2 class="rbt-title h6">
                                    <span>Advanced Mega Menu</span>
                                </h2>
                                <span>9+ Components, 11+ Variants</span>
                            </div>
                            <span class="rbt-icon-overlay-link-btn d-none d-md-block">
                                <span class="rbt-btn-overlay">
                                    <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 col-xl-3 mt--24">
                <a href="popup-builder.html"
                    class="rbt-feature-navigation-card rbt-color-var-8 rbt-scroll-trigger fade_in animation-order-1">
                    <div class="rbt-card-top">
                        <figure>
                            <img src="assets/images/splash/feature/feature-list-img8.webp" alt="Feature Image">
                        </figure>
                    </div>
                    <div class="rbt-shape"></div>
                    <div class="rbt-card-bottom">
                        <div class="rbt-inner">
                            <div class="rbt-feature-info">
                                <h2 class="rbt-title h6">
                                    <span>Popup & Sidebar Search</span>
                                </h2>
                                <span>30+ Components, 15+ Variants</span>
                            </div>
                            <span class="rbt-icon-overlay-link-btn d-none d-md-block">
                                <span class="rbt-btn-overlay">
                                    <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 col-xl-3 mt--24">
                <a href="product-display.html"
                    class="rbt-feature-navigation-card rbt-color-var-1 rbt-scroll-trigger fade_in animation-order-1">
                    <div class="rbt-card-top">
                        <figure>
                            <img src="assets/images/splash/feature/feature-list-img21.webp" alt="Feature Image">
                        </figure>
                    </div>
                    <div class="rbt-shape"></div>
                    <div class="rbt-card-bottom">
                        <div class="rbt-inner">
                            <div class="rbt-feature-info">
                                <h2 class="rbt-title h6">
                                    <span>Product Video & 3D View</span>
                                </h2>
                                <span>4 Components, 4+ Variants</span>
                            </div>
                            <span class="rbt-icon-overlay-link-btn d-none d-md-block">
                                <span class="rbt-btn-overlay">
                                    <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 col-xl-3 mt--24">
                <a href="variant-switcher.html"
                    class="rbt-feature-navigation-card rbt-color-var-3 rbt-scroll-trigger fade_in animation-order-1">
                    <div class="rbt-card-top">
                        <figure>
                            <img src="assets/images/splash/feature/feature-list-img13.webp" alt="Feature Image">
                        </figure>
                    </div>
                    <div class="rbt-shape"></div>
                    <div class="rbt-card-bottom">
                        <div class="rbt-inner">
                            <div class="rbt-feature-info">
                                <h2 class="rbt-title h6">
                                    <span>Variant Swatches</span>
                                </h2>
                                <span>14+ Components, 10+ Variants</span>
                            </div>
                            <span class="rbt-icon-overlay-link-btn d-none d-md-block">
                                <span class="rbt-btn-overlay">
                                    <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 col-xl-3 mt--24">
                <a href="boost-features.html"
                    class="rbt-feature-navigation-card rbt-color-var-9 rbt-scroll-trigger fade_in animation-order-1">
                    <div class="rbt-card-top">
                        <figure>
                            <img src="assets/images/splash/feature/feature-list-img9.webp" alt="Feature Image">
                        </figure>
                    </div>
                    <div class="rbt-shape"></div>
                    <div class="rbt-card-bottom">
                        <div class="rbt-inner">
                            <div class="rbt-feature-info">
                                <h2 class="rbt-title h6">
                                    <span>All Boost Sales Features</span>
                                </h2>
                                <span>10+ Components, 10+ Variants</span>
                            </div>
                            <span class="rbt-icon-overlay-link-btn d-none d-md-block">
                                <span class="rbt-btn-overlay">
                                    <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 col-xl-3 mt--24">
                <a href="compare-table-builder.html"
                    class="rbt-feature-navigation-card rbt-color-var-4 rbt-scroll-trigger fade_in animation-order-1">
                    <div class="rbt-card-top">
                        <figure>
                            <img src="assets/images/splash/feature/feature-list-img14.webp" alt="Feature Image">
                        </figure>
                    </div>
                    <div class="rbt-shape"></div>
                    <div class="rbt-card-bottom">
                        <div class="rbt-inner">
                            <div class="rbt-feature-info">
                                <h2 class="rbt-title h6">
                                    <span>Product Compare</span>
                                </h2>
                                <span>1 Components, 1 Variants</span>
                            </div>
                            <span class="rbt-icon-overlay-link-btn d-none d-md-block">
                                <span class="rbt-btn-overlay">
                                    <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 col-xl-3 mt--24">
                <a href="product-filtering.html"
                    class="rbt-feature-navigation-card rbt-color-var-2 rbt-scroll-trigger fade_in animation-order-1">
                    <div class="rbt-card-top">
                        <figure>
                            <img src="assets/images/splash/feature/feature-list-img12.webp" alt="Feature Image">
                        </figure>
                    </div>
                    <div class="rbt-shape"></div>
                    <div class="rbt-card-bottom">
                        <div class="rbt-inner">
                            <div class="rbt-feature-info">
                                <h2 class="rbt-title h6">
                                    <span>Smart Product Filtering</span>
                                </h2>
                                <span>10+ Components, 8+ Variants</span>
                            </div>
                            <span class="rbt-icon-overlay-link-btn d-none d-md-block">
                                <span class="rbt-btn-overlay">
                                    <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 col-xl-3 mt--24">
                <a href="wishlist-builder.html"
                    class="rbt-feature-navigation-card rbt-color-var-5 rbt-scroll-trigger fade_in animation-order-1">
                    <div class="rbt-card-top">
                        <figure>
                            <img src="assets/images/splash/feature/feature-list-img15.webp" alt="Feature Image">
                        </figure>
                    </div>
                    <div class="rbt-shape"></div>
                    <div class="rbt-card-bottom">
                        <div class="rbt-inner">
                            <div class="rbt-feature-info">
                                <h2 class="rbt-title h6">
                                    <span>Wishlists Variation</span>
                                </h2>
                                <span>4 Components, 4 Variants</span>
                            </div>
                            <span class="rbt-icon-overlay-link-btn d-none d-md-block">
                                <span class="rbt-btn-overlay">
                                    <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 col-xl-3 mt--24">
                <a href="size-chart-builder.html"
                    class="rbt-feature-navigation-card rbt-color-var-9 rbt-scroll-trigger fade_in animation-order-1">
                    <div class="rbt-card-top">
                        <figure>
                            <img src="assets/images/splash/feature/feature-list-img19.webp" alt="Feature Image">
                        </figure>
                    </div>
                    <div class="rbt-shape"></div>
                    <div class="rbt-card-bottom">
                        <div class="rbt-inner">
                            <div class="rbt-feature-info">
                                <h2 class="rbt-title h6">
                                    <span>Size Chart Variation</span>
                                </h2>
                                <span>2 Components, 2 Variants</span>
                            </div>
                            <span class="rbt-icon-overlay-link-btn d-none d-md-block">
                                <span class="rbt-btn-overlay">
                                    <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 col-xl-3 mt--24">
                <a href="stock-progressbar.html"
                    class="rbt-feature-navigation-card rbt-color-var-2 rbt-scroll-trigger fade_in animation-order-1">
                    <div class="rbt-card-top">
                        <figure>
                            <img src="assets/images/splash/feature/feature-list-img32.webp" alt="Feature Image">
                        </figure>
                    </div>
                    <div class="rbt-shape"></div>
                    <div class="rbt-card-bottom">
                        <div class="rbt-inner">
                            <div class="rbt-feature-info">
                                <h2 class="rbt-title h6">
                                    <span>Stock Progress Bar</span>
                                </h2>
                                <span>3 Components, 3 Variants</span>
                            </div>
                            <span class="rbt-icon-overlay-link-btn d-none d-md-block">
                                <span class="rbt-btn-overlay">
                                    <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 col-xl-3 mt--24">
                <a href="page-customizability.html"
                    class="rbt-feature-navigation-card rbt-color-var-2 rbt-scroll-trigger fade_in animation-order-1">
                    <div class="rbt-card-top">
                        <figure>
                            <img src="assets/images/splash/feature/feature-list-img2.webp" alt="Feature Image">
                        </figure>
                    </div>
                    <div class="rbt-shape"></div>
                    <div class="rbt-card-bottom">
                        <div class="rbt-inner">
                            <div class="rbt-feature-info">
                                <h2 class="rbt-title h6">
                                    <span>Highly Customizable Elements</span>
                                </h2>
                                <span>500+ Ready Components.</span>
                            </div>
                            <span class="rbt-icon-overlay-link-btn d-none d-md-block">
                                <span class="rbt-btn-overlay">
                                    <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 col-xl-3 mt--24">
                <a href="customize-options.html"
                    class="rbt-feature-navigation-card rbt-color-var-1 rbt-scroll-trigger fade_in animation-order-1">
                    <div class="rbt-card-top">
                        <figure>
                            <img src="assets/images/splash/feature/feature-list-img1.webp" alt="Feature Image">
                        </figure>
                    </div>
                    <div class="rbt-shape"></div>
                    <div class="rbt-card-bottom">
                        <div class="rbt-inner">
                            <div class="rbt-feature-info">
                                <h2 class="rbt-title h6">
                                    <span>Easy to Customize Code</span>
                                </h2>
                                <span>Built for developers & designers</span>
                            </div>
                            <span class="rbt-icon-overlay-link-btn d-none d-md-block">
                                <span class="rbt-btn-overlay">
                                    <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 col-xl-3 mt--24">
                <a href="performance.html"
                    class="rbt-feature-navigation-card rbt-color-var-3 rbt-scroll-trigger fade_in animation-order-1">
                    <div class="rbt-card-top">
                        <figure>
                            <img src="assets/images/splash/feature/feature-list-img3.webp" alt="Feature Image">
                        </figure>
                    </div>
                    <div class="rbt-shape"></div>
                    <div class="rbt-card-bottom">
                        <div class="rbt-inner">
                            <div class="rbt-feature-info">
                                <h2 class="rbt-title h6">
                                    <span>Fast Performance</span>
                                </h2>
                                <span>Optimized for smooth interactions</span>
                            </div>
                            <span class="rbt-icon-overlay-link-btn d-none d-md-block">
                                <span class="rbt-btn-overlay">
                                    <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-6 col-lg-4 col-xl-3 mt--24">
                <a href="mobile-first.html"
                    class="rbt-feature-navigation-card rbt-color-var-10 rbt-scroll-trigger fade_in animation-order-1">
                    <div class="rbt-card-top">
                        <figure>
                            <img src="assets/images/splash/feature/feature-list-img10.webp" alt="Feature Image">
                        </figure>
                    </div>
                    <div class="rbt-shape"></div>
                    <div class="rbt-card-bottom">
                        <div class="rbt-inner">
                            <div class="rbt-feature-info">
                                <h2 class="rbt-title h6">
                                    <span>Mobile-first Experience</span>
                                </h2>
                                <span>Seamless experience on all devices</span>
                            </div>
                            <span class="rbt-icon-overlay-link-btn d-none d-md-block">
                                <span class="rbt-btn-overlay">
                                    <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                    <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 mt--32 d-flex justify-content-center">
                <a href="feature-list.html"
                    class="rbt-btn splash-btn icon-reverse-left rbt-scroll-trigger fade_in animation-order-5">
                    <span class="icon-left"><i class="fa-sharp fa-regular fa-arrow-right mr--4"></i></span>
                    <span>View All Optionality</span>
                    <span class="icon-right"><i class="fa-regular fa-up-right-from-square ml--4"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Features Navigation area -->