<!-- Start Call to Action Area -->
<div class="splash-section-gap rbt-splash-call-to-action-area position-relative overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="rbt-splash-section-title text-center mb--0">
                    <span class="subtitle rbt-text-color-white rbt-scroll-trigger fade_in animation-order-1">Personalize
                        Your Template</span>
                    <h2 class="rbt-title rbt-text-color-white position-relative">
                        <span class="rbt-bold--text rbt-scroll-trigger fade_in animation-order-2">Grab <span
                                class="rbt-splash-gradient-text">RVN</span>
                            Now Before<br></span>
                        <span class="rbt-title-sm-text rbt-scroll-trigger fade_in animation-order-3">Price
                            Increase</span>
                    </h2>
                    <a href="https://themeforest.net/user/rainbow-themes/portfolio"
                        class="rbt-btn splash-btn icon-reverse-right rbt-scroll-trigger fade_in animation-order-4"
                        target="_blank">
                        <span class="icon-left"><i class="fa-sharp fa-solid fa-circle-play mr--4"></i></span>
                        <span>Purchase RVN</span>
                        <span class="icon-right"><i class="fa-sharp fa-regular fa-arrow-right ml--4"></i></span>
                    </a>
                    <div
                        class="mt--56 d-flex align-items-center justify-content-center gap-4 mb_sm--16 rbt-scroll-trigger fade_in animation-order-5">
                        <span class="b2 mb--0 rbt-text-color-gray-300 text-nowrap">Powered by</span>
                        <a href="https://themeforest.net/user/rainbow-themes/portfolio" target="_blank">
                            <img src="assets/images/splash/icons/rainbow-logo.png" alt="Rainbow Themes Logo">
                        </a>
                    </div>
                </div>
                <div class="rbt-component-image-wrap">
                    <div class="rbt-component-image image-1" data-parallax='{"x": 0, "y": -40}'>
                        <img class="rbt-scroll-trigger zoom_in animation-order-1"
                            src="assets/images/splash/others/component-image5.png" alt="Component Image">
                    </div>
                    <div class="rbt-component-image image-2" data-parallax='{"x": -40, "y": 0}'>
                        <img class="rbt-scroll-trigger zoom_in animation-order-2"
                            src="assets/images/splash/others/component-image6.png" alt="Component Image">
                    </div>
                    <div class="rbt-component-image image-3" data-parallax='{"x": 40, "y": 0}'>
                        <img class="rbt-scroll-trigger zoom_in animation-order-3"
                            src="assets/images/splash/others/component-image7.png" alt="Component Image">
                    </div>
                    <div class="rbt-component-image image-4" data-parallax='{"x": 0, "y": 40}'>
                        <img class="rbt-scroll-trigger zoom_in animation-order-4"
                            src="assets/images/splash/others/component-image8.png" alt="Component Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Call to Action Area -->

<!-- Start Scrollable Content Area -->
<div class="rbt-splash-scroll-area">
    <div class="rbt-scroll-animation-container">
        <div class="rbt-scroll-animation-wrapper rbt-no-overlay">
            <div class="wrapper">
                <div class="rbt-scroll-animation rbt-scroll-right-left">
                    <div class="rbt-single-column-100">
                        <div class="rbt-category-list">
                            <div><span class="rbt-catagory-icon">🔥</span> High Converting Bootstrap Template</div>
                            <div><span class="rbt-catagory-icon">🤯</span> File Size Only 800KB</div>
                            <div><span class="rbt-catagory-icon">🌪️</span> Hurry Up! The Price Will Increase Soon
                            </div>
                            <div><span class="rbt-catagory-icon">💥</span> Great Experience For Mobile Design</div>
                            <div><span class="rbt-catagory-icon">⚡</span> 35+ Customizable Sections</div>
                            <div><span class="rbt-catagory-icon">🧲</span> Discover Amazing Features</div>
                            <div><span class="rbt-catagory-icon">🤖</span> &nbsp;Build And Scale Up Your Store Today
                            </div>
                            <div><span class="rbt-catagory-icon">🔥</span> High Converting Bootstrap Template</div>
                            <div><span class="rbt-catagory-icon">🤯</span> File Size Only 800KB</div>
                            <div><span class="rbt-catagory-icon">🌪️</span> Hurry Up! The Price Will Increase Soon
                            </div>
                            <div><span class="rbt-catagory-icon">💥</span> Great Experience For Mobile Design</div>
                            <div><span class="rbt-catagory-icon">⚡</span> 35+ Customizable Sections</div>
                            <div><span class="rbt-catagory-icon">🧲</span> Discover Amazing Features</div>
                            <div><span class="rbt-catagory-icon">🤖</span> &nbsp;Build And Scale Up Your Store Today
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Scrollable Content Area -->