<!-- Start Support Area -->
<div class="rbt-support-area rbt-splash-common-sec-bg-2 position-relative">
    <div class="container">
        <div class="row row--12 mt_dec--24 pb--80 pt--80 pb_sm--48 pt_sm--48 rbt-splash-scroll flex-nowrap">
            <!-- Start Splash Service  -->
            <div class="col-10 col-md-5 col-lg-4 mt--24">
                <div class="rbt-splash-service rbt-scroll-trigger zoom_in animation-order-1">
                    <div class="inner">
                        <div class="icon">
                            <img src="assets/images/splash/icons/icon18.png" alt="Icon Images">
                        </div>
                        <div class="content">
                            <h2 class="rbt-title h4 mb--24 mb_sm--16">
                                <a href="https://html.getrvn.com/docs/" target="_blank">Online
                                    Documentation</a>
                            </h2>
                            <hr class="rbt-separator mb--24 mb_sm--16 rbt-bg-color-gray-light">
                            <p class="rbt-description">
                                Our documentation is highly comprehensive, providing detailed and user-friendly
                                explanations for each themes option.
                            </p>
                            <a href="https://html.getrvn.com/docs/"
                                class="rbt-btn splash-btn icon-reverse-left" target="_blank">
                                <span class="icon-left"><i class="fa-sharp fa-regular fa-arrow-right mr--4"></i></span>
                                <span>View Documentation</span>
                                <span class="icon-right"><i class="fa-sharp fa-regular fa-arrow-right ml--4"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Splash Service  -->

            <!-- Start Splash Service  -->
            <div class="col-10 col-md-5 col-lg-4 mt--24">
                <div class="rbt-splash-service rbt-scroll-trigger zoom_in animation-order-2">
                    <div class="inner">
                        <div class="icon">
                            <img src="assets/images/splash/icons/icon19.png" alt="Icon Images">
                        </div>
                        <div class="content">
                            <h2 class="rbt-title h4 mb--24 mb_sm--16">
                                <a href="https://support.rainbowit.net/support/login">Dedicated Support</a>
                            </h2>
                            <hr class="rbt-separator mb--24 mb rbt-bg-color-gray-light">
                            <p class="rbt-description">
                                Don't hesitate to initiate a support ticket to notify us of any problems or
                                inquire about any questions you might possess.
                            </p>
                            <a href="https://support.rainbowit.net/support/login"
                                class="rbt-btn splash-btn icon-reverse-left" target="_blank">
                                <span class="icon-left"><i class="fa-sharp fa-regular fa-arrow-right mr--4"></i></span>
                                <span>Get Support</span>
                                <span class="icon-right"><i class="fa-sharp fa-regular fa-arrow-right ml--4"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Splash Service  -->

            <!-- Start Splash Service  -->
            <div class="col-10 col-md-5 col-lg-4 mt--24">
                <div
                    class="rbt-splash-service rbt-bg-color-primary position-relative rbt-scroll-trigger zoom_in animation-order-3">
                    <div class="inner">
                        <div class="service-badge">
                            <img src="assets/images/splash/icons/badge-bg.png" alt="Badge">
                            <span class="badge-text">RECOMENDED</span>
                        </div>
                        <div class="icon">
                            <img src="assets/images/splash/icons/icon20.png" alt="Icon Images">
                        </div>
                        <div class="content">
                            <h2 class="rbt-title h4 mb--24 mb_sm--16  rbt-text-color-white">
                                Hire Developer & Designer
                            </h2>
                            <hr class="rbt-separator mb--24 rbt-bg-color-brand-700">
                            <p class="rbt-description rbt-text-color-gray-100">
                                Just give us the details about the project our developer & designer will get it
                                done faster, Better, and could possibly imagine.
                            </p>
                            <a href="https://rainbowthemes.net/contact/"
                                class="rbt-btn splash-btn icon-reverse-left rbt-bg-color-white rbt-text-color-primary"
                                target="_blank">
                                <span class="icon-left"><i class="fa-sharp fa-regular fa-arrow-right mr--4"></i></span>
                                <span>Hire Experts</span>
                                <span class="icon-right"><i class="fa-sharp fa-regular fa-arrow-right ml--4"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Splash Service  -->
        </div>
    </div>
</div>
<!-- End Support Area -->