<footer class="copyright-area copyright-style-1 ptb--20 rbt-bg-color-gray-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <p class="text-center h6 rbt-text-color-gray-400">RVN by
                    <a class="text-decoration-underline rbt-text-color-heading"
                        href="https://rainbowthemes.net/">Rainbow-Themes.</a>
                    &copy;All rights reserved
                </p>
            </div>
        </div>
    </div>
</footer>