<div class="row row--12 mt_dec--24 rbt-mobile-row">
    <div class="col-lg-3 col-md-6 col-12 mt--24">
        <div class="rbt-card rbt-video-review-card rbt-bg-color-brand-50 rbt-scroll-trigger animation-order-1 fade_in">
            <a class="inner stretched-link cursor-pointer" data-fancybox="gallery"
                href="assets/videos/vedio-review-1.mp4">
                <div class="rbt-video-gallery position-relative">
                    <div class="video-item">
                        <img src="assets/images/product-single/vedio-rev-img/vedio-review-img-02.webp"
                            alt="Eccommerce Review Video Image">
                        <video class="hover-video" src="assets/videos/vedio-review-1.mp4" muted loop autoplay></video>
                    </div>
                </div>
                <div class="rbt-video-body d-flex">
                    <div class="rbt-reviwer-img">
                        <img src="assets/images/product-single/vedio-rev-img/reviewer-img-01.webp"
                            alt="Eccommerce Reviewer Image">
                    </div>
                    <div class="rbt-reviwer-content">
                        <span class="rbt-title">Samsung Galaxy Buds 2 Pro Wireless Earbuds</span>
                        <span class="rbt-subtitle">CEONTHEMAKING</span>
                        <span class="rbt-meta-dat">March 6, 2018</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 mt--24">
        <div class="rbt-card rbt-video-review-card rbt-bg-color-brand-50 rbt-scroll-trigger animation-order-2 fade_in">
            <a class="inner stretched-link cursor-pointer" data-fancybox="gallery"
                href="assets/videos/vedio-review-1.mp4">
                <div class="rbt-video-gallery position-relative">
                    <div class="video-item">
                        <img src="assets/images/product-single/vedio-rev-img/vedio-review-img-02.webp"
                            alt="Eccommerce Review Video Image">
                        <video class="hover-video" src="assets/videos/vedio-review-1.mp4" muted loop autoplay></video>
                    </div>
                </div>
                <div class="rbt-video-body d-flex">
                    <div class="rbt-reviwer-img">
                        <img src="assets/images/product-single/vedio-rev-img/reviewer-img-01.webp"
                            alt="Eccommerce Reviewer Image">
                    </div>
                    <div class="rbt-reviwer-content">
                        <span class="rbt-title">Apple AirPods (3rd Generation) with MagSafe</span>
                        <span class="rbt-subtitle">CEONTHEMAKING</span>
                        <span class="rbt-meta-dat">March 6, 2018</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-12 mt--24">
        <div class="rbt-card rbt-video-review-card rbt-bg-color-brand-50 rbt-scroll-trigger animation-order-3 fade_in">
            <a class="inner stretched-link cursor-pointer" data-fancybox="gallery"
                href="assets/videos/vedio-review-1.mp4">
                <div class="rbt-video-gallery position-relative">
                    <div class="video-item">
                        <img src="assets/images/product-single/vedio-rev-img/vedio-review-img-03.webp"
                            alt="Eccommerce Review Video Image">
                        <video class="hover-video" src="assets/videos/vedio-review-1.mp4" muted loop autoplay></video>
                    </div>
                </div>
                <div class="rbt-video-body d-flex">
                    <div class="rbt-reviwer-img">
                        <img src="assets/images/product-single/vedio-rev-img/reviewer-img-01.webp"
                            alt="Eccommerce Reviewer Image">
                    </div>
                    <div class="rbt-reviwer-content">
                        <span class="rbt-title">Sony WF-1000XM5 Noise-Canceling Earbuds</span>
                        <span class="rbt-subtitle">CEONTHEMAKING</span>
                        <span class="rbt-meta-dat">March 6, 2018</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-12 mt--24">
        <div class="rbt-card rbt-video-review-card rbt-bg-color-brand-50 rbt-scroll-trigger animation-order-4 fade_in">
            <a class="inner stretched-link cursor-pointer" data-fancybox="gallery"
                href="assets/videos/vedio-review-1.mp4">
                <div class="rbt-video-gallery position-relative">
                    <div class="video-item">
                        <img src="assets/images/product-single/vedio-rev-img/vedio-review-img-04.webp"
                            alt="Eccommerce Review Video Image">
                        <video class="hover-video" src="assets/videos/vedio-review-1.mp4" muted loop autoplay></video>
                    </div>
                </div>
                <div class="rbt-video-body d-flex">
                    <div class="rbt-reviwer-img">
                        <img src="assets/images/product-single/vedio-rev-img/reviewer-img-01.webp"
                            alt="Eccommerce Reviewer Image">
                    </div>
                    <div class="rbt-reviwer-content">
                        <span class="rbt-title">JBL Live Pro 2 VS Live Free 2 VS Reflect Aero</span>
                        <span class="rbt-subtitle">CEONTHEMAKING</span>
                        <span class="rbt-meta-dat">March 6, 2018</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>