<!-- Catagories Swiper -->
<div class="row swiper-right-sm-width">
    <div class="col-md-12">
        <!-- Start Card Swiper Area -->
        <div class="swiper category-activation-one rbt-arrow-between gutter-swiper-24 mt--0 mb--0 ptb--20">
            <div class="swiper-wrapper">
                <!-- Start Category Box Layout  -->
                <div class="swiper-slide">
                    <div class="single-slide">
                        <div
                            class="rbt-cat-box rbt-cat-box-5 variation-one rbt-scroll-trigger fade_in animation-order-1">
                            <div class="inner">
                                <div class="rbt-image-portion position-relative overflow-hidden">
                                    <a href="#">
                                        <img class="rbt-scroll-trigger zoom_in animation-order-1"
                                            src="assets/images/catagory-img/cat-bg-06.webp"
                                            alt="Catagory Product Images">
                                    </a>
                                    <div class="rbt-right-corner-portion bottom--position">
                                        <div class="rbt-corner-portion-wrapper">
                                            <a href="#" class="rbt-card-link-btn"><i
                                                    class="fa-solid fa-arrow-up-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <h2 class="title">
                                        <a href="#">01 Chairs</a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Category Box Layout  -->

                <!-- Start Category Box Layout  -->
                <div class="swiper-slide">
                    <div class="single-slide">
                        <div
                            class="rbt-cat-box rbt-cat-box-5 variation-one rbt-scroll-trigger fade_in animation-order-2">
                            <div class="inner">
                                <div class="rbt-image-portion position-relative overflow-hidden">
                                    <a href="#">
                                        <img class="rbt-scroll-trigger zoom_in animation-order-2"
                                            src="assets/images/catagory-img/cat-bg-07.webp"
                                            alt="Catagory Product Images">
                                    </a>
                                    <div class="rbt-right-corner-portion bottom--position">
                                        <div class="rbt-corner-portion-wrapper">
                                            <a href="#" class="rbt-card-link-btn"><i
                                                    class="fa-solid fa-arrow-up-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <h2 class="title">
                                        <a href="#">02 Sofas</a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Category Box Layout  -->


                <!-- Start Category Box Layout  -->
                <div class="swiper-slide">
                    <div class="single-slide">
                        <div
                            class="rbt-cat-box rbt-cat-box-5 variation-one rbt-scroll-trigger fade_in animation-order-4">
                            <div class="inner">
                                <div class="rbt-image-portion position-relative overflow-hidden">
                                    <a href="#">
                                        <img class="rbt-scroll-trigger zoom_in animation-order-4"
                                            src="assets/images/catagory-img/cat-bg-08.webp"
                                            alt="Catagory Product Images">
                                    </a>
                                    <div class="rbt-right-corner-portion bottom--position">
                                        <div class="rbt-corner-portion-wrapper">
                                            <a href="#" class="rbt-card-link-btn"><i
                                                    class="fa-solid fa-arrow-up-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <h2 class="title">
                                        <a href="#">04 Homedecors</a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Category Box Layout  -->

                <!-- Start Category Box Layout  -->
                <div class="swiper-slide">
                    <div class="single-slide">
                        <div
                            class="rbt-cat-box rbt-cat-box-5 variation-one rbt-scroll-trigger fade_in animation-order-5">
                            <div class="inner">
                                <div class="rbt-image-portion position-relative overflow-hidden">
                                    <a href="#">
                                        <img class="rbt-scroll-trigger zoom_in animation-order-5"
                                            src="assets/images/catagory-img/cat-bg-09.webp"
                                            alt="Catagory Product Images">
                                    </a>
                                    <div class="rbt-right-corner-portion bottom--position">
                                        <div class="rbt-corner-portion-wrapper">
                                            <a href="#" class="rbt-card-link-btn"><i
                                                    class="fa-solid fa-arrow-up-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <h2 class="title">
                                        <a href="#">05 Coffee Tables</a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Category Box Layout  -->

                <!-- Start Category Box Layout  -->
                <div class="swiper-slide">
                    <div class="single-slide">
                        <div
                            class="rbt-cat-box rbt-cat-box-5 variation-one rbt-scroll-trigger fade_in animation-order-6">
                            <div class="inner">
                                <div class="rbt-image-portion position-relative overflow-hidden">
                                    <a href="#">
                                        <img class="rbt-scroll-trigger zoom_in animation-order-6"
                                            src="assets/images/catagory-img/cat-bg-10.webp"
                                            alt="Catagory Product Images">
                                    </a>
                                    <div class="rbt-right-corner-portion bottom--position">
                                        <div class="rbt-corner-portion-wrapper">
                                            <a href="#" class="rbt-card-link-btn"><i
                                                    class="fa-solid fa-arrow-up-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <h2 class="title">
                                        <a href="#">06 Classic Chair</a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Category Box Layout  -->

                <!-- Start Category Box Layout  -->
                <div class="swiper-slide">
                    <div class="single-slide">
                        <div
                            class="rbt-cat-box rbt-cat-box-5 variation-one rbt-scroll-trigger fade_in animation-order-7">
                            <div class="inner">
                                <div class="rbt-image-portion position-relative overflow-hidden">
                                    <a href="#">
                                        <img class="rbt-scroll-trigger zoom_in animation-order-7"
                                            src="assets/images/catagory-img/cat-bg-08.webp"
                                            alt="Catagory Product Images">
                                    </a>
                                    <div class="rbt-right-corner-portion bottom--position">
                                        <div class="rbt-corner-portion-wrapper">
                                            <a href="#" class="rbt-card-link-btn"><i
                                                    class="fa-solid fa-arrow-up-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <h2 class="title">
                                        <a href="#">04 Homedecors</a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Category Box Layout  -->

                <!-- Start Category Box Layout  -->
                <div class="swiper-slide">
                    <div class="single-slide">
                        <div
                            class="rbt-cat-box rbt-cat-box-5 variation-one rbt-scroll-trigger fade_in animation-order-8">
                            <div class="inner">
                                <div class="rbt-image-portion position-relative overflow-hidden">
                                    <a href="#">
                                        <img class="rbt-scroll-trigger zoom_in animation-order-8"
                                            src="assets/images/catagory-img/cat-bg-09.webp"
                                            alt="Catagory Product Images">
                                    </a>
                                    <div class="rbt-right-corner-portion bottom--position">
                                        <div class="rbt-corner-portion-wrapper">
                                            <a href="#" class="rbt-card-link-btn"><i
                                                    class="fa-solid fa-arrow-up-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <h2 class="title">
                                        <a href="#">05 Coffee Tables</a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Category Box Layout  -->

            </div>
        </div>
        <!-- End Card Swiper Area -->
    </div>
</div>