<!-- Start Card Area -->
<div class="row row--8 mt_dec--16 align-items-end">

    <!-- Start Single Card  -->
    <div class="col-lg-2 col-md-4 col-sm-3 col-4 mt--16">
        <a class="rbt-cat-box rbt-cat-box-1 rbt-cat-box-1-rounded text-center rbt-scroll-trigger fade_in animation-order-1"
            href="shop-by-categories.html">
            <div class="inner">
                <div class="rbt-image-portion rbt-bg-color-brand-100 rbt-scroll-trigger zoom_in animation-order-1">
                    <img src="assets/images/catagory-img/cat-img-rounded-a-01.webp" alt="Catagory Product Images">
                </div>
                <div class="content">
                    <p class="title">Women</p>
                </div>
            </div>
        </a>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-2 col-md-4 col-sm-3 col-4 mt--16">
        <a class="rbt-cat-box rbt-cat-box-1 rbt-cat-box-1-rounded text-center rbt-scroll-trigger fade_in animation-order-2"
            href="shop-by-categories.html">
            <div class="inner">
                <div class="rbt-image-portion rbt-bg-color-brand-100 rbt-scroll-trigger zoom_in animation-order-2">
                    <img src="assets/images/catagory-img/cat-img-rounded-a-02.webp" alt="Catagory Product Images">
                </div>
                <div class="content">
                    <p class="title">Curve</p>
                </div>
            </div>
        </a>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-2 col-md-4 col-sm-3 col-4 mt--16">
        <a class="rbt-cat-box rbt-cat-box-1 rbt-cat-box-1-rounded text-center rbt-scroll-trigger fade_in animation-order-3"
            href="shop-by-categories.html">
            <div class="inner">
                <div class="rbt-image-portion rbt-bg-color-brand-100 rbt-scroll-trigger zoom_in animation-order-3">
                    <img src="assets/images/catagory-img/cat-img-rounded-a-03.webp" alt="Catagory Product Images">
                </div>
                <div class="content">
                    <p class="title">Kids</p>
                </div>
            </div>
        </a>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-2 col-md-4 col-sm-3 col-4 mt--16">
        <a class="rbt-cat-box rbt-cat-box-1 rbt-cat-box-1-rounded text-center rbt-scroll-trigger fade_in animation-order-4"
            href="shop-by-categories.html">
            <div class="inner">
                <div class="rbt-image-portion rbt-bg-color-brand-100 rbt-scroll-trigger zoom_in animation-order-4">
                    <img src="assets/images/catagory-img/cat-img-rounded-a-04.webp" alt="Catagory Product Images">
                </div>
                <div class="content">
                    <p class="title">Men</p>
                </div>
            </div>
        </a>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-2 col-md-4 col-sm-3 col-4 mt--16">
        <a class="rbt-cat-box rbt-cat-box-1 rbt-cat-box-1-rounded text-center rbt-scroll-trigger fade_in animation-order-5"
            href="shop-by-categories.html">
            <div class="inner">
                <div class="rbt-image-portion rbt-bg-color-brand-100 rbt-scroll-trigger zoom_in animation-order-5">
                    <img src="assets/images/catagory-img/cat-img-rounded-a-05.webp" alt="Catagory Product Images">
                </div>
                <div class="content">
                    <p class="title">Dresses</p>
                </div>
            </div>
        </a>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-2 col-md-4 col-sm-3 col-4 mt--16">
        <a class="rbt-cat-box rbt-cat-box-1 rbt-cat-box-1-rounded text-center rbt-scroll-trigger fade_in animation-order-6"
            href="shop-by-categories.html">
            <div class="inner">
                <div class="rbt-image-portion rbt-bg-color-brand-100 rbt-scroll-trigger zoom_in animation-order-6">
                    <img src="assets/images/catagory-img/cat-img-rounded-a-06.webp" alt="Catagory Product Images">
                </div>
                <div class="content">
                    <p class="title">Fall & Winter</p>
                </div>
            </div>
        </a>
    </div>
    <!-- End Single Card  -->

</div>
<!-- End Card Area -->