<!-- Start Card Area -->
<div class="row row--12 mt_dec--24">


    <!-- Start Single Card  -->
    <div class="col-lg-9 col-md-12 col-sm-12 col-12 mt--24">
        <div class="row row--12 mt_dec--24">
            <!-- Start Single Card  -->
            <div class="col-lg-5 col-md-6 col-sm-6 col-12 mt--24">
                <div class="rbt-cat-box rbt-cat-box-8 rbt-scroll-trigger fade_in animation-order-1">
                    <div class="inner">
                        <div class="content">
                            <p class="subtitle">NEW ARRIVALS</p>
                            <h2 class="title h5"><a href="shop-by-categories.html"><span
                                        class="rbt-bold--text">Stylish</span> & Trending</a></h2>
                            <a href="shop-by-categories.html" class="rbt-btn rbt-btn-white rbt-btn-md">Shop Now</a>
                        </div>
                        <div class="rbt-image-portion">
                            <a href="shop-by-categories.html"
                                class="has-rbt-sectioin-overlay rbt-sectioin-overlay-black">
                                <img src="assets/images/catagory-img/cat-bg-jwellerry-a-1.webp"
                                    alt="Catagory Product Images">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->

            <!-- Start Single Card  -->
            <div class="col-lg-7 col-md-6 col-sm-6 col-12 mt--24">
                <div class="rbt-cat-box rbt-cat-box-8 rbt-scroll-trigger fade_in animation-order-2">
                    <div class="inner">
                        <div class="content">
                            <span class="rbt-badge rbt-badge-green rbt-badge-small">EXCLUSIVE</span>
                            <p class="subtitle">NEW ARRIVALS</p>
                            <h2 class="title h5"><a href="shop-by-categories.html"><span
                                        class="rbt-bold--text">Stylish</span> & Trending</a></h2>
                            <a href="shop-by-categories.html" class="rbt-btn rbt-btn-white rbt-btn-md">Shop Now</a>
                        </div>
                        <div class="rbt-image-portion">
                            <a href="shop-by-categories.html"
                                class="has-rbt-sectioin-overlay rbt-sectioin-overlay-black">
                                <img src="assets/images/catagory-img/cat-bg-jwellerry-a-2.webp"
                                    alt="Catagory Product Images">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--24">
        <div class="rbt-cat-box rbt-cat-box-8 rbt-scroll-trigger fade_in animation-order-3">
            <div class="inner">
                <div class="content">
                    <p class="subtitle">NEW ARRIVALS</p>
                    <h2 class="title h5"><a href="shop-by-categories.html"><span class="rbt-bold--text">Stylish</span> &
                            Trending</a></h2>
                    <a href="shop-by-categories.html" class="rbt-btn rbt-btn-white rbt-btn-md">Shop Now</a>
                </div>
                <div class="rbt-image-portion">
                    <a href="shop-by-categories.html" class="has-rbt-sectioin-overlay rbt-sectioin-overlay-black">
                        <img src="assets/images/catagory-img/cat-bg-jwellerry-a-3.webp" alt="Catagory Product Images">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-7 col-md-6 col-sm-6 col-12 mt--24">
        <div class="rbt-cat-box rbt-cat-box-8 rbt-scroll-trigger fade_in animation-order-4">
            <div class="inner">
                <div class="content">
                    <span class="rbt-badge rbt-badge-small">EXCLUSIVE</span>
                    <p class="subtitle">NEW ARRIVALS</p>
                    <h2 class="title h5"><a href="shop-by-categories.html"><span class="rbt-bold--text">Stylish</span> &
                            Trending</a></h2>
                    <a href="shop-by-categories.html" class="rbt-btn rbt-btn-white rbt-btn-md">Shop Now</a>
                </div>
                <div class="rbt-image-portion">
                    <a href="shop-by-categories.html" class="has-rbt-sectioin-overlay rbt-sectioin-overlay-black">
                        <img src="assets/images/catagory-img/cat-bg-jwellerry-a-4.webp" alt="Catagory Product Images">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-5 col-md-6 col-sm-6 col-12 mt--24">
        <div class="rbt-cat-box rbt-cat-box-8 rbt-scroll-trigger fade_in animation-order-5">
            <div class="inner">
                <div class="content">
                    <span class="rbt-badge rbt-badge-red rbt-badge-small">EXCLUSIVE</span>
                    <p class="subtitle">NEW ARRIVALS</p>
                    <h2 class="title h5"><a href="shop-by-categories.html"><span class="rbt-bold--text">Stylish</span> &
                            Trending</a></h2>
                    <a href="shop-by-categories.html" class="rbt-btn rbt-btn-white rbt-btn-md">Shop Now</a>
                </div>
                <div class="rbt-image-portion">
                    <a href="shop-by-categories.html" class="has-rbt-sectioin-overlay rbt-sectioin-overlay-black">
                        <img src="assets/images/catagory-img/cat-bg-jwellerry-a-5.webp" alt="Catagory Product Images">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->



</div>
<!-- End Card Area -->