<!-- Start Card Area -->
<div class="row row--12">
    <div class="rbt-catagories-list-area">
        <ul class="rbt-catagories-grp justify-content-center">
            <li><a href="shop-by-categories.html" class="rbt-catagory-btn rbt-btn rbt-btn-border rbt-scroll-trigger fade_in animation-order-1">iPhone 13</a></li>
            <li><a href="shop-by-categories.html" class="rbt-catagory-btn rbt-btn rbt-btn-border rbt-scroll-trigger fade_in animation-order-2">iPhone 13 Pro</a></li>
            <li><a href="shop-by-categories.html" class="rbt-catagory-btn rbt-btn rbt-btn-border rbt-scroll-trigger fade_in animation-order-3">iPhone SE</a></li>
            <li><a href="shop-by-categories.html" class="rbt-catagory-btn rbt-btn rbt-btn-border rbt-scroll-trigger fade_in animation-order-4">iPhone 14</a></li>
            <li><a href="shop-by-categories.html" class="rbt-catagory-btn rbt-btn rbt-btn-border rbt-scroll-trigger fade_in animation-order-5">iPhone 14 Pro</a></li>
            <li><a href="shop-by-categories.html" class="rbt-catagory-btn rbt-btn rbt-btn-border rbt-scroll-trigger fade_in animation-order-5">iPhone 16 Pro</a></li>
            <li><a href="shop-by-categories.html" class="rbt-catagory-btn rbt-btn rbt-btn-border rbt-scroll-trigger fade_in animation-order-1">Galaxy S22</a></li>
            <li><a href="shop-by-categories.html" class="rbt-catagory-btn rbt-btn rbt-btn-border rbt-scroll-trigger fade_in animation-order-2">Galaxy S22 Ultra</a></li>
            <li><a href="shop-by-categories.html" class="rbt-catagory-btn rbt-btn rbt-btn-border rbt-scroll-trigger fade_in animation-order-2">Galaxy S23 Ultra</a></li>
            <li><a href="shop-by-categories.html" class="rbt-catagory-btn rbt-btn rbt-btn-border rbt-scroll-trigger fade_in animation-order-3">Galaxy Z Flip 3</a></li>
            <li><a href="shop-by-categories.html" class="rbt-catagory-btn rbt-btn rbt-btn-border rbt-scroll-trigger fade_in animation-order-4">Galaxy Z Flip 4</a></li>
            <li><a href="shop-by-categories.html" class="rbt-catagory-btn rbt-btn rbt-btn-border rbt-scroll-trigger fade_in animation-order-5">Galaxy Z Fold 4 Pro</a></li>
        </ul>
    </div>
    
</div>
<!-- End Card Area -->