<ul class="rbt-cat-box-grp d-flex justify-content-center liststyle justify-content-between">
    <li>
        <a class="rbt-cat-cat-box-1" href="#">
            <span class="rbt-cat-icon"><i class="fa-regular fa-chair"></i></span>
            <span class="title">Chairs</span>
        </a>
    </li>
    <li>
        <a class="rbt-cat-cat-box-1" href="#">
            <span class="rbt-cat-icon"><i class="fa-regular fa-bath"></i></span>
            <span class="title">Bathroom</span>
        </a>
    </li>
    <li>
        <a class="rbt-cat-cat-box-1" href="#">
            <span class="rbt-cat-icon"><i class="fa-regular fa-lamp"></i></span>
            <span class="title">Lamp</span>
        </a>
    </li>
    <li>
        <a class="rbt-cat-cat-box-1" href="#">
            <span class="rbt-cat-icon"><i class="fa-regular fa-chair"></i></span>
            <span class="title">Bedroom</span>
        </a>
    </li>

    <li>
        <a class="rbt-cat-cat-box-1" href="#">
            <span class="rbt-cat-icon"><i class="fa-regular fa-booth-curtain"></i></span>
            <span class="title">Curtains</span>
        </a>
    </li>
    <li>
        <a class="rbt-cat-cat-box-1" href="#">
            <span class="rbt-cat-icon"><i class="fa-regular fa-lamp-street"></i></span>
            <span class="title">Lighting</span>
        </a>
    </li>

    <li>
        <a class="rbt-cat-cat-box-1" href="#">
            <span class="rbt-cat-icon"><i class="fa-regular fa-microwave"></i></span>
            <span class="title">microwave</span>
        </a>
    </li>
    <li>
        <a class="rbt-cat-cat-box-1" href="#">
            <span class="rbt-cat-icon"><i class="fa-regular fa-utensils"></i></span>
            <span class="title">Utensils</span>
        </a>
    </li>
    <li>
        <a class="rbt-cat-cat-box-1" href="#">
            <span class="rbt-cat-icon"><i class="fa-sharp fa-regular fa-flower-tulip"></i></span>
            <span class="title">Flower Pot</span>
        </a>
    </li>
    <li>
        <a class="rbt-cat-cat-box-1" href="#">
            <span class="rbt-cat-icon"><i class="fa-regular fa-microwave"></i></span>
            <span class="title">microwave</span>
        </a>
    </li>
</ul>