<nav class="rbt-nav-effect-activation text-center">
    <ul class="rbt-pagination d-inline-flex rbt-pagination-bg-brand">
        <li><a href="#!" aria-label="Previous"><i class="fa-regular fa-chevron-left"></i></a></li>
        <li><a href="#!" class="active">1</a></li>
        <li><a href="#!">2</a></li>
        <li><a href="#!" >3</a></li>
        <li><a href="#!" aria-label="Next"><i class="fa-regular fa-chevron-right"></i></a></li>
    </ul>
    <div class="rbt-bg-highlight rbt-pagination-bg-highlight rbt-bg-color-primary"></div>
</nav>