<!-- Start Side Nav -->
<div class="rbt-sidebar-cart rbt-ordered-products-sidenav">
    <div class="inner-wrapper">
        <div class="inner-top">
            <div class="rbt-cart-header">
                <div class="title-section">
                    <h2 class="rbt-title h6 title mb--0">Order <span class="rbt-product-id">
                            <span class="rbt-text-semi-bold">SKU:</span>
                            #180036565
                        </span></h2>
                    <div class="rbt-badge rbt-badge-bg-warning rbt-badge-border rbt-badge-md rbt-badge-rounded mt--8">In
                        Progress</div>
                </div>
                <div class="rbt-btn-close" id="btn_sideNavCloseOrder">
                    <button class="minicart-close-button rbt-round-btn"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </div>
            <nav class="side-nav w-100 mb--0">
                <ul class="rbt-minicart-wrapper">
                    <li class="minicart-item">
                        <div class="thumbnail transparent-verticle-thumbnail">
                            <a href="#">
                                <img src="assets/images/catagory-img/cat-transp-img-07.webp" alt="Product Image">
                            </a>
                        </div>
                        <div class="product-content">
                            <p class="rbt-title mb--8 h6 b2"><a href="#">Nikon D5600 DSLR Camera with 18-55mm Lens </a>
                            </p>
                            <span class="quantity">1x <span class="price">$489.00</span></span>
                        </div>
                    </li>
                    <li class="minicart-item">
                        <div class="thumbnail transparent-verticle-thumbnail">
                            <a href="#">
                                <img src="assets/images/catagory-img/cat-transp-img-10.webp" alt="Product Image">
                            </a>
                        </div>
                        <div class="product-content">
                            <p class="rbt-title mb--8 h6 b2"><a href="#">PlayStation Pulse 3D Wireless Headphone</a></p>
                            <span class="quantity">3x <span class="price">$599.00</span></span>
                        </div>
                    </li>
                    <li class="minicart-item">
                        <div class="thumbnail transparent-verticle-thumbnail">
                            <a href="#">
                                <img src="assets/images/catagory-img/cat-transp-img-08.webp" alt="Product Image">
                            </a>
                        </div>
                        <div class="product-content">
                            <p class="rbt-title mb--8 h6 b2"><a href="#">Apple Watch Ultra 2 with Ocean Band GPS</a></p>
                            <span class="quantity">1x <span class="price">$288.00</span></span>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="rbt-minicart-footer">
            <div class="rbt-sidebar-widget p--0 bg-transparent mt--0 mt_sm--8 mt_lg--8">
                <div class="rbt-inner">
                    <h2 class="b1 h6 mb--8">Delivery</h2>
                    <div class="rbt-cart-subttotal">
                        <p>Estimated delivery date:</p>
                        <p>Feb 8, 2025 / 10:00 - 12:00</p>
                    </div>
                    <div class="rbt-cart-subttotal">
                        <p>Shipping method:</p>
                        <p>Courier delivery</p>
                    </div>
                    <div class="rbt-cart-subttotal">
                        <p>Shipping address:</p>
                        <p>567 Cherry Lane, Harrisburg</p>
                    </div>
                </div>
            </div>
            <div class="rbt-sidebar-widget p--0 bg-transparent mt--0 mt_sm--8 mt_lg--8">
                <div class="rbt-inner">
                    <h2 class="b1 h6 mb--8">Payment</h2>
                    <div class="rbt-cart-subttotal">
                        <p>Payment method:</p>
                        <p>Cash on delivery</p>
                    </div>
                    <div class="rbt-cart-subttotal">
                        <p>Subtotal (2 items)</p>
                        <p>$758.00</p>
                    </div>
                    <div class="rbt-cart-subttotal">
                        <p>Shipping</p>
                        <p>$10.00</p>
                    </div>
                    <hr class="mb--8 mt--8 rbt-bg-color-gray-200">
                    <div class="rbt-cart-subttotal mb--12">
                        <p class="subtotal"><strong>Estimate Total</strong></p>
                        <p class="price">$768.00</p>
                    </div>
                </div>
            </div>
            <div class="checkout-btn mt--20">
                <a href="#" class="rbt-btn w-100 text-center">
                    <span class="btn-text">Change Delivery Time</span>
                </a>
            </div>
        </div>
    </div>
    <a href="#!" class="rbt-close-inner-popup rbt-popup-close-btn"></a>
</div>
<!-- End Side Nav -->