<!-- Start Side Nav -->
<div class="rbt-sidebar-cart rbt-review-sidenav">
    <div class="inner-wrapper">
        <div class="inner-top">
            <div class="rbt-cart-header">
                <div class="title-section">
                    <span class="title h6 mb--0">My review</span>
                </div>
                <div class="rbt-btn-close" id="btn_sideNavCloseOrder">
                    <button class="minicart-close-button rbt-round-btn"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </div>
            <div class="side-nav w-100">
                <nav class="w-100 mb--0">
                    <ul class="rbt-minicart-wrapper">
                        <li class="minicart-item">
                            <div class="thumbnail transparent-verticle-thumbnail">
                                <a href="#">
                                    <img src="assets/images/catagory-img/cat-transp-img-07.webp" alt="Product Image">
                                </a>
                            </div>
                            <div class="product-content">
                                <h2 class="rbt-title mb--8 b2 h6"><a href="#">Nikon D5600 DSLR Camera with 18-55mm Lens
                                    </a>
                                </h2>
                                <span class="quantity">1x <span class="price">$489.00</span></span>
                                <ul class="rbt-rating-icon-list mt--8">
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
                <hr class="mt--16">
                <p class="mb--12">
                    "The camera has a sleek, modern design with a robust build that feels solid in hand. The matte
                    finish prevents
                    fingerprints, maintaining a clean look. The buttons are well-placed, giving intuitive access to
                    controls without
                    feeling cluttered."
                </p>
                <p class="d-flex rbt-gap--12 mb--8">
                    <span class="rbt-text-color-gray-600 rbt-text-semi-bold">Pros: </span>
                    <span>Sleek, ergonomic design for a comfortable grip.</span>
                </p>
                <p class="d-flex rbt-gap--12 mb--8">
                    <span class="rbt-text-color-gray-600 rbt-text-semi-bold">Cons: </span>
                    <span>The battery life could be improved for extended usage.</span>
                </p>
            </div>
        </div>
    </div>
    <a href="#!" class="rbt-close-inner-popup rbt-popup-close-btn"></a>
</div>
<!-- End Side Nav -->