@@include('footer/footer-elements/collapsable-contentOne.html')

<div class="rbt-separator-mid">
    <div class="wrapper">
        <hr class="rbt-separator m-0 rbt-separator-gray100">
    </div>
</div>

<div class="rbt-component-area rbt-quick-locat-link-area rbt-bg-color-white ptb--32">
    <div class="wrapper plr--56 plr_lg--20 plr_md--20 plr_sm--20">
        <div
            class="d-flex rbt-gap--16 align-items-center justify-content-between rbt-scrollable-content hide-scrollbar">
            <div class="rbt-quick-locat-link">
                <p class="rbt-quick-locat-link-title b1 mb--0"><a class="d-flex align-items-center rbt-gap--8"
                        href="#">Broadway Store <span class="rbt-quick-locat-link-title-arrow"><i
                                class="fa-regular fa-angle-right"></i></span></a></p>
                <p class="rbt-quick-locat-link-desc">1260 Broadway, San Francisco, CA 941</p>
            </div>
            <div class="rbt-quick-locat-link">
                <p class="rbt-quick-locat-link-title b1 mb--0"><a class="d-flex align-items-center rbt-gap--8"
                        href="#">Valencia Store <span class="rbt-quick-locat-link-title-arrow"><i
                                class="fa-regular fa-angle-right"></i></span></a></p>
                <p class="rbt-quick-locat-link-desc">1501 Valencia St, San Francisco, CA 94110|</p>
            </div>
            <div class="rbt-quick-locat-link">
                <p class="rbt-quick-locat-link-title b1 mb--0"><a class="d-flex align-items-center rbt-gap--8"
                        href="#">Pennsylvania Store <span class="rbt-quick-locat-link-title-arrow"><i
                                class="fa-regular fa-angle-right"></i></span></a></p>
                <p class="rbt-quick-locat-link-desc">3122 Pennsylvania WD, California Usa, TX 02398</p>
            </div>
            <div class="rbt-quick-locat-link">
                <p class="rbt-quick-locat-link-title b1 mb--0"><a class="d-flex align-items-center rbt-gap--8"
                        href="#">Emeryville Store <span class="rbt-quick-locat-link-title-arrow"><i
                                class="fa-regular fa-angle-right"></i></span></a></p>
                <p class="rbt-quick-locat-link-desc">1034 36th St, Emeryville, CA 94608</p>
            </div>
            <div class="rbt-quick-locat-link">
                <p class="rbt-quick-locat-link-title b1 mb--0"><a class="d-flex align-items-center rbt-gap--8"
                        href="#">Alameda Store <span class="rbt-quick-locat-link-title-arrow"><i
                                class="fa-regular fa-angle-right"></i></span></a></p>
                <p class="rbt-quick-locat-link-desc">1433 High St, Alameda, CA 94501</p>
            </div>
        </div>
    </div>
</div>
@@include('footer/footer-elements/cat-scroll-sectionOne.html')

<footer class="rbt-footer rbt-footer-style-four has-footer-widget-border rbt-bg-color-gray-light">
    <div class="rbt-footer-top wrapper plr--56 plr_lg--20 plr_md--20 plr_sm--20">
        <div class="container-fluid">
            <div class="row justify-content-between justify-content-lg-start row--12 mt_dec--24">
                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt--24">
                    <div class="footer-widget pl_lg--0 border-0 pt_sm--32">
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/images/logo/logo.webp" alt="RVN Logo">
                            </a>
                        </div>

                        <p class="description mt--24 rbt-less-wider-desc mt_sm--12 mb_sm--12">Worldwide electronics
                            store since
                            1978. We sell over 1000+ branded products on our web-site.
                        </p>


                        <div
                            class="rbt-footer-social-area justify-content-left justify-content-lg-start mt--24 mt_sm--12 d-flex rbt-gap--16">
                            <p class="title mb--0">Follow Us :</p>
                            <ul class="rbt-social-icon-list mt--0">
                                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-telegram"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt--24">
                    <div class="footer-widget rbt-link-hover pt_sm--0">
                        <h3 class="ft-title">Let Us Help You</h3>
                        <ul class="ft-link">
                            <li>
                                <a href="account-info.html">Account Info</a>
                            </li>
                            <li>
                                <a href="my-order-history.html">Your Orders</a>
                            </li>
                            <li>
                                <a href="return-policy.html">Returns Policies</a>
                            </li>
                            <li>
                                <a href="my-order-history.html">Shipping Rates</a>
                            </li>
                            <li>
                                <a href="return-policy.html">Refund and Returns</a>
                            </li>
                            <li>
                                <a href="privacy-policy.html">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="terms-policy.html">Terms and Conditions</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt--24">
                    <div class="footer-widget rbt-link-hover pt_sm--0">
                        <h3 class="ft-title">Make Money with Us</h3>
                        <ul class="ft-link">
                            <li>
                                <a href="shop.html">Sell on RVN</a>
                            </li>
                            <li>
                                <a href="shop.html">Sell Your Services</a>
                            </li>
                            <li>
                                <a href="shop.html">Sell on Business</a>
                            </li>
                            <li>
                                <a href="shop.html">Sell Your Apps</a>
                            </li>
                            <li>
                                <a href="shop.html">Become an Affilate</a>
                            </li>
                            <li>
                                <a href="shop.html">Sell-Publish with Us</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt--24">
                    <div class="footer-widget rbt-link-hover pt_sm--0">
                        <h3 class="ft-title">Get to Know Us</h3>
                        <ul class="ft-link">
                            <li>
                                <a href="about.html">Careers for RVN</a>
                            </li>
                            <li>
                                <a href="about.html">About RVN</a>
                            </li>
                            <li>
                                <a href="about.html">Inverstor Relations</a>
                            </li>
                            <li>
                                <a href="about.html">RVN Devices</a>
                            </li>
                            <li>
                                <a href="about.html">Customer reviews</a>
                            </li>
                            <li>
                                <a href="about.html">Social Responsibility</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-12 mt--24">
                    <div class="footer-widget footer-widgettext-right">
                        <h3 class="ft-title">Download App on Mobile:</h3>
                        <ul class="ft-link liststyle">
                            <li>
                                <p>15% discount on your first purchase</p>
                            </li>
                        </ul>
                        <div class="rbt-app-store-area mt--24">
                            <ul class="rbt-app-store-list">
                                <li><a href="#"><img src="assets/images/footer/apple-store-logo.webp"
                                            alt="App Store"></a></li>
                                <li><a href="#"><img src="assets/images/footer/play-store-logo.webp"
                                            alt="App Store"></a></li>
                            </ul>
                        </div>
                        <div class="d-flex rbt-gap--12 align-items-center mt--32">
                            <span class="rbt-text-bold rbt-text-color-heading">Settings :</span>
                            <ul
                                class="rbt-footer-dropdown rbt-dropdown-menu rbt-dropdown-menu-elastic currency-menu pr--16 border-end">
                                <li class="has-child-menu">
                                    <a href="#!">
                                        <span class="menu-item">₹ INR</span>
                                        <i class="right-icon fa-regular fa-chevron-down"></i>
                                    </a>
                                    <ul class="sub-menu hover-reverse">
                                        <li>
                                            <a href="#!" class="active">
                                                <span class="menu-item">₹ INR</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <span class="menu-item">$ GBP</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <span class="menu-item">$ BDT</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul
                                class="rbt-footer-dropdown rbt-dropdown-menu rbt-dropdown-menu-elastic switcher-language">
                                <li class="has-child-menu">
                                    <a href="#!">
                                        <img class="left-image" src="assets/images/icons/eng.webp"
                                            alt="Language Images">
                                        <span class="menu-item">English</span>
                                        <i class="right-icon fa-regular fa-chevron-down"></i>
                                    </a>
                                    <ul class="sub-menu ">
                                        <li>
                                            <a href="#!">
                                                <img class="left-image" src="assets/images/icons/eng.webp"
                                                    alt="Language Images">
                                                <span class="menu-item">English</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#!">
                                                <img class="left-image" src="assets/images/icons/den.webp"
                                                    alt="Language Images">
                                                <span class="menu-item">Danish</span>
                                            </a>
                                            <a href="#!">
                                                <img class="left-image" src="assets/images/icons/italic.webp"
                                                    alt="Language Images">
                                                <span class="menu-item">Italic</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="rbt-separator-mid">
    <hr class="rbt-separator m-0 rbt-separator-gray100">
</div>

<!-- Start Copyright Area  -->
<div class="copyright-area copyright-style-1 rbt-bg-color-gray-light">
    <div class="wrapper plr--56 plr_lg--20 plr_md--20 plr_sm--20">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between mt_dec--24">
                <div class="col-xl-4 col-lg-6 col-md-12 col-12 mt--24">
                    <p class="rbt-link-hover text-center text-lg-start">Copyright <span
                            class="copyright-year">2025</span> &copy; <a href="https://rainbowthemes.net/"
                            class="rbt-text-semi-bold">RVN</a> HTML Template.</p>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12 col-12 mt--24">
                    <ul class="payment-img-link">
                        <li><a href="#"><img src="assets/images/payment-brand/image-01.webp"
                                    alt="Payment Brand Image"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-4 col-lg-12 col-md-12 col-12 mt--24">
                    <ul
                        class="copyright-link rbt-link-hover justify-content-center justify-content-lg-start justify-content-xl-end mt_sm--12 mt_md--12 mt_lg--12">
                        <li><a href="return-policy.html">Refund policy</a></li>
                        <li><a href="privacy-policy.html">Privacy policy</a></li>
                        <li><a href="terms-policy.html">Term & conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Copyright Area  -->

@@include('header/bottomToolsbar/bottom-toolsbar-one.html')
<!-- End Footer aera -->