<!-- Start Footer aera -->

@@include('footer/footer-elements/cat-scroll-sectionTwo.html',{
"spacing": "ptb--8"
})
<footer class="rbt-footer rbt-footer-style-eleven rbt-bg-color-gray-light">
    <div class="p-0 rbt-footer-top pt--60 pt_sm--32">
        <div class="container">
            <div class="row row--12 mt_dec--24 justify-content-between align-items-center">
                <div class="col-xl-4 col-sm-6 col-12 mt--24">
                    <div class="footer-widget border-end rbt-border-color-border">
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/images/logo/logo.webp" alt="RVN Logo">
                            </a>
                        </div>

                        <p class="description mt--24 pr--52 pr_sm--0 mt_sm--16 mb_sm--16">
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software.
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 mt--24">
                    <div class="footer-widget">
                        <h3 class="title mb--0 h5">Our Social Links :</h3>
                        <ul
                            class="social-icon social-icon-md rbt-social-default with-bg-primary justify-content-start mt--16 mt_sm--8">

                            <li>
                                <a href="https://www.x.com/">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                            </li>
                            <li><a href="https://www.tiktok.com/">
                                    <i class="fa-brands fa-tiktok"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-12 col-12 mt--24">
                    <div class="footer-widget mt_sm--16">
                        <h3 class="title mb--0 h5">Newsletter Sign Up :</h3>
                        <form action="#" class="rbt-newsletter-form-one mt--16">
                            <input class="rbt-bg-color-gray-100 rbt-text-color-gray-300" type="email"
                                placeholder="Enter email">
                            <button type="submit" class="rbt-btn rbt-btn-md radius-round-6">
                                Subscribe
                            </button>
                            <div class="icon rbt-text-color-gray-300"><i class="fa-regular fa-envelope"></i></div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="rbt-separator-mid pt--32 pb--40 pt_sm--16 pb_sm--16">
                <hr class="rbt-separator m-0 rbt-separator-gray100">
            </div>

            <div class="row row--12 mt_dec--24 justify-content-between">
                <div class="col-lg-2 col-md-6 col-sm-6 col-12 mt--24 mt_sm--16">
                    <div class="footer-widget rbt-link-hover">
                        <h3 class="ft-title h5">Let Us Help You</h3>
                        <ul class="ft-link">
                            <li>
                                <a href="account-info.html">Account Info</a>
                            </li>
                            <li>
                                <a href="my-order-history.html">Your Orders</a>
                            </li>
                            <li>
                                <a href="return-policy.html">Returns & Replacements</a>
                            </li>
                            <li>
                                <a href="my-order-history.html">Shipping Rates & Policies</a>
                            </li>
                            <li>
                                <a href="return-policy.html">Refund and Returns Policy</a>
                            </li>
                            <li>
                                <a href="privacy-policy.html">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="terms-policy.html">Terms and Conditions</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-12 mt--24">
                    <div class="footer-widget rbt-link-hover mt_sm--16">
                        <h3 class="ft-title">Make Money with Us</h3>
                        <ul class="ft-link">
                            <li>
                                <a href="shop.html">Sell on RVN</a>
                            </li>
                            <li>
                                <a href="shop.html">Sell Your Services on RVN</a>
                            </li>
                            <li>
                                <a href="shop.html">Sell on RVN Business</a>
                            </li>
                            <li>
                                <a href="shop.html">Sell Your Apps on RVN</a>
                            </li>
                            <li>
                                <a href="shop.html">Become an Affilate</a>
                            </li>
                            <li>
                                <a href="shop.html">Advertise Your Products</a>
                            </li>
                            <li>
                                <a href="shop.html">Sell-Publish with Us</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-12 mt--24">
                    <div class="footer-widget rbt-link-hover mt_sm--16">
                        <h3 class="ft-title">Get to Know Us</h3>
                        <ul class="ft-link">
                            <li>
                                <a href="contact.html">Careers for RVN</a>
                            </li>
                            <li>
                                <a href="about.html">About RVN</a>
                            </li>
                            <li>
                                <a href="about.html">Inverstor Relations</a>
                            </li>
                            <li>
                                <a href="about.html">RVN Devices</a>
                            </li>
                            <li>
                                <a href="about.html">Customer views</a>
                            </li>
                            <li>
                                <a href="about.html">Social Responsibility</a>
                            </li>
                            <li>
                                <a href="find-store.html">Store Locations</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-5 col-lg-5 col-md-6 col-sm-6 col-12 mt--24">
                    <div class="footer-widget mt_sm--16">
                        <a href="#!">
                            <img src="assets/images/footer/banner-image3.webp" alt="Banner Image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rbt-separator-mid pt--40">
        <div class="container">
            <hr class="rbt-separator m-0 rbt-separator-gray100">
        </div>
    </div>

    <!-- Start Copyright Area  -->
    <div class="copyright-area copyright-style-1 ptb--24">
        <div class="container">
            <div class="row row--12 align-items-center justify-content-between">
                <div class="col-xxl-3 col-xl-3 col-md-6 col-sm-12 col-12">
                    <p class="rbt-link-hover">Copyright <span class="copyright-year">2025</span> &copy; <a
                            href="https://rainbowthemes.net/" class="rbt-text-bold rbt-text-color-heading">RVN</a>
                        HTML Template.</p>
                </div>
                <div class="col-xxl-4 col-xl-4 col-md-6 col-sm-12 col-12">
                    <ul class="payment-img-link justify-content-xl-end mt_sm--12 mt_md--12 mt_lg--12">
                        <li><a href="#"><img src="assets/images/payment-brand/image-01.webp"
                                    alt="Payment Brand Image"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Copyright Area  -->

</footer>

@@include('header/bottomToolsbar/bottom-toolsbar-one.html')
<!-- End Footer aera -->