<footer class="rbt-footer rbt-footer-dark rbt-footer-style-two rbt-section-gap2-half-Top rbt-bg-color-gray-black">
    <div class="rbt-footer-top">
        <div class="container">
            <div class="rbt-newsletter-area style--one pb--56 pb_sm--40">
                <div class="row align-items-center">
                    <div class="col-md-5 col-lg-6 col-xl-7 d-flex">
                        <div class="rbt-newsletter-content-wrapper rbt-gap--16">
                            <div class="content">
                                <h2 class="title">Subscribe our <span>newsletter</span></h2>
                                <p class="sub-title m-0 p-0 border-0">Subscribe and get discount 20% Off</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-6 col-xl-5 mt_sm--12 justify-content-start d-flex">
                        <div class="w-100">
                            <label class="h5 rbt-text-color-gray-200 mb--12">Sign Up For Our
                                Newsletter</label>
                            <form action="#" class="rbt-newsletter-form-one rbt-max-w-full w-100">
                                <input class="rbt-bg-color-white-opacity" name="email" type="email"
                                    placeholder="Enter your email address">
                                <button type="submit" class="rbt-btn rbt-btn-md radius-round-6 rbt-bg-color-secondary">
                                    Subscribe
                                </button>
                                <div class="icon"><i class="fa-regular fa-envelope"></i></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="rbt-separator-mid">
                <hr class="rbt-separator separator-height-1 rbt-separator-gray700 mb--36">
            </div>

            <div class="row justify-content-between row--12 mt_dec--24">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--24">
                    <div class="footer-widget">
                        <div class="logo mb--16">
                            <a href="index.html">
                                <img src="assets/images/logo/logo-blackbg.webp" alt="RVN Logo">
                            </a>
                        </div>
                        <p class="description rbt-text-color-gray-300 pr--68 pr_sm--0">
                            Worldwide electronics store since
                            1978. We sell over 1000+ branded products on our web-site.
                        </p>
                        <div class="rbt-footer-social-area mt--24">
                            <p class="title mb--16">Follow Us :</p>
                            <ul class="rbt-social-icon-list mt--0">
                                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-telegram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-12 mt--24">
                    <div class="footer-widget rbt-link-hover pt_sm--16">
                        <h3 class="ft-title mb--16 mb_sm--4">Let Us Help You</h3>
                        <ul class="ft-link">
                            <li>
                                <a href="account-info.html">Account Info</a>
                            </li>
                            <li>
                                <a href="my-order-history.html">Your Orders</a>
                            </li>
                            <li>
                                <a href="return-policy.html">Returns & Replacements</a>
                            </li>
                            <li>
                                <a href="free-shipping.html">Shipping Rates & Policies</a>
                            </li>
                            <li>
                                <a href="return-policy.html">Refund and Returns Policy</a>
                            </li>
                            <li>
                                <a href="privacy-policy.html">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="terms-policy.html">Terms and Conditions</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-12 mt--24">
                    <div class="footer-widget rbt-link-hover pt_sm--16">
                        <h3 class="ft-title mb--16 mb_sm--4">Get to Know Us</h3>
                        <ul class="ft-link">
                            <li>
                                <a href="about.html">About RVN</a>
                            </li>
                            <li>
                                <a href="about.html">Careers</a>
                            </li>
                            <li>
                                <a href="about.html">Investor Relations</a>
                            </li>
                            <li>
                                <a href="about.html">Customer Reviews</a>
                            </li>
                            <li>
                                <a href="blogs.html">Blog & News</a>
                            </li>
                            <li>
                                <a href="find-store.html">Find a Store</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact Us</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-12 mt--24">
                    <div class="footer-widget rbt-link-hover pt_sm--16 mt_sm--16">
                        <h3 class="ft-title">Make Money with Us</h3>
                        <ul class="ft-link">
                            <li>
                                <a href="shop.html">Sell on RVN</a>
                            </li>
                            <li>
                                <a href="shop.html">Sell Your Services on RVN</a>
                            </li>
                            <li>
                                <a href="shop.html">Sell on RVN Business</a>
                            </li>
                            <li>
                                <a href="shop.html">Sell Your Apps on RVN</a>
                            </li>
                            <li>
                                <a href="shop.html">Become an Affilate</a>
                            </li>
                            <li>
                                <a href="shop.html">Advertise Your Products</a>
                            </li>
                            <li>
                                <a href="shop.html">Sell-Publish with Us</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-5 col-md-6 col-sm-6 col-12 mt--24">
                    <div class="footer-widget mt_sm--16">
                        <h3 class="ft-title h5 rbt-text-color-white">Download App on Mobile:</h3>
                        <ul class="ft-link">
                            <li>
                                <p class="rbt-text-color-gray-300">15% discount on your first purchase</p>
                            </li>
                        </ul>
                        <div class="rbt-app-store-area mt--24">
                            <ul class="rbt-app-store-list">
                                <li><a href="#"><img src="assets/images/footer/apple-store-white.webp"
                                            alt="App Store"></a></li>
                                <li><a href="#"><img src="assets/images/footer/play-store-white.webp"
                                            alt="App Store"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="rbt-separator-mid rbt-section-gap3Top">
        <div class="container">
            <hr class="rbt-separator separator-height-1 m-0 rbt-separator-gray700">
        </div>
    </div>

    <div class="copyright-area copyright-style-1">
        <div class="container">
            <div class="row row--12 align-items-center justify-content-between mt_dec--24">
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-12 col-12 mt--24">
                    <p class="rbt-link-hover rbt-text-color-brand-100">Copyright <span
                            class="copyright-year">2025</span> &copy; <a href="https://rainbowthemes.net/"
                            class="rbt-text-semi-bold">RVN</a> HTML Template.</p>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-12 col-12 mt--24">
                    <ul
                        class="copyright-link rbt-link-hover justify-content-start justify-content-xl-end mt_sm--12 mt_md--12 mt_lg--12">
                        <li><a href="return-policy.html">Refund policy</a></li>
                        <li><a href="privacy-policy.html">Privacy policy</a></li>
                        <li><a href="terms-policy.html">Term & conditions</a></li>
                    </ul>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-12 col-12 mt--24">
                    <ul class="payment-img-link justify-content-lg-start justify-content-xl-end">
                        <li>
                            <a href="#!"><img src="assets/images/payment-brand/image-01.webp"
                                    alt="eCommerce Brand Image">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

@@include('header/bottomToolsbar/bottom-toolsbar-one.html')
<!-- End Footer aera -->