<!-- Start Product Banner Area -->
<div class="row row--12 mt_dec--24">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt--24 d-flex justify-content-center">
        <div class="rbt-swiper-container-one rbt-arrow-between">
            <div class="swiper rbt-hero-banner-activation-1 rbt-dot-bottom-center">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="rbt-product-banner rbt-product-banner-style-four rbt-banner-four-var-one rbt-card rbt-product-banner-accessories rbt-scroll-trigger fade_in animation-order-1">
                            <div class="rbt-banner-inner rbt-bg-color-brand-50">
                                <div class="rbt-product-banner-img rbt-full-width-img rbt-scroll-trigger zoom_in animation-order-1">
                                    <img src="assets/images/product-banner/product-banner-access-h-1.webp" alt="Ecommerce Product Banner Image">
                                </div>
                                <div class="rbt-product-banner-content">
                                    <div class="rbt-content-section rbt-content-less-wider">
                                        <p class="rbt-banner-subtitle mb-0">Exclusive Offer Going</p>
                                        <h2 class="rbt-banner-title rbt-banner-title-lg mb-0"><span class="rbt-bold--text">GoPro</span> Hero 10</h2>
                                        <div class="rbt-pricing-part">
                                            <del class="rbt-dis-price-text">$295.00</del>
                                            <div class="d-flex rbt-gap--12 align-items-center">    
                                                <span class="rbt-price-text offer-price">$179.98</span>
                                                <span class="rbt-offer-badge">-30%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rbt-left-corner-portion bottom--position rbt-left-corner-portion-lg show-rbt-left-corner-portion">
                                    <div class="rbt-corner-portion-wrapper">
                                        <a href="product-single-default.html" class="rbt-icon-overlay-link-btn rbt-icon-overlay-link-btn-dflt-active">
                                            <span class="rbt-btn-overlay">
                                                <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                                <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="rbt-banner-bg-shape">
                                    <img src="assets/images/product-banner/product-banner-access-h-shape-01.webp" alt="Ecommerce Banner Background Shape">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="rbt-product-banner rbt-product-banner-style-four rbt-banner-four-var-one rbt-card rbt-product-banner-accessories rbt-scroll-trigger fade_in animation-order-2">
                            <div class="rbt-banner-inner rbt-bg-color-brand-50">
                                <div class="rbt-product-banner-img rbt-full-width-img rbt-scroll-trigger zoom_in animation-order-2">
                                    <img src="assets/images/product-banner/product-banner-access-h-2.webp" alt="Ecommerce Product Banner Image">
                                </div>
                                <div class="rbt-product-banner-content">
                                    <div class="rbt-content-section rbt-content-less-wider">
                                        <p class="rbt-banner-subtitle mb-0">Limited Weekend Deal</p>
                                        <h2 class="rbt-banner-title rbt-banner-title-lg mb-0"><span class="rbt-bold--text">Osmo Mini </span>Pro</h2>
                                        <div class="rbt-pricing-part">
                                            <del class="rbt-dis-price-text">$295.00</del>
                                            <div class="d-flex rbt-gap--12 align-items-center">    
                                                <span class="rbt-price-text offer-price">$179.98</span>
                                                <span class="rbt-offer-badge">-30%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rbt-left-corner-portion bottom--position rbt-left-corner-portion-lg show-rbt-left-corner-portion">
                                <div class="rbt-corner-portion-wrapper">
                                    <a href="product-single-default.html" class="rbt-icon-overlay-link-btn rbt-icon-overlay-link-btn-dflt-active">
                                        <span class="rbt-btn-overlay">
                                            <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                            <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="rbt-banner-bg-shape">
                                <img src="assets/images/product-banner/product-banner-access-h-shape-01.webp" alt="Ecommerce Banner Background Shape">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="rbt-product-banner rbt-product-banner-style-four rbt-banner-four-var-one rbt-card rbt-product-banner-accessories rbt-scroll-trigger fade_in animation-order-3">
                            <div class="rbt-banner-inner rbt-bg-color-brand-50">
                                <div class="rbt-product-banner-img rbt-full-width-img rbt-scroll-trigger zoom_in animation-order-3">
                                    <img src="assets/images/product-banner/product-banner-access-h-3.webp" alt="Ecommerce Product Banner Image">
                                </div>
                                <div class="rbt-product-banner-content">
                                    <div class="rbt-content-section rbt-content-less-wider">
                                        <p class="rbt-banner-subtitle mb-0">Exclusive Offer Going</p>
                                        <h2 class="rbt-banner-title rbt-banner-title-lg mb-0"><span class="rbt-bold--text">GoPro</span> Hero 10</h2>
                                        <div class="rbt-pricing-part">
                                            <del class="rbt-dis-price-text">$295.00</del>
                                            <div class="d-flex rbt-gap--12 align-items-center">    
                                                <span class="rbt-price-text offer-price">$179.98</span>
                                                <span class="rbt-offer-badge">-30%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rbt-left-corner-portion bottom--position rbt-left-corner-portion-lg show-rbt-left-corner-portion">
                                    <div class="rbt-corner-portion-wrapper">
                                        <a href="product-single-default.html" class="rbt-icon-overlay-link-btn rbt-icon-overlay-link-btn-dflt-active">
                                            <span class="rbt-btn-overlay">
                                                <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                                <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="rbt-banner-bg-shape">
                                    <img src="assets/images/product-banner/product-banner-access-h-shape-01.webp" alt="Ecommerce Banner Background Shape">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="rbt-product-banner rbt-product-banner-style-four rbt-banner-four-var-one rbt-card rbt-product-banner-accessories rbt-scroll-trigger fade_in animation-order-4">
                            <div class="rbt-banner-inner rbt-bg-color-brand-50">
                                <div class="rbt-product-banner-img rbt-full-width-img rbt-scroll-trigger zoom_in animation-order-4">
                                    <img src="assets/images/product-banner/product-banner-access-h-4.webp" alt="Ecommerce Product Banner Image">
                                </div>
                                <div class="rbt-product-banner-content">
                                    <div class="rbt-content-section rbt-content-less-wider">
                                        <p class="rbt-banner-subtitle mb-0">Limited Weekend Deal</p>
                                        <h2 class="rbt-banner-title rbt-banner-title-lg mb-0"><span class="rbt-bold--text">Osmo Mini </span>Pro</h2>
                                        <div class="rbt-pricing-part">
                                            <del class="rbt-dis-price-text">$295.00</del>
                                            <div class="d-flex rbt-gap--12 align-items-center">    
                                                <span class="rbt-price-text offer-price">$179.98</span>
                                                <span class="rbt-offer-badge">-30%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rbt-left-corner-portion bottom--position rbt-left-corner-portion-lg show-rbt-left-corner-portion">
                                <div class="rbt-corner-portion-wrapper">
                                    <a href="product-single-default.html" class="rbt-icon-overlay-link-btn rbt-icon-overlay-link-btn-dflt-active">
                                        <span class="rbt-btn-overlay">
                                            <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                            <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="rbt-banner-bg-shape">
                                <img src="assets/images/product-banner/product-banner-access-h-shape-01.webp" alt="Ecommerce Banner Background Shape">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="rbt-product-banner rbt-product-banner-style-four rbt-banner-four-var-one rbt-card rbt-product-banner-accessories rbt-scroll-trigger fade_in animation-order-5">
                            <div class="rbt-banner-inner rbt-bg-color-brand-50">
                                <div class="rbt-product-banner-img rbt-full-width-img rbt-scroll-trigger zoom_in animation-order-5">
                                    <img src="assets/images/product-banner/product-banner-access-h-5.webp" alt="Ecommerce Product Banner Image">
                                </div>
                                <div class="rbt-product-banner-content">
                                    <div class="rbt-content-section rbt-content-less-wider">
                                        <p class="rbt-banner-subtitle mb-0">Exclusive Offer Going</p>
                                        <h2 class="rbt-banner-title rbt-banner-title-lg mb-0"><span class="rbt-bold--text">GoPro</span> Hero 10</h2>
                                        <div class="rbt-pricing-part">
                                            <del class="rbt-dis-price-text">$295.00</del>
                                            <div class="d-flex rbt-gap--12 align-items-center">    
                                                <span class="rbt-price-text offer-price">$179.98</span>
                                                <span class="rbt-offer-badge">-30%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rbt-left-corner-portion bottom--position rbt-left-corner-portion-lg show-rbt-left-corner-portion">
                                    <div class="rbt-corner-portion-wrapper">
                                        <a href="product-single-default.html" class="rbt-icon-overlay-link-btn rbt-icon-overlay-link-btn-dflt-active">
                                            <span class="rbt-btn-overlay">
                                                <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                                <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="rbt-banner-bg-shape">
                                    <img src="assets/images/product-banner/product-banner-access-h-shape-01.webp" alt="Ecommerce Banner Background Shape">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="rbt-product-banner rbt-product-banner-style-four rbt-banner-four-var-one rbt-card rbt-product-banner-accessories rbt-scroll-trigger fade_in animation-order-6">
                            <div class="rbt-banner-inner rbt-bg-color-brand-50">
                                <div class="rbt-product-banner-img rbt-full-width-img rbt-scroll-trigger zoom_in animation-order-6">
                                    <img src="assets/images/product-banner/product-banner-access-h-6.webp" alt="Ecommerce Product Banner Image">
                                </div>
                                <div class="rbt-product-banner-content">
                                    <div class="rbt-content-section rbt-content-less-wider">
                                        <p class="rbt-banner-subtitle mb-0">Limited Weekend Deal</p>
                                        <h2 class="rbt-banner-title rbt-banner-title-lg mb-0"><span class="rbt-bold--text">Osmo Mini </span>Pro</h2>
                                        <div class="rbt-pricing-part">
                                            <del class="rbt-dis-price-text">$295.00</del>
                                            <div class="d-flex rbt-gap--12 align-items-center">    
                                                <span class="rbt-price-text offer-price">$179.98</span>
                                                <span class="rbt-offer-badge">-30%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rbt-left-corner-portion bottom--position rbt-left-corner-portion-lg show-rbt-left-corner-portion">
                                <div class="rbt-corner-portion-wrapper">
                                    <a href="product-single-default.html" class="rbt-icon-overlay-link-btn rbt-icon-overlay-link-btn-dflt-active">
                                        <span class="rbt-btn-overlay">
                                            <i class="rbt-icon fa-solid fa-arrow-up-right"></i>
                                            <i class="rbt-icon-bottom fa-solid fa-arrow-up-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="rbt-banner-bg-shape">
                                <img src="assets/images/product-banner/product-banner-access-h-shape-01.webp" alt="Ecommerce Banner Background Shape">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rbt-swiper-pagination rbt-swiper-pagination-var-one"></div>
            </div>
            <div class="rbt-swiper-arrow sm_d-none rbt-arrow-left rbt-arrow-gray rbt-arrow-lg">
                <div class="custom-overflow">
                    <i class="rbt-icon fa-regular fa-arrow-left"></i>
                    <i class="rbt-icon-top fa-regular fa-arrow-left"></i>
                </div>
            </div>
        
            <div class="rbt-swiper-arrow sm_d-none rbt-arrow-right rbt-arrow-gray rbt-arrow-lg">
                <div class="custom-overflow">
                    <i class="rbt-icon fa-regular fa-arrow-right"></i>
                    <i class="rbt-icon-top fa-regular fa-arrow-right"></i>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Product Banner Area -->