<!-- Start Product Banner Area -->
<div class="row row--12 mt_dec--24">
    <div class="col-lg-4 col-md-4 col-sm-6 col-6 mt--24">
        <div
            class="rbt-product-banner rbt-product-banner-style-nine border-0 rbt-scroll-trigger fade_in animation-order-1">
            <div class="rbt-banner-inner d-flex justify-content-center align-items-center flex-column">
                <div class="rbt-product-banner-img rbt-scroll-trigger zoom_in animation-order-1">
                    <a href="#">
                        <img src="assets/images/product-banner/product-banner-phone-c-1.webp"
                            alt="Ecommerce Product Banner Image">
                    </a>
                </div>
                <div class="rbt-content-section">
                    <h2 class="rbt-banner-title mb-0 h5"><span class="rbt-bold--text">Weird Black Patterns</span></h2>
                    <div class="rbt-banner-btn">
                        <a class="rbt-btn rbt-btn-sm" href="shop.html">SHOP NOW<i
                                class="fa-solid fa-arrow-up-right ml--4"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-6 mt--24">
        <div
            class="rbt-product-banner rbt-product-banner-style-nine border-0 rbt-scroll-trigger fade_in animation-order-2">
            <div class="rbt-banner-inner d-flex justify-content-center align-items-center flex-column">
                <div class="rbt-product-banner-img rbt-scroll-trigger zoom_in animation-order-2">
                    <a href="#">
                        <img src="assets/images/product-banner/product-banner-phone-c-3.webp"
                            alt="Ecommerce Product Banner Image">
                    </a>
                </div>
                <div class="rbt-content-section">
                    <h2 class="rbt-banner-title mb-0 h5"><span class="rbt-bold--text">Colors of Summer</span></h2>
                    <div class="rbt-banner-btn">
                        <a class="rbt-btn rbt-btn-sm" href="shop.html">SHOP NOW<i
                                class="fa-solid fa-arrow-up-right ml--4"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-6 mt--24">
        <div
            class="rbt-product-banner rbt-product-banner-style-nine border-0 rbt-scroll-trigger fade_in animation-order-3">
            <div class="rbt-banner-inner d-flex justify-content-center align-items-center flex-column">
                <div class="rbt-product-banner-img rbt-scroll-trigger zoom_in animation-order-3">
                    <a href="#">
                        <img src="assets/images/product-banner/product-banner-phone-c-2.webp"
                            alt="Ecommerce Product Banner Image">
                    </a>
                </div>
                <div class="rbt-content-section">
                    <h2 class="rbt-banner-title mb-0 h5"><span class="rbt-bold--text">New Dark Side</span></h2>
                    <div class="rbt-banner-btn">
                        <a class="rbt-btn rbt-btn-sm" href="shop.html">SHOP NOW<i
                                class="fa-solid fa-arrow-up-right ml--4"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Banner Area -->