<!-- Start Product Banner Area -->
<div class="rbt-product-banner rbt-product-banner-style-two rbt-curved-style-box h-100">
    <div class="rbt-banner-inner h-100">
        <div class="rbt-product-banner-img rbt-full-width-img rbt-scroll-trigger zoom_in animation-order-1">
            <img src="assets/images/product-banner/product-banner-img-02.webp" alt="Ecommerce Product Banner Image">
        </div>
        <div class="rbt-product-banner-content">
            <div class="rbt-content-section rbt-scroll-trigger fade_in animation-order-1">
                <p class="rbt-banner-subtitle mb-0">Power Up Deals</p>
                <h2 class="rbt-banner-title title-capitalize-text mb-0"><span class="rbt-bold--text">Red Camera
                    </span>Plus</h2>
                <h3 class="rbt-secondery-subtitle mb-0">Holiday Cheers</h3>
            </div>
            <div class="rbt-banner-btn rbt-scroll-trigger fade_in animation-order-2">
                <a class="rbt-btn rbt-btn-round rbt-magnetic-button" href="shop.html"><i
                        class="fa-solid fa-arrow-up-right"></i> SHOP <br> NOW</a>
            </div>
        </div>
    </div>
</div>
<!-- End Product Banner Area -->