<!-- Start Product Banner Area -->
<div class="row row--12 mt_dec--24">
    <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt--24 d-flex justify-content-center">
        <div class="rbt-product-banner rbt-product-banner-style-four rbt-bg-color-gray-one rbt-curved-style-box rbt-scroll-trigger fade_in animation-order-1 rbt-curved-style-left"
            data-black-overlay="5">
            <div class="rbt-banner-inner">
                <div class="rbt-product-banner-img rbt-full-width-img rbt-scroll-trigger zoom_in animation-order-1">
                    <img src="assets/images/product-banner/product-banner-img-07.webp"
                        alt="Ecommerce Product Banner Image">
                </div>
                <div class="rbt-product-banner-content has-lg-space-bottom">
                    <div class="rbt-content-section rbt-content-less-wider">
                        <p class="rbt-banner-subtitle h6 rbt-text-color-primary mb-0">HURRY SALE 50%</p>
                        <h2 class="rbt-banner-title rbt-banner-title-lg mb-0"><span class="rbt-bold--text">The
                                Gorgeous</span> Beauty deserve. </h2>
                        <p class="rbt-banner-description">Discover fresh looks and modern outfits that define your unique style now.</p>
                            wtatem.</p>
                        <div class="rbt-banner-btn">
                            <a class="rbt-btn rbt-btn-md" href="shop.html">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt--24 d-flex justify-content-center">
        <div class="rbt-product-banner rbt-product-banner-style-four rbt-bg-color-gray-one rbt-curved-style-box rbt-scroll-trigger fade_in animation-order-2 rbt-curved-style-right"
            data-black-overlay="5">
            <div class="rbt-banner-inner">
                <div
                    class="rbt-product-banner-img rbt-full-width-img rbt-scroll-trigger zoom_in      animation-order-2">
                    <img src="assets/images/product-banner/product-banner-img-08.webp"
                        alt="Ecommerce Product Banner Image">
                </div>
                <div class="rbt-product-banner-content has-lg-space-bottom">
                    <div class="rbt-content-section rbt-content-less-wider">
                        <p class="rbt-banner-subtitle h6 rbt-text-color-primary mb-0">SALE UPTO 70%</p>
                        <h2 class="rbt-banner-title rbt-banner-title-lg mb-0"><span class="rbt-bold--text">Lip color
                                gives
                                the</span> beauty</h2>
                            <p class="rbt-banner-description">Shop unbeatable deals on trending picks before this exclusive offer ends.</p>
                        <div class="rbt-banner-btn">
                            <a class="rbt-btn rbt-btn-md" href="shop.html">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Banner Area -->