<!-- Start Product Banner Area -->
<div class="row row--12 mt_dec--24">
    <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt--24 d-flex justify-content-center">
        <div class="rbt-product-banner rbt-product-banner-style-four rbt-bg-color-gray-one rbt-scroll-trigger fade_in animation-order-1">
            <div class="rbt-banner-inner h-100">
                <div class="rbt-product-banner-img rbt-card-has-animated rbt-scroll-trigger zoom_in animation-order-1">
                    <img class="h-100 w-100" src="assets/images/product-banner/product-banner-img-04-a2.webp" alt="Ecommerce Product Banner Image">
                </div>
                <div class="rbt-product-banner-content">
                    <div class="rbt-content-section">
                        <p class="rbt-banner-subtitle mb-0">SALE UPTO 70%</p>
                        <h3 class="rbt-banner-title title-capitalize-text mb-0"><span class="rbt-bold--text">Phone Holders</span> Deals</h3>
                        <p class="rbt-banner-description">sitar nostrum conctetur  Volupq .</p>
                        <div class="rbt-banner-btn">
                            <a class="rbt-btn rbt-btn-md" href="shop.html">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt--24 d-flex justify-content-center">
        <div class="rbt-product-banner rbt-product-banner-style-four rbt-bg-color-gray-one rbt-scroll-trigger fade_in animation-order-2">
            <div class="rbt-banner-inner h-100">
                <div class="rbt-product-banner-img rbt-card-has-animated rbt-scroll-trigger zoom_in animation-order-2">
                    <img class="h-100 w-100" src="assets/images/product-banner/product-banner-img-04-a1.webp" alt="Ecommerce Product Banner Image">
                </div>
                <div class="rbt-product-banner-content">
                    <div class="rbt-content-section">
                        <p class="rbt-banner-subtitle mb-0">SALE UPTO 70%</p>
                        <h3 class="rbt-banner-title title-capitalize-text mb-0"><span class="rbt-bold--text">Seal The</span> Deal Now</h3>
                        <p class="rbt-banner-description">sitar nostrum conctetur  Volupq .</p>
                        <div class="rbt-banner-btn">
                            <a class="rbt-btn rbt-btn-md" href="shop.html">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Banner Area -->