<!-- Start Product Banner Area -->

<div class="row row--12 mt_dec--24">

    <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt--24 d-flex justify-content-center">

        <div class="rbt-product-banner rbt-product-banner-style-five rbt-bg-color-gray-one">

            <div class="rbt-banner-inner">

                <div class="rbt-product-banner-img">

                    <img src="assets/images/product-banner/product-banner-img-15.webp" alt="Ecommerce Product Banner Image">

                </div>

                <div class="rbt-product-banner-content rbt-corner-style rbt-banner-content-lb">

                    <div class="rbt-corner-portion-wrapper">

                        <p class="rbt-banner-subtitle mb-0">HURRY SALE 50%</p>

                        <h2 class="rbt-banner-title mb-0"><span class="rbt-bold--text">Seal The </span>Deal Now</h2>

                        <p class="rbt-banner-description">exclusive offers transform shopping</p>

                        <div class="rbt-banner-btn">

                            <a class="rbt-btn rbt-btn-md" href="shop.html">Shop Now</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    

    <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt--24 d-flex justify-content-center">

        <div class="rbt-product-banner rbt-product-banner-style-five rbt-bg-color-gray-one">

            <div class="rbt-banner-inner">

                <div class="rbt-product-banner-img">

                    <img src="assets/images/product-banner/product-banner-img-16.webp" alt="Ecommerce Product Banner Image">

                </div>

                <div class="rbt-product-banner-content rbt-corner-style rbt-banner-content-lt">

                    <div class="rbt-corner-portion-wrapper">

                        <p class="rbt-banner-subtitle mb-0">LIMITED TIME 50%</p>

                        <h2 class="rbt-banner-title mb-0"><span class="rbt-bold--text">Premium Glass

                            </span>For Home</h2>

                        <p class="rbt-banner-description">premium glassware transforms spaces</p>

                        <div class="rbt-banner-btn">

                            <a class="rbt-btn rbt-btn-md" href="shop.html">Shop Now</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt--24 d-flex justify-content-center">

        <div class="rbt-product-banner rbt-product-banner-style-five rbt-bg-color-gray-one">

            <div class="rbt-banner-inner">

                <div class="rbt-product-banner-img">

                    <img src="assets/images/product-banner/product-banner-img-16.webp" alt="Ecommerce Product Banner Image">

                </div>

                <div class="rbt-product-banner-content rbt-corner-style rbt-banner-content-rt">

                    <div class="rbt-corner-portion-wrapper">

                        <p class="rbt-banner-subtitle mb-0">NEW ARRIVALS 40%</p>

                        <h2 class="rbt-banner-title mb-0"><span class="rbt-bold--text">Grab The </span>Best Today</h2>

                        <p class="rbt-banner-description">curated picks elevate shopping</p>

                        <div class="rbt-banner-btn">

                            <a class="rbt-btn rbt-btn-md" href="shop.html">Shop Now</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    

    <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt--24 d-flex justify-content-center">

        <div class="rbt-product-banner rbt-product-banner-style-five rbt-bg-color-gray-one">

            <div class="rbt-banner-inner">

                <div class="rbt-product-banner-img">

                    <img src="assets/images/product-banner/product-banner-img-15.webp" alt="Ecommerce Product Banner Image">

                </div>

                <div class="rbt-product-banner-content rbt-corner-style rbt-banner-content-lt">

                    <div class="rbt-corner-portion-wrapper">

                        <p class="rbt-banner-subtitle mb-0">STYLE SALE 50%</p>

                        <h2 class="rbt-banner-title mb-0"><span class="rbt-bold--text">Trends To </span>Style Now</h2>

                        <p class="rbt-banner-description">fresh trends inspire shoppers</p>

                        <div class="rbt-banner-btn">

                            <a class="rbt-btn rbt-btn-md" href="shop.html">Shop Now</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

  </div>

  <!-- End Product Banner Area -->


