<!-- Start Product Banner Area -->
<div class="row row--12 mt_dec--24">
    <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt--24 d-flex justify-content-center">
        <div class="rbt-product-banner rbt-product-banner-style-four rbt-bg-color-gray-one rbt-scroll-trigger fade_in animation-order-1" data-black-overlay="1">
            <div class="rbt-banner-inner h-100">
                <div class="rbt-product-banner-content rbt-content-style-one">
                    <div class="rbt-content-section">
                        <p class="rbt-banner-subtitle mb-0">HURRY SALE 50%</p>
                        <h2 class="rbt-banner-title mb-0"><span class="rbt-bold--text">Smart Home </span>Security</h2>
                        <p class="rbt-banner-description">smart cameras transform monitoring</p>
                        <div class="rbt-banner-btn">
                            <a class="rbt-btn rbt-btn-md" href="shop.html">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rbt-product-banner-img rbt-full-width-img h-100 rbt-scroll-trigger zoom_in animation-order-1">
                <img src="assets/images/product-banner/product-banner-img-12.webp" alt="Ecommerce Product Banner Image">
            </div>
        </div>
    </div>
    
    <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt--24 d-flex justify-content-center">
        <div class="rbt-product-banner rbt-product-banner-style-four rbt-bg-color-gray-one rbt-scroll-trigger fade_in animation-order-2" data-black-overlay="1">
            <div class="rbt-banner-inner h-100">
                <div class="rbt-product-banner-content rbt-content-style-one">
                    <div class="rbt-content-section">
                        <p class="rbt-banner-subtitle mb-0">SALE UPTO 70%</p>
                        <h2 class="rbt-banner-title mb-0"><span class="rbt-bold--text">Earbuds And </span>Chargers</h2>
                        <p class="rbt-banner-description">wireless charging transforms audio</p>
                        <div class="rbt-banner-btn">
                            <a class="rbt-btn rbt-btn-md" href="shop.html">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rbt-product-banner-img rbt-full-width-img h-100 rbt-scroll-trigger zoom_in animation-order-2">
                <img src="assets/images/product-banner/product-banner-img-13.webp" alt="Ecommerce Product Banner Image">
            </div>
        </div>
    </div>
</div>
<!-- End Product Banner Area -->
