<!-- Start Product Banner Area -->
<div class="row row--12 mt_dec--24">
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--24 d-flex justify-content-center">
        <div class="rbt-product-banner rbt-product-banner-style-four rbt-product-banner-style-four-h-longer rbt-bottom-position-content rbt-banner-center-style rbt-banner-bgdark-style rbt-scroll-trigger fade_in animation-order-1">
            <div class="rbt-banner-inner">
                <div class="rbt-product-banner-content has-bg-black-overlay pb--40">
                    <div class="rbt-content-section rbt-banner-content-wider">
                        <p class="rbt-banner-subtitle mb-0">HURRY SALE 50%</p>
                        <h3 class="rbt-banner-title mb-0"><span class="rbt-bold--text">Gold </span> Jewelry</h3>
                        <p class="rbt-banner-description">Unlock timeless elegance with gold</p>
                        <div class="rbt-banner-btn">
                            <a class="rbt-btn rbt-btn-md" href="shop.html">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rbt-product-banner-img rbt-full-width-img">
                <img src="assets/images/product-banner/product-banner-jwellerry-a-3.webp" alt="Ecommerce Product Banner Image">
            </div>
        </div>
    </div>
    
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--24 d-flex justify-content-center">
        <div class="rbt-product-banner rbt-product-banner-style-four rbt-product-banner-style-four-h-longer rbt-bottom-position-content rbt-banner-center-style rbt-banner-bgdark-style rbt-scroll-trigger fade_in animation-order-2">
            <div class="rbt-banner-inner">
                <div class="rbt-product-banner-content has-bg-black-overlay pb--40">
                    <div class="rbt-content-section rbt-banner-content-wider">
                        <p class="rbt-banner-subtitle mb-0">SALE UPTO 70%</p>
                        <h3 class="rbt-banner-title mb-0"><span class="rbt-bold--text">Diamond </span> Jewelry</h3>
                        <p class="rbt-banner-description">Elevate your style with diamond</p>
                        <div class="rbt-banner-btn">
                            <a class="rbt-btn rbt-btn-md" href="shop.html">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rbt-product-banner-img rbt-full-width-img">
                <img src="assets/images/product-banner/product-banner-jwellerry-a-2.webp" alt="Ecommerce Product Banner Image">
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--24 d-flex justify-content-center">
        <div class="rbt-product-banner rbt-product-banner-style-four rbt-product-banner-style-four-h-longer rbt-bottom-position-content rbt-banner-center-style rbt-banner-bgdark-style rbt-scroll-trigger fade_in animation-order-3">
            <div class="rbt-banner-inner">
                <div class="rbt-product-banner-content has-bg-black-overlay pb--40">
                    <div class="rbt-content-section rbt-banner-content-wider">
                        <p class="rbt-banner-subtitle mb-0">SALE UPTO 70%</p>
                        <h3 class="rbt-banner-title mb-0"><span class="rbt-bold--text">Platinum </span> Jewelry</h3>
                        <p class="rbt-banner-description">Celebrate moments with collections</p>
                        <div class="rbt-banner-btn">
                            <a class="rbt-btn rbt-btn-md" href="shop.html">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rbt-product-banner-img rbt-full-width-img">
                <img src="assets/images/product-banner/product-banner-jwellerry-a-1.webp" alt="Ecommerce Product Banner Image">
            </div>
        </div>
    </div>
</div>
<!-- End Product Banner Area -->