<!-- Start Product Banner Area -->
<div class="row row--12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt--32 mt_sm--0">
        <div class="rbt-product-banner rbt-product-banner-style-one">
            <div class="rbt-product-banner-img rbt-scroll-trigger zoom_in animation-order-1">
                <img src="assets/images/product-banner/product-banner-img-01.webp" alt="Ecommerce Product Banner Image">
            </div>
            <div class="rbt-banner-inner rbt-curved-style-box">
                <div class="rbt-product-banner-content">
                    <div class="rbt-content-section rbt-scroll-trigger fade_in animation-order-1">
                        <p class="rbt-banner-subtitle mb-0">Power Up Deals</p>
                        <h2 class="rbt-banner-title title-capitalize-text mb-0"><span class="rbt-bold--text">New
                                Device</span> coming Soon </h2>
                        <h3 class="rbt-secondery-subtitle mb-0">Land major deals</h3>
                    </div>
                    <div
                        class="rbt-banner-btn rbt-magnet-area rbt-banner-btn rbt-scroll-trigger fade_in animation-order-2">
                        <a class="rbt-btn rbt-btn-round rbt-magnetic-button" href="shop.html"><i
                                class="fa-solid fa-arrow-up-right"></i> SHOP <br> NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Banner Area -->