@use "../../default/variables" as *; // Importing all the variables
@use "../../default/extend" as *; // Importing all the extend
@use "../../default/mixins" as *; // Importing all the mixins

/*---------------------------
    Header Mid Style  
----------------------------*/


.rbt-header-middle {
    .rbt-header-sec {
        .rbt-header-sec-col {
            flex-basis: inherit;
            flex-grow: inherit;
            max-width: inherit;

            &.rbt-header-right,
            &.rbt-header-left {
                flex: 1 1 0px;
            }

            &.rbt-header-center {
                text-align: center;
                width: 50%;
                flex-shrink: 0;

                .rbt-header-content {
                    .header-info {
                        width: 100%;
                    }
                }
            }

        }
    }

    &.rbt-bg-color-primary {
        .rbt-mainmenu-nav {
            .mainmenu {
                margin: 0 -4px;

                >li {
                    margin: 0 4px;

                    @media #{$laptop-device} {
                        margin: 0 4px;
                    }

                    &:first-child {
                        margin-left: 0;

                        a {
                            padding-left: 12px;

                            @media #{$laptop-device} {
                                padding-left: 6px;
                            }
                        }
                    }

                    &:last-child {
                        >a {
                            padding-right: 12px;

                            @media #{$laptop-device} {
                                padding-right: 6px;
                            }
                        }
                    }

                    >a {
                        color: var(--color-white);
                        padding: 0 12px;
                        position: relative;

                        >i {
                            font-size: 12px;
                            margin-left: 5px;
                        }
                    }

                    &:hover,
                    &.active {
                        >a {
                            color: var(--color-white) !important;
                        }
                    }
                }

                &.mainmenu-has-bg-rectangle-shape {
                    >li {
                        >a {
                            &::after {
                                height: 28px;
                                border-radius: 4px;
                            }
                        }
                    }
                }

                &.has-nav-bg-shape-hover {
                    >li {
                        >a {
                            &::after {
                                content: "";
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                left: 50%;
                                background: rgba(255, 255, 255, 0.15);
                                width: 100%;
                                height: 28px;
                                border-radius: 20px;
                                opacity: 0;
                                visibility: hidden;
                                transform: translate(-50%, -50%) scale(0.7);
                                transition: var(--transition);
                            }
                        }

                        &:hover,
                        &.active {
                            >a {
                                &:after {
                                    transform: translate(-50%, -50%) scale(1);
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.rbt-mainmenu-nav {
    .mainmenu {
        &.has-nav-bg-shape-hover {
            >li {
                >a {
                    color: var(--color-heading);
                    padding: 0 8px;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        background: var(--color-gray-200);
                        width: 100%;
                        height: 28px;
                        border-radius: 20px;
                        opacity: 0;
                        visibility: hidden;
                        transform: translate(-50%, -50%) scale(0.7);
                        transition: var(--transition);
                        z-index: -1;
                    }

                    >i {
                        font-size: 12px;
                        margin-left: 5px;
                    }
                }

                &:hover,
                &.active {
                    >a {
                        color: var(--color-heading) !important;

                        &:after {
                            transform: translate(-50%, -50%) scale(1);
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }

            &.has-nav-bg-shape-hover-primary {
                >li {
                    >a {
                        color: var(--color-white);

                        &::after {
                            background: rgba(255, 255, 255, 0.30);
                        }
                    }

                    &:hover,
                    &.active {
                        >a {
                            color: var(--color-white) !important;
                        }
                    }
                }
            }
        }

        &.mainmenu-has-bg-rectangle-shape {
            >li {
                >a {
                    &::after {
                        height: 28px;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}

.rbt-mainmenu-variation-one {
    .rbt-mainmenu-nav {
        .mainmenu {
            >li {
                margin: 0 16px;

                &:first-child {
                    margin-left: 0;

                    a {
                        padding-left: 16px;
                    }
                }

                &:last-child {
                    >a {
                        padding-right: 16px;
                    }
                }

                >a {
                    color: var(--color-white);
                    padding: 0 16px !important;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        background: rgba(255, 255, 255, 0.30);
                        width: 100%;
                        height: 30px;
                        border-radius: 20px;
                        opacity: 0;
                        visibility: hidden;
                        transition: var(--transition);
                        z-index: -3;
                    }

                    >i {
                        font-size: 12px;
                        margin-left: 5px;
                    }
                }

                &:hover,
                &.active {
                    >a {
                        color: var(--color-white) !important;

                        &:after {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }

            &.mainmenu-has-bg-rectangle-shape {
                >li {
                    >a {
                        &::after {
                            height: 28px;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }
    }

    &.rbt-mainmenu-black-link {
        .mainmenu {
            >li {

                &:hover,
                &.active {
                    >a {
                        color: var(--color-white);

                        &:hover {
                            color: var(--color-white);
                        }

                        &:after {
                            opacity: 1;
                            visibility: visible;
                            background: var(--color-black);
                        }
                    }
                }
            }
        }
    }
}




.rbt-header-mid-1 {
    z-index: 3;

    .rbt-quick-access>li.account-access {
        padding-left: 10px;
        margin-left: 10px;
        margin-right: 0;
        position: relative;
    }

    .rbt-quick-access>li.account-access::after {
        left: -10px;
    }
}

.rbt-header-has-shadow {
    box-shadow: var(--shadow-1);
}