@use "../default/variables" as *; // Importing all the variables
@use "../default/extend" as *; // Importing all the extend
@use "../default/mixins" as *; // Importing all the mixins

/*------------------------------
    Popup Menu Styles  
--------------------------------*/
.popup-mobile-menu {
    z-index: 9999;
    position: fixed;
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease-out;

    @media only screen and (min-width: 1200px) {
        display: none;
    }

    .rbt-short-title {
        text-align: center;
        margin-top: 8px;
        padding-bottom: 4px;
        border-width: 1px;
    }

    .demo-single:hover {
        transform: translateY(-5px);
        box-shadow: unset;
        backdrop-filter: unset;
    }

    .inner-wrapper {
        width: 400px;
        z-index: 999;
        position: absolute;
        background-color: var(--color-white);
        height: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0;
        left: -150px;
        transition: all .5s ease-out;
        padding: 60px 50px;
        height: 100%;
        position: relative;
        overflow-y: auto;

        @media #{$sm-layout, $md-layout, $lg-layout} {
            padding: 28px;
        }

        @media #{$large-mobile} {
            width: 300px;
            padding: 24px 16px;
        }

        .inner-top {
            border-bottom: 1px solid var(--color-border);
            padding-bottom: 24px;
            margin-bottom: 24px;

            @media #{$sm-layout} {
                padding-bottom: 16px;
                margin-bottom: 16px;
            }

            .content {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .logo {
                a {
                    img {
                        max-height: 45px;

                        @media #{$sm-layout} {
                            max-height: 35px;
                        }
                    }
                }
            }

            .close-button {
                background: var(--color-gray-200);
                border: 0 none;
                color: var(--color-heading);
                width: 40px;
                height: 40px;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: var(--radius-full);

                @media #{$small-mobile} {
                    width: 28px;
                    height: 28px;
                    font-size: 12px;
                }
            }
        }

        .content {
            display: flex;
            justify-content: space-between;

            @media #{$sm-layout} {
                display: block;
            }
        }

        .description {
            padding-right: 18%;
            margin-top: 20px;

            @media #{$sm-layout} {
                padding-right: 0;
                margin: 16px 0;
            }
        }
    }

    &.active {
        visibility: visible;
        opacity: 1;

        .inner-wrapper {
            opacity: 1;
            left: 0;
            overflow-y: auto;
        }
    }

    .rbt-social-icon-list {
        justify-content: center;
        margin-top: 16px;

        a {
            font-size: 24px;
        }
    }

    .rbt-inner-search-field {
        height: auto;
        max-width: 100%;
        margin-bottom: 0;
        width: 100%;

    }

    .rbt-round-shape-tab .nav-tabs .nav-item .nav-link {
        padding: 12px 16px;

        @media #{$sm-layout} {
            padding: 6px 8px;
        }
    }

    .rbt-inner-search-field {
        input {
            padding-right: 44px;
        }
    }

    .mainmenu {
        list-style: none;
        padding: 0;
        margin: 0;
        padding: 15px 0px;

        li {
            margin: 0;

            a {
                padding: 10px 8px;
                display: block;
                font-size: var(--font-size-b1);
                font-weight: var(--f-medium);

                @media #{$sm-layout} {
                    font-size: var(--font-size-b3);
                }

                &.active {
                    color: var(--color-primary) !important;
                }

                i {
                    display: none;

                    &.rbt-catagories-icon {
                        display: inline-block;
                    }
                }
            }

            .rbt-btn.rbt-btn-sm {
                padding: 0 8px;
            }

            &+li {
                border-top: 1px solid var(--color-border);
            }
        }

        .has-dropdown {
            .submenu {
                padding: 0;
                max-width: 100%;
                list-style: none;
                padding-left: 14px;
                display: none;

                li {
                    a {
                        font-size: 15px;

                        &.active {
                            color: var(--color-primary) !important;
                        }
                    }
                }
            }
        }

        .has-menu-child-item,
        .has-dropdown {
            >a {
                position: relative;

                &::after {
                    position: absolute;
                    content: "\2b";
                    font-family: "Font Awesome 7 Pro", sans-serif;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: 0.4s;
                }

                &.open {
                    &::after {
                        content: "\f068";
                    }
                }
            }
        }

        .rbt-megamenu {
            padding: 0;
            max-width: 100%;
            list-style: none;
            padding-left: 12px;
            display: none;

            .rbt-megamenu-wrapper {
                padding-bottom: 12px;
            }
        }

        .mega-menu-item {
            list-style: none;
            padding: 0;
            margin: 0;
            padding-left: 8px;
            margin-top: 0;

            li {
                a {
                    font-size: 14px;
                }
            }
        }

        .single-mega-item {
            &:last-child {
                .mega-menu-item {
                    li {
                        &:last-child {
                            border-bottom-color: transparent;
                        }
                    }
                }
            }

            &+.single-mega-item {
                margin-top: 15px;
            }

            .rbt-short-title {
                margin-top: 8px;
                text-align: left;
            }
        }
    }

    .mega-top-banner {
        margin: 0;
        margin-top: 10px;
        border-radius: 4px;
        margin-bottom: 9px;

        .content {
            width: 100%;
            display: block;
        }
    }

    .nav-rbt-quick-access {
        display: block;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: -20px;
        padding: 6px 17px;
        overflow: hidden;

        li {
            a {
                display: flex;
                font-size: 14px;

                i {
                    display: flex;
                }
            }
        }
    }

    .rbt-ads-wrapper {
        margin-bottom: 20px;
        margin-top: -16px;
        margin-left: -15px;

        @media #{$smlg-device} {
            margin-top: 0;
            margin-left: 0;
        }

        img {
            @media #{$smlg-device} {
                border-radius: 10px;
            }
        }
    }

    .btn-wrapper {
        margin-left: -14px;
        margin-bottom: 20px;
        margin-top: -14px;
    }

    .rbt-btn {
        &.btn-xl {
            padding: 0 15px !important;
            font-size: 14px !important;
            height: 50px;
            line-height: 52px;
            border-radius: 4px !important;
        }
    }

    .mega-category-item {
        margin-top: -15px;
        margin-bottom: 15px;

        .nav-category-item {
            padding: 8px 14px;
        }
    }
}

.hamberger {
    .hamberger-button {
        background: transparent;
        border: 0 none;
        color: var(--color-heading);
        font-size: var(--font-size-b3);
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background: var(--color-gray-200);
        padding: 0;

        &::after {
            display: none;
        }
    }
}



.header-info {
    .logo {
        @media #{$sm-layout,$md-layout,$lg-layout} {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.variation-one {
            @media #{$sm-layout,$md-layout} {
                position: static;
                transform: none;
            }
        }

        a img {
            @media #{$small-mobile} {
                max-width: 112px;
            }
        }
    }
}

.popup-mobile-menu {
    .load-demo-btn {
        height: 36px;
        line-height: 36px;
        padding-top: 0 !important;
        font-size: var(--font-size-b3);

        i {
            font-size: var(--font-size-b3);
        }
    }

    .rbt-btn-grp {
        display: flex !important;

        .rbt-btn.rbt-marquee-btn {
            max-width: 165px;
            height: 40px;
            line-height: 40px;
            font-size: var(--font-size-b3);

            @media #{$sm-layout} {
                height: 28px;
                line-height: 28px;
                font-size: var(--font-size-b4);
            }
        }
    }

    @media only screen and (max-width: 479px) {
        .rbt-product-card .rbt-product-badge.rbt-badge-top-left--position {
            top: 16px;
            left: 8px;
        }

        .rbt-wishlisted-btn.rbt-top-right--position {
            top: 16px;
            right: 8px;
        }
    }

    .rbt-overlay-counter {
        &.counter-md {
            font-size: 66px;
            display: flex;

            .odometer-inside {
                display: flex;
            }
        }
    }

    .rbt-overlay-counter.counter-md .counter-suffix {
        margin-left: 0;
    }
}

.popup-mobile-menu .rbt-rating-icon-list li+li {
    border: 0;
}

.popup-mobile-menu .mainmenu li .rbt-card a {
    padding: 0;
}

.popup-mobile-menu .rbt-small-title {
    margin-bottom: 10px !important;
}

.rbt-btn-grp {
    transition: var(--transition);

    .rbt-btn.animated-icon-btn {
        &:hover {
            &::after {
                transform: translate(-50%, -50%) scale(1) !important;
            }

            transform: none !important;
        }
    }
}