@use "../default/variables" as *; // Importing all the variables
@use "../default/extend" as *; // Importing all the extend
@use "../default/mixins" as *; // Importing all the mixins

.rbt-wishlist-area {
    .rbt-component-section-title {
        .description {
            max-width: 385px;
        }
    }
}

// product price
.rbt-product-price-text {
    color: var(--color-heading);
    font-size: var(--h5);
    font-weight: var(--f-bold);
    line-height: var(--line-height-b1);
}

// wishlist social share and copy link
.rbt-wishlist-bottom-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    @media #{$sm-layout, $md-layout} {
        display: block;
        margin-top: 16px;
    }

    .rbt-social-share-area {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @media #{$md-layout} {
            margin-bottom: 24px;
        }
    }
}

// copy link area
.rbt-copy-link-part {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    margin-right: 8px;
    position: relative;
    width: fit-content;

    @media #{$sm-layout} {
        margin-top: 24px;
    }

    .rbt-copy-link-title {
        white-space: nowrap;
        font-size: var(--font-size-b2);
        font-weight: var(--f-semi-bold);
    }

    .rbt-copy-value-field {
        padding: 10px 16px;
        width: 350px;
        padding-right: 112px;
        box-shadow: unset;
        border-radius: var(--radius-60);
        appearance: none;
        transition: all 0.3s ease;

        @media #{$small-mobile} {
            width: 100%;
            padding-right: 76px;
        }

        &:focus {
            border-color: var(--color-border);
        }

        &::selection {
            color: #fff;
            background-color: var(--color-primary);
        }
    }

    .rbt-btn {
        position: absolute;
        right: 8px;
        bottom: 8px;
        padding: 0 24px;

        &::after {
            content: attr(data-tooltip);
            width: 80px;
            height: 40px;
            bottom: 124%;
            left: 60px;
            border-radius: var(--radius-60);
            font-size: 14px;
            line-height: 40px;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            background-color: var(--color-primary);
            color: var(--color-gray-200);
            transform: translateY(-10px) translateX(-50%);
            text-align: center;
            transition: var(--transition);
        }

        &::before {
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            margin-top: -8px;
            border-top: 8px solid var(--color-primary);
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            opacity: 0;
            transform: translateY(-10px);
            transition: var(--transition);
        }

        &:hover {
            &::after {
                opacity: 1;
                transform: translateY(0) translateX(-50%);
            }

            &::before {
                opacity: 1;
                transform: unset;
            }
        }

        i {
            font-size: inherit;
        }

        .rbt-btn-text {
            @media #{$small-mobile} {
                display: none;
            }
        }
    }
}

// wishlist pupop style
.rbt-wishlist-area {
    .modal-dialog {
        max-width: 640px;

        button.btn-close {
            background: var(--color-brand-100);
            border-radius: var(--radius-full);
            height: 40px;
            width: 40px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: var(--h5);
            opacity: 1;
            color: var(--color-heading);
            position: absolute;
            top: -20px;
            right: -20px;
            z-index: 1;

            &:focus {
                outline: none;
            }

            @media #{$sm-layout, $md-layout} {
                right: 0;
                top: 0;
                background: transparent;
            }
        }
    }

    .rbt-default-modal {
        .modal-content {
            padding: 0;
        }
    }

    .modal-body {
        padding: 0;
    }
}

.rbt-wishlist-popup {
    background: var(--color-white);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-1);
    padding: 0 32px 24px;

    .rbt-wishlist-popup-header {
        padding: 24px 0 0;

        .rbt-title {
            margin: 0;
        }
    }

    .rbt-transparent-table-one {
        tbody {
            tr {
                td {
                    padding: 24px 6px;
                    width: fit-content;

                    &:first-child {
                        padding-left: 0;
                        padding-right: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }

        .rbt-product-remove-btn {
            padding-left: 0;
            padding-right: 20px;
        }
    }

    .rbt-wishlit-popup-footer {
        margin-top: 112px;

        @media #{$sm-layout} {
            margin-top: 64px;
        }

        .rbt-btn {
            white-space: nowrap;
        }
    }
}.rbt-wishlist-area {
    .rbt-component-section-title {
        .description {
            max-width: 385px;
        }
    }
}


// wishlist social share and copy link
.rbt-wishlist-bottom-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    @media #{$sm-layout, $md-layout} {
        display: block;
        margin-top: 16px;
    }

    .rbt-social-share-area {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @media #{$md-layout} {
            margin-bottom: 24px;
        }
    }
}

// copy link area
.rbt-copy-link-part {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 12px;
    margin-right: 8px;
    position: relative;
    width: fit-content;

    @media #{$sm-layout} {
        margin-top: 24px;
    }

    .rbt-copy-link-title {
        white-space: nowrap;
        font-size: var(--font-size-b2);
        font-weight: var(--f-semi-bold);
    }

    .rbt-copy-value-field {
        padding: 10px 16px;
        width: 350px;
        padding-right: 112px;
        box-shadow: unset;
        border-radius: var(--radius-60);
        appearance: none;
        transition: all 0.3s ease;

        @media #{$small-mobile} {
            width: 100%;
            padding-right: 76px;
        }

        &:focus {
            border-color: var(--color-border);
        }

        &::selection {
            color: #fff;
            background-color: var(--color-primary);
        }
    }

    .rbt-btn {
        position: absolute;
        right: 8px;
        top: 50%;
        padding: 0 24px;
        transform: translateY(-50%);
        z-index: 1;

        &::after {
            content: attr(data-tooltip);
            min-width: 90px;
            height: auto;
            bottom: 124%;
            left: 30px;
            border-radius: var(--radius-60);
            font-size: 14px;
            line-height: 34px;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            background-color: var(--color-black);
            color: var(--color-gray-200);
            transform: translateY(-10px) translateX(-50%);
            text-align: center;
            transition: var(--transition);
        }

        &::before {
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            margin-top: -9px;
            border-top: 8px solid var(--color-black);
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            opacity: 0;
            transform: translateY(-10px);
            transition: var(--transition);
        }

        &:hover {
            &::after {
                opacity: 1;
                transform: translateY(0) translateX(-50%);
            }
            &::before {
                opacity: 1;
                transform: unset;
            }
        }

        i {
            font-size: inherit;
        }

        .rbt-btn-text {
            @media #{$small-mobile} {
                display: none;
            }
        }
    }
}