<ul class="rbt-inf-box-wrapper-list @@gapSpaceBetween">
    <li>
        <div class="rbt-inf-box  rbt-scroll-trigger fade_in animation-order-1">
            <div class="rbt-inf-box-icon">
                <i class="fa-light fa-truck-fast"></i>
            </div>
            <div class="rbt-inf-box-content">
                <h2 class="rbt-inf-box-title">Free Shipping</h2>
                <p class="rbt-inf-box-desc">From all orders over $100</p>
            </div>
        </div>
    </li>
    <li>
        <div class="rbt-inf-box  rbt-scroll-trigger fade_in animation-order-2">
            <div class="rbt-inf-box-icon">
                <i class="fa-light fa-headset"></i>
            </div>
            <div class="rbt-inf-box-content">
                <h2 class="rbt-inf-box-title">Quality Support</h2>
                <p class="rbt-inf-box-desc">24/7 online feedback</p>
            </div>
        </div>
    </li>
    <li>
        <div class="rbt-inf-box  rbt-scroll-trigger fade_in animation-order-3">
            <div class="rbt-inf-box-icon">
                <i class="fa-light fa-box"></i>
            </div>
            <div class="rbt-inf-box-content">
                <h2 class="rbt-inf-box-title">Return & Refund</h2>
                <p class="rbt-inf-box-desc">Return money within 30 days</p>
            </div>
        </div>
    </li>
    <li>
        <div class="rbt-inf-box  rbt-scroll-trigger fade_in animation-order-4">
            <div class="rbt-inf-box-icon">
                <i class="fa-light fa-ticket"></i>
            </div>
            <div class="rbt-inf-box-content">
                <h2 class="rbt-inf-box-title">Gift Voucher</h2>
                <p class="rbt-inf-box-desc">20% off when you shop online</p>
            </div>
        </div>
    </li>
    <li>
        <div class="rbt-inf-box  rbt-scroll-trigger fade_in animation-order-5">
            <div class="rbt-inf-box-icon">
                <i class="fa-light fa-headset"></i>
            </div>
            <div class="rbt-inf-box-content">
                <h2 class="rbt-inf-box-title">Quality Support</h2>
                <p class="rbt-inf-box-desc">24/7 online feedback</p>
            </div>
        </div>
    </li>
</ul>