<div class="rbt-breadcrumb-two @@bg-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rbt-breadcrumb-inner text-left">
                    <ul class="rbt-breadcrumb-page-list @@justify-content mt--0">
                        <li class="rbt-breadcrumb-item"><a href="index.html">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="fa-solid fa-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item"><a href="#">@@sectionType</a></li>
                        <li>
                            <div class="icon-right"><i class="fa-solid fa-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">@@title</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>