<div class="rbt-breadcrumb-default ptb--48 ptb_md--24 ptb_sm--24 @@bg-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="rbt-breadcrumb-inner text-center">
                    <h2 class="rbt-breadcrumb-title h1">@@text <span>@@title2</span></h2>
                    <ul class="rbt-breadcrumb-page-list">
                        <li class="rbt-breadcrumb-item"><a href="index.html">Home</a></li>
                        <li>
                            <div class="icon-right"><i class="fa-solid fa-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item"><a href="#">@@sectionType</a></li>
                        <li>
                            <div class="icon-right"><i class="fa-solid fa-chevron-right"></i></div>
                        </li>
                        <li class="rbt-breadcrumb-item active">@@title</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>