<div class="rbt-cookies">
    <div class="rbt-icon">
        <img src="assets/images/icons/cookie.svg" alt="Icon">
    </div>
    <div class="rbt-content">
        <div class="rbt-cookie-info">
            <p class="b2 mb--4 rbt-text-bold rbt-text-color-heading">We Care About Your Privacy</p>
            <p class="b4 mb--0 rbt-text-color-gray-600">
                We use cookies & similar technologies to provide the
                best experience on our website. <a href="#!" class="rbt-btn-link rbt-text-color-heading rbt-text-bold b4">Privacy Policy</a>
            </p>
        </div>
        <div class="rbt-gap--8 rbt-btn-group">
            <button class="rbt-btn rbt-btn-md rbt-btn-gray-light rbt-cookies-decline-btn">Decline</button>
            <button class="rbt-btn rbt-btn-md rbt-cookies-accept-btn">Accept</button>
        </div>
    </div>
    <button class="rbt-close-btn">
        <i class="fa-sharp fa-solid fa-xmark"></i>
    </button>
</div>