<div class="rbt-remaining-popup">
    <div class="rbt-product-img">
        <img src="assets/images/product-single/ear-add-prd/eadd-prd-checkbox-3.webp" alt="Product Image">
    </div>
    <div class="rbt-content">
        <button class="rbt-close-btn close-remaining-popup"><i class="fa-sharp fa-solid fa-xmark"></i></button>
        <h2 class="rbt-title mb--0">Hurry! Going fast</h2>
        <hr class="rbt-separator mt--12 mb--16">
        <p class="b3 mb--0 rbt-text-color-gray-500">
            <span class="rbt-text-bold rbt-text-color-gray-700">127 shoppers</span> have added this item to their bag today--it's moving fast.
        </p>
        <button class="rbt-btn rbt-btn-xs d-block w-100 mt--16">Add To Bag</button>
    </div>
</div>