<div class="rbt-social-share-wrapper rbt-social-share-box">
    <span class="rbt-indicator-shape">
        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="29" viewBox="0 0 34 29" fill="none">
            <path
                d="M13.5359 2C15.0755 -0.666664 18.9245 -0.666667 20.4641 2L32.5885 23C34.1281 25.6667 32.2036 29 29.1244 29H4.87565C1.79645 29 -0.128058 25.6667 1.41154 23L13.5359 2Z"
                fill="white" />
        </svg>
    </span>
    <div class="rbt-social-box-inner">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="rbt-title mb--0 rbt-text-bold" id="socialShareModalLabel">Share Options</h5>
            <button class="rbt-close-btn close-social-share"><i class="fa-sharp fa-solid fa-xmark"></i></button>
        </div>
        <ul
            class="social-icon rbt-social-default mt--16 mt_sm--0 rbt-social-default-v1 lg-size flex-nowrap justify-content-start">
            <li>
                <a class="facebook-btn" href="https://www.facebook.com">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a class="tiktok-btn" href="https://www.tiktok.com">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
            </li>
            <li>
                <a class="pinterest-btn" href="https://www.pinterest.com">
                    <i class="fa-brands fa-pinterest-p"></i>
                </a>
            </li>
            <li>
                <a class="tumblr-btn" href="https://www.tumblr.com/">
                    <i class="fa-brands fa-tumblr"></i>
                </a>
            </li>
            <li>
                <a class="telegram-btn" href="https://www.telegram.com">
                    <i class="fa-brands fa-telegram"></i>
                </a>
            </li>
            <li>
                <a class="whatsapp-btn" href="https://www.whatsapp.com/">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </li>
            <li>
                <a class="email-btn" href="mailto:someone@example.com">
                    <i class="fa-regular fa-envelope"></i>
                </a>
            </li>
        </ul>

        <div class="rbt-copy-link-part rbt-text-copy-activation mt--24 mt_sm--8 w-100">
            <input class="rbt-copy-value-field w-100" type="text" value="https://RVN.template/wishlist" readonly>
            <button class="rbt-btn rbt-btn-xs has-left-icon rbt-copy-btn" data-tooltip="Copy to clipboard">
                <i class="fa-regular fa-copy"></i>
            </button>
        </div>
    </div>
</div>