<div class="rbt-toaster-style-2 rbt-toaster-activation isVisible">
    <div class="rbt-innter">
        <button class="rbt-close-btn close-toaster"><i class="fa-sharp fa-solid fa-xmark"></i></button>
        <p class="b3 mb--8 rbt-text-color-gray-100">
            “Fresh Cream Milk Powder 1kg” has been added to cart
        </p>
        <a href="#!" class="rbt-underline-btn btn-white border-bottom border-1">
            View Cart
            <i class="fa-regular fa-chevron-right"></i>
        </a>
    </div>
</div>