<div class="rbt-header-wrapper @@stickyActivation @@gapSpaceBetween @@transparent">
    <div class="@@container">
        <div class="mainbar-row @@navigationEnd align-items-center">
            <div class="header-left">
                <div class="rbt-header-content">
                    <div class="header-info">
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/images/logo/@@logo" alt="Ecommerce Logo Images">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Start Mobile-Menu-Bar -->
                <div class="mobile-menu-bar d-block d-xl-none">
                    <div class="hamberger">
                        <button class="hamberger-button rbt-round-btn">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                    </div>
                </div>
                <!-- Start Mobile-Menu-Bar -->
            </div>


            <div class="rbt-header-content d-none d-xl-block">
                <div class="header-info">
                    <div class="rbt-search-with-category uni-header-swc-one uni-header-swc-md">
                        <form>
                            <div class="rbt-inner-search-field border-0">
                                <div
                                    class="rbt-search-input-section has-left-catagory-section rbt-inner-search-label-animate-activation">
                                    <div class="filter-select rbt-modern-select search-by-category"
                                        data-live-search="true" data-live-search-placeholder="Search Catagories">
                                        <select class="rbt-select-activation">
                                            <option>All Categories</option>
                                            <option>Fashion</option>
                                            <option>Furniture</option>
                                            <option>Electronics</option>
                                            <option>Beauty</option>
                                        </select>
                                    </div>

                                    <input type="text">
                                    <span class="cd-headline clip is-full-width">
                                        <span class="cd-words-wrapper">
                                            <b class="is-visible">Search for something...</b>
                                            <b class="is-hidden">Looking for something specific?</b>
                                            <b class="is-hidden">Explore what you need...</b>
                                        </span>
                                    </span>
                                </div>
                                <button class="rbt-round-btn search-btn" type="submit" aria-label="Search"><i
                                        class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="header-right">
                <!-- Navbar Icons -->
                <ul class="rbt-quick-access">
                    <li class="rbt-access-box rbt-scroll-trigger fade_in animation-order-1 d-none d-lg-flex">
                        <a href="#!" class="rbt-round-btn has-rbt-md-fsize" data-bs-toggle="modal"
                            data-bs-target="#compareviewModal">
                            <i class="fa-regular fa-code-compare"></i>
                            <div class="access-box-count">4</div>
                        </a>
                    </li>

                    <li
                        class="rbt-access-box rbt-scroll-trigger fade_in animation-order-3 rbt-wishlist d-none d-lg-flex">
                        <a class="rbt-round-btn has-rbt-md-fsize" href="wishlist.html">
                            <i class="fa-regular fa-heart"></i>
                            <div class="access-box-count">3</div>
                        </a>
                    </li>


                    <li class="rbt-access-box rbt-scroll-trigger fade_in animation-order-3 rbt-access-box-has-bg-hover">
                        <a href="#!" class="rbt-access-box-wrapper" data-bs-toggle="modal"
                            data-bs-target="#signinModal">
                            <div class="rbt-round-btn rbt-bg-static-gray">
                                <i class="fa-regular fa-user"></i>
                            </div>
                            <div class="content">
                                <p>Log in/Sign Up</p>
                                <span>Access Account</span>
                            </div>
                        </a>
                    </li>

                    <li
                        class="rbt-access-box rbt-scroll-trigger fade_in animation-order-4 rbt-access-box-has-bg-hover rbt-mini-cart">
                        <a href="#" class="rbt-access-box-wrapper rbt-cart-sidenav-activation">
                            <div class="rbt-round-btn rbt-bg-static-gray">
                                <i class="fa-regular fa-bag-shopping"></i>
                                <span class="access-box-count rbt-shiny">12</span>
                            </div>
                            <div class="content p-0">
                                <p>Total Cart</p>
                                <span>Total $90</span>
                            </div>
                        </a>
                    </li>
                </ul>


            </div>
        </div>
    </div>

    @@include('header/header-search/search-header-one.html')
</div>