<div class="rbt-offcanvas-inner-popup">
    <div class="rbt-offcanvas-inner-popup-card coupon-popup">
        <div class="rbt-offcanvas-card-inner">
            <h3 class="rbt-title rbt-text-bold h6">
                <span class="mr--4"><i class="fa-regular fa-ticket"></i></span>
                Select or input Coupon
            </h3>
            <div class="rbt-coupon-wrapper rbt-bg-color-white">
                <div class="rbt-coupon">
                    <div class="inner rbt-text-copy-activation">
                        <div class="left-part">
                            <input type="text" value="WELCOME100" readonly
                                class="rbt-coupon-code-text rbt-has-right-shepe-border rbt-copy-value-field">
                        </div>
                        <div class="coupon-details">
                            <h2 class="rbt-coupon-info-title b1">UP TO 30% OFF</h2>
                            <p class="rbt-coupon-info-sub-title b3 mt--4">For orders over ₹9.90</p>
                            <ul class="rbt-coupon-info-list mt--12">
                                <li><span>12/18/2023 14:00 ~ 12/25/2023 14:00</span></li>
                                <li><span>The minimum spend for this coupon <strong>₹200.00</strong></span></li>
                            </ul>
                        </div>
                        <button class="copy-icon rbt-round-btn rbt-bg-primary rbt-copy-btn" data-tooltip="Copy">
                            <i class="fa-sharp fa-regular fa-copy"></i>
                        </button>
                    </div>
                </div>
                <div class="rbt-coupon">
                    <div class="inner rbt-text-copy-activation">
                        <div class="left-part">
                            <input type="text" value="WELCOME100" readonly
                                class="rbt-coupon-code-text rbt-has-right-shepe-border rbt-copy-value-field">
                        </div>
                        <div class="coupon-details">
                            <h2 class="rbt-coupon-info-title b1">UP TO 30% OFF</h2>
                            <p class="rbt-coupon-info-sub-title b3 mt--4">For orders over ₹9.90</p>
                            <ul class="rbt-coupon-info-list mt--12">
                                <li><span>12/18/2023 14:00 ~ 12/25/2023 14:00</span></li>
                                <li><span>The minimum spend for this coupon <strong>₹200.00</strong></span></li>
                            </ul>
                        </div>
                        <button class="copy-icon rbt-round-btn rbt-bg-primary rbt-copy-btn" data-tooltip="Copy">
                            <i class="fa-sharp fa-regular fa-copy"></i>
                        </button>
                    </div>
                </div>
            </div>
            <form>
                <div class="rbt-input-field-grp mt--24">
                    <p class="b1 mb--12 rbt-text-color-gray-600">If you have coupon code, please apply it below.</p>
                    <input type="text" placeholder="Coupon code">
                </div>
                <div class="rbt-btn-group mt--16">
                    <button class="rbt-btn rbt-btn-md rbt-btn-primary d-block w-100">Apply</button>
                    <button
                        class="rbt-btn rbt-btn-md rbt-btn-naked d-block w-100 mt--8 mb--8 rbt-popup-close-btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>