<!-- Start Header Area -->
<header class="rbt-header">
    <div class="rbt-header-wrapper rbt-header-sticky-activation rbt-header-1 @@gapSpaceBetween @@transparent">
        <div class="@@container">
            <div class="mainbar-row @@navigationEnd align-items-center">
                <div class="header-left">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/logo/@@logo" alt="RVN Logo Images">
                        </a>
                    </div>
                </div>
                <div class="rbt-main-navigation">
                    <nav class="rbt-mainmenu-nav onepagenav">
                        <ul class="mainmenu">
                            <li class="current">
                                <a href="#home">Home</a>
                            </li>
                            <li>
                                <a href="#about">About Us</a>
                            </li>
                            <li>
                                <a href="#testimonial">Testimonial</a>
                            </li>
                            <li>
                                <a href="#">Press Release</a>
                            </li>
                            <li>
                                <a href="#contact">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header-right">
                    <!-- Start OffCanvas Menu  -->
                    <div class="header-module module-nav-trigger style3" id="sidemenu_toggle">
                        <span class="module-trigger">
                            <span class="bars">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </span>
                    </div>
                    <!-- End OffCanvas Menu  -->
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Start Side Nav -->
<div class="side-menu">
    <div class="inner-wrapper">
        <div class="inner-top">
            <div class="content">
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/images/logo/logo.webp" alt="RVN Logo Images">
                    </a>
                </div>
                <div class="rbt-btn-close" id="btn_sideNavClose">
                    <button class="rbt-round-btn"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </div>
            <p class="description">RVN is a rbtcation website template. You can customize all.</p>

            <ul class="navbar-top-left rbt-information-list justify-content-start">
                <li>
                    <a href="mailto:hello@example.com"><i class="fa-regular fa-envelope"></i>example@gmail.com</a>
                </li>
                <li>
                    <a href="tel:+302555-0107"><i class="fa-regular fa-phone"></i>(302) 555-0107</a>
                </li>
            </ul>
        </div>
        <nav class="side-nav w-100">
            <ul class="navbar-nav">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="about.html">About Us</a>
                </li>
                <li>
                    <a href="#">Testimonial</a>
                </li>
                <li>
                    <a href="#">Press Release</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- End Side Nav -->

<!-- <a class="close_side_menu" href="javascript:void(0);"></a> -->