<div class="rbt-offcanvas-inner-popup">
    <div class="rbt-offcanvas-inner-popup-card note-popup">
        <div class="rbt-offcanvas-card-inner">
            <h3 class="rbt-title rbt-text-bold h6">
                <span class="mr--4"><i class="fa-regular fa-pen"></i></span>
                Add note for seller
            </h3>
            <form>
                <div class="rbt-input-field-grp mb--12">
                    <textarea class="rbt-text-field" name="message"
                        placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                </div>
                <div class="rbt-btn-group mt--16">
                    <button class="rbt-btn rbt-btn-md rbt-btn-primary d-block w-100">Apply</button>
                    <button
                        class="rbt-btn rbt-btn-md rbt-btn-naked d-block w-100 mt--8 mb--8 rbt-popup-close-btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>