<div class="rbt-offcanvas-inner-popup">
    <div class="rbt-offcanvas-inner-popup-card shipping-popup">
        <div class="rbt-offcanvas-card-inner">
            <h3 class="rbt-title rbt-text-bold h6">
                <span class="mr--4"><i class="fa-light fa-truck-fast"></i></span>
                Estimate shipping rates
            </h3>
            <form>
                <div class="rbt-input-field-grp mb--12">
                    <div class="rbt-dropdown-select filter-select rbt-modern-select search-by-category">
                        <select class="w-100 rbt-select-activation" data-live-search="true"
                            data-live-search-placeholder="Search City">
                            <option>Select your City</option>
                            <option>New York</option>
                            <option>London</option>
                            <option>Paris</option>
                            <option>Tokyo</option>
                            <option>Dubai</option>
                            <option>Singapore</option>
                            <option>Sydney</option>
                            <option>Berlin</option>
                            <option>Toronto</option>
                            <option>Los Angeles</option>
                        </select>
                    </div>
                </div>
                <div class="rbt-input-field-grp mb--12">
                    <input type="text" placeholder="State / County">
                </div>
                <div class="rbt-input-field-grp mb--12">
                    <input type="text" placeholder="City">
                </div>
                <div class="rbt-input-field-grp">
                    <input type="text" placeholder="Postcode / ZIP">
                </div>
                <div class="rbt-btn-group mt--16">
                    <button class="rbt-btn rbt-btn-md rbt-btn-primary d-block w-100">Calculate shipping rates</button>
                    <button
                        class="rbt-btn rbt-btn-md rbt-btn-naked d-block w-100 mt--8 mb--8 rbt-popup-close-btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>