<!-- Start Side Nav -->
<div class="rbt-special-offprds-side-menu rbt-special-offer-sidemenu">
    <div class="inner-wrapper p--0">
        <aside class="rbt-sidebar">
            <div class="rbt-sidebar-widget-wrapper rbt-sidebar-bg-one">

                <div class="rbt-sidebar-top sticky-top-0 rbt-bg-color-white">
                    <h3 class="rbt-sidebar-title mb--0 h-auto"><i class="fa-sharp fa-regular fa-filter-list mr--4"></i>
                        Special Offers
                    </h3>

                    <button class="rbt-sidebar-close-btn" id="btn_filtersideNavClose">
                        <i class="fa-sharp fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="rbt-sidebar-bottom border-0">
                    <div class="row row--12 mt_dec--24">

                        <!-- Start Single Card  -->
                        <div class="col-12 mt--24">
                            <div class="rbt-card rbt-offer-card">
                                <div class="inner">
                                    <div class="rbt-card-img">
                                        <a href="shop-by-categories.html">
                                            <img src="assets/images/offer-list/offer-card-image-1.webp"
                                                alt="Offer Thumbnail">
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <div class="ofr-meta-part">
                                            <div class="single-meta">
                                                <i class="fa-sharp fa-regular fa-calendar"></i>
                                                26 Mar 2025 - 16 April 2025
                                            </div>
                                            <div class="single-meta">
                                                <a href="find-store.html">
                                                    <i class="fa-regular fa-shop"></i>
                                                    All Outlet
                                                </a>
                                            </div>
                                        </div>

                                        <hr
                                            class="rbt-separator rbt-separator-gray200 mt--16 mb--12 rbt-bg-color-gray-100">
                                        <div class="rbt-ofr-card-content text-center mb--8">
                                            <h3 class="rbt-ofr-card-title mb--8 rbt-text-semi-bold h6">
                                                <a href="shop-by-categories.html">Smartphone Mega Fest</a>
                                            </h3>
                                            <p class="rbt-ofr-card-text mb--12 b1 rbt-text-color-gray-500">Grab
                                                top-brand smartphones at
                                                unbeatable prices.</p>
                                            <a class="rbt-btn rbt-btn-md active" href="#">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Card  -->

                        <!-- Start Single Card  -->
                        <div class="col-12 mt--24">
                            <div class="rbt-card rbt-offer-card">
                                <div class="inner">
                                    <div class="rbt-card-img">
                                        <a href="shop-by-categories.html">
                                            <img src="assets/images/offer-list/offer-card-image-2.webp"
                                                alt="Offer Thumbnail">
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <div class="ofr-meta-part">
                                            <div class="single-meta">
                                                <i class="fa-sharp fa-regular fa-calendar"></i>
                                                25 Feb 2025 - 16 Mar 2025
                                            </div>
                                            <div class="single-meta">
                                                <a href="find-store.html">
                                                    <i class="fa-regular fa-shop"></i>
                                                    All Outlet
                                                </a>
                                            </div>
                                        </div>

                                        <hr
                                            class="rbt-separator rbt-separator-gray200 mt--16 mb--12 rbt-bg-color-gray-100">
                                        <div class="rbt-ofr-card-content text-center mb--8">
                                            <h3 class="rbt-ofr-card-title mb--8 rbt-text-semi-bold h6">
                                                <a href="shop-by-categories.html">Gadget Fiesta</a>
                                            </h3>
                                            <p class="rbt-ofr-card-text mb--12 b1 rbt-text-color-gray-500">Shop the
                                                latest gadgets at massive
                                                discounts.</p>
                                            <a class="rbt-btn rbt-btn-md active" href="#">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Card  -->

                        <!-- Start Single Card  -->
                        <div class="col-12 mt--24">
                            <div class="rbt-card rbt-offer-card">
                                <div class="inner">
                                    <div class="rbt-card-img">
                                        <a href="shop-by-categories.html">
                                            <img src="assets/images/offer-list/offer-card-image-3.webp"
                                                alt="Offer Thumbnail">
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <div class="ofr-meta-part">
                                            <div class="single-meta">
                                                <i class="fa-sharp fa-regular fa-calendar"></i>
                                                28 Feb 2025 - 16 Mar 2025
                                            </div>
                                            <div class="single-meta">
                                                <a href="find-store.html">
                                                    <i class="fa-regular fa-shop"></i>
                                                    All Outlet
                                                </a>
                                            </div>
                                        </div>

                                        <hr
                                            class="rbt-separator rbt-separator-gray200 mt--16 mb--12 rbt-bg-color-gray-100">
                                        <div class="rbt-ofr-card-content text-center mb--8">
                                            <h3 class="rbt-ofr-card-title mb--8 rbt-text-semi-bold h6">
                                                <a href="shop-by-categories.html">Tech Gear Fest</a>
                                            </h3>
                                            <p class="rbt-ofr-card-text mb--12 b1 rbt-text-color-gray-500">Upgrade your
                                                tech with unbeatable
                                                deals on gadgets!</p>
                                            <a class="rbt-btn rbt-btn-md active" href="#">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Card  -->

                        <!-- Start Single Card  -->
                        <div class="col-12 mt--24">
                            <div class="rbt-card rbt-offer-card">
                                <div class="inner">
                                    <div class="rbt-card-img">
                                        <a href="shop-by-categories.html">
                                            <img src="assets/images/offer-list/offer-card-image-4.webp"
                                                alt="Offer Thumbnail">
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <div class="ofr-meta-part">
                                            <div class="single-meta">
                                                <i class="fa-sharp fa-regular fa-calendar"></i>
                                                24 April 2025 - 16 May 2025
                                            </div>
                                            <div class="single-meta">
                                                <a href="find-store.html">
                                                    <i class="fa-regular fa-shop"></i>
                                                    All Outlet
                                                </a>
                                            </div>
                                        </div>

                                        <hr
                                            class="rbt-separator rbt-separator-gray200 mt--16 mb--12 rbt-bg-color-gray-100">
                                        <div class="rbt-ofr-card-content text-center mb--8">
                                            <h3 class="rbt-ofr-card-title mb--8 rbt-text-semi-bold h6">
                                                <a href="shop-by-categories.html">Electro Deals Carnival</a>
                                            </h3>
                                            <p class="rbt-ofr-card-text mb--12 b1 rbt-text-color-gray-500">Grab top
                                                electronics at electrifying
                                                discounts.</p>
                                            <a class="rbt-btn rbt-btn-md active" href="#">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Card  -->

                        <!-- Start Single Card  -->
                        <div class="col-12 mt--24">
                            <div class="rbt-card rbt-offer-card">
                                <div class="inner">
                                    <div class="rbt-card-img">
                                        <a href="shop-by-categories.html">
                                            <img src="assets/images/offer-list/offer-card-image-5.webp"
                                                alt="Offer Thumbnail">
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <div class="ofr-meta-part">
                                            <div class="single-meta">
                                                <i class="fa-sharp fa-regular fa-calendar"></i>
                                                26 May 2025 - 16 Jun 2025
                                            </div>
                                            <div class="single-meta">
                                                <a href="find-store.html">
                                                    <i class="fa-regular fa-shop"></i>
                                                    All Outlet
                                                </a>
                                            </div>
                                        </div>

                                        <hr
                                            class="rbt-separator rbt-separator-gray200 mt--16 mb--12 rbt-bg-color-gray-100">
                                        <div class="rbt-ofr-card-content text-center mb--8">
                                            <h3 class="rbt-ofr-card-title mb--8 rbt-text-semi-bold h6">
                                                <a href="shop-by-categories.html">Gadget Galaxy Fest</a>
                                            </h3>
                                            <p class="rbt-ofr-card-text mb--12 b1 rbt-text-color-gray-500">Explore the
                                                gadgets with
                                                out-of-this-world discounts!</p>
                                            <a class="rbt-btn rbt-btn-md active" href="#">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Card  -->

                        <!-- Start Single Card  -->
                        <div class="col-12 mt--24">
                            <div class="rbt-card rbt-offer-card">
                                <div class="inner">
                                    <div class="rbt-card-img">
                                        <a href="shop-by-categories.html">
                                            <img src="assets/images/offer-list/offer-card-image-6.webp"
                                                alt="Offer Thumbnail">
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <div class="ofr-meta-part">
                                            <div class="single-meta">
                                                <i class="fa-sharp fa-regular fa-calendar"></i>
                                                26 April 2025 - 16 May 2025
                                            </div>
                                            <div class="single-meta">
                                                <a href="find-store.html">
                                                    <i class="fa-regular fa-shop"></i>
                                                    All Outlet
                                                </a>
                                            </div>
                                        </div>

                                        <hr
                                            class="rbt-separator rbt-separator-gray200 mt--16 mb--12 rbt-bg-color-gray-100">
                                        <div class="rbt-ofr-card-content text-center mb--8">
                                            <h3 class="rbt-ofr-card-title mb--8 rbt-text-semi-bold h6">
                                                <a href="shop-by-categories.html">Digital Wonderland</a>
                                            </h3>
                                            <p class="rbt-ofr-card-text mb--12 b1 rbt-text-color-gray-500">Dive into a
                                                world of tech deals on
                                                must-have gadgets!</p>
                                            <a class="rbt-btn rbt-btn-md active" href="#">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Card  -->

                        <!-- Start Single Card  -->
                        <div class="col-12 mt--24">
                            <div class="rbt-card rbt-offer-card">
                                <div class="inner">
                                    <div class="rbt-card-img">
                                        <a href="shop-by-categories.html">
                                            <img src="assets/images/offer-list/offer-card-image-7.webp"
                                                alt="Offer Thumbnail">
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <div class="ofr-meta-part">
                                            <div class="single-meta">
                                                <i class="fa-sharp fa-regular fa-calendar"></i>
                                                26 May 2025 - 16 Jun 2025
                                            </div>
                                            <div class="single-meta">
                                                <a href="find-store.html">
                                                    <i class="fa-regular fa-shop"></i>
                                                    All Outlet
                                                </a>
                                            </div>
                                        </div>

                                        <hr
                                            class="rbt-separator rbt-separator-gray200 mt--16 mb--12 rbt-bg-color-gray-100">
                                        <div class="rbt-ofr-card-content text-center mb--8">
                                            <h3 class="rbt-ofr-card-title mb--8 rbt-text-semi-bold h6">
                                                <a href="shop-by-categories.html">Future Tech Expo</a>
                                            </h3>
                                            <p class="rbt-ofr-card-text mb--12 b1 rbt-text-color-gray-500">Discover
                                                cutting-edge gadgets and
                                                futuristic tech!</p>
                                            <a class="rbt-btn rbt-btn-md active" href="#">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Card  -->

                        <!-- Start Single Card  -->
                        <div class="col-12 mt--24">
                            <div class="rbt-card rbt-offer-card">
                                <div class="inner">
                                    <div class="rbt-card-img">
                                        <a href="shop-by-categories.html">
                                            <img src="assets/images/offer-list/offer-card-image-8.webp"
                                                alt="Offer Thumbnail">
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <div class="ofr-meta-part">
                                            <div class="single-meta">
                                                <i class="fa-sharp fa-regular fa-calendar"></i>
                                                26 Feb 2025 - 15 April 2025
                                            </div>
                                            <div class="single-meta">
                                                <a href="find-store.html">
                                                    <i class="fa-regular fa-shop"></i>
                                                    All Outlet
                                                </a>
                                            </div>
                                        </div>

                                        <hr
                                            class="rbt-separator rbt-separator-gray200 mt--16 mb--12 rbt-bg-color-gray-100">
                                        <div class="rbt-ofr-card-content text-center mb--8">
                                            <h3 class="rbt-ofr-card-title mb--8 rbt-text-semi-bold h6">
                                                <a href="shop-by-categories.html">Summer Mobile Fest</a>
                                            </h3>
                                            <p class="rbt-ofr-card-text mb--12 b1 rbt-text-color-gray-500">Hot deals on
                                                the latest smartphones
                                                for a limited time!</p>
                                            <a class="rbt-btn rbt-btn-md active" href="#">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Card  -->

                        <!-- Start Single Card  -->
                        <div class="col-12 mt--24">
                            <div class="rbt-card rbt-offer-card">
                                <div class="inner">
                                    <div class="rbt-card-img">
                                        <a href="shop-by-categories.html">
                                            <img src="assets/images/offer-list/offer-card-image-9.webp"
                                                alt="Offer Thumbnail">
                                        </a>
                                    </div>
                                    <div class="rbt-card-body">
                                        <div class="ofr-meta-part">
                                            <div class="single-meta">
                                                <i class="fa-sharp fa-regular fa-calendar"></i>
                                                25 April 2025 - 16 Jun 2025
                                            </div>
                                            <div class="single-meta">
                                                <a href="find-store.html">
                                                    <i class="fa-regular fa-shop"></i>
                                                    All Outlet
                                                </a>
                                            </div>
                                        </div>

                                        <hr
                                            class="rbt-separator rbt-separator-gray200 mt--16 mb--12 rbt-bg-color-gray-100">
                                        <div class="rbt-ofr-card-content text-center mb--8">
                                            <h3 class="rbt-ofr-card-title mb--8 rbt-text-semi-bold h6">
                                                <a href="shop-by-categories.html">Smartphone Mega Fest</a>
                                            </h3>
                                            <p class="rbt-ofr-card-text mb--12 b1 rbt-text-color-gray-500">Grab the
                                                hottest smartphones at
                                                unbeatable prices!</p>
                                            <a class="rbt-btn rbt-btn-md active" href="#">View
                                                Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Card  -->

                    </div>
                </div>
            </div>

        </aside>
    </div>
</div>
<!-- End Side Nav -->
<!-- <a class="close_side_menu" href="javascript:void(0);"></a> -->