<!-- Start Header Mid -->
<div class="rbt-header-middle position-relative rbt-header-mid-1 @@bgColor d-none d-xl-block">
    <div class="@@container">
        <div class="rbt-header-sec align-items-center justify-content-center">

            <div class="rbt-header-sec-col ">
                <div class="rbt-header-content rbt-gap--40">
                    <div class="rbt-main-navigation d-none d-xl-block">
                        @@include('header/navStyles/nav-style-four.html')
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Top -->

