<!-- Start Header Mid -->
<div
    class="rbt-header-wrapper @@stickyActivation rbt-header-wrapper-three rbt-header-wrapper-one bg @@gapSpaceBetween @@transparent plr--0">
    <div class="rbt-topbar-section rbt-topbar-one rbt-bg-color-white">
        <div class="container">
            <div class="row align-items-center d-none d-md-flex mlr--0 row--0">
                <div class="col-lg-3 col-md-12 col-12">
                    <div class="rbt-header-sec-col rbt-header-left rbt-fancy-item fancy-menu-address fancy-menu-start">
                        <div class="rbt-header-content">
                            <ul class="rbt-quick-access">
                                <li
                                    class="rbt-access-box rbt-scroll-trigger fade_in animation-order-1 without-separator">
                                    <div class="header-info">
                                        <a href="#" class="rbt-access-link">Contact</a>
                                    </div>
                                    <div class="header-info">
                                        <a href="#" class="rbt-access-link">Track Order</a>
                                    </div>
                                    <div class="header-info">
                                        <a href="#" class="rbt-access-link">Return Policy</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                    <div class="rbt-fancy-item fancy-menu-text fancy-menu-center">
                        <div class="rbt-fancy-text">
                            <div class="rbt-text-swiper-container rbt-arrow-vertical">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">christmas, thanksgiving, trees, decor, ornaments
                                        <a class="rbt-fancy-link ml--4" href="shop.html">Know more</a>
                                    </div>
                                    <div class="swiper-slide">
                                        Looking for something Explore thanksgiving?
                                        <a class="rbt-fancy-link ml--4" href="shop.html">Know more</a>
                                    </div>
                                    <div class="swiper-slide">
                                        Explore what hanksgiving, trees you need decor
                                        <a class="rbt-fancy-link ml--4" href="shop.html">Know more</a>
                                    </div>
                                </div>
                                <div class="rbt-verticle-arrow rbt-arrow-prev">
                                    <i class="fa-regular fa-chevron-up"></i>
                                </div>
                                <div class="rbt-verticle-arrow rbt-arrow-next">
                                    <i class="fa-regular fa-chevron-down"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-12">
                    <div class="rbt-header-sec-col rbt-header-right  rbt-fancy-item fancy-menu-address fancy-menu-end">
                        <div class="rbt-header-content">
                            <ul class="rbt-quick-access has-sm-separator">
                                <li
                                    class="rbt-access-box rbt-scroll-trigger fade_in animation-order-1 rbt-contract-info">
                                    <div class="text-portion">
                                        <i class="fa-regular fa-phone"></i>
                                        <p>Contact 24/7</p>
                                    </div>
                                    <a href="tel:+800300-353-569" class="link-portion">
                                        +800 300-353-569
                                    </a>
                                </li>
                                <li class="rbt-access-box">
                                    <div class="header-info">
                                        <ul class="rbt-dropdown-menu rbt-dropdown-menu-elastic currency-menu">
                                            <li class="has-child-menu">
                                                <a href="#">
                                                    <span class="menu-item">₹ INR</span>
                                                    <i class="right-icon fa-regular fa-chevron-down"></i>
                                                </a>
                                                <ul class="sub-menu hover-reverse">
                                                    <li>
                                                        <a href="#">
                                                            <span class="menu-item">€ EUR</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span class="menu-item active">₹ INR</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="header-info">
                                        <ul class="rbt-dropdown-menu rbt-dropdown-menu-elastic switcher-language">
                                            <li class="has-child-menu">
                                                <a href="#">
                                                    <img class="left-image" src="assets/images/icons/eng.webp"
                                                        alt="Language Images">
                                                    <span class="menu-item">Eniglish</span>
                                                    <i class="right-icon fa-regular fa-chevron-down"></i>
                                                </a>
                                                <ul class="sub-menu ">
                                                    <li>
                                                        <a href="#">
                                                            <img class="left-image" src="assets/images/icons/eng.webp"
                                                                alt="Language Images">
                                                            <span class="menu-item">Eniglish</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img class="left-image" src="assets/images/icons/fr.webp"
                                                                alt="Language Images">
                                                            <span class="menu-item">French</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img class="left-image" src="assets/images/icons/den.webp"
                                                                alt="Language Images">
                                                            <span class="menu-item">Danish</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rbt-header-middle position-relative rbt-header-mid-3 rbt-bg-color-primary">
        <div class="@@container">
            <div class="rbt-header-sec align-items-center rbt-gap--68">
                <div class="header-info d-flex d-xl-none">
                    <div class="hamberger">
                        <button class="hamberger-button rbt-round-btn">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                    </div>
                </div>
                <div class="header-info">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/logo/@@logo" alt="Ecommerce Logo Images">
                        </a>
                    </div>
                </div>
                <div class="rbt-main-navigation d-none d-xl-block">
                    @@include('header/navStyles/nav-style-four.html')
                </div>
                <div class="rbt-header-sec-col rbt-header-right">
                    <div class="rbt-header-content">
                        <!-- Navbar Icons -->
                        <ul class="rbt-quick-access">
                            <li class="rbt-access-box rbt-scroll-trigger fade_in animation-order-3 tooltips tooltip-distance-lg d-none d-lg-flex"
                                data-tooltip="Search" data-tooltip-position="bottom">
                                <a class="search-trigger-active rbt-round-btn rbt-bg-static-gray rbt-modern-close-btn has-rbt-sm-fsize"
                                    href="#">
                                    <i class="fa-regular fa-search search-icon"></i>
                                    <div class="modern-close-wrapper"></div>
                                </a>
                            </li>
                            <li class="rbt-access-box rbt-scroll-trigger fade_in animation-order-3 tooltips tooltip-distance-lg rbt-wishlist d-none d-md-flex"
                                data-tooltip="Wishlist" data-tooltip-position="bottom">
                                <a class="rbt-round-btn rbt-bg-static-gray has-rbt-sm-fsize" href="#"
                                    data-bs-target="#rbt-wishlist-madal-toggle" data-bs-toggle="modal">
                                    <i class="fa-regular fa-heart"></i>
                                    <div class="access-box-count">6</div>
                                </a>
                            </li>
                            <li
                                class="rbt-access-box rbt-scroll-trigger fade_in animation-order-4 rbt-minicart-popup-relative">
                                <a class="rbt-round-btn rbt-bg-static-gray has-rbt-sm-fsize " href="#">
                                    <i class="fa-regular fa-bag-shopping"></i>
                                    <span class="access-box-count rbt-shiny">12</span>
                                </a>
                                @@include('common/cart/mini-cart.html')
                            </li>
                            <li
                                class="rbt-access-box rbt-scroll-trigger fade_in animation-order-5 rbt-access-box-has-bg-hover d-none d-md-flex">
                                <a href="#!" class="rbt-access-box-wrapper" data-bs-toggle="modal"
                                    data-bs-target="#signinModal">
                                    <div class="rbt-round-btn rbt-bg-static-gray">
                                        <i class="fa-regular fa-user"></i>
                                    </div>
                                    <div class="content d-none d-xxl-flex">
                                        <p>Log in/Sign Up</p>
                                        <span>Access Account</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @@include('header/header-search/search-header-one.html')
</div>
<!-- End Header Top -->