<!-- Start Coupon Collection Modal Area  -->
<div class="rbt-default-modal modal fade has-rbt-top-folder-shape" id="couponCollectionModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog rbt-coupon-modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="rbt-folder-shape-right-portion">
                <svg xmlns="http://www.w3.org/2000/svg" width="85" height="90" viewBox="0 0 85 90" fill="none">
                    <path d="M0 0H11.1844C14.5695 0 17.7971 1.42971 20.0716 3.93671L82.1927 72.4059C83.9992 74.397 84.9999 76.9893 84.9999 79.6778C84.9999 85.6547 85.0001 90 85.0001 90H0V0Z" fill="white"/>
                </svg>
            </div>

            <div class="modal-header">
                <button type="button" class="rbt-round-btn rbt-modal-dis-btn" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="rbt-top-folder-shape-wrapper">
                <div class="rbt-coupon-wrapper rbt-gap--24 rbt-bg-color-white rbt-content-trs-portion">
                    <h4 class="mb--0 rbt-text-bold">Sign in to receive the coupons below</h4>
                    <div class="rbt-coupon">
                        <div class="inner rbt-text-copy-activation">
                            <div class="left-part">
                                <input type="text" value="WELCOME100" readonly="" class="rbt-coupon-code-text rbt-has-right-shepe-border rbt-copy-value-field">
                            </div>
                            <div class="coupon-details">
                                <h2 class="rbt-coupon-info-title b1">UP TO 30% OFF</h2>
                                <p class="rbt-coupon-info-sub-title b3 mt--4">For orders over ₹9.90</p>
                                <ul class="rbt-coupon-info-list mt--12">
                                    <li><span>12/18/2023 14:00 ~ 12/25/2023 14:00</span></li>
                                    <li><span>The minimum spend for this coupon <strong>₹200.00</strong></span></li>
                                </ul>
                            </div>
                            <button class="copy-icon rbt-round-btn rbt-bg-primary rbt-copy-btn" data-tooltip="Copy">
                                <i class="fa-sharp fa-regular fa-copy"></i>
                            </button>
                        </div>
                    </div>
                    <div class="rbt-coupon">
                        <div class="inner rbt-text-copy-activation">
                            <div class="left-part">
                                <input type="text" value="NEW2025" readonly="" class="rbt-coupon-code-text rbt-has-right-shepe-border rbt-copy-value-field">
                            </div>
                            <div class="coupon-details">
                                <h2 class="rbt-coupon-info-title b1">UP TO 25% OFF</h2>
                                <p class="rbt-coupon-info-sub-title b3 mt--4">For orders over ₹12.90</p>
                                <ul class="rbt-coupon-info-list mt--12">
                                    <li><span>02/18/2025 14:00 ~ 03/25/2025 14:00</span></li>
                                    <li><span>The minimum spend for this coupon <strong>₹200.00</strong></span></li>
                                </ul>
                            </div>
                            <button class="copy-icon rbt-round-btn rbt-bg-primary rbt-copy-btn" data-tooltip="Copy">
                                <i class="fa-sharp fa-regular fa-copy"></i>
                            </button>
                        </div>
                    </div>
                    <div class="rbt-coupon rbt-coupon-expired">
                        <div class="inner rbt-text-copy-activation">
                            <div class="left-part">
                                <input type="text" value="WELCOME100" readonly="" class="rbt-coupon-code-text rbt-has-right-shepe-border rbt-copy-value-field">
                            </div>
                            <div class="coupon-details">
                                <h2 class="rbt-coupon-info-title b1">UP TO 30% OFF</h2>
                                <p class="rbt-coupon-info-sub-title b3 mt--4">For orders over ₹9.90</p>
                                <ul class="rbt-coupon-info-list mt--12">
                                    <li><span>12/18/2023 14:00 ~ 12/25/2023 14:00</span></li>
                                    <li><span>The minimum spend for this coupon <strong>₹200.00</strong></span></li>
                                </ul>
                            </div>
                            <button class="rbt-btn rbt-bg-color-gray-300 shadow-none rbt-btn-sm">
                                Expired
                            </button>
                        </div>
                    </div>
                    <a class="rbt-btn rbt-btn-sm d-block text-center mt--8" href="#">Collect All</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Coupon Collection Modal Area  -->