<!-- Start notify Modal Area  -->
<div class="rbt-default-modal modal fade has-rbt-top-folder-shape" id="notifyModal" tabindex="-1" role="dialog"
    aria-modal="true" aria-labelledby="notifyModalLabel" aria-hidden="true">
    <div class="modal-dialog xxs-size modal-dialog-centered">
        <div class="modal-content">

            <div class="rbt-folder-shape-right-portion">
                <svg xmlns="http://www.w3.org/2000/svg" width="85" height="90" viewBox="0 0 85 90" fill="none">
                    <path
                        d="M0 0H11.1844C14.5695 0 17.7971 1.42971 20.0716 3.93671L82.1927 72.4059C83.9992 74.397 84.9999 76.9893 84.9999 79.6778C84.9999 85.6547 85.0001 90 85.0001 90H0V0Z"
                        fill="white" />
                </svg>
            </div>

            <div class="modal-header">
                <button type="button" class="rbt-round-btn rbt-modal-dis-btn" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>

            <div class="rbt-top-folder-shape-wrapper">
                <div class="rbt-bg-color-white rbt-content-trs-portion">
                    <div class="rbt-notify-modal-content">
                        <div class="rbt-title rbt-text-bold mb--8 h5" id="notifyModalLabel">
                            <span class="mr--4"><i class="fa-regular fa-bell"></i></span>
                            Back In Stock Notification
                        </div>
                        <div class="rbt-info-wrapper d-flex mt--8 rbt-gap--12">
                            <div class="rbt-info-box rbt-notify-box w-100">
                                <p class="b1 mb--16">
                                    Want to be notified when this product is back in stock?
                                </p>
                                <div class="rbt-input-field-grp">
                                    <input class="rbt-input-field rbt-bg-color-white shadow-none plr--24" type="email"
                                        placeholder="Enter your e-mail">
                                </div>
                                <button class="rbt-btn rbt-btn-rounded w-100 mt--12">Notify Me</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End notify Modal Area  -->