<!-- Start Popup Cart Modal Area  -->
<div class="rbt-default-modal has-rbt-top-folder-shape modal fade" id="popup-cartModal" tabindex="-1" role="dialog"
    aria-modal="true" aria-labelledby="popup-cartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered xxs-size">
        <div class="modal-content">
            <div class="rbt-folder-shape-right-portion">
                <svg xmlns="http://www.w3.org/2000/svg" width="85" height="90" viewBox="0 0 85 90" fill="none">
                    <path
                        d="M0 0H11.1844C14.5695 0 17.7971 1.42971 20.0716 3.93671L82.1927 72.4059C83.9992 74.397 84.9999 76.9893 84.9999 79.6778C84.9999 85.6547 85.0001 90 85.0001 90H0V0Z"
                        fill="white" />
                </svg>
            </div>
            <div class="modal-header">
                <button type="button" class="rbt-round-btn rbt-modal-dis-btn" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="rbt-modal-cart rbt-top-folder-shape-wrapper rbt-sidebar-cart">
                <div class="overflow-hidden position-relative rbt-content-trs-portion">
                    <div class="inner-wrapper">
                        <div class="inner-top">
                            <div class="rbt-cart-header">
                                <div class="title-section">
                                    <h3 class="title mb--0 h6" id="popup-cartModalLabel"><i
                                            class="fa-sharp fa-regular fa-cart-shopping mr--12"></i> Your cart</h3>
                                </div>
                                <div class="rbt-quick-info-tag d-flex mt--16 rbt-flash-animation">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M18.9706 14.9359C18.8148 18.8649 15.7493 22 11.9891 22C8.12909 22 5 18.5858 5 14.6221C5 14.0924 4.99101 13.0336 5.74352 11.2472C6.19387 10.1781 6.47633 9.50646 6.63574 8.89253C6.72333 8.55511 6.89367 8.01904 7.37926 8.89253C7.66559 9.40757 7.67666 10.1483 7.67666 10.1483C7.67666 10.1483 8.74197 9.28536 9.4611 7.63673C10.5153 5.21985 9.67419 3.77512 9.38675 2.77048C9.28727 2.42294 9.22481 1.79833 9.90721 2.06409C10.6025 2.33495 12.4408 3.69334 13.4017 5.12512C14.7732 7.16855 15.2605 9.128 15.2605 9.128C15.2605 9.128 15.6997 8.55268 15.8553 7.95068C16.0312 7.27089 16.0338 6.59763 16.5988 7.32285C17.1361 8.01253 17.9341 9.3086 18.3833 10.5408C19.1989 12.7784 18.9706 14.9359 18.9706 14.9359Z"
                                            fill="url(#paint0_linear_47_23655)" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M11.9999 22C9.23852 22 7 19.7944 7 17.0735C7 15.4318 7.67145 14.435 9.0689 13.0833C9.96366 12.2179 10.8011 11.1549 11.157 10.4311C11.2271 10.2886 11.3866 9.54605 12.0014 10.4155C12.3239 10.8714 12.8296 11.6823 13.1538 12.3744C13.7127 13.5676 13.8461 14.7239 13.8461 14.7239C13.8461 14.7239 14.3938 14.4059 14.7692 13.5871C14.8902 13.3232 15.1348 12.3241 15.8186 13.323C16.3204 14.0561 17.0097 15.3741 16.9999 17.0735C16.9999 19.7944 14.7613 22 11.9999 22Z"
                                            fill="#FC9502" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M12.1019 16C12.8497 16 12.8497 17.4475 13.7996 19.3803C14.4321 20.6672 13.486 22 12.1019 22C10.7178 22 10 20.8271 10 19.3803C10 17.9335 11.3541 16 12.1019 16Z"
                                            fill="#FCE202" />
                                        <defs>
                                            <linearGradient id="paint0_linear_47_23655" x1="11.9995" y1="22.0148"
                                                x2="11.9995" y2="2.01511" gradientUnits="userSpaceOnUse">
                                                <stop offset="1" stop-color="#FF4C0D" />
                                                <stop offset="1" stop-color="#FC9502" />
                                            </linearGradient>
                                        </defs>
                                    </svg>
                                    <p>Limited Item, <strong>checkout within <span class="rbt-countdown-cart">10m
                                                00s</span></strong></p>
                                </div>
                            </div>
                            <nav class="side-nav w-100">
                                <ul class="rbt-minicart-wrapper">
                                    <li class="minicart-item">
                                        <div class="thumbnail">
                                            <a href="#">
                                                <img src="assets/images/product-img/cart-product/cart-product-01.webp"
                                                    alt="Product Image">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <h3 class="title h6"><a href="#">Apple 12inch iPad </a></h3>
                                            <span class="quantity">1x <span class="price">$359.00</span></span>
                                            <div class="bottom-part">
                                                <div class="rbt-qty-area">
                                                    <button class="qty-item-btn qty-item-btn-decr"><i
                                                            class="fa-solid fa-minus"></i></button>
                                                    <input type="number" class="items-qty-input" value="01" min="1">
                                                    <button class="qty-item-btn qty-item-btn-incr"><i
                                                            class="fa-solid fa-plus"></i></button>
                                                </div>
                                                <button class="edit-btn border-0" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#quickviewEditCartModal"><i
                                                        class="fa-regular fa-pen"></i> Edit</button>
                                            </div>
                                        </div>
                                        <div class="close-btn">
                                            <button class="rbt-round-btn"><i class="fa-solid fa-xmark"></i></button>
                                        </div>
                                    </li>

                                    <li class="minicart-item">
                                        <div class="thumbnail">
                                            <a href="#">
                                                <img src="assets/images/product-img/cart-product/cart-product-02.webp"
                                                    alt="Product Image">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <h3 class="title h6"><a href="#">Apple Watch 8 Pro </a></h3>
                                            <span class="quantity">1x <span class="price">$288.00</span></span>
                                            <div class="bottom-part">
                                                <div class="rbt-qty-area">
                                                    <button class="qty-item-btn qty-item-btn-decr"><i
                                                            class="fa-solid fa-minus"></i></button>
                                                    <input type="number" class="items-qty-input" value="15" min="1">
                                                    <button class="qty-item-btn qty-item-btn-incr"><i
                                                            class="fa-solid fa-plus"></i></button>
                                                </div>
                                                <button class="edit-btn border-0" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#quickviewEditCartModal"><i
                                                        class="fa-regular fa-pen"></i> Edit</button>
                                            </div>
                                        </div>
                                        <div class="close-btn">
                                            <button class="rbt-round-btn"><i class="fa-solid fa-xmark"></i></button>
                                        </div>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                        <div class="rbt-minicart-footer mt--16">
                            <div class="minicart-quick-access-area">
                                <a href="#" class="single-quick-access rbt-note-btn">
                                    <span class="icon"><i class="fa-regular fa-pen"></i></span>
                                    <span class="text">Note</span>
                                </a>
                                <span class="hr-sepator"></span>
                                <a href="#" class="single-quick-access rbt-shipping-btn">
                                    <span class="icon"><i class="fa-regular fa-truck-fast"></i></span>
                                    <span class="text">Shipping</span>
                                </a>
                                <span class="hr-sepator"></span>
                                <a href="#" class="single-quick-access rbt-coupon-btn">
                                    <span class="icon"><i class="fa-regular fa-ticket"></i></span>
                                    <span class="text">Coupon</span>
                                </a>
                            </div>
                            <hr class="mb--0 mt--16">
                            <div class="rbt-cart-subttotal">
                                <p>Subtotal (2 items)</p>
                                <p class="price">$758.00</p>
                            </div>
                            <div class="rbt-cart-subttotal">
                                <p>Shipping</p>
                                <p class="price">$10.00</p>
                            </div>
                            <hr class="mb--0">
                            <div class="rbt-cart-subttotal">
                                <p class="subtotal"><strong>Total</strong></p>
                                <p class="price">$768.00</p>
                            </div>
                            <div class="offer-progress-area">
                                <p class="offer-text">Add <strong>$248.00</strong> More To Get <strong>Free
                                        Shipping</strong></p>
                                <div class="progress" role="progressbar" aria-label="Shipping-progress"
                                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar w-75"></div>
                                </div>
                            </div>
                            <div class="rbt-minicart-bottom mt--24">
                                <div class="checkout-btn mt--20">
                                    <a href="checkout-delivery-step-one.html" class="rbt-btn w-100 text-center">
                                        <span class="btn-text">Checkout</span>
                                    </a>
                                </div>
                                <div class="share-btn-grp rbt-link-hover">
                                    <a href="cart.html" class="share-btn"><i class="fa-regular fa-pen mr--4"></i> View
                                        Cart</a>
                                    <button data-bs-toggle="modal" data-bs-target="#socialShareModal" type="button"
                                        class="share-btn"><i class="fa-sharp fa-solid fa-link mr--4"></i> Share
                                        Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    @@include('header/offcanvas/notes.html')
                    @@include('header/offcanvas/shipping.html')
                    @@include('header/offcanvas/coupon.html')
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Popup Cart Modal Area  -->