<!-- Start Wishlist Modal Area  -->
<div class="rbt-default-modal modal fade has-rbt-top-folder-shape" id="recent-viewModal" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered xs-size">
        <div class="modal-content">

            <div class="rbt-folder-shape-right-portion">
                <svg xmlns="http://www.w3.org/2000/svg" width="85" height="90" viewBox="0 0 85 90" fill="none">
                    <path
                        d="M0 0H11.1844C14.5695 0 17.7971 1.42971 20.0716 3.93671L82.1927 72.4059C83.9992 74.397 84.9999 76.9893 84.9999 79.6778C84.9999 85.6547 85.0001 90 85.0001 90H0V0Z"
                        fill="white" />
                </svg>
            </div>

            <div class="modal-header">
                <button type="button" class="rbt-round-btn rbt-modal-dis-btn" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="rbt-top-folder-shape-wrapper">
                <div class="rbt-recent-view-prd-area rbt-content-trs-portion rbt-scroll-vertical-wrapper">

                    <h3 class="rbt-title mb--16 rbt-text-bold h6">Recently Viewed Items</h3>
                    <div class="rbt-scroll-vertical">
                        <div class="row row--12 mt_dec--24 rbt-card-row-has-top-separator rbt-two-align-card-row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt--24">
                                <div class="rbt-card rbt-product-card rbt-list-view-variation rbt-list-view-sm">
                                    <div class="inner rbt-scroll-trigger fade_in animation-order-1">
                                        <div class="rbt-card-body">
                                            <div class="rbt-card-rating">
                                                <ul class="rbt-rating-icon-list">
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star"></i></li>
                                                </ul>
                                                <p class="rating-digit">(42)</p>
                                            </div>
                                            <h3 class="rbt-card-title h6"><a href="product-single-default.html">Beats
                                                    Studio Pro Wireless Earbuds – Black</a></h3>

                                            <div class="pricing-part">
                                                <del class="price-text">₹255.34</del>
                                                <span class="price-text">₹69.78</span>
                                            </div>
                                        </div>
                                        <div class="rbt-card-img rbt-bg-color-default rbt-curved-style-box">
                                            <a href="product-single-default.html"><img
                                                    src="assets/images/product-img/electronics/electronics-bg-trans-list-01.webp"
                                                    alt="Card Image"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt--24">
                                <div class="rbt-card rbt-product-card rbt-list-view-variation rbt-list-view-sm">
                                    <div class="inner rbt-scroll-trigger fade_in animation-order-2">
                                        <div class="rbt-card-body">
                                            <div class="rbt-card-rating">
                                                <ul class="rbt-rating-icon-list">
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star"></i></li>
                                                </ul>
                                                <p class="rating-digit">(42)</p>
                                            </div>
                                            <h3 class="rbt-card-title h6"><a href="product-single-default.html">Apple
                                                    12.9-inch iPad Pro Wi-Fi 512GB Gray Space</a></h3>

                                            <div class="pricing-part">
                                                <del class="price-text">₹56.00</del>
                                                <span class="price-text">₹26.00</span>
                                            </div>
                                        </div>
                                        <div class="rbt-card-img rbt-bg-color-default rbt-curved-style-box">
                                            <a href="product-single-default.html"><img
                                                    src="assets/images/product-img/electronics/electronics-bg-trans-list-02.webp"
                                                    alt="Card Image"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt--24">
                                <div class="rbt-card rbt-product-card rbt-list-view-variation rbt-list-view-sm">
                                    <div class="inner rbt-scroll-trigger fade_in animation-order-3">
                                        <div class="rbt-card-body">
                                            <div class="rbt-card-rating">
                                                <ul class="rbt-rating-icon-list">
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star"></i></li>
                                                </ul>
                                                <p class="rating-digit">(42)</p>
                                            </div>
                                            <h3 class="rbt-card-title h6"><a href="product-single-default.html"> DJI OM
                                                    5
                                                    Handheld Smartphone Gimbal</a></h3>

                                            <div class="pricing-part">
                                                <del class="price-text">₹116.34</del>
                                                <span class="price-text">₹69.78</span>
                                            </div>
                                        </div>
                                        <div class="rbt-card-img rbt-bg-color-default rbt-curved-style-box">
                                            <a href="product-single-default.html"><img
                                                    src="assets/images/product-img/electronics/electronics-bg-trans-list-03.webp"
                                                    alt="Card Image"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt--24">
                                <div class="rbt-card rbt-product-card rbt-list-view-variation rbt-list-view-sm">
                                    <div class="inner rbt-scroll-trigger fade_in animation-order-4">
                                        <div class="rbt-card-body">
                                            <div class="rbt-card-rating">
                                                <ul class="rbt-rating-icon-list">
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star"></i></li>
                                                </ul>
                                                <p class="rating-digit">(42)</p>
                                            </div>
                                            <h3 class="rbt-card-title h6"><a href="product-single-default.html">Apple
                                                    Watch
                                                    Ultra 2 – Titanium Case</a></h3>

                                            <div class="pricing-part">
                                                <del class="price-text">₹96.34</del>
                                                <span class="price-text">₹59.78</span>
                                            </div>
                                        </div>
                                        <div class="rbt-card-img rbt-bg-color-default rbt-curved-style-box">
                                            <a href="product-single-default.html"><img
                                                    src="assets/images/product-img/electronics/electronics-bg-trans-list-04.webp"
                                                    alt="Card Image"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt--24">
                                <div class="rbt-card rbt-product-card rbt-list-view-variation rbt-list-view-sm">
                                    <div class="inner rbt-scroll-trigger fade_in animation-order-5">
                                        <div class="rbt-card-body">
                                            <div class="rbt-card-rating">
                                                <ul class="rbt-rating-icon-list">
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star"></i></li>
                                                </ul>
                                                <p class="rating-digit">(42)</p>
                                            </div>
                                            <h3 class="rbt-card-title h6"><a href="product-single-default.html">Apple
                                                    MacBook Pro 16-inch – M2 Chip</a></h3>

                                            <div class="pricing-part">
                                                <del class="price-text">₹116.34</del>
                                                <span class="price-text">₹69.78</span>
                                            </div>
                                        </div>
                                        <div class="rbt-card-img rbt-bg-color-default rbt-curved-style-box">
                                            <a href="product-single-default.html"><img
                                                    src="assets/images/product-img/electronics/electronics-bg-trans-list-05.webp"
                                                    alt="Card Image"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt--24">
                                <div class="rbt-card rbt-product-card rbt-list-view-variation rbt-list-view-sm">
                                    <div class="inner rbt-scroll-trigger fade_in animation-order-6">
                                        <div class="rbt-card-body">
                                            <div class="rbt-card-rating">
                                                <ul class="rbt-rating-icon-list">
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star"></i></li>
                                                </ul>
                                                <p class="rating-digit">(42)</p>
                                            </div>
                                            <h3 class="rbt-card-title h6"><a href="product-single-default.html">Apple
                                                    iPad
                                                    Air 10.9-inch – Wi-Fi 256GB</a></h3>

                                            <div class="pricing-part">
                                                <del class="price-text">₹219.34</del>
                                                <span class="price-text">₹99.78</span>
                                            </div>
                                        </div>
                                        <div class="rbt-card-img rbt-bg-color-default rbt-curved-style-box">
                                            <a href="product-single-default.html"><img
                                                    src="assets/images/product-img/electronics/electronics-bg-trans-list-06.webp"
                                                    alt="Card Image"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt--24">
                                <div class="rbt-card rbt-product-card rbt-list-view-variation rbt-list-view-sm">
                                    <div class="inner rbt-scroll-trigger fade_in animation-order-1">
                                        <div class="rbt-card-body">
                                            <div class="rbt-card-rating">
                                                <ul class="rbt-rating-icon-list">
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star"></i></li>
                                                </ul>
                                                <p class="rating-digit">(42)</p>
                                            </div>
                                            <h3 class="rbt-card-title h6"><a href="product-single-default.html">Beats
                                                    Studio Pro Wireless Earbuds – Black</a></h3>

                                            <div class="pricing-part">
                                                <del class="price-text">₹255.34</del>
                                                <span class="price-text">₹69.78</span>
                                            </div>
                                        </div>
                                        <div class="rbt-card-img rbt-bg-color-default rbt-curved-style-box">
                                            <a href="product-single-default.html"><img
                                                    src="assets/images/product-img/electronics/electronics-bg-trans-list-01.webp"
                                                    alt="Card Image"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt--24">
                                <div class="rbt-card rbt-product-card rbt-list-view-variation rbt-list-view-sm">
                                    <div class="inner rbt-scroll-trigger fade_in animation-order-2">
                                        <div class="rbt-card-body">
                                            <div class="rbt-card-rating">
                                                <ul class="rbt-rating-icon-list">
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star"></i></li>
                                                </ul>
                                                <p class="rating-digit">(42)</p>
                                            </div>
                                            <h3 class="rbt-card-title h6"><a href="product-single-default.html">Apple
                                                    12.9-inch iPad Pro Wi-Fi 512GB Gray Space</a></h3>

                                            <div class="pricing-part">
                                                <del class="price-text">₹56.00</del>
                                                <span class="price-text">₹26.00</span>
                                            </div>
                                        </div>
                                        <div class="rbt-card-img rbt-bg-color-default rbt-curved-style-box">
                                            <a href="product-single-default.html"><img
                                                    src="assets/images/product-img/electronics/electronics-bg-trans-list-02.webp"
                                                    alt="Card Image"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt--24">
                                <div class="rbt-card rbt-product-card rbt-list-view-variation rbt-list-view-sm">
                                    <div class="inner rbt-scroll-trigger fade_in animation-order-3">
                                        <div class="rbt-card-body">
                                            <div class="rbt-card-rating">
                                                <ul class="rbt-rating-icon-list">
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star"></i></li>
                                                </ul>
                                                <p class="rating-digit">(42)</p>
                                            </div>
                                            <h3 class="rbt-card-title h6"><a href="product-single-default.html"> DJI OM
                                                    5
                                                    Handheld Smartphone Gimbal</a></h3>

                                            <div class="pricing-part">
                                                <del class="price-text">₹116.34</del>
                                                <span class="price-text">₹69.78</span>
                                            </div>
                                        </div>
                                        <div class="rbt-card-img rbt-bg-color-default rbt-curved-style-box">
                                            <a href="product-single-default.html"><img
                                                    src="assets/images/product-img/electronics/electronics-bg-trans-list-03.webp"
                                                    alt="Card Image"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt--24">
                                <div class="rbt-card rbt-product-card rbt-list-view-variation rbt-list-view-sm">
                                    <div class="inner rbt-scroll-trigger fade_in animation-order-4">
                                        <div class="rbt-card-body">
                                            <div class="rbt-card-rating">
                                                <ul class="rbt-rating-icon-list">
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star"></i></li>
                                                </ul>
                                                <p class="rating-digit">(42)</p>
                                            </div>
                                            <h3 class="rbt-card-title h6"><a href="product-single-default.html">Apple
                                                    Watch
                                                    Ultra 2 – Titanium Case</a></h3>

                                            <div class="pricing-part">
                                                <del class="price-text">₹96.34</del>
                                                <span class="price-text">₹59.78</span>
                                            </div>
                                        </div>
                                        <div class="rbt-card-img rbt-bg-color-default rbt-curved-style-box">
                                            <a href="product-single-default.html"><img
                                                    src="assets/images/product-img/electronics/electronics-bg-trans-list-04.webp"
                                                    alt="Card Image"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt--24">
                                <div class="rbt-card rbt-product-card rbt-list-view-variation rbt-list-view-sm">
                                    <div class="inner rbt-scroll-trigger fade_in animation-order-5">
                                        <div class="rbt-card-body">
                                            <div class="rbt-card-rating">
                                                <ul class="rbt-rating-icon-list">
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star"></i></li>
                                                </ul>
                                                <p class="rating-digit">(42)</p>
                                            </div>
                                            <h3 class="rbt-card-title h6"><a href="product-single-default.html">Apple
                                                    MacBook Pro 16-inch – M2 Chip</a></h3>

                                            <div class="pricing-part">
                                                <del class="price-text">₹116.34</del>
                                                <span class="price-text">₹69.78</span>
                                            </div>
                                        </div>
                                        <div class="rbt-card-img rbt-bg-color-default rbt-curved-style-box">
                                            <a href="product-single-default.html"><img
                                                    src="assets/images/product-img/electronics/electronics-bg-trans-list-05.webp"
                                                    alt="Card Image"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt--24">
                                <div class="rbt-card rbt-product-card rbt-list-view-variation rbt-list-view-sm">
                                    <div class="inner rbt-scroll-trigger fade_in animation-order-6">
                                        <div class="rbt-card-body">
                                            <div class="rbt-card-rating">
                                                <ul class="rbt-rating-icon-list">
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                    <li><i class="fa-solid fa-star"></i></li>
                                                </ul>
                                                <p class="rating-digit">(42)</p>
                                            </div>
                                            <h3 class="rbt-card-title h6"><a href="product-single-default.html">Apple
                                                    iPad
                                                    Air 10.9-inch – Wi-Fi 256GB</a></h3>

                                            <div class="pricing-part">
                                                <del class="price-text">₹219.34</del>
                                                <span class="price-text">₹99.78</span>
                                            </div>
                                        </div>
                                        <div class="rbt-card-img rbt-bg-color-default rbt-curved-style-box">
                                            <a href="product-single-default.html"><img
                                                    src="assets/images/product-img/electronics/electronics-bg-trans-list-06.webp"
                                                    alt="Card Image"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Wishlist Modal Area  -->