<!-- Start Wishlist Modal Area  -->
<div class="rbt-default-modal modal fade has-rbt-top-folder-shape" id="socialShareModal" tabindex="-1" role="dialog"
    aria-modal="true" aria-labelledby="socialShareModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered xxs-size">
        <div class="modal-content">

            <div class="rbt-folder-shape-right-portion">
                <svg xmlns="http://www.w3.org/2000/svg" width="85" height="90" viewBox="0 0 85 90" fill="none">
                    <path
                        d="M0 0H11.1844C14.5695 0 17.7971 1.42971 20.0716 3.93671L82.1927 72.4059C83.9992 74.397 84.9999 76.9893 84.9999 79.6778C84.9999 85.6547 85.0001 90 85.0001 90H0V0Z"
                        fill="white" />
                </svg>
            </div>

            <div class="modal-header">
                <button type="button" class="rbt-round-btn rbt-modal-dis-btn" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>

            <div class="rbt-top-folder-shape-wrapper">
                <div class="rbt-bg-color-white rbt-content-trs-portion">
                    <div class="rbt-title mb--8 rbt-text-bold" id="socialShareModalLabel">Share Options</div>
                    <div class="rbt-social-share-wrapper">

                        <ul
                            class="social-icon rbt-social-default mt--16 mt_sm--0 rbt-social-default-v1 lg-size justify-content-start">
                            <li>
                                <a class="facebook-btn" href="https://www.facebook.com">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a class="tiktok-btn" href="https://www.tiktok.com">
                                    <i class="fa-brands fa-tiktok"></i>
                                </a>
                            </li>
                            <li>
                                <a class="pinterest-btn" href="https://www.pinterest.com">
                                    <i class="fa-brands fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a class="tumblr-btn" href="https://www.tumblr.com/">
                                    <i class="fa-brands fa-tumblr"></i>
                                </a>
                            </li>
                            <li>
                                <a class="telegram-btn" href="https://www.telegram.com">
                                    <i class="fa-brands fa-telegram"></i>
                                </a>
                            </li>
                            <li>
                                <a class="whatsapp-btn" href="https://www.whatsapp.com/">
                                    <i class="fa-brands fa-whatsapp"></i>
                                </a>
                            </li>
                            <li>
                                <a class="email-btn" href="mailto:someone@example.com">
                                    <i class="fa-regular fa-envelope"></i>
                                </a>
                            </li>
                        </ul>

                        <div class="rbt-copy-link-part rbt-text-copy-activation mt--24 mt_sm--8 w-100">
                            <input class="rbt-copy-value-field w-100" type="text"
                                value="https://RVN.template/wishlist" readonly>
                            <button class="rbt-btn rbt-btn-xs has-left-icon rbt-copy-btn"
                                data-tooltip="Copy to clipboard">
                                <i class="fa-regular fa-copy"></i>
                                <span class="rbt-btn-text">Copy</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Wishlist Modal Area  -->