<!-- Start Quick View Modal Area  -->
<div class="rbt-default-modal modal fade has-rbt-top-folder-shape" id="welcomebannerModal" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered xs-size">
        <div class="modal-content">

            <div class="rbt-folder-shape-right-portion">
                <svg xmlns="http://www.w3.org/2000/svg" width="85" height="90" viewBox="0 0 85 90" fill="none">
                    <path
                        d="M0 0H11.1844C14.5695 0 17.7971 1.42971 20.0716 3.93671L82.1927 72.4059C83.9992 74.397 84.9999 76.9893 84.9999 79.6778C84.9999 85.6547 85.0001 90 85.0001 90H0V0Z"
                        fill="white" />
                </svg>
            </div>

            <div class="modal-header">
                <button type="button" class="rbt-round-btn rbt-modal-dis-btn" data-bs-dismiss="modal"
                    aria-label="Close" tabindex="-1" >
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="rbt-top-folder-shape-wrapper">
                <div class="rbt-welcome-banner-area rbt-content-trs-portion">
                    <div class="rbt-welcome-banner-content">
                        <div class="rbt-welcome-banner-top position-relative overflow-hidden rbt-rounded--12">
                            <img src="assets/images/banner-img/welcome-banner-img-01.webp" alt="Ecommerce Banner Image">
                        </div>
                        <div class="rbt-welcome-banner-bottom pt--32">
                            <h2 class="text-center mb--12">Don’t miss out Offers</h2>
                            <p class="text-center b1 mb--32">Be the first one to get the new product at early bird prices.</p>
                            <form id="rbtSubscribe-form" action="#" class="form-newsletter">
                                <div class="rbt-input-field-grp">
                                    <input class="rbt-input-field" type="email" placeholder="Your Email Address *">
                                </div>
                                <button type="submit" class="rbt-btn d-block w-100 mt--24 mb--16 radius-round-6">
                                    Keep me updated
                                </button>
                            </form>
                            <div class="text-center">
                                <a href="#" data-bs-dismiss="modal" class="rbt-btn rbt-btn-naked radius-round-6 d-block">Not interested</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- End Quick View Modal Area  -->