<!-- Start Wishlist Modal Area  -->
<div class="rbt-default-modal modal fade has-rbt-top-folder-shape" id="wishlistModal" tabindex="-1" role="dialog"
    aria-modal="true" aria-labelledby="wishlistModalLabel" aria-hidden="true">
    <div class="modal-dialog sm-size modal-dialog-centered">
        <div class="modal-content">
            <div class="rbt-folder-shape-right-portion">
                <svg xmlns="http://www.w3.org/2000/svg" width="85" height="90" viewBox="0 0 85 90" fill="none">
                    <path
                        d="M0 0H11.1844C14.5695 0 17.7971 1.42971 20.0716 3.93671L82.1927 72.4059C83.9992 74.397 84.9999 76.9893 84.9999 79.6778C84.9999 85.6547 85.0001 90 85.0001 90H0V0Z"
                        fill="white" />
                </svg>
            </div>
            <div class="modal-header">
                <button type="button" class="rbt-round-btn rbt-modal-dis-btn" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="rbt-top-folder-shape-wrapper">
                <div class="rbt-bg-color-white rbt-content-trs-portion">
                    <div class="rbt-wishlist-modal-content">
                        <div class="rbt-title rbt-text-bold h5" id="wishlistModalLabel">Product Wishlist</div>
                        <div class="rbt-transparent-table-one-wrapper rbt-has-bg-gray pt--0 pb--0 mb--16">
                            <table class="rbt-transparent-table-one mb--0 rbt-wishlist-table">
                                <tbody>
                                    <!-- Start single wishlist product row -->
                                    <tr>
                                        <td class="rbt-product-remove-btn-wrapper">
                                            <button class="rbt-product-remove-btn rbt-round-btn">
                                                <span><i class="fa-solid fa-xmark"></i></span>
                                            </button>
                                        </td>
                                        <td class="product-thumbnail">
                                            <a href="product-single-default.html">
                                                <img src="assets/images/wishlist/wishlist-prd-1.webp"
                                                    alt="Product image">
                                            </a>
                                        </td>
                                        <td class="rbt-wish-product-info">
                                            <div class="rbt-wish-product-name h6">
                                                <a href="product-single-default.html">
                                                    JBL PartyBox 100W Speaker
                                                </a>
                                            </div>
                                            <div class="rbt-product-price-text rbt-text-color-primary">
                                                <span>$159.00</span>
                                            </div>
                                            <span class="rbt-product-id"><span class="rbt-text-semi-bold">SKU:</span>
                                                #180036458</span>
                                        </td>

                                        <td>
                                            <div class="rbt-button-group">
                                                <a class="rbt-btn rbt-btn-sm has-left-icon" href="cart.html">
                                                    <i class="fa-regular fa-cart-shopping"></i>
                                                    Add To Cart
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- End single wishlist product row -->

                                    <!-- Start single wishlist product row -->
                                    <tr>
                                        <td class="rbt-product-remove-btn-wrapper">
                                            <button class="rbt-product-remove-btn rbt-round-btn">
                                                <span><i class="fa-solid fa-xmark"></i></span>
                                            </button>
                                        </td>
                                        <td class="product-thumbnail">
                                            <a href="product-single-default.html">
                                                <img src="assets/images/wishlist/wishlist-prd-2.webp"
                                                    alt="Product image">
                                            </a>
                                        </td>
                                        <td class="rbt-wish-product-info">
                                            <div class="rbt-wish-product-name h6">
                                                <a href="product-single-default.html">
                                                    Fossil Gen 6 Hybrid Smartwatch
                                                </a>
                                            </div>
                                            <div class="rbt-product-price-text rbt-text-color-primary">
                                                <span>$209.00</span>
                                            </div>
                                            <span class="rbt-product-id"><span class="rbt-text-semi-bold">SKU:</span>
                                                #180036565</span>
                                        </td>

                                        <td>
                                            <div class="rbt-button-group">
                                                <a class="rbt-btn rbt-btn-sm has-left-icon" href="cart.html">
                                                    <i class="fa-regular fa-cart-shopping"></i>
                                                    Add To Cart
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- End single wishlist product row -->
                                </tbody>
                            </table>
                        </div>
                        <div
                            class="rbt-wishlist-modal-footer d-flex flex-wrap rbt-gap--16 justify-content-between align-items-center">
                            <a href="wishlist.html" class="rbt-link"><span class="icon mr--4"><i
                                        class="fa-sharp fa-regular fa-heart"></i></span>Open wishlist page</a>
                            <a href="shop.html" class="rbt-link">Continue Shopping</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Wishlist Modal Area  -->