<!-- Start Tiktok Card Area -->
<div class="row row--12 mt_dec--24 rbt-mobile-row">
    <!-- Start Single Card  -->
    <div class="col-lg-3 col-xl-3 col-xxl-3 col-md-6 col-sm-6 col-6 mt--24">
        <div class="rbt-youtube-iframe">
            <iframe class="autoplay-video"
                src="https://www.youtube.com/embed/HtiC2xfb6us?autoplay=1&mute=1&loop=1&playlist=HtiC2xfb6us&playsinline=1"
                title="YouTube Short"
                referrerpolicy="strict-origin-when-cross-origin"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>

    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-3 col-xl-3 col-xxl-3 col-md-6 col-sm-6 col-6 mt--24">
        <div class="rbt-youtube-iframe">
            <iframe class="autoplay-video"
                src="https://www.youtube.com/embed/Xv5NgMcgtw0?autoplay=1&mute=1&loop=1&playlist=Xv5NgMcgtw0&playsinline=1"
                title="YouTube Short"
                referrerpolicy="strict-origin-when-cross-origin"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-3 col-xl-3 col-xxl-3 col-md-6 col-sm-6 col-6 mt--24">
        <div class="rbt-youtube-iframe">
            <iframe class="autoplay-video"
                src="https://www.youtube.com/embed/6VOBrGy_Z4k?autoplay=1&mute=1&loop=1&playlist=6VOBrGy_Z4k&playsinline=1"
                title="YouTube Short"
                referrerpolicy="strict-origin-when-cross-origin"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-3 col-xl-3 col-xxl-3 col-md-6 col-sm-6 col-6 mt--24">
        <div class="rbt-youtube-iframe">
            <iframe class="autoplay-video"
                src="https://www.youtube.com/embed/J-16DVDHxHE?autoplay=1&mute=1&loop=1&playlist=J-16DVDHxHE&playsinline=1"
                title="YouTube Short"
                referrerpolicy="strict-origin-when-cross-origin"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>

    </div>
    <!-- End Single Card  -->
</div>
<!-- End Card Area -->