<div class="row row--12 mt_dec--24">

    <!-- Start Single Team  -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--24">
        <div class="rbt-team-modal-thumb nav nav-tabs">
            <a class="rbt-team-thumbnail" href="javascript:void(0)" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                <div class="thumb">
                    <img src="assets/images/team/team-05.webp" alt="Testimonial Images">
                </div>
            </a>
        </div>
    </div>
    <!-- End Single Team  -->

    <!-- Start Single Team  -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--24">
        <div class="rbt-team-modal-thumb nav nav-tabs">
            <a class="rbt-team-thumbnail" href="javascript:void(0)" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                <div class="thumb">
                    <img src="assets/images/team/team-09.webp" alt="Testimonial Images">
                </div>
            </a>
        </div>
    </div>
    <!-- End Single Team  -->

    <!-- Start Single Team  -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--24">
        <div class="rbt-team-modal-thumb nav nav-tabs">
            <a class="rbt-team-thumbnail" href="javascript:void(0)" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                <div class="thumb">
                    <img src="assets/images/team/team-03.webp" alt="Testimonial Images">
                </div>
            </a>
        </div>
    </div>
    <!-- End Single Team  -->

    <!-- Start Single Team  -->
    <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--24">
        <div class="rbt-team-modal-thumb nav nav-tabs">
            <a class="rbt-team-thumbnail" href="javascript:void(0)" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                <div class="thumb">
                    <img src="assets/images/team/team-07.webp" alt="Testimonial Images">
                </div>
            </a>
        </div>
    </div>
    <!-- End Single Team  -->

    <!-- Start Single Team  -->
    <div class="col-lg-2 col-md-3 col-sm-4 col-12 mt--24">
        <div class="rbt-team-modal-thumb nav nav-tabs">
            <a class="rbt-team-thumbnail" href="javascript:void(0)" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                <div class="thumb">
                    <img src="assets/images/team/team-01.webp" alt="Testimonial Images">
                </div>
            </a>
        </div>
    </div>
    <!-- End Single Team  -->

    <!-- Start Single Team  -->
    <div class="col-lg-2 col-md-3 col-sm-4 col-12 mt--24">
        <div class="rbt-team-modal-thumb nav nav-tabs">
            <a class="rbt-team-thumbnail" href="javascript:void(0)" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                <div class="thumb">
                    <img src="assets/images/team/team-02.webp" alt="Testimonial Images">
                </div>
            </a>
        </div>
    </div>
    <!-- End Single Team  -->

    <!-- Start Single Team  -->
    <div class="col-lg-2 col-md-3 col-sm-4 col-12 mt--24">
        <div class="rbt-team-modal-thumb nav nav-tabs">
            <a class="rbt-team-thumbnail" href="javascript:void(0)" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                <div class="thumb">
                    <img src="assets/images/team/team-04.webp" alt="Testimonial Images">
                </div>
            </a>
        </div>
    </div>
    <!-- End Single Team  -->

    <!-- Start Single Team  -->
    <div class="col-lg-2 col-md-3 col-sm-4 col-12 mt--24">
        <div class="rbt-team-modal-thumb nav nav-tabs">
            <a class="rbt-team-thumbnail" href="javascript:void(0)" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                <div class="thumb">
                    <img src="assets/images/team/team-06.webp" alt="Testimonial Images">
                </div>
            </a>
        </div>
    </div>
    <!-- End Single Team  -->

    <!-- Start Single Team  -->
    <div class="col-lg-2 col-md-3 col-sm-4 col-12 mt--24">
        <div class="rbt-team-modal-thumb nav nav-tabs">
            <a class="rbt-team-thumbnail" href="javascript:void(0)" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                <div class="thumb">
                    <img src="assets/images/team/team-08.webp" alt="Testimonial Images">
                </div>
            </a>
        </div>
    </div>
    <!-- End Single Team  -->

    <!-- Start Single Team  -->
    <div class="col-lg-2 col-md-3 col-sm-4 col-12 mt--24">
        <div class="rbt-team-modal-thumb nav nav-tabs">
            <a class="rbt-team-thumbnail" href="javascript:void(0)" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                <div class="thumb">
                    <img src="assets/images/team/team-10.webp" alt="Testimonial Images">
                </div>
            </a>
        </div>
    </div>
    <!-- End Single Team  -->

</div>

<div class="rbt-team-modal modal fade rbt-modal-default has-rbt-top-folder-shape" id="exampleModal" tabindex="-1"
    role="dialog" aria-modal="true" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="rbt-folder-shape-right-portion">
                <svg xmlns="http://www.w3.org/2000/svg" width="85" height="90" viewBox="0 0 85 90" fill="none">
                    <path
                        d="M0 0H11.1844C14.5695 0 17.7971 1.42971 20.0716 3.93671L82.1927 72.4059C83.9992 74.397 84.9999 76.9893 84.9999 79.6778C84.9999 85.6547 85.0001 90 85.0001 90H0V0Z"
                        fill="white" />
                </svg>
            </div>
            <div class="modal-header">
                <button type="button" class="rbt-round-btn rbt-modal-dis-btn" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body rbt-top-folder-shape-wrapper">
                <div class="inner rbt-content-trs-portion">
                    <div class="row row--12">
                        <div class="col-lg-4 col-md-5">
                            <div class="rbt-team-thumbnail">
                                <div class="thumb">
                                    <img class="w-100" src="assets/images/team/team-09.webp" alt="Testimonial Images">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7">
                            <div class="rbt-team-details">
                                <div class="author-info">
                                    <h2 class="title">Mames Mary</h2>
                                    <span class="designation theme-gradient">English Teacher</span>
                                    <span class="team-form">
                                        <i class="fa-regular fa-location-dot"></i>
                                        <span class="location">CO Miego, AD,USA</span>
                                    </span>
                                </div>
                                <p class="mb--16">You can run RVN easily. Any School, University, College can be use
                                    this RVN E-commerce template for their Commercial purpose. A university can be
                                    success you.</p>
                                <ul class="social-icon rbt-social-default mt--20 justify-content-start">
                                    <li><a href="https://www.facebook.com/">
                                            <i class="fa-brands fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li><a href="https://www.twitter.com">
                                            <i class="fa-brands fa-tiktok"></i>
                                        </a>
                                    </li>
                                    <li><a href="https://www.instagram.com/">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkdin.com/">
                                            <i class="fa-brands fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="rbt-information-list mt--24">
                                    <li>
                                        <a href="#"><i class="fa-regular fa-phone"></i>+1-202-555-0174</a>
                                    </li>
                                    <li>
                                        <a href="mailto:hello@example.com"><i
                                                class="fa-regular fa-envelope"></i>example@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="top-circle-shape"></div>
                </div>
            </div>
        </div>
    </div>
</div>