<div class="row row--0">
    <div class="col-lg-12">
        <div
            class="swiper team-slide-activation rbt-arrow-between rbt-dot-bottom-center pl--24 pr--24 pt--32 pb--60 rbt-swiper-lr-shadow rbt-arrow-show-dfl">
            <div class="swiper-wrapper">
                <!-- Start Single Team  -->
                <div class="swiper-slide">
                    <div class="rbt-team team-style-default style-three rbt-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-07.webp" alt="Corporate Template">
                            </div>
                            <div class="content">
                                <h2 class="title h6">Jenny Wilson</h2>
                                <p class="b3 mb--0 subtitle">
                                    <i class="fa-regular fa-briefcase"></i>
                                    Technical Specialist
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->

                <!-- Start Single Team  -->
                <div class="swiper-slide">
                    <div class="rbt-team team-style-default style-three rbt-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-08.webp" alt="Corporate Template">
                            </div>
                            <div class="content">
                                <h2 class="title h6">John Due</h2>
                                <p class="b3 mb--0 subtitle">
                                    <i class="fa-regular fa-briefcase"></i>
                                    Chief Financial Officer
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->

                <!-- Start Single Team  -->
                <div class="swiper-slide">
                    <div class="rbt-team team-style-default style-three rbt-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-09.webp" alt="Corporate Template">
                            </div>
                            <div class="content">
                                <h2 class="title h6">Joo Bieden</h2>
                                <p class="b3 mb--0 subtitle">
                                    <i class="fa-regular fa-briefcase"></i>
                                    Hiring Manager
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->
                <!-- Start Single Team  -->
                <div class="swiper-slide">
                    <div class="rbt-team team-style-default style-three rbt-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-01.webp" alt="Corporate Template">
                            </div>
                            <div class="content">
                                <h2 class="title h6">Brooklyn Simmons</h2>
                                <p class="b3 mb--0 subtitle">
                                    <i class="fa-regular fa-briefcase"></i>
                                    Admin
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->
                <!-- Start Single Team  -->
                <div class="swiper-slide">
                    <div class="rbt-team team-style-default style-three rbt-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-02.webp" alt="Corporate Template">
                            </div>
                            <div class="content">
                                <h2 class="title h6">Ronald Richards</h2>
                                <p class="b3 mb--0 subtitle">
                                    <i class="fa-regular fa-briefcase"></i>
                                    Delivery Head
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->

                <!-- Start Single Team  -->
                <div class="swiper-slide">
                    <div class="rbt-team team-style-default style-three rbt-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-03.webp" alt="Corporate Template">
                            </div>
                            <div class="content">
                                <h2 class="title h6">Bessie Cooper</h2>
                                <p class="b3 mb--0 subtitle">
                                    <i class="fa-regular fa-briefcase"></i>
                                    Chief Financial Officer
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->

                <!-- Start Single Team  -->
                <div class="swiper-slide">
                    <div class="rbt-team team-style-default style-three rbt-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-04.webp" alt="Corporate Template">
                            </div>
                            <div class="content">
                                <h2 class="title h6">Eleanor Pena</h2>
                                <p class="b3 mb--0 subtitle">
                                    <i class="fa-regular fa-briefcase"></i>
                                    Project Manager
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->
                <!-- Start Single Team  -->
                <div class="swiper-slide">
                    <div class="rbt-team team-style-default style-three rbt-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-05.webp" alt="Corporate Template">
                            </div>
                            <div class="content">
                                <h2 class="title h6">Jacob Jones</h2>
                                <p class="b3 mb--0 subtitle">
                                    <i class="fa-regular fa-briefcase"></i>
                                    Delivery Manager
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->
            </div>

            <div class="rbt-swiper-arrow rbt-arrow-left">
                <div class="custom-overflow">
                    <i class="rbt-icon fa-regular fa-arrow-left"></i>
                    <i class="rbt-icon-top fa-regular fa-arrow-left"></i>
                </div>
            </div>

            <div class="rbt-swiper-arrow rbt-arrow-right">
                <div class="custom-overflow">
                    <i class="rbt-icon fa-regular fa-arrow-right"></i>
                    <i class="rbt-icon-top fa-regular fa-arrow-right"></i>
                </div>
            </div>


            <div class="rbt-swiper-pagination rbt-swiper-pagination-var-one has-hide-dot-swipe"></div>
        </div>
    </div>
</div>