<div class="row row--16 mt_dec--32">
    <!-- Start Single Team  -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt--32">
        <div class="team">
            <div class="thumbnail"><img src="assets/images/team/team-05.webp" alt="Blog Images">
            </div>
            <div class="content">
                <h2 class="title h6">Michael Carter</h2>
                <p class="designation">
                    <i class="fa-regular fa-briefcase"></i>
                    Chief Executive Officer
                </p>
            </div>
        </div>
    </div>
    <!-- End Single Team  -->

    <!-- Start Single Team  -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt--32">
        <div class="team">
            <div class="thumbnail"><img src="assets/images/team/team-09.webp" alt="Blog Images">
            </div>
            <div class="content">
                <h2 class="title h6">Sophia Reynolds</h2>
                <p class="designation">
                    <i class="fa-regular fa-briefcase"></i>
                    Chief Operating Officer
                </p>
            </div>
        </div>
    </div>
    <!-- End Single Team  -->

    <!-- Start Single Team  -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt--32">
        <div class="team">
            <div class="thumbnail"><img src="assets/images/team/team-03.webp" alt="Blog Images">
            </div>
            <div class="content">
                <h2 class="title h6">Daniel Hayes</h2>
                <p class="designation">
                    <i class="fa-regular fa-briefcase"></i>
                    Chief Technology Officer
                </p>
            </div>
        </div>
    </div>
    <!-- End Single Team  -->

    <!-- Start Single Team  -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt--32">
        <div class="team">
            <div class="thumbnail"><img src="assets/images/team/team-07.webp" alt="Blog Images">
            </div>
            <div class="content">
                <h2 class="title h6">James Taylor</h2>
                <p class="designation">
                    <i class="fa-regular fa-briefcase"></i>
                    Chief Marketing Officer
                </p>
            </div>
        </div>
    </div>
    <!-- End Single Team  -->

    <!-- Start Single Team  -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt--32">
        <div class="team">
            <div class="thumbnail"><img src="assets/images/team/team-01.webp" alt="Blog Images">
            </div>
            <div class="content">
                <h2 class="title h6">Olivia Lee</h2>
                <p class="designation">
                    <i class="fa-regular fa-briefcase"></i>
                    Head of E-commerce Strategy
                </p>
            </div>
        </div>
    </div>
    <!-- End Single Team  -->

    <!-- Start Single Team  -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt--32">
        <div class="team">
            <div class="thumbnail"><img src="assets/images/team/team-02.webp" alt="Blog Images">
            </div>
            <div class="content">
                <h2 class="title h6">Liam Miller</h2>
                <p class="designation">
                    <i class="fa-regular fa-briefcase"></i>
                    Product Manager
                </p>
            </div>
        </div>
    </div>
    <!-- End Single Team  -->

    <!-- Start Single Team  -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt--32">
        <div class="team">
            <div class="thumbnail"><img src="assets/images/team/team-04.webp" alt="Blog Images">
            </div>
            <div class="content">
                <h2 class="title h6">Isabella Clark</h2>
                <p class="designation">
                    <i class="fa-regular fa-briefcase"></i>
                    UX/UI Designer
                </p>
            </div>
        </div>
    </div>
    <!-- End Single Team  -->

    <!-- Start Single Team  -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt--32">
        <div class="team">
            <div class="thumbnail"><img src="assets/images/team/team-09.webp" alt="Blog Images">
            </div>
            <div class="content">
                <h2 class="title h6">Ethan Harris</h2>
                <p class="designation">
                    <i class="fa-regular fa-briefcase"></i>
                    Customer Support Lead
                </p>
            </div>
        </div>
    </div>
    <!-- End Single Team  -->

</div>