<div class="row row--16 mt_dec--32">
    <!-- Start Single Team  -->
    <div class="col-lg-4 col-md-6 col-12 mt--32">
        <div class="rbt-team team-style-default style-two rbt-hover">
            <div class="inner">
                <div class="thumbnail"><img src="assets/images/team/team-01.webp" alt="Corporate Template"></div>
                <div class="content">
                    <h3 class="title h2">Ethan Harris</h3>
                    <h3 class="subtitle theme-gradient h6">Sales Manager</h3>
                    <span class="team-form">
                        <i class="fa-regular fa-location-dot"></i>
                        <span class="location">CO Miego, AD,USA</span>
                    </span>
                    <p class="description">Yes, I am a Depertment Teacher. I have a passion for
                        learning system.</p>
                    <ul class="social-icon rbt-social-default icon-naked mt--20">
                        <li><a href="https://www.facebook.com/">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </li>
                        <li><a href="https://www.twitter.com">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>
                        </li>
                        <li><a href="https://www.instagram.com/">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Team  -->

    <!-- Start Single Team  -->
    <div class="col-lg-4 col-md-6 col-12 mt--32">
        <div class="rbt-team team-style-default style-two rbt-hover">
            <div class="inner">
                <div class="thumbnail"><img src="assets/images/team/team-02.webp" alt="Corporate Template"></div>
                <div class="content">
                    <h3 class="title h2">Isabella Clark</h3>
                    <h3 class="subtitle theme-gradient h6">UX/UI Designer</h3>
                    <span class="team-form">
                        <i class="fa-regular fa-location-dot"></i>
                        <span class="location">CO Miego, AD,USA</span>
                    </span>
                    <p class="description">Yes, I am a Depertment Teacher. I have a passion for
                        learning system.</p>
                    <ul class="social-icon rbt-social-default icon-naked mt--20">
                        <li><a href="https://www.facebook.com/">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </li>
                        <li><a href="https://www.twitter.com">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>
                        </li>
                        <li><a href="https://www.instagram.com/">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Team  -->

    <!-- Start Single Team  -->
    <div class="col-lg-4 col-md-6 col-12 mt--32">
        <div class="rbt-team team-style-default style-two rbt-hover">
            <div class="inner">
                <div class="thumbnail"><img src="assets/images/team/team-03.webp" alt="Corporate Template"></div>
                <div class="content">
                    <h3 class="title h2">James Taylor</h3>
                    <h3 class="subtitle theme-gradient h6">Business Consultantr</h3>
                    <span class="team-form">
                        <i class="fa-regular fa-location-dot"></i>
                        <span class="location">CO Miego, AD,USA</span>
                    </span>
                    <p class="description">Yes, I am a Depertment Teacher. I have a passion for
                        learning system.</p>
                    <ul class="social-icon rbt-social-default icon-naked mt--20">
                        <li><a href="https://www.facebook.com/">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </li>
                        <li><a href="https://www.twitter.com">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>
                        </li>
                        <li><a href="https://www.instagram.com/">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Team  -->
</div>