<div class="row row--16 mt_dec--32">
    <!-- Start Single Team  -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt--32">
        <div class="team">
            <div class="thumbnail"><img src="assets/images/team/team-05.webp" alt="Blog Images">
            </div>
            <div class="content">
                <h2 class="title h6">Mia Walker</h2>
                <p class="designation">
                    <i class="fa-regular fa-briefcase"></i>
                    Depertment Head
                </p>
                <ul class="social-icon">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Single Team  -->

    <!-- Start Single Team  -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt--32">
        <div class="team">
            <div class="thumbnail"><img src="assets/images/team/team-09.webp" alt="Blog Images">
            </div>
            <div class="content">
                <h2 class="title h6">Sarah Johnson</h2>
                <p class="designation">
                    <i class="fa-regular fa-briefcase"></i>
                    Depertment Head
                </p>
                <ul class="social-icon">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Single Team  -->

    <!-- Start Single Team  -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt--32">
        <div class="team">
            <div class="thumbnail"><img src="assets/images/team/team-03.webp" alt="Blog Images">
            </div>
            <div class="content">
                <h2 class="title h6">David Williams</h2>
                <p class="designation">
                    <i class="fa-regular fa-briefcase"></i>
                    Depertment Head
                </p>
                <ul class="social-icon">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Single Team  -->

    <!-- Start Single Team  -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt--32">
        <div class="team">
            <div class="thumbnail"><img src="assets/images/team/team-07.webp" alt="Blog Images">
            </div>
            <div class="content">
                <h2 class="title h6">Emma Martinez</h2>
                <p class="designation">
                    <i class="fa-regular fa-briefcase"></i>
                    Depertment Head
                </p>
                <ul class="social-icon">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Single Team  -->

</div>