<!-- Start Component Area -->
<div class="rbt-component-area rbt-catagories-scroll-area rbt-bg-color-white">
    <div class="wrapper">

        <div class="rbt-scroll-animation-container">
            <div class="rbt-scroll-animation-wrapper rbt-no-overlay rbt-bg-color-primary @@spacing">
                <div class="rbt-scroll-animation rbt-scroll-right-left">
                    <!-- Start Single Testimonial  -->
                    <div class="rbt-single-column-100">
                        <div class="rbt-category-list">
                            <a href="#"><span class="rbt-catagory-icon rbt-offer-icon-circle"></span> RVN - 10% OFF
                                ON YOUR FIRST ORDER</a>
                            <a href="#"><span class="rbt-catagory-icon rbt-offer-icon-circle"></span> RVN - 10% OFF
                                ON YOUR FIRST ORDER</a>
                            <a href="#"><span class="rbt-catagory-icon rbt-offer-icon-circle"></span> RVN - 10% OFF
                                ON YOUR FIRST ORDER</a>
                            <a href="#"><span class="rbt-catagory-icon rbt-offer-icon-circle"></span> RVN - 10% OFF
                                ON YOUR FIRST ORDER</a>
                            <a href="#"><span class="rbt-catagory-icon rbt-offer-icon-circle"></span> RVN - 10% OFF
                                ON YOUR FIRST ORDER</a>
                            <a href="#"><span class="rbt-catagory-icon rbt-offer-icon-circle"></span> RVN - 10% OFF
                                ON YOUR FIRST ORDER</a>
                            <a href="#"><span class="rbt-catagory-icon rbt-offer-icon-circle"></span> RVN - 10% OFF
                                ON YOUR FIRST ORDER</a>
                            <a href="#"><span class="rbt-catagory-icon rbt-offer-icon-circle"></span> RVN - 10% OFF
                                ON YOUR FIRST ORDER</a>
                            <a href="#"><span class="rbt-catagory-icon rbt-offer-icon-circle"></span> RVN - 10% OFF
                                ON YOUR FIRST ORDER</a>
                            <a href="#"><span class="rbt-catagory-icon rbt-offer-icon-circle"></span> RVN - 10% OFF
                                ON YOUR FIRST ORDER</a>
                            <a href="#"><span class="rbt-catagory-icon rbt-offer-icon-circle"></span> RVN - 10% OFF
                                ON YOUR FIRST ORDER</a>
                        </div>
                    </div>
                    <!-- End Single Testimonial  -->
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Component Area -->