<!-- Start Component Area -->
<div class="rbt-component-area rbt-collapsible-content-section rbt-section-gap2 rbt-bg-color-white">
    <div class="container">
        <div class="rbt-collapsible-content-inner rbt-has-show-more">
            <div class="rbt-collapsible-wrapper rbt-has-show-more-inner-content rbt-has-show-more-inner-content-sm">
                <div class="row row--12 mt_dec--24">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12 mt--24">
                        <div class="rbt-collapsible-block">
                            <h2 class="rbt-collapsible-block-title mb--8 h5">Experience Online Shopping</h2>
                            <p class="rbt-collapsible-block-content b3">Sed ut perspiciatis unde omnis iste natus error
                                sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                                enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12 mt--24">
                        <div class="rbt-collapsible-block">
                            <h2 class="rbt-collapsible-block-title mb--8 h5">Best Selling Products</h2>
                            <p class="rbt-collapsible-block-content b3">Huawei P40 Pro, Huawei Mate Pad T10, Huawei Mate
                                Pad T, Huawei Y6p, Huawei Y7p, Huawei Y8p, OnePlus Nord CE, OnePlus Nord 2, OnePlus 8,
                                Apple Airpods Pro, Samsung A22, Samsung A03s, Oppo A31, Motorola Edge 20 Fusion, Samsung
                                Galaxy S21 FE, Samsung Galaxy S8 Plus, Nokia 6, Epson L3110 Printer, realme C31, Samsung
                                Galaxy </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12 mt--24">
                        <div class="rbt-collapsible-block">
                            <h2 class="rbt-collapsible-block-title mb--8 h5">Top Categories & Brands</h2>
                            <p class="rbt-collapsible-block-content b3">BTS Mask, BTS Bag, BTS Notebook, Autocad, Beard
                                Growth Oil, BTS Army Bomb, Mira Fan, 24K Gold Soap, Agar Agar Powder, Vintage T9
                                Trimmer, Jolochip, IPS Machine, GFC Stand Fan, BMW Umbrella, TWS F9, K8 Microphone,
                                Colmi P28 Plus, realme C35 Back Cover, </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12 mt--24">
                        <div class="rbt-collapsible-block">
                            <h2 class="rbt-collapsible-block-title mb--8 h5">Trending</h2>
                            <p class="rbt-collapsible-block-content b3">Night Cream For Women, Eye Brush Set, Soap
                                Dispenser, Highlighter Palette, Black Head Remover, Harbal Hair Oil, Waterproof
                                Eyeliner, Hair Fall Control Shampoo, Pad For Women, Lip Oil, Aloe Vera Gel, Perfume For
                                Women, Onion Oil For Hair, Matte Lipstick Set, Body Mist For Women, Hair Dryer For
                                Women, Skin </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rbt-show-more-btn-area mt--12">
                <button class="rbt-show-more-btn">Show More</button>
            </div>
        </div>
    </div>
</div>
<!-- End Component Area -->