@@include('footer/footer-elements/newsletterOne.html')

<!-- Start Footer aera -->
<footer class="rbt-footer rbt-footer-style-one rbt-footer-bg-image-one">
    <div class="rbt-footer-top rbt-section-gap2">
        <div class="container">
            <div class="row justify-content-between row--12 mt_dec--24">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--24">
                    <div class="footer-widget">
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/images/logo/logo.webp" alt="RVN Logo">
                            </a>
                        </div>

                        <p class="description">Worldwide electronics store since
                            1978. We sell over 1000+ branded products on our web-site.
                        </p>

                        <div class="rbt-quick-contact-info">
                            <p class="b2 title">Free from fixed and mobile phones.</p>
                            <a class="contact-link has-lg-fsize" href="tel:0800300353">0 800 300-353</a>
                        </div>

                        <div class="rbt-quick-contact-info">
                            <p class="b2 title">Call Center hours</p>
                            <p class="text-inf">Mon-Sun 09:00-19:00</p>
                        </div>

                        <div class="rbt-quick-contact-info d-flex align-items-center">
                            <p class="b2 title mb--0">Email :</p>
                            <a class="contact-link" href="mailto:someone@example.com">info@rbtshop.com</a>
                        </div>


                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-12 mt--24">
                    <div class="footer-widget rbt-link-hover">
                        <h3 class="ft-title">Let Us Help You</h3>
                        <ul class="ft-link">
                            <li>
                                <a href="account-info.html">Account Info</a>
                            </li>
                            <li>
                                <a href="my-order-history.html">Your Orders</a>
                            </li>
                            <li>
                                <a href="return-policy.html">Returns & Replacements</a>
                            </li>
                            <li>
                                <a href="my-order-history.html">Shipping Rates & Policies</a>
                            </li>
                            <li>
                                <a href="return-policy.html">Refund and Returns Policy</a>
                            </li>
                            <li>
                                <a href="privacy-policy.html">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="terms-policy.html">Terms and Conditions</a>
                            </li>
                            <li>
                                <a href="account-notifications.html">Cookie Settings</a>
                            </li>
                            <li>
                                <a href="help-center.html">Help Center</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-12 mt--24">
                    <div class="footer-widget rbt-link-hover">
                        <h3 class="ft-title">Make Money with Us</h3>
                        <ul class="ft-link">
                            <li>
                                <a href="shop.html">Sell on RVN</a>
                            </li>
                            <li>
                                <a href="shop.html">Sell Your Services on RVN</a>
                            </li>
                            <li>
                                <a href="shop.html">Sell on RVN Business</a>
                            </li>
                            <li>
                                <a href="shop.html">Sell Your Apps on RVN</a>
                            </li>
                            <li>
                                <a href="shop.html">Become an Affilate</a>
                            </li>
                            <li>
                                <a href="shop.html">Advertise Your Products</a>
                            </li>
                            <li>
                                <a href="shop.html">Sell-Publish with Us</a>
                            </li>
                            <li>
                                <a href="shop.html">Become an RVN Vendor</a>
                            </li>
                            <li>
                                <a href="shop.html">RVN Affiliation Program</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 col-12 mt--24">
                    <div class="footer-widget rbt-link-hover">
                        <h3 class="ft-title">Get to Know Us</h3>
                        <ul class="ft-link">
                            <li>
                                <a href="about.html">Careers for RVN</a>
                            </li>
                            <li>
                                <a href="about.html">About RVN</a>
                            </li>
                            <li>
                                <a href="about.html">Inverstor Relations</a>
                            </li>
                            <li>
                                <a href="about.html">RVN Devices</a>
                            </li>
                            <li>
                                <a href="about.html">Customer reviews</a>
                            </li>
                            <li>
                                <a href="about.html">Social Responsibility</a>
                            </li>
                            <li>
                                <a href="find-store.html">Store Locations</a>
                            </li>
                            <li>
                                <a href="find-store.html">RVN Near Me</a>
                            </li>
                            <li>
                                <a href="about.html">RVN Dealership</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="rbt-separator-mid">
        <div class="container">
            <hr class="rbt-separator m-0">
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row row--12 align-items-center mt_dec--24">
                <div class="col-lg-6 mt--24">
                    <div class="rbt-footer-social-area justify-content-center justify-content-lg-start">
                        <p class="title">Follow Us :</p>
                        <ul class="rbt-social-icon-list">
                            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-telegram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 mt--24">
                    <div class="rbt-app-store-area justify-content-center justify-content-lg-end">
                        <p class="title">Download App :</p>
                        <ul class="rbt-app-store-list">
                            <li><a href="#"><img src="assets/images/footer/apple-store-logo.webp" alt="App Store"></a>
                            </li>
                            <li><a href="#"><img src="assets/images/footer/play-store-logo.webp" alt="App Store"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

@@include('footer/copyright.html')
@@include('header/bottomToolsbar/bottom-toolsbar-one.html')
<!-- End Footer aera -->