<!-- Start Newsletter aera -->
<div class="rbt-newsletter-area style--one rbt-bg-color-primary">
    <div class="container">
       <div class="row align-items-center">
           <div class="col-lg-8 col-md-7 justify-content-center justify-content-md-start d-flex">
               <div class="rbt-newsletter-content-wrapper rbt-gap--16">
                    <span class="rbt-newsletter-icon"><i class="fa-light fa-envelope"></i></span>
                   <div class="content">
                        <h2 class="title">Subscribe our <span>newsletter</span></h2>
                        <p class="sub-title m-0 p-0 border-0">Subscribe and get discount 20% Off</p>
                   </div>
               </div>
           </div>
           <div class="col-lg-4 col-md-5 mt_sm--12 justify-content-center justify-content-md-end text-center text-md-left d-flex">
               <form action="#" class="rbt-newsletter-form-one">
                   <input class="rbt-border" type="email" placeholder="Enter your email address">
                   <button type="submit" class="rbt-btn rbt-btn-md radius-round-6">
                       Subscribe
                   </button>
                   <div class="icon"><i class="fa-regular fa-envelope"></i></div>
               </form>
           </div>
       </div>
    </div>
</div>
<!-- End Newsletter aera -->