<!-- Start Course Action Bottom  -->
<div class="rbt-minicart-bottom-section rbt-product-card">
    <div class="container">
        <div class="row align-items-center justify-content-between mt_dec--12">
            <div class="col-lg-6 col-md-12 mt--12">
                <div class="rbt-prd-info-section">
                    <div class="rbt-prd-img">
                        <a href="product-single-default.html">
                            <img src="assets/images/product-img/sticky-product-card-img-01.webp"
                                alt="Ecommerce Product Image">
                        </a>
                    </div>
                    <div class="rbt-content">
                        <h2 class="rbt-title mb--0 rbt-text-bold h6"><a href="product-single-default.html">2021 Apple
                                12.9-inch iPad Pro Wi-Fi 512GB Gray Space</a></h2>
                        <p class="rbt-desc">Accessibility Statement Wi-Fi 512GB Gray Space....</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 mt--12 mt_sm--16">
                <div class="rbt-minicart-bottom-section-center justify-content-center d-flex">
                    <div class="pricing-part">
                        <del class="price-text rbt-text-semi-bold rbt-text-color-gray-400">₹295.00</del>
                        <span class="price-text rbt-text-bold rbt-text-color-heading">₹179.98</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 mt--12 mt_sm--16">
                <div class="rbt-minicart-bottom-section-right d-flex">
                    <div class="minicart-btn-grp d-flex rbt-gap--16">
                        <a class="rbt-btn rbt-btn-border rbt-btn-sm d-block has-left-icon" href="#"><i
                                class="fa-regular mr fa-cart-shopping"></i> Add To Cart</a>
                        <a class="rbt-btn rbt-btn-sm d-block" href="#">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Course Action Bottom  -->