<div class="rbt-mini-cart-popup">
    <div class="rbt-mini-cart-inner">
        <div class="inner-top">
            <div class="content d-block">
                <div class="title-section">
                    <h2 class="title mb--0"><i class="fa-sharp fa-regular fa-cart-shopping mr--12"></i> Your cart
                    </h2>
                </div>
                <div class="rbt-btn-close">
                    <button class="minicart-close-button rbt-round-btn"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </div>
        </div>
        <nav class="side-nav w-100">
            <ul class="rbt-minicart-wrapper">
                <li class="minicart-item">
                    <div class="thumbnail">
                        <a href="product-single-default.html">
                            <img src="assets/images/wishlist/wishlist-prd-1.webp" alt="Product Image">
                        </a>
                    </div>
                    <div class="product-content text-start">
                        <h2 class="title h6"><a href="product-single-default.html">JBL 100W PartyBox</a></h2>
                        <span class="quantity">1x <span class="price">$359.00</span></span>
                    </div>
                    <div class="close-btn">
                        <button class="rbt-round-btn"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                </li>
                <li class="minicart-item">
                    <div class="thumbnail">
                        <a href="product-single-default.html">
                            <img src="assets/images/wishlist/wishlist-prd-2.webp" alt="Product Image">
                        </a>
                    </div>
                    <div class="product-content text-start">
                        <h2 class="title h6"><a href="product-single-default.html">Apple Watch Ultra 2</a></h2>
                        <span class="quantity">1x <span class="price">$359.00</span></span>
                    </div>
                    <div class="close-btn">
                        <button class="rbt-round-btn"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                </li>
                <li class="minicart-item">
                    <div class="thumbnail">
                        <a href="product-single-default.html">
                            <img src="assets/images/catagory-img/cat-transp-img-06.webp" alt="Product Image">
                        </a>
                    </div>
                    <div class="product-content text-start">
                        <h2 class="title h6"><a href="product-single-default.html">PlayStation Wireless Headphone</a>
                        </h2>
                        <span class="quantity">1x <span class="price">$759.00</span></span>
                    </div>
                    <div class="close-btn">
                        <button class="rbt-round-btn"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                </li>
                <li class="minicart-item">
                    <div class="thumbnail">
                        <a href="product-single-default.html">
                            <img src="assets/images/catagory-img/cat-transp-img-01.webp" alt="Product Image">
                        </a>
                    </div>
                    <div class="product-content text-start">
                        <h2 class="title h6"><a href="product-single-default.html">Awei CL-115M USB 2.4A </a></h2>
                        <span class="quantity">1x <span class="price">$459.00</span></span>
                    </div>
                    <div class="close-btn">
                        <button class="rbt-round-btn"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                </li>
                <li class="minicart-item">
                    <div class="thumbnail">
                        <a href="product-single-default.html">
                            <img src="assets/images/catagory-img/cat-transp-img-02.webp" alt="Product Image">
                        </a>
                    </div>
                    <div class="product-content text-start">
                        <h2 class="title h6"><a href="product-single-default.html">MaxGreen 45W Power Adapter</a></h2>
                        <span class="quantity">1x <span class="price">$999.00</span></span>
                    </div>
                    <div class="close-btn">
                        <button class="rbt-round-btn"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                </li>
                <li class="minicart-item">
                    <div class="thumbnail">
                        <a href="product-single-default.html">
                            <img src="assets/images/catagory-img/cat-transp-img-03.webp" alt="Product Image">
                        </a>
                    </div>
                    <div class="product-content text-start">
                        <h2 class="title h6"><a href="product-single-default.html">Havit PB90 Power Bank </a></h2>
                        <span class="quantity">1x <span class="price">$288.00</span></span>
                    </div>
                    <div class="close-btn">
                        <button class="rbt-round-btn"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="rbt-minicart-footer">
            <div class="rbt-cart-subttotal">
                <p>Subtotal (2 items)</p>
                <p class="price">$758.00</p>
            </div>
            <div class="rbt-cart-subttotal">
                <p>Shipping</p>
                <p class="price">$10.00</p>
            </div>
            <hr class="mb--0">
            <div class="rbt-cart-subttotal">
                <p class="subtotal"><strong>Total</strong></p>
                <p class="price">$768.00</p>
            </div>
            <div class="offer-progress-area text-start">
                <p class="offer-text">Add <strong>$248.00</strong> More To Get <strong>Free Shipping</strong></p>
                <div class="progress" role="progressbar" aria-label="Shipping-progress" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar w-75"></div>
                </div>
            </div>
            <div class="rbt-minicart-bottom mt--16">
                <div class="rbt-button-group">
                    <a href="cart.html" class="rbt-btn rbt-btn-sm rbt-btn-gray">
                        View Cart
                    </a>
                    <a href="#" class="rbt-btn rbt-btn-sm">
                        <span class="btn-text">Checkout</span>
                    </a>
                </div>
                <div class="share-btn-grp rbt-link-hover">
                    <button data-bs-toggle="modal" data-bs-target="#socialShareModal" type="button" class="share-btn">
                        <i class="fa-sharp fa-solid fa-link mr--4"></i>
                        Share Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>