<!-- Start Brands Area -->
<div class="row row--12 mt_dec--60">
    <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--60">
        <div class="rbt-brand text-center style-three rbt-scroll-trigger fade_in animation-order-1">
            <div class="inner">
                <div class="brand-image rbt-scroll-trigger zoom_in animation-order-1">
                    <img src="assets/images/brands/brand-c-01.webp" alt="Ecommerce Brand Images">
                </div>
                <p class="desc">“Allure makeup brand Sunnies 
                    Face makes just one lipstick and it’s constantly selling out.”
                </p>
                <a class="rbt-btn rbt-btn-secondary rbt-btn-sm" href="shop-by-brands.html">
                    <span class="btn-text">See 16 Products</span>
                    <span class="btn-icon"><i class="fa-solid fa-arrow-up-right ml--4"></i></span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--60">
        <div class="rbt-brand text-center style-three rbt-scroll-trigger fade_in animation-order-2">
            <div class="inner">
                <div class="brand-image rbt-scroll-trigger zoom_in animation-order-2">
                    <img src="assets/images/brands/brand-c-02.webp" alt="Ecommerce Brand Images">
                </div>
                <p class="desc">“Allure makeup brand Sunnies 
                    Face makes just one lipstick and it’s constantly selling out.”
                </p>
                <a class="rbt-btn rbt-btn-secondary rbt-btn-sm" href="shop-by-brands.html">
                    <span class="btn-text">See 32 Products</span>
                    <span class="btn-icon"><i class="fa-solid fa-arrow-up-right ml--4"></i></span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--60">
        <div class="rbt-brand text-center style-three rbt-scroll-trigger fade_in animation-order-3">
            <div class="inner">
                <div class="brand-image rbt-scroll-trigger zoom_in animation-order-3">
                    <img src="assets/images/brands/brand-c-03.webp" alt="Ecommerce Brand Images">
                </div>
                <p class="desc">“Allure makeup brand Sunnies 
                    Face makes just one lipstick and it’s constantly selling out.”
                </p>
                <a class="rbt-btn rbt-btn-secondary rbt-btn-sm" href="shop-by-brands.html">
                    <span class="btn-text">See 28 Products</span>
                    <span class="btn-icon"><i class="fa-solid fa-arrow-up-right ml--4"></i></span>
                </a>
            </div>
        </div>
    </div>
    
    <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--60">
        <div class="rbt-brand text-center style-three rbt-scroll-trigger fade_in animation-order-4">
            <div class="inner">
                <div class="brand-image rbt-scroll-trigger zoom_in animation-order-4">
                    <img src="assets/images/brands/brand-c-04.webp" alt="Ecommerce Brand Images">
                </div>
                <p class="desc">“Allure makeup brand Sunnies 
                    Face makes just one lipstick and it’s constantly selling out.”
                </p>
                <a class="rbt-btn rbt-btn-secondary rbt-btn-sm" href="shop-by-brands.html">
                    <span class="btn-text">See 64 Products</span>
                    <span class="btn-icon"><i class="fa-solid fa-arrow-up-right ml--4"></i></span>
                </a>
            </div>
        </div>
    </div>
    
    <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--60">
        <div class="rbt-brand text-center style-three rbt-scroll-trigger fade_in animation-order-5">
            <div class="inner">
                <div class="brand-image rbt-scroll-trigger zoom_in animation-order-1">
                    <img src="assets/images/brands/brand-c-05.webp" alt="Ecommerce Brand Images">
                </div>
                <p class="desc">“Allure makeup brand Sunnies 
                    Face makes just one lipstick and it’s constantly selling out.”
                </p>
                <a class="rbt-btn rbt-btn-secondary rbt-btn-sm" href="shop-by-brands.html">
                    <span class="btn-text">See 48 Products</span>
                    <span class="btn-icon"><i class="fa-solid fa-arrow-up-right ml--4"></i></span>
                </a>
            </div>
        </div>
    </div>
    

</div>
<!-- End Brands Area -->