<!-- Start Brands Area -->
<div class="rbt-brand-style-one rbt-fshape-box-outline-style rbt-fshape-box-outline-style-extend-width">
    <div class="row">
        <div class="col-lg-12">
            <div class="rbt-component-section-title text-left">
                <h2 class="rbt-title rbt-scroll-trigger fade_in animation-order-1 h4"><span
                        class="rbt-bold--text">Favorite
                        Brands</span></h2>
                <span class="rbt-fshape-right-portion">
                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="50" viewBox="0 0 52 50" fill="none">
                        <path
                            d="M51.5337 49.984C-64.8544 49.9977 116.427 49.9764 0.0390625 49.9901C0.0390625 31.262 0.0390625 20.7619 0.0390625 2.03378C11.2391 1.63419 16.5034 4.56468 19.5034 10.5602L30.0034 38.5311C34.0374 47.934 45.4209 49.4481 51.5337 49.984Z"
                            fill="var(--color-gray-light)" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M13.246 1.97519C16.582 3.50685 18.8114 5.90944 20.3979 9.07997L20.4213 9.12681L30.9315 37.1248C33.053 42.053 36.807 44.7979 40.7367 46.3047C44.6934 47.8219 48.798 48.068 51.4731 47.987C51.4731 47.987 51.51 49.2041 51.5337 49.984C48.7087 50.0695 44.3134 49.8162 40.02 48.17C35.7052 46.5155 31.4643 43.4388 29.0842 37.891L29.0751 37.8698C29.0751 37.8698 19.997 12.7279 18.5857 9.92689C17.1743 7.12591 15.2591 5.09828 12.4108 3.79055C8.49554 1.49902 0.0390625 2.03378 0.0390625 2.03378C0.0390625 20.7619 0.0390625 31.262 0.0390625 49.9901L0.0408325 0.0348727C5.70805 -0.16568 9.9493 0.461575 13.246 1.97519Z"
                            fill="var(--color-brand-100)" />
                    </svg>
                </span>
            </div>
        </div>
    </div>

    <div class="rbt-fshape-box rbt-fshape-box-py-inc">
        <div class="row row--12 mt_dec--24">
            <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--24">
                <div
                    class="rbt-brand text-center style-one rbt-content-transform-style rbt-scroll-trigger fade_in animation-order-1">
                    <a href="shop-by-brands.html">
                        <div class="rbt-brand-inner">
                            <div class="brand-image">
                                <img src="assets/images/brands/brand-a-01.webp" alt="Ecommerce Brand Images">
                                <span class="rbt-divider-arrow has-right-angel-animation"></span>
                            </div>
                            <div class="rbt-content">
                                <span class="discount-text">Upto 20% off</span>
                                <span class="prd-text">Total <span class="prd-number">100</span> Products</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--24">
                <div
                    class="rbt-brand text-center style-one rbt-content-transform-style rbt-scroll-trigger fade_in animation-order-2">
                    <a href="shop-by-brands.html">
                        <div class="rbt-brand-inner">
                            <div class="brand-image">
                                <img src="assets/images/brands/brand-a-02.webp" alt="Ecommerce Brand Images">
                                <span class="rbt-divider-arrow has-right-angel-animation"></span>
                            </div>
                            <div class="rbt-content">
                                <span class="discount-text">Upto 10% off</span>
                                <span class="prd-text">Total <span class="prd-number">80</span> Products</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--24">
                <div
                    class="rbt-brand text-center style-one rbt-content-transform-style rbt-scroll-trigger fade_in animation-order-3">
                    <a href="shop-by-brands.html">
                        <div class="rbt-brand-inner">
                            <div class="brand-image">
                                <img src="assets/images/brands/brand-a-03.webp" alt="Ecommerce Brand Images">
                                <span class="rbt-divider-arrow has-right-angel-animation"></span>
                            </div>
                            <div class="rbt-content">
                                <span class="discount-text">Upto 15% off</span>
                                <span class="prd-text">Total <span class="prd-number">70</span> Products</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--24">
                <div
                    class="rbt-brand text-center style-one rbt-content-transform-style rbt-scroll-trigger fade_in animation-order-4">
                    <a href="shop-by-brands.html">
                        <div class="rbt-brand-inner">
                            <div class="brand-image">
                                <img src="assets/images/brands/brand-a-04.webp" alt="Ecommerce Brand Images">
                                <span class="rbt-divider-arrow has-right-angel-animation"></span>
                            </div>
                            <div class="rbt-content">
                                <span class="discount-text">Upto 25% off</span>
                                <span class="prd-text">Total <span class="prd-number">200</span> Products</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--24">
                <div
                    class="rbt-brand text-center style-one rbt-content-transform-style rbt-scroll-trigger fade_in animation-order-5">
                    <a href="shop-by-brands.html">
                        <div class="rbt-brand-inner">
                            <div class="brand-image">
                                <img src="assets/images/brands/brand-a-05.webp" alt="Ecommerce Brand Images">
                                <span class="rbt-divider-arrow has-right-angel-animation"></span>
                            </div>
                            <div class="rbt-content">
                                <span class="discount-text">Upto 20% off</span>
                                <span class="prd-text">Total <span class="prd-number">60</span> Products</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--24">
                <div
                    class="rbt-brand text-center style-one rbt-content-transform-style rbt-scroll-trigger fade_in animation-order-6">
                    <a href="shop-by-brands.html">
                        <div class="rbt-brand-inner">
                            <div class="brand-image">
                                <img src="assets/images/brands/brand-a-06.webp" alt="Ecommerce Brand Images">
                                <span class="rbt-divider-arrow has-right-angel-animation"></span>
                            </div>
                            <div class="rbt-content">
                                <span class="discount-text">Upto 15% off</span>
                                <span class="prd-text">Total <span class="prd-number">70</span> Products</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--24">
                <div
                    class="rbt-brand text-center style-one rbt-content-transform-style rbt-scroll-trigger fade_in animation-order-7">
                    <a href="shop-by-brands.html">
                        <div class="rbt-brand-inner">
                            <div class="brand-image">
                                <img src="assets/images/brands/brand-a-07.webp" alt="Ecommerce Brand Images">
                                <span class="rbt-divider-arrow has-right-angel-animation"></span>
                            </div>
                            <div class="rbt-content">
                                <span class="discount-text">Upto 12% off</span>
                                <span class="prd-text">Total <span class="prd-number">250</span> Products</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--24">
                <div
                    class="rbt-brand text-center style-one rbt-content-transform-style rbt-scroll-trigger fade_in animation-order-8">
                    <a href="shop-by-brands.html">
                        <div class="rbt-brand-inner">
                            <div class="brand-image">
                                <img src="assets/images/brands/brand-a-08.webp" alt="Ecommerce Brand Images">
                                <span class="rbt-divider-arrow has-right-angel-animation"></span>
                            </div>
                            <div class="rbt-content">
                                <span class="discount-text">Upto 16% off</span>
                                <span class="prd-text">Total <span class="prd-number">100</span> Products</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--24">
                <div
                    class="rbt-brand text-center style-one rbt-content-transform-style rbt-scroll-trigger fade_in animation-order-9">
                    <a href="shop-by-brands.html">
                        <div class="rbt-brand-inner">
                            <div class="brand-image">
                                <img src="assets/images/brands/brand-a-09.webp" alt="Ecommerce Brand Images">
                                <span class="rbt-divider-arrow has-right-angel-animation"></span>
                            </div>
                            <div class="rbt-content">
                                <span class="discount-text">Upto 10% off</span>
                                <span class="prd-text">Total <span class="prd-number">390</span> Products</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--24">
                <div
                    class="rbt-brand text-center style-one rbt-content-transform-style rbt-scroll-trigger fade_in animation-order-10">
                    <a href="shop-by-brands.html">
                        <div class="rbt-brand-inner">
                            <div class="brand-image">
                                <img src="assets/images/brands/brand-a-10.webp" alt="Ecommerce Brand Images">
                                <span class="rbt-divider-arrow has-right-angel-animation"></span>
                            </div>
                            <div class="rbt-content">
                                <span class="discount-text">Upto 14% off</span>
                                <span class="prd-text">Total <span class="prd-number">290</span> Products</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Brands Area -->