<!-- Start Brands Area -->
<div class="row row--12 mt_dec--60">
    <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--60">
        <a href="shop-by-brands.html"
            class="rbt-brand text-center style-two rbt-scroll-trigger fade_in animation-order-1">
            <div class="rbt-brand-inner">
                <span class="title h6">Boss</span>
                <p class="sub-title mb--0">UNK - Unalakeet, AK</p>
                <div class="rbt-badge-wrapper rbt-content-top-right">
                    <span class="prd-text mt--4 rbt-product-badge tooltips" data-tooltip="Total Products"
                        data-tooltip-position="bottom">40</span>
                </div>
            </div>
            <div class="brand-image">
                <img src="assets/images/brands/brand-b-01.webp" alt="Ecommerce Brand Images">
            </div>
            <div class="sm-logo">
                <img src="assets/images/brands/brand-b-01-logo.webp" alt="Ecommerce Brand Images">
            </div>
        </a>
    </div>

    <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--60">
        <a href="shop-by-brands.html"
            class="rbt-brand text-center style-two rbt-scroll-trigger fade_in animation-order-2">
            <div class="rbt-brand-inner">
                <span class="title h6">Lacoste</span>
                <p class="sub-title mb--0">Troyes, France</p>
                <div class="rbt-badge-wrapper rbt-content-top-right">
                    <span class="prd-text mt--4 rbt-product-badge tooltips" data-tooltip="Total Products"
                        data-tooltip-position="bottom">70</span>
                </div>
            </div>
            <div class="brand-image">
                <img src="assets/images/brands/brand-b-02.webp" alt="Ecommerce Brand Images">
            </div>
            <div class="sm-logo">
                <img src="assets/images/brands/brand-b-02-logo.webp" alt="Ecommerce Brand Images">
            </div>
        </a>
    </div>


    <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--60">
        <a href="shop-by-brands.html"
            class="rbt-brand text-center style-two rbt-scroll-trigger fade_in animation-order-3">
            <div class="rbt-brand-inner">
                <span class="title h6">Lee</span>
                <p class="sub-title mb--0">Merriam, KS, USA</p>
                <div class="rbt-badge-wrapper rbt-content-top-right">
                    <span class="prd-text mt--4 rbt-product-badge tooltips" data-tooltip="Total Products"
                        data-tooltip-position="bottom">90</span>
                </div>
            </div>
            <div class="brand-image">
                <img src="assets/images/brands/brand-b-03.webp" alt="Ecommerce Brand Images">
            </div>
            <div class="sm-logo">
                <img src="assets/images/brands/brand-b-03-logo.webp" alt="Ecommerce Brand Images">
            </div>
        </a>
    </div>

    <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--60">
        <a href="shop-by-brands.html"
            class="rbt-brand text-center style-two rbt-scroll-trigger fade_in animation-order-4">
            <div class="rbt-brand-inner">
                <span class="title h6">Tommy</span>
                <p class="sub-title mb--0">Amsterdam, Netherlands</p>
                <div class="rbt-badge-wrapper rbt-content-top-right">
                    <span class="prd-text mt--4 rbt-product-badge tooltips" data-tooltip="Total Products"
                        data-tooltip-position="bottom">50</span>
                </div>
            </div>
            <div class="brand-image">
                <img src="assets/images/brands/brand-b-04.webp" alt="Ecommerce Brand Images">
            </div>
            <div class="sm-logo">
                <img src="assets/images/brands/brand-b-04-logo.webp" alt="Ecommerce Brand Images">
            </div>
        </a>
    </div>


    <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--60">
        <a href="shop-by-brands.html"
            class="rbt-brand text-center style-two rbt-scroll-trigger fade_in animation-order-5">
            <div class="rbt-brand-inner">
                <span class="title h6">Body Glove</span>
                <p class="sub-title mb--0">Redondo Beach, CA, USA</p>
                <div class="rbt-badge-wrapper rbt-content-top-right">
                    <span class="prd-text mt--4 rbt-product-badge tooltips" data-tooltip="Total Products"
                        data-tooltip-position="bottom">T200</span>
                </div>
            </div>
            <div class="brand-image">
                <img src="assets/images/brands/brand-b-05.webp" alt="Ecommerce Brand Images">
            </div>
            <div class="sm-logo">
                <img src="assets/images/brands/brand-b-05-logo.webp" alt="Ecommerce Brand Images">
            </div>
        </a>
    </div>

    <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--60">
        <a href="shop-by-brands.html"
            class="rbt-brand text-center style-two rbt-scroll-trigger fade_in animation-order-6">
            <div class="rbt-brand-inner">
                <span class="title h6">Chanel</span>
                <p class="sub-title mb--0">Paris, France</p>
                <div class="rbt-badge-wrapper rbt-content-top-right">
                    <span class="prd-text mt--4 rbt-product-badge tooltips" data-tooltip="Total Products"
                        data-tooltip-position="bottom">490</span>
                </div>
            </div>
            <div class="brand-image">
                <img src="assets/images/brands/brand-b-06.webp" alt="Ecommerce Brand Images">
            </div>
            <div class="sm-logo">
                <img src="assets/images/brands/brand-b-06-logo.webp" alt="Ecommerce Brand Images">
            </div>
        </a>
    </div>

    <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--60">
        <a href="shop-by-brands.html"
            class="rbt-brand text-center style-two rbt-scroll-trigger fade_in animation-order-7">
            <div class="rbt-brand-inner">
                <span class="title h6">Dockers</span>
                <p class="sub-title mb--0">San Francisco, CA, USA</p>
                <div class="rbt-badge-wrapper rbt-content-top-right">
                    <span class="prd-text mt--4 rbt-product-badge tooltips" data-tooltip="Total Products"
                        data-tooltip-position="bottom">30</span>
                </div>
            </div>
            <div class="brand-image">
                <img src="assets/images/brands/brand-b-07.webp" alt="Ecommerce Brand Images">
            </div>
            <div class="sm-logo">
                <img src="assets/images/brands/brand-b-07-logo.webp" alt="Ecommerce Brand Images">
            </div>
        </a>
    </div>

    <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--60">
        <a href="shop-by-brands.html"
            class="rbt-brand text-center style-two rbt-scroll-trigger fade_in animation-order-8">
            <div class="rbt-brand-inner">
                <span class="title h6">Adidas</span>
                <p class="sub-title mb--0">Herzogenaurach, Germany</p>
                <div class="rbt-badge-wrapper rbt-content-top-right">
                    <span class="prd-text mt--4 rbt-product-badge tooltips" data-tooltip="Total Products"
                        data-tooltip-position="bottom">250</span>
                </div>
            </div>
            <div class="brand-image">
                <img src="assets/images/brands/brand-b-08.webp" alt="Ecommerce Brand Images">
            </div>
            <div class="sm-logo">
                <img src="assets/images/brands/brand-b-08-logo.webp" alt="Ecommerce Brand Images">
            </div>
        </a>
    </div>

    <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--60">
        <a href="shop-by-brands.html"
            class="rbt-brand text-center style-two rbt-scroll-trigger fade_in animation-order-9">
            <div class="rbt-brand-inner">
                <span class="title h6">Fila</span>
                <p class="sub-title mb--0">Seoul, South Korea</p>
                <div class="rbt-badge-wrapper rbt-content-top-right">
                    <span class="prd-text mt--4 rbt-product-badge tooltips" data-tooltip="Total Products"
                        data-tooltip-position="bottom">80</span>
                </div>
            </div>
            <div class="brand-image">
                <img src="assets/images/brands/brand-b-09.webp" alt="Ecommerce Brand Images">
            </div>
            <div class="sm-logo">
                <img src="assets/images/brands/brand-b-09-logo.webp" alt="Ecommerce Brand Images">
            </div>
        </a>
    </div>

    <div class="col-lg-1-5 col-lg-4 col-md-4 col-sm-6 col-6 mt--60">
        <a href="shop-by-brands.html"
            class="rbt-brand text-center style-two rbt-scroll-trigger fade_in animation-order-10">
            <div class="rbt-brand-inner">
                <span class="title h6">Levi's</span>
                <p class="sub-title mb--0">San Francisco, CA, USA</p>
                <div class="rbt-badge-wrapper rbt-content-top-right">
                    <span class="prd-text mt--4 rbt-product-badge tooltips" data-tooltip="Total Products"
                        data-tooltip-position="bottom">200</span>
                </div>
            </div>
            <div class="brand-image">
                <img src="assets/images/brands/brand-b-10.webp" alt="Ecommerce Brand Images">
            </div>
            <div class="sm-logo">
                <img src="assets/images/brands/brand-b-010-logo.webp" alt="Ecommerce Brand Images">
            </div>
        </a>
    </div>

</div>

<!-- End Brands Area -->