<div class="rbt-accordion-style rbt-accordion-01 rbt-accordion-06 accordion">
    <div class="accordion" id="tutionaccordionExamplea1">
        <div class="accordion-item card">
            <h2 class="accordion-header card-header" id="tutionheadingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#tutioncollapseOne" aria-expanded="true" aria-controls="tutioncollapseOne">
                    Master of Business Administration (MBA)
                </button>
            </h2>
            <div id="tutioncollapseOne" class="accordion-collapse collapse show" role="region"
                aria-labelledby="tutionheadingOne" data-bs-parent="#tutionaccordionExamplea1">
                <div class="accordion-body card-body">
                    <p class="title">Total Cost Breakdown 2023</p>
                    <div class="table-responsive mobile-table-750">
                        <table class="rbt-table table table-borderless">
                            <thead>
                                <tr>
                                    <th>Program Term</th>
                                    <th>Tuition Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Term 1-6</th>
                                    <td>$500</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Total</th>
                                    <th>$500</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item card">
            <h2 class="accordion-header card-header" id="tutionheadingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#tutioncollapseTwo" aria-expanded="false" aria-controls="tutioncollapseTwo">
                    MSS in Economics
                </button>
            </h2>
            <div id="tutioncollapseTwo" class="accordion-collapse collapse" role="region"
                aria-labelledby="tutionheadingTwo" data-bs-parent="#tutionaccordionExamplea1">
                <div class="accordion-body card-body">
                    <p class="title">Admission Eligibility Breakdown 2023</p>
                    <div class="table-responsive mobile-table-750">
                        <table class="rbt-table table table-borderless">
                            <thead>
                                <tr>
                                    <th>Program Term</th>
                                    <th>Tuition Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Term 1-6</th>
                                    <td>$4589</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Total</th>
                                    <th>$4589</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item card">
            <h2 class="accordion-header card-header" id="tutionheadingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#tutioncollapseThree" aria-expanded="false" aria-controls="tutioncollapseThree">
                    MS in Applied Physics & Electronics
                </button>
            </h2>
            <div id="tutioncollapseThree" class="accordion-collapse collapse" role="region"
                aria-labelledby="tutionheadingThree" data-bs-parent="#tutionaccordionExamplea1">
                <div class="accordion-body card-body">
                    <p class="title">Admission Eligibility Breakdown 2023</p>
                    <div class="table-responsive mobile-table-750">
                        <table class="rbt-table table table-borderless">
                            <thead>
                                <tr>
                                    <th>Program Term</th>
                                    <th>Tuition Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Term 1-6</th>
                                    <td>$1400</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Total</th>
                                    <th>$1400</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item card">
            <h2 class="accordion-header card-header" id="tutionheadingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#tutioncollapseFour" aria-expanded="false" aria-controls="tutioncollapseFour">
                    Master of Laws (LL.M.)
                </button>
            </h2>
            <div id="tutioncollapseFour" class="accordion-collapse collapse" role="region"
                aria-labelledby="tutionheadingFour" data-bs-parent="#tutionaccordionExamplea1">
                <div class="accordion-body card-body">
                    <p class="title">Total Cost Breakdown 2023</p>
                    <div class="table-responsive mobile-table-750">
                        <table class="rbt-table table table-borderless">
                            <thead>
                                <tr>
                                    <th>Program Term</th>
                                    <th>Tuition Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Term 1-6</th>
                                    <td>$4589</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Total</th>
                                    <th>$4589</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item card">
            <h2 class="accordion-header card-header" id="tutionheadingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#tutioncollapseFive" aria-expanded="false" aria-controls="tutioncollapseFive">
                    Master of Population, Reproductive Health
                </button>
            </h2>
            <div id="tutioncollapseFive" class="accordion-collapse collapse" role="region"
                aria-labelledby="tutionheadingFive" data-bs-parent="#tutionaccordionExamplea1">
                <div class="accordion-body card-body">
                    <p class="title">Total Cost Breakdown 2023</p>
                    <div class="table-responsive mobile-table-750">
                        <table class="rbt-table table table-borderless">
                            <thead>
                                <tr>
                                    <th>Program Term</th>
                                    <th>Tuition Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Term 1-6</th>
                                    <td>$5000</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Total</th>
                                    <th>$5000</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>