<!-- Start Component Area -->
<div class="rbt-component-area @@section-gap @@bgColor">
    <div class="container">

        <div
            class="rbt-fshape-box-outline-style rbt-fshape-box-outline-style-primary-stroke rbt-fshape-box-outline-style-extend-width rbt-product-fshape-box-outline-style">
            <div class="row rbt-section-gap2Top pt_sm--100 pt_md--80 pt--0">
                <div class="col-lg-12">
                    <div class="rbt-component-section-title rbt-bg-color-white">
                        <h2 class="rbt-title h4"><span class="rbt-bold--text">Frequently Bought Together</span></h2>
                        <span class="rbt-fshape-right-portion">
                            <svg xmlns="http://www.w3.org/2000/svg" width="52" height="50" viewBox="0 0 52 50"
                                fill="none">
                                <path
                                    d="M51.5337 49.984C-64.8544 49.9977 116.427 49.9764 0.0390625 49.9901C0.0390625 31.262 0.0390625 20.7619 0.0390625 2.03378C11.2391 1.63419 16.5034 4.56468 19.5034 10.5602L30.0034 38.5311C34.0374 47.934 45.4209 49.4481 51.5337 49.984Z"
                                    fill="var(--color-white)" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M13.246 1.97519C16.582 3.50685 18.8114 5.90944 20.3979 9.07997L20.4213 9.12681L30.9315 37.1248C33.053 42.053 36.807 44.7979 40.7367 46.3047C44.6934 47.8219 48.798 48.068 51.4731 47.987C51.4731 47.987 51.51 49.2041 51.5337 49.984C48.7087 50.0695 44.3134 49.8162 40.02 48.17C35.7052 46.5155 31.4643 43.4388 29.0842 37.891L29.0751 37.8698C29.0751 37.8698 19.997 12.7279 18.5857 9.92689C17.1743 7.12591 15.2591 5.09828 12.4108 3.79055C8.49554 1.49902 0.0390625 2.03378 0.0390625 2.03378C0.0390625 20.7619 0.0390625 31.262 0.0390625 49.9901L0.0408325 0.0348727C5.70805 -0.16568 9.9493 0.461575 13.246 1.97519Z"
                                    fill="var(--color-primary)" />
                            </svg>
                        </span>
                    </div>
                </div>
            </div>

            <div class="rbt-component-area rbt-fshape-box rbt-bg-color-white">
                <!-- Start Card Area -->
                <div class="row row--12">

                    <div class="col-md-12 col-12">
                        <div
                            class="rbt-swiper-container-one rbt-fashion-prd-card-activation-2-container rbt-arrow-between rbt-arrow-between-lg-dis">
                            <div class="swiper rbt-fashion-prd-card-activation-2">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div
                                            class="rbt-card rbt-product-card rbt-product-card-style-2 rounded--16 rbt-scroll-trigger fade_in animation-order-1">
                                            <div class="rbt-card-img rounded--16">
                                                <a href="product-single-default.html"><img
                                                        class="rbt-scroll-trigger fade_in animation-order-1 rbt-prd-img"
                                                        src="assets/images/product-img/fashion/product-new-01-a-1.webp"
                                                        alt="Card Image"></a>
                                                <div class="rbt-badge-wrapper rbt-content-top-left">
                                                    <div class="rbt-product-badge rbt-product-badge-bg-green">NEW
                                                        ARRIVAL
                                                    </div>
                                                </div>
                                                <button
                                                    class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips"
                                                    type="button" data-tooltip="Add to wishlist"
                                                    data-tooltip-position="left"><i
                                                        class="fa-regular fa-heart"></i></button>
                                            </div>

                                            <div
                                                class="rbt-card-body has-rbt-top-right-corner-portion rbt-card-body-top-botttom-space">
                                                <div class="rbt-curved-radius-bottom-corner"></div>
                                                <div class="rbt-scroll-animation-wrapper rbt-no-overlay">
                                                    <div class="rbt-scroll-animation rbt-scroll-right-left">
                                                        <!-- Start Single Testimonial  -->
                                                        <div class="rbt-single-column-100">
                                                            <div class="rbt-category-list-dis rbt-category-list">
                                                                <a href="#!"><span class="rbt-catagory-icon"><img
                                                                            src="assets/images/icons/scroll-icon-01.svg"
                                                                            alt="icon"></span> Hot Sell 50%
                                                                    Off</a>
                                                                <a href="#!"><span class="rbt-catagory-icon"><img
                                                                            src="assets/images/icons/scroll-icon-01.svg"
                                                                            alt="icon"></span> Hot Sell 50%
                                                                    Off</a>
                                                                <a href="#!"><span class="rbt-catagory-icon"><img
                                                                            src="assets/images/icons/scroll-icon-01.svg"
                                                                            alt="icon"></span> Hot Sell 50%
                                                                    Off</a>
                                                                <a href="#!"><span class="rbt-catagory-icon"><img
                                                                            src="assets/images/icons/scroll-icon-01.svg"
                                                                            alt="icon"></span> Hot Sell 50%
                                                                    Off</a>
                                                                <a href="#!"><span class="rbt-catagory-icon"><img
                                                                            src="assets/images/icons/scroll-icon-01.svg"
                                                                            alt="icon"></span> Hot Sell 50%
                                                                    Off</a>
                                                                <a href="#!"><span class="rbt-catagory-icon"><img
                                                                            src="assets/images/icons/scroll-icon-01.svg"
                                                                            alt="icon"></span> Hot Sell 50%
                                                                    Off</a>
                                                                <a href="#!"><span class="rbt-catagory-icon"><img
                                                                            src="assets/images/icons/scroll-icon-01.svg"
                                                                            alt="icon"></span> Hot Sell 50%
                                                                    Off</a>
                                                            </div>
                                                        </div>
                                                        <!-- End Single Testimonial  -->
                                                    </div>
                                                </div>
                                                <div class="rbt-right-corner-portion bottom--position">
                                                    <div class="rbt-corner-portion-wrapper">
                                                        <div
                                                            class="rbt-quick-btn-grp has-mixup-midlayer bottom-right--position">
                                                            <button class="rbt-compare-btn rbt-quick-btn tooltips"
                                                                data-tooltip="Add to Compare"
                                                                data-tooltip-position="left" type="button"><i
                                                                    class="fa-regular fa-scale-balanced"></i></button>
                                                            <button class="rbt-watch-btn rbt-quick-btn tooltips"
                                                                data-tooltip="Quick View" data-tooltip-position="left"
                                                                type="button" data-bs-toggle="modal"
                                                                data-bs-target="#quickviewModal"><i
                                                                    class="fa-sharp fa-regular fa-eye"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="rbt-card-top-content">
                                                    <div class="rbt-product-switch-area">
                                                        <ul
                                                            class="rbt-switcher-product-list product-switcher-activation">
                                                            <li class="active"><a
                                                                    class="rbt-switcher--prd rbt-switcher--prd-one"
                                                                    data-src="assets/images/product-img/fashion/product-new-01-a-1.webp"
                                                                    href="#"><img
                                                                        src="assets/images/product-img/fashion/product-new-01-a-1.webp"
                                                                        alt="Product Image"></a></li>
                                                            <li><a class="rbt-switcher--prd rbt-switcher--prd-two"
                                                                    data-src="assets/images/product-img/fashion/product-new-01-a-2.webp"
                                                                    href="#"><img
                                                                        src="assets/images/product-img/fashion/product-new-01-a-2.webp"
                                                                        alt="Product Image"></a></li>
                                                            <li><a class="rbt-switcher--prd rbt-switcher--prd-three"
                                                                    data-src="assets/images/product-img/fashion/product-new-01-a-3.webp"
                                                                    href="#"><img
                                                                        src="assets/images/product-img/fashion/product-new-01-a-3.webp"
                                                                        alt="Product Image"></a></li>
                                                            <li><a class="rbt-switcher--prd rbt-switcher--prd-four"
                                                                    data-src="assets/images/product-img/fashion/product-new-01-a-4.webp"
                                                                    href="#"><img
                                                                        src="assets/images/product-img/fashion/product-new-01-a-4.webp"
                                                                        alt="Product Image"></a></li>
                                                        </ul>
                                                        <a class="prd-link-text" href="product-single-default.html">+12
                                                            More</a>
                                                    </div>
                                                    <a href="#"
                                                        class="rbt-card-subtitle rbt-card-catagories-text mt--12">Vintage
                                                        Clothing</a>
                                                    <h2 class="rbt-card-title mt--4"><a
                                                            href="product-single-default.html">Nirvana Graphic Oversized
                                                            Sweatshirt</a></h2>
                                                    <div class="rbt-card-rating">
                                                        <ul class="rbt-rating-icon-list">
                                                            <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                            <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                            <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                            <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                            <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                        </ul>
                                                        <p class="rating-digit">(25)</p>
                                                    </div>
                                                    <div class="pricing-part">
                                                        <del class="price-text">$295.00</del>
                                                        <span class="price-text">$179.98</span>
                                                        <span class="rbt-offer-badge">-30%</span>
                                                    </div>
                                                </div>
                                                <div class="rbt-card-footer d-flex footer-content-btn">
                                                    <a class="rbt-btn rbt-btn-sm has-left-icon flex-basis-100"
                                                        href="#"><i class="fa-regular fa-cart-shopping"></i> Add To
                                                        Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div
                                            class="rbt-card rbt-product-card rbt-product-card-style-2 rounded--16 rbt-scroll-trigger fade_in animation-order-2">
                                            <div class="rbt-card-img rounded--16">
                                                <a href="product-single-default.html"><img
                                                        class="rbt-scroll-trigger fade_in animation-order-2 rbt-prd-img"
                                                        src="assets/images/product-img/fashion/product-new-02-a-1.webp"
                                                        alt="Card Image"></a>
                                                <button
                                                    class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips"
                                                    type="button" data-tooltip="Add to wishlist"
                                                    data-tooltip-position="left"><i
                                                        class="fa-regular fa-heart"></i></button>
                                            </div>

                                            <div
                                                class="rbt-card-body has-rbt-top-right-corner-portion rbt-card-body-top-botttom-space">
                                                <div class="rbt-curved-radius-bottom-corner"></div>
                                                <div class="rbt-scroll-animation-wrapper rbt-no-overlay">
                                                    <div class="rbt-scroll-animation rbt-scroll-right-left">
                                                        <!-- Start Single Testimonial  -->
                                                        <div class="rbt-single-column-100">
                                                            <div class="rbt-category-list-dis rbt-category-list">
                                                                <a href="#!"><span class="rbt-catagory-icon"><img
                                                                            src="assets/images/icons/scroll-icon-01.svg"
                                                                            alt="icon"></span> Hot Sell 50%
                                                                    Off</a>
                                                                <a href="#!"><span class="rbt-catagory-icon"><img
                                                                            src="assets/images/icons/scroll-icon-01.svg"
                                                                            alt="icon"></span> Hot Sell 50%
                                                                    Off</a>
                                                                <a href="#!"><span class="rbt-catagory-icon"><img
                                                                            src="assets/images/icons/scroll-icon-01.svg"
                                                                            alt="icon"></span> Hot Sell 50%
                                                                    Off</a>
                                                                <a href="#!"><span class="rbt-catagory-icon"><img
                                                                            src="assets/images/icons/scroll-icon-01.svg"
                                                                            alt="icon"></span> Hot Sell 50%
                                                                    Off</a>
                                                                <a href="#!"><span class="rbt-catagory-icon"><img
                                                                            src="assets/images/icons/scroll-icon-01.svg"
                                                                            alt="icon"></span> Hot Sell 50%
                                                                    Off</a>
                                                                <a href="#!"><span class="rbt-catagory-icon"><img
                                                                            src="assets/images/icons/scroll-icon-01.svg"
                                                                            alt="icon"></span> Hot Sell 50%
                                                                    Off</a>
                                                                <a href="#!"><span class="rbt-catagory-icon"><img
                                                                            src="assets/images/icons/scroll-icon-01.svg"
                                                                            alt="icon"></span> Hot Sell 50%
                                                                    Off</a>
                                                            </div>
                                                        </div>
                                                        <!-- End Single Testimonial  -->
                                                    </div>
                                                </div>
                                                <div class="rbt-right-corner-portion bottom--position">
                                                    <div class="rbt-corner-portion-wrapper">
                                                        <div
                                                            class="rbt-quick-btn-grp has-mixup-midlayer bottom-right--position">
                                                            <button class="rbt-compare-btn rbt-quick-btn tooltips"
                                                                data-tooltip="Add to Compare"
                                                                data-tooltip-position="left" type="button"><i
                                                                    class="fa-regular fa-scale-balanced"></i></button>
                                                            <button class="rbt-watch-btn rbt-quick-btn tooltips"
                                                                data-tooltip="Quick View" data-tooltip-position="left"
                                                                type="button" data-bs-toggle="modal"
                                                                data-bs-target="#quickviewModal"><i
                                                                    class="fa-sharp fa-regular fa-eye"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="rbt-card-top-content">
                                                    <div class="rbt-product-switch-area">
                                                        <ul
                                                            class="rbt-switcher-product-list product-switcher-activation">
                                                            <li class="active"><a
                                                                    class="rbt-switcher--prd rbt-switcher--prd-one"
                                                                    data-src="assets/images/product-img/fashion/product-new-02-a-1.webp"
                                                                    href="#"><img
                                                                        src="assets/images/product-img/fashion/product-new-02-a-1.webp"
                                                                        alt="Product Image"></a></li>
                                                            <li><a class="rbt-switcher--prd rbt-switcher--prd-two"
                                                                    data-src="assets/images/product-img/fashion/product-new-02-a-2.webp"
                                                                    href="#"><img
                                                                        src="assets/images/product-img/fashion/product-new-02-a-2.webp"
                                                                        alt="Product Image"></a></li>
                                                            <li><a class="rbt-switcher--prd rbt-switcher--prd-three"
                                                                    data-src="assets/images/product-img/fashion/product-new-02-a-3.webp"
                                                                    href="#"><img
                                                                        src="assets/images/product-img/fashion/product-new-02-a-3.webp"
                                                                        alt="Product Image"></a></li>
                                                            <li><a class="rbt-switcher--prd rbt-switcher--prd-four"
                                                                    data-src="assets/images/product-img/fashion/product-new-02-a-4.webp"
                                                                    href="#"><img
                                                                        src="assets/images/product-img/fashion/product-new-02-a-4.webp"
                                                                        alt="Product Image"></a></li>
                                                        </ul>
                                                        <a class="prd-link-text" href="product-single-default.html">+12
                                                            More</a>
                                                    </div>
                                                    <a href="#"
                                                        class="rbt-card-subtitle rbt-card-catagories-text mt--12">Urban
                                                        Apparel</a>
                                                    <h2 class="rbt-card-title mt--4"><a
                                                            href="product-single-default.html">Vibrant Tiger Cropped
                                                            Graphic
                                                            Tee</a></h2>
                                                    <div class="rbt-card-rating">
                                                        <ul class="rbt-rating-icon-list">
                                                            <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                            <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                            <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                            <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                            <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                        </ul>
                                                        <p class="rating-digit">(25)</p>
                                                    </div>
                                                    <div class="pricing-part">
                                                        <del class="price-text">$295.00</del>
                                                        <span class="price-text">$179.98</span>
                                                        <span class="rbt-offer-badge">-30%</span>
                                                    </div>
                                                </div>
                                                <div class="rbt-card-footer d-flex footer-content-btn">
                                                    <a class="rbt-btn rbt-btn-sm has-left-icon flex-basis-100"
                                                        href="#"><i class="fa-regular fa-cart-shopping"></i> Add To
                                                        Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div
                                            class="rbt-card rbt-product-card rbt-product-card-style-2 rounded--16 rbt-scroll-trigger fade_in animation-order-3">
                                            <div class="rbt-card-img rounded--16">
                                                <a href="product-single-default.html"><img
                                                        class="rbt-scroll-trigger fade_in animation-order-3 rbt-prd-img"
                                                        src="assets/images/product-img/fashion/product-new-03-a-1.webp"
                                                        alt="Card Image"></a>
                                                <button
                                                    class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips"
                                                    type="button" data-tooltip="Add to wishlist"
                                                    data-tooltip-position="left"><i
                                                        class="fa-regular fa-heart"></i></button>
                                            </div>

                                            <div
                                                class="rbt-card-body has-rbt-top-right-corner-portion rbt-card-body-top-botttom-space">
                                                <div class="rbt-curved-radius-bottom-corner"></div>
                                                <div class="rbt-right-corner-portion bottom--position">
                                                    <div class="rbt-corner-portion-wrapper">
                                                        <div
                                                            class="rbt-quick-btn-grp has-mixup-midlayer bottom-right--position">
                                                            <button class="rbt-compare-btn rbt-quick-btn tooltips"
                                                                data-tooltip="Add to Compare"
                                                                data-tooltip-position="left" type="button"><i
                                                                    class="fa-regular fa-scale-balanced"></i></button>
                                                            <button class="rbt-watch-btn rbt-quick-btn tooltips"
                                                                data-tooltip="Quick View" data-tooltip-position="left"
                                                                type="button" data-bs-toggle="modal"
                                                                data-bs-target="#quickviewModal"><i
                                                                    class="fa-sharp fa-regular fa-eye"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="rbt-card-top-content">
                                                    <div class="rbt-product-switch-area">
                                                        <ul
                                                            class="rbt-switcher-product-list product-switcher-activation">
                                                            <li class="active"><a
                                                                    class="rbt-switcher--prd rbt-switcher--prd-one"
                                                                    data-src="assets/images/product-img/fashion/product-new-03-a-1.webp"
                                                                    href="#"><img
                                                                        src="assets/images/product-img/fashion/product-new-03-a-1.webp"
                                                                        alt="Product Image"></a></li>
                                                            <li><a class="rbt-switcher--prd rbt-switcher--prd-two"
                                                                    data-src="assets/images/product-img/fashion/product-new-03-a-2.webp"
                                                                    href="#"><img
                                                                        src="assets/images/product-img/fashion/product-new-03-a-2.webp"
                                                                        alt="Product Image"></a></li>
                                                            <li><a class="rbt-switcher--prd rbt-switcher--prd-three"
                                                                    data-src="assets/images/product-img/fashion/product-new-03-a-3.webp"
                                                                    href="#"><img
                                                                        src="assets/images/product-img/fashion/product-new-03-a-3.webp"
                                                                        alt="Product Image"></a></li>
                                                            <li><a class="rbt-switcher--prd rbt-switcher--prd-four"
                                                                    data-src="assets/images/product-img/fashion/product-new-03-a-4.webp"
                                                                    href="#"><img
                                                                        src="assets/images/product-img/fashion/product-new-03-a-4.webp"
                                                                        alt="Product Image"></a></li>
                                                        </ul>
                                                        <a class="prd-link-text" href="product-single-default.html">+12
                                                            More</a>
                                                    </div>
                                                    <a href="#"
                                                        class="rbt-card-subtitle rbt-card-catagories-text mt--12">Casual
                                                        Wear</a>
                                                    <h2 class="rbt-card-title mt--4"><a
                                                            href="product-single-default.html">The Great Lakes Cozy
                                                            Pullover</a></h2>
                                                    <div class="rbt-card-rating">
                                                        <ul class="rbt-rating-icon-list">
                                                            <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                            <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                            <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                            <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                            <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                        </ul>
                                                        <p class="rating-digit">(25)</p>
                                                    </div>
                                                    <div class="pricing-part">
                                                        <del class="price-text">$295.00</del>
                                                        <span class="price-text">$179.98</span>
                                                        <span class="rbt-offer-badge">-30%</span>
                                                    </div>
                                                </div>
                                                <div class="rbt-card-footer d-flex footer-content-btn">
                                                    <a class="rbt-btn rbt-btn-sm has-left-icon flex-basis-100"
                                                        href="#"><i class="fa-regular fa-cart-shopping"></i> Add To
                                                        Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div
                                            class="rbt-card rbt-product-card rbt-product-card-style-2 rounded--16 rbt-scroll-trigger fade_in animation-order-4">
                                            <div class="rbt-card-img rounded--16">
                                                <a href="product-single-default.html"><img
                                                        class="rbt-scroll-trigger fade_in animation-order-4 rbt-prd-img"
                                                        src="assets/images/product-img/fashion/product-new-04-a-1.webp"
                                                        alt="Card Image"></a>
                                                <div class="rbt-badge-wrapper rbt-content-top-left">
                                                    <div class="rbt-product-badge rbt-product-badge-bg-green">NEW
                                                        ARRIVAL
                                                    </div>
                                                </div>
                                                <button
                                                    class="rbt-wishlisted-btn rbt-round-btn bg-light-one rbt-top-right--position tooltips"
                                                    type="button" data-tooltip="Add to wishlist"
                                                    data-tooltip-position="left"><i
                                                        class="fa-regular fa-heart"></i></button>
                                            </div>

                                            <div
                                                class="rbt-card-body has-rbt-top-right-corner-portion rbt-card-body-top-botttom-space">
                                                <div class="rbt-curved-radius-bottom-corner"></div>
                                                <div class="rbt-right-corner-portion bottom--position">
                                                    <div class="rbt-corner-portion-wrapper">
                                                        <div
                                                            class="rbt-quick-btn-grp has-mixup-midlayer bottom-right--position">
                                                            <button class="rbt-compare-btn rbt-quick-btn tooltips"
                                                                data-tooltip="Add to Compare"
                                                                data-tooltip-position="left" type="button"><i
                                                                    class="fa-regular fa-scale-balanced"></i></button>
                                                            <button class="rbt-watch-btn rbt-quick-btn tooltips"
                                                                data-tooltip="Quick View" data-tooltip-position="left"
                                                                type="button" data-bs-toggle="modal"
                                                                data-bs-target="#quickviewModal"><i
                                                                    class="fa-sharp fa-regular fa-eye"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="rbt-card-top-content">
                                                    <div class="rbt-product-switch-area">
                                                        <ul
                                                            class="rbt-switcher-product-list product-switcher-activation">
                                                            <li class="active"><a
                                                                    class="rbt-switcher--prd rbt-switcher--prd-one"
                                                                    data-src="assets/images/product-img/fashion/product-new-04-a-1.webp"
                                                                    href="#"><img
                                                                        src="assets/images/product-img/fashion/product-new-04-a-1.webp"
                                                                        alt="Product Image"></a></li>
                                                            <li><a class="rbt-switcher--prd rbt-switcher--prd-two"
                                                                    data-src="assets/images/product-img/fashion/product-new-04-a-2.webp"
                                                                    href="#"><img
                                                                        src="assets/images/product-img/fashion/product-new-04-a-2.webp"
                                                                        alt="Product Image"></a></li>
                                                            <li><a class="rbt-switcher--prd rbt-switcher--prd-three"
                                                                    data-src="assets/images/product-img/fashion/product-new-04-a-3.webp"
                                                                    href="#"><img
                                                                        src="assets/images/product-img/fashion/product-new-04-a-3.webp"
                                                                        alt="Product Image"></a></li>
                                                            <li><a class="rbt-switcher--prd rbt-switcher--prd-four"
                                                                    data-src="assets/images/product-img/fashion/product-new-04-a-4.webp"
                                                                    href="#"><img
                                                                        src="assets/images/product-img/fashion/product-new-04-a-4.webp"
                                                                        alt="Product Image"></a></li>
                                                        </ul>
                                                        <a class="prd-link-text" href="product-single-default.html">+12
                                                            More</a>
                                                    </div>
                                                    <a href="#"
                                                        class="rbt-card-subtitle rbt-card-catagories-text mt--12">Summer
                                                        Fashion</a>
                                                    <h2 class="rbt-card-title mt--4"><a
                                                            href="product-single-default.html">Lightweight Sleeveless
                                                            Knit
                                                            Crop Top</a></h2>
                                                    <div class="rbt-card-rating">
                                                        <ul class="rbt-rating-icon-list">
                                                            <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                            <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                            <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                            <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                            <li><i class="fa-solid fa-star rbt-rated-icon"></i></li>
                                                        </ul>
                                                        <p class="rating-digit">(25)</p>
                                                    </div>
                                                    <div class="pricing-part">
                                                        <del class="price-text">$295.00</del>
                                                        <span class="price-text">$179.98</span>
                                                        <span class="rbt-offer-badge">-30%</span>
                                                    </div>
                                                </div>
                                                <div class="rbt-card-footer d-flex footer-content-btn">
                                                    <a class="rbt-btn rbt-btn-sm has-left-icon flex-basis-100"
                                                        href="#"><i class="fa-regular fa-cart-shopping"></i> Add To
                                                        Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="rbt-swiper-arrow rbt-arrow-left rbt-arrow-gray rbt-arrow-lg">
                                <div class="custom-overflow">
                                    <i class="rbt-icon fa-regular fa-arrow-left"></i>
                                    <i class="rbt-icon-top fa-regular fa-arrow-left"></i>
                                </div>
                            </div>

                            <div class="rbt-swiper-arrow rbt-arrow-right rbt-arrow-gray rbt-arrow-lg">
                                <div class="custom-overflow">
                                    <i class="rbt-icon fa-regular fa-arrow-right"></i>
                                    <i class="rbt-icon-top fa-regular fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End Card Area -->
            </div>
        </div>

    </div>
</div>
<!-- End Component Area -->