@use "../default/variables" as *; // Importing all the variables

/*=====================
    All Extend Here
=======================*/
/* -----------------------------
    Hover Dropdown Extend  
--------------------------------*/

%rbt-dropdown-type-1 {
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
    transition: all 0.2s ease-in-out,
                clip-path 0.4s ease-in-out;
    opacity: 0;
    visibility: visible;
}

%rbt-hover-dropdown-type-1 {
    top: 100%;
    opacity: 1;
    visibility: visible;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: 5;
}



/*----------------------
    Bg Image  
------------------------*/

%bgImagePosition {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


%liststyle {
    padding: 0;
    margin: 0;
    list-style: none;
}
%transition {
    transition: var(--transition);
}

%transition-4 {
    transition: var(--transition);
}


/*---------------------- 
    Common Css 
--------------------------*/
.liststyle {
    padding: 0;
    margin: 0;
    list-style: none;
    li{
        margin: 0;
    }
}

.height-auto {
    height: auto !important;
}

.max-width-auto {
    max-width: inherit !important;
}

.max-width-542 {
    max-width: 542px !important;
}







