<div class="rbt-toaster rbt-toaster-compare" role="alert" aria-atomic="true" aria-live="assertive"><i
        class="fa-regular fa-check mr--8"></i>Added in Compare</div>
<div class="rbt-toaster rbt-toaster-wishlist" role="alert" aria-atomic="true" aria-live="assertive"><i
        class="fa-regular fa-check mr--8"></i>Added in Wishlist</div>
<div class="rbt-progress-parent">
    <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>

<a class="close_side_menu catagories-close_side_menu" href="javascript:void(0);"></a>
<a href="javascript:void(0);" class="common-close_search_dropdown"></a>
<script src="assets/js/vendor/modernizr.min.js"></script>
<script src="assets/js/vendor/jquery.js"></script>
<script src="assets/js/vendor/bootstrap.min.js"></script>
<script src="assets/js/vendor/swiper.js"></script>
<script src="assets/js/vendor/jquery-appear.js"></script>
<script src="assets/js/vendor/fancybox.min.js"></script>
<script src="assets/js/vendor/animation.js"></script>
<script src="assets/js/vendor/text-type.js"></script>
<script src="assets/js/vendor/odometer.js"></script>
<script src="assets/js/vendor/backtotop.js"></script>
<script src="assets/js/vendor/jquery-ui.js"></script>
<script src="assets/js/vendor/bootstrap-select.min.js"></script>
<script src="assets/js/vendor/countdown.js"></script>
<script src="assets/js/vendor/progressbar.min.js"></script>
<script src="assets/js/vendor/isotope.pkgd.min.js"></script>
<script src="assets/js/vendor/imageloaded.js"></script>
<script src="assets/js/vendor/jquery.waypoints.min.js"></script>
<script src="assets/js/plugins/color-swatches.js"></script>
<script src="assets/js/vendor/bootstrap-datepicker.min.js"></script>

<!-- Main JS -->
<script src="assets/js/main.min.js"></script>
<script src="assets/js/api-client.js"></script>