@use "../default/variables" as *; // Importing all the variables
@use "../default/extend" as *; // Importing all the extend
@use "../default/mixins" as *; // Importing all the mixins

/**************************************
            Banner Style
***************************************/
.rbt-splash-banner-bg-var-1 {
    background: url(../images/splash/section/section-bg-line9.png), var(--color-brand-50);
    background-size: cover;
}

.rbt-splash-banner-bg-var-2 {
    background: url(../images/splash/section/section-bg-line10.png), url(../images/splash/section/section-bg-img2.webp), var(--color-brand-50);
    background-size: 100% 100%;

    .rbt-splash-section-title {
        .subtitle {
            color: var(--color-white);
        }

        .rbt-title {
            color: var(--color-white);
        }

        .section-indicator {
            color: var(--color-white);
        }
    }

    &.rbt-builder-banner {
        .rbt-splash-section-title {
            .rbt-description {
                color: var(--color-gray-300);
            }
        }

        .rbt-splash-btn-circle {
            filter: drop-shadow(0px 0px 40px rgba(81, 89, 109, 0.46));
        }
    }
}

.rbt-splash-banner-area {
    border: none;
    border-radius: 0;

    .rbt-banner-inner {
        padding: 140px 0 304px;
        border-radius: 0;
        position: relative;
        z-index: 9;

        @media #{$laptop-device} {
            padding: 130px 0 124px;
        }

        @media #{$lg-layout} {
            padding: 130px 0 116px;
        }

        @media #{$md-layout} {
            padding: 130px 0 100px;
        }

        @media #{$sm-layout} {
            padding: 120px 0 80px;
        }

        @media #{$large-mobile} {
            padding: 90px 0 50px;
        }
    }

    .rbt-product-banner-content {
        .rbt-banner-btn-grp {
            flex-wrap: wrap;
        }
    }

    .rbt-overlay-text {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.00) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 172px;
        font-weight: var(--f-bold);
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        user-select: none;

        @media #{$xl-layout} {
            font-size: 124px;
        }

        @media #{$lg-layout} {
            font-size: 98px;
        }

        @media #{$md-layout} {
            font-size: 66px;
        }

        @media #{$sm-layout} {
            top: 33%;
            font-size: 40px;
        }
    }

    .rbt-banner-title {
        font-size: 70px;
        color: var(--color-white);
        line-height: 1;

        @media #{$lg-layout} {
            font-size: 64px;
        }

        @media #{$md-layout,$sm-layout} {
            font-size: 48px;
        }

        .rbt-banner-title-sm-text {
            font-size: 52px;

            @media #{$lg-layout} {
                font-size: 44px;
            }

            @media #{$md-layout} {
                font-size: 32px;
            }

            @media #{$sm-layout} {
                font-size: 26px;
            }

            @media #{$large-mobile} {
                font-size: 22px;
                line-height: 1;
                display: block;
                margin-top: 8px;
            }
        }

        .rbt-banner-title-lg {
            @media #{$sm-layout} {
                font-size: 46px;
            }

            @media #{$large-mobile} {
                font-size: 36px;
            }
        }
    }

    .rbt-pricing-part {
        @media #{$sm-layout} {
            margin-top: 16px;
        }
    }

    .rbt-gradient-text {
        background: linear-gradient(90deg, #302AEF, #4BE53E);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }

    .rbt-splash-banner-img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        background: var(--color-black);

        img {
            width: 100%;
            height: 100%;
        }
    }

    .rbt-component-image-wrap {

        .rbt-component-image {
            position: absolute;

            &.image-1 {
                top: 16%;
                left: 0;

                @media #{$sm-layout, $md-layout, $lg-layout} {
                    display: none;
                }
            }

            &.image-2 {
                top: 46%;
                left: 12%;

                @media #{$laptop-device} {
                    display: none;
                }

                @media #{$sm-layout, $md-layout, $lg-layout} {
                    display: none;
                }
            }

            &.image-3 {
                top: 32%;
                right: 12%;

                @media #{$laptop-device} {
                    display: none;
                }

                @media #{$sm-layout, $md-layout, $lg-layout} {
                    display: none;
                }
            }

            &.image-4 {
                top: 2%;
                right: 0;

                @media #{$sm-layout, $md-layout, $lg-layout} {
                    display: none;
                }
            }

            &.image-5 {
                bottom: 0%;
                right: 0;

                @media #{$sm-layout, $md-layout, $lg-layout} {
                    display: none;
                }
            }

            &.image-6 {
                left: 10%;
                top: 25%;
                box-shadow: 0px 4.242px 53.03px 0px rgba(28, 69, 160, 0.70);
                border-radius: var(--radius);
                overflow: hidden;

                @media #{$sm-layout, $md-layout} {
                    top: 4%;
                    max-width: 90px;
                }
            }

            &.image-7 {
                right: 10%;
                top: 5%;
                box-shadow: 0px 4.242px 53.03px 0px rgba(28, 69, 160, 0.70);
                border-radius: var(--radius);
                overflow: hidden;

                @media #{$sm-layout, $md-layout} {
                    display: none;
                }
            }

            &.image-8 {
                right: 15%;
                bottom: 5%;
                box-shadow: 0px 4.242px 53.03px 0px rgba(28, 69, 160, 0.70);
                border-radius: var(--radius);
                overflow: hidden;

                @media #{$sm-layout, $md-layout} {
                    max-width: 90px;
                }
            }
        }
    }
}

.rbt-splash-scroll-area {
    margin-top: -2px;

    .rbt-scroll-animation-wrapper {
        background: linear-gradient(270deg, #FD998E 0%, #AB4FA9 50.52%, #4D3FAE 100%);

        .rbt-category-list {
            color: var(--color-white);
            gap: 30px;

            >div {
                padding-left: 30px;

                &+div {
                    border-left: 2px solid rgba(255, 255, 255, 0.40);
                }
            }
        }
    }
}

.hamberger-button {
    &.rbt-splash-hamberger {
        background: rgba(0, 0, 0, 0.8);
        color: var(--color-extra-six);
        display: flex;
        height: 32px;
        width: 32px;

        @media #{$sm-layout} {
            background: rgb(149 143 149 / 18%);
            backdrop-filter: blur(15px);
            border-radius: 4px;
        }
    }
}

.rbt-builder-banner {
    padding: 120px 0 150px;
    position: relative;

    @media #{$md-layout} {
        padding: 40px 0 72px;
    }

    @media #{$sm-layout} {
        padding: 28px 0 72px;
    }

    .rbt-splash-section-title {
        .rbt-description {
            font-size: var(--font-size-b1);
            margin-bottom: 0;
            color: var(--color-gray-700);
            position: relative;
            z-index: 1;
            padding: 0 24%;

            @media #{$lg-layout, $xl-layout} {
                padding: 0 14%;
            }

            @media #{$md-layout} {
                padding: 0 6%;
            }

            @media #{$sm-layout} {
                padding: 0 12px;
            }
        }

        .rbt-overlay-text {
            font-size: 172px;
            top: 40%;

            @media #{$xl-layout} {
                font-size: 124px;
            }

            @media #{$lg-layout} {
                font-size: 98px;
            }

            @media #{$md-layout} {
                font-size: 66px;
            }

            @media #{$sm-layout} {
                top: 33%;
                font-size: 40px;
            }
        }

        .section-indicator {
            top: -20px;
        }
    }

    .rbt-splash-btn-circle {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -12%;
        filter: drop-shadow(0px 0px 40px #E4ECFF);
        z-index: 1;
    }

    &.rbt-builder-banner-var-2 {
        padding: 0;

        .rbt-splash-section-title {
            .rbt-description {
                padding: 0 20px;
                max-width: 578px;
                margin: 0 auto;
            }
        }

        .rbt-splash-btn-circle {

            @media #{$sm-layout} {
                left: 50%;
                bottom: -40px;
            }
        }

        .rbt-splash-section-title {
            padding: 24px 0;
            margin-bottom: 0;
        }

        .rbt-banner-part-right {
            .rbt-content {
                background: linear-gradient(0deg, rgba(33, 90, 218, 0.00) -520.76%, rgba(33, 90, 218, 0.95) 83.74%), url(../images/splash/banner/banner-bg2.webp);
                padding: 52px 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                @media #{$sm-layout, $md-layout} {
                    padding: 24px 20px;
                }

                &.rbt-has-not-background {
                    background: transparent;
                }

                .rbt-indicator {
                    color: var(--color-white);
                    text-align: center;
                    font-family: var(--font-secondary);
                    font-size: var(--h3);
                    font-weight: var(--f-bold);
                    line-height: 1.14;
                    text-transform: capitalize;
                    max-width: 166px;
                    position: absolute;
                    left: 4%;
                    bottom: 8%;
                    z-index: 9;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    @media #{$sm-layout, $md-layout, $lg-layout} {
                        display: none;
                    }
                }
            }

            figure {
                img {
                    max-width: 600px;
                    max-height: 505px;
                    // min-height: 400px;
                    border-radius: var(--radius-10);

                    @media #{$sm-layout, $md-layout, $lg-layout, $xl-layout} {
                        max-width: 100%;
                        max-height: 100%;
                        min-height: unset;
                    }
                }
            }
        }
    }

    &.rbt-builder-banner-var-3 {
        padding: 0;

        .rbt-splash-btn-circle {
            left: 0%;
            transform: translateX(0);

            @media #{$sm-layout} {
                bottom: -8%;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .rbt-splash-section-title {
            padding: 24px 0;
            margin-bottom: 0;
        }

        .rbt-banner-part-right {
            padding: 100px 32px 80px 64px;

            @media #{$sm-layout} {
                padding: 0px 0px 80px 8px;
            }

            .rbt-overlay-indicator-text {
                gap: 12px;
                flex-direction: row;
                margin: 0 auto;
                margin-bottom: 12px;

                span {
                    transform: rotate(-5deg) translateY(24px) translateX(-10px);
                    position: relative;
                    z-index: 1;
                }

                .overlay-text {
                    color: var(--color-heading);
                }
            }

            .rbt-filter-product-layout-box {
                max-width: unset;
                height: unset;
                border: 1px solid #4C4C50;

                .rbt-filter-option-box {
                    border-radius: var(--radius-12);
                    left: -2%;
                    top: -14%;
                }

                .filter-product-presentation {
                    &::after {
                        background: rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }

    &.has-black-circle-btn {
        .rbt-splash-btn-circle {
            filter: drop-shadow(0px 0px 40px #232324);
        }
    }
}

.rbt-splash-btn-circle {
    display: inline-block;
    background: var(--color-white);
    border: 2px dashed var(--color-brand-400);
    border-radius: var(--radius-full);
    padding: 8px;
    position: relative;

    .circle-btn-center-icon {
        position: absolute;
        height: 48px;
        width: 48px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // animation: up-down 0.8s infinite linear alternate-reverse;
    }
}

.rbt-animate-rotaion-forward {
    animation: rotate-forward 20s infinite linear;
}

@keyframes rotate-forward {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes up-down {
    0% {
        top: 50%;
    }

    100% {
        top: 55%;
    }
}

.rbt-splash-builder-banner-wider {
    max-width: 2560px;
    margin: 0 auto;
}