<aside class="rbt-sidebar position-sticky sticky-top">

    <div class="rbt-sidebar-widget-wrapper rbt-sidebar-bg-one">
        <div class="rbt-sidebar-top">
            <h2 class="rbt-sidebar-title h6">
                <i class="fa-regular fa-sliders"></i>
                Sidebar
                <span class="rbt-fshape-right-portion">
                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="40" viewBox="0 0 52 50" fill="none">
                        <path
                            d="M51.5337 49.984C-64.8544 49.9977 116.427 49.9764 0.0390625 49.9901C0.0390625 31.262 0.0390625 20.7619 0.0390625 2.03378C11.2391 1.63419 16.5034 4.56468 19.5034 10.5602L30.0034 38.5311C34.0374 47.934 45.4209 49.4481 51.5337 49.984Z"
                            fill="var(--color-white)" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M13.246 1.97519C16.582 3.50685 18.8114 5.90944 20.3979 9.07997L20.4213 9.12681L30.9315 37.1248C33.053 42.053 36.807 44.7979 40.7367 46.3047C44.6934 47.8219 48.798 48.068 51.4731 47.987C51.4731 47.987 51.51 49.2041 51.5337 49.984C48.7087 50.0695 44.3134 49.8162 40.02 48.17C35.7052 46.5155 31.4643 43.4388 29.0842 37.891L29.0751 37.8698C29.0751 37.8698 19.997 12.7279 18.5857 9.92689C17.1743 7.12591 15.2591 5.09828 12.4108 3.79055C8.49554 1.49902 0.0390625 2.03378 0.0390625 2.03378C0.0390625 20.7619 0.0390625 31.262 0.0390625 49.9901L0.0408325 0.0348727C5.70805 -0.16568 9.9493 0.461575 13.246 1.97519Z"
                            fill="var(--color-gray-200)" />
                    </svg>
                </span>
            </h2>
        </div>
        <div class="rbt-sidebar-bottom">

            <!-- Start Widget Area  -->
            <div class="rbt-single-widget">
                <div class="rbt-single-widget-inner">
                    <h2 class="rbt-widget-title rbt-widget-title-without-border h4">Recent Posts
                    </h2>

                    <!-- Start single recent blog -->
                    <div class="rbt-recent-blog-single">
                        <div class="rbt-recent-blog-single-thumb">
                            <img src="assets/images/blog-details/blog-thumb-img-2.webp" alt="Blog thumbnail image">
                        </div>
                        <div class="rbt-blog-recent-info">
                            <div class="rbt-blog-post-meta">
                                <ul class="rbt-blog-details-meta-list">
                                    <li>
                                        Colorful
                                    </li>
                                    <li>
                                        February 9, 2015
                                    </li>
                                </ul>
                            </div>
                            <h6 class="rbt-recent-blog-title">
                                <a href="#">Get Great Discounts on a Xiaomi Branded TWS.</a>
                            </h6>
                        </div>
                    </div>
                    <!-- End single recent blog -->

                    <!-- Start single recent blog -->
                    <div class="rbt-recent-blog-single">
                        <div class="rbt-recent-blog-single-thumb">
                            <img src="assets/images/blog-details/blog-thumb-img-3.webp" alt="Blog thumbnail image">
                        </div>
                        <div class="rbt-blog-recent-info">
                            <div class="rbt-blog-post-meta">
                                <ul class="rbt-blog-details-meta-list">
                                    <li>
                                        Interior
                                    </li>
                                    <li>
                                        March 23, 2013
                                    </li>
                                </ul>
                            </div>
                            <h6 class="rbt-recent-blog-title">
                                <a href="#">Get Great Discounts on a Xiaomi Branded TWS.</a>
                            </h6>
                        </div>
                    </div>
                    <!-- End single recent blog -->

                    <!-- Start single recent blog -->
                    <div class="rbt-recent-blog-single">
                        <div class="rbt-recent-blog-single-thumb">
                            <img src="assets/images/blog-details/blog-thumb-img-4.webp" alt="Blog thumbnail image">
                        </div>
                        <div class="rbt-blog-recent-info">
                            <div class="rbt-blog-post-meta">
                                <ul class="rbt-blog-details-meta-list">
                                    <li>
                                        Nature
                                    </li>
                                    <li>
                                        August 24, 2013
                                    </li>
                                </ul>
                            </div>
                            <h6 class="rbt-recent-blog-title">
                                <a href="#">Get Great Discounts on a Xiaomi Branded TWS.</a>
                            </h6>
                        </div>
                    </div>
                    <!-- End single recent blog -->

                    <!-- Start single recent blog -->
                    <div class="rbt-recent-blog-single">
                        <div class="rbt-recent-blog-single-thumb">
                            <img src="assets/images/blog-details/blog-thumb-img-5.webp" alt="Blog thumbnail image">
                        </div>
                        <div class="rbt-blog-recent-info">
                            <div class="rbt-blog-post-meta">
                                <ul class="rbt-blog-details-meta-list">
                                    <li>
                                        Tech
                                    </li>
                                    <li>
                                        September 9, 2013
                                    </li>
                                </ul>
                            </div>
                            <h6 class="rbt-recent-blog-title">
                                <a href="#">Get Great Discounts on a Xiaomi Branded TWS.</a>
                            </h6>
                        </div>
                    </div>
                    <!-- End single recent blog -->

                </div>
            </div>
            <!-- End Widget Area  -->

            <!-- Start Widget Area  -->
            <div class="rbt-single-widget">
                <div class="rbt-single-widget-inner">
                    <h2 class="rbt-widget-title rbt-widget-title-without-border h4">Categories
                    </h2>
                    <ul class="rbt-sidebar-list-wrapper rbt-blog-details-categories">
                        <li class="rbt-blog-category-single">
                            <a href="#">
                                <span>Food</span>
                                <span>12</span>
                            </a>
                        </li>
                        <li class="rbt-blog-category-single">
                            <a href="#">
                                <span>Animal</span>
                                <span>20</span>
                            </a>
                        </li>
                        <li class="rbt-blog-category-single">
                            <a href="#">
                                <span>Business</span>
                                <span>14</span>
                            </a>
                        </li>
                        <li class="rbt-blog-category-single">
                            <a href="#">
                                <span>Art</span>
                                <span>12</span>
                            </a>
                        </li>
                        <li class="rbt-blog-category-single">
                            <a href="#">
                                <span>Technology</span>
                                <span>18</span>
                            </a>
                        </li>
                        <li class="rbt-blog-category-single">
                            <a href="#">
                                <span>Architecture</span>
                                <span>12</span>
                            </a>
                        </li>
                        <li class="rbt-blog-category-single">
                            <a href="#">
                                <span>Space</span>
                                <span>10</span>
                            </a>
                        </li>
                        <li class="rbt-blog-category-single">
                            <a href="#">
                                <span>Texture</span>
                                <span>0</span>
                            </a>
                        </li>
                        <li class="rbt-blog-category-single">
                            <a href="#">
                                <span>Plant</span>
                                <span>07</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End Widget Area  -->

            <!-- Start Widget Area  -->
            <div class="rbt-single-widget">
                <div class="rbt-single-widget-inner">
                    <div class="rbt-sidebar-widget-img">
                        <a href="#">
                            <img src="assets/images/blog-details/blog-thumb-img-6.webp" alt="Sidebar Banner">
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Widget Area  -->

        </div>
    </div>

</aside>