<!-- Start Card Area -->
<div class="row row--12 mt_dec--24 rbt-mobile-row">

    <!-- Start Single Card  -->
    <div class="col-lg-3 col-md-6 col-sm-12 col-12 mt--24">
        <div class="rbt-blog-post-card">
            <div class="rbt-blog-post-card-inner">
                <a href="blog-single.html" class="rbt-blog-thumbnail">
                    <img src="assets/images/blog-post-img/@@blog-img-01" alt="Eccommerce Blog Images">
                </a>
                <div class="rbt-blog-content">
                    <div class="rbt-blog-meta-area">
                        <ul class="rbt-blog-details-meta-list">
                            <li>
                                <a href="#">Food</a>
                            </li>
                            <li>
                                <a href="#">February 11, 2026</a>
                            </li>
                        </ul>
                    </div>
                    <h2 class="rbt-blog-title">
                        <a href="blog-single.html">
                            Why choose a template that looks good with the eCommerce Elements
                        </a>
                    </h2>
                    <div class="rbt-blog-meta-area mt--8">
                        <ul class="rbt-blog-details-meta-list has-no-separator">
                            <li>
                                <p class="d-flex rbt-gap--4"><span class="icon"><i
                                            class="fa-regular fa-clock"></i></span> 9 Min To Read</p>
                            </li>
                            <li>
                                <p class="d-flex rbt-gap--4"><span class="icon"><i
                                            class="fa-regular fa-user"></i></span> Pasztor Kira</p>
                            </li>
                        </ul>
                    </div>
                    <a class="rbt-btn rbt-btn-secondary rbt-btn-md mt--16" href="blog-single.html">
                        <span class="btn-text">Read More</span>
                        <span class="btn-icon"><i class="ml--4 fa-solid fa-arrow-up-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-3 col-md-6 col-sm-12 col-12 mt--24">
        <div class="rbt-blog-post-card">
            <div class="rbt-blog-post-card-inner">
                <a href="blog-single.html" class="rbt-blog-thumbnail">
                    <img src="assets/images/blog-post-img/@@blog-img-02" alt="Eccommerce Blog Images">
                </a>
                <div class="rbt-blog-content">
                    <div class="rbt-blog-meta-area">
                        <ul class="rbt-blog-details-meta-list">
                            <li>
                                <a href="#">Product</a>
                            </li>
                            <li>
                                <a href="#">February 11, 2026</a>
                            </li>
                        </ul>
                    </div>
                    <h2 class="rbt-blog-title">
                        <a href="blog-single.html">
                            How to Pick a Template Perfect for eCommerce Compatibility
                        </a>
                    </h2>
                    <div class="rbt-blog-meta-area mt--8">
                        <ul class="rbt-blog-details-meta-list has-no-separator">
                            <li>
                                <p class="d-flex rbt-gap--4"><span class="icon"><i
                                            class="fa-regular fa-clock"></i></span> 9 Min To Read</p>
                            </li>
                            <li>
                                <p class="d-flex rbt-gap--4"><span class="icon"><i
                                            class="fa-regular fa-user"></i></span> Pasztor Kira</p>
                            </li>
                        </ul>
                    </div>
                    <a class="rbt-btn rbt-btn-secondary rbt-btn-md mt--16" href="blog-single.html">
                        <span class="btn-text">Read More</span>
                        <span class="btn-icon"><i class="ml--4 fa-solid fa-arrow-up-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-3 col-md-6 col-sm-12 col-12 mt--24">
        <div class="rbt-blog-post-card">
            <div class="rbt-blog-post-card-inner">
                <a href="blog-single.html" class="rbt-blog-thumbnail">
                    <img src="assets/images/blog-post-img/@@blog-img-03" alt="Eccommerce Blog Images">
                </a>
                <div class="rbt-blog-content">
                    <div class="rbt-blog-meta-area">
                        <ul class="rbt-blog-details-meta-list">
                            <li>
                                <a href="#">Fashion</a>
                            </li>
                            <li>
                                <a href="#">February 29, 2026</a>
                            </li>
                        </ul>
                    </div>
                    <h2 class="rbt-blog-title">
                        <a href="blog-single.html">
                            How to Pick a Template Perfect for eCommerce Compatibility
                        </a>
                    </h2>
                    <div class="rbt-blog-meta-area mt--8">
                        <ul class="rbt-blog-details-meta-list has-no-separator">
                            <li>
                                <p class="d-flex rbt-gap--4"><span class="icon"><i
                                            class="fa-regular fa-clock"></i></span> 9 Min To Read</p>
                            </li>
                            <li>
                                <p class="d-flex rbt-gap--4"><span class="icon"><i
                                            class="fa-regular fa-user"></i></span> Pasztor Kira</p>
                            </li>
                        </ul>
                    </div>
                    <a class="rbt-btn rbt-btn-secondary rbt-btn-md mt--16" href="blog-single.html">
                        <span class="btn-text">Read More</span>
                        <span class="btn-icon"><i class="ml--4 fa-solid fa-arrow-up-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-3 col-md-6 col-sm-12 col-12 mt--24">
        <div class="rbt-blog-post-card">
            <div class="rbt-blog-post-card-inner">
                <a href="blog-single.html" class="rbt-blog-thumbnail">
                    <img src="assets/images/blog-post-img/@@blog-img-04" alt="Eccommerce Blog Images">
                </a>
                <div class="rbt-blog-content">
                    <div class="rbt-blog-meta-area">
                        <ul class="rbt-blog-details-meta-list">
                            <li>
                                <a href="#">Lifestyle</a>
                            </li>
                            <li>
                                <a href="#">March 15, 2026</a>
                            </li>
                        </ul>
                    </div>
                    <h2 class="rbt-blog-title">
                        <a href="blog-single.html">
                            Why a Stylish Template Enhances Your eCommerce Store
                        </a>
                    </h2>
                    <div class="rbt-blog-meta-area mt--8">
                        <ul class="rbt-blog-details-meta-list has-no-separator">
                            <li>
                                <p class="d-flex rbt-gap--4"><span class="icon"><i
                                            class="fa-regular fa-clock"></i></span> 9 Min To Read</p>
                            </li>
                            <li>
                                <p class="d-flex rbt-gap--4"><span class="icon"><i
                                            class="fa-regular fa-user"></i></span> Pasztor Kira</p>
                            </li>
                        </ul>
                    </div>
                    <a class="rbt-btn rbt-btn-secondary rbt-btn-md mt--16" href="blog-single.html">
                        <span class="btn-text">Read More</span>
                        <span class="btn-icon"><i class="ml--4 fa-solid fa-arrow-up-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

</div>
<!-- End Card Area -->