<div class="rbt-blog-post-wrapper">
    <div class="row row--12">
        <div class="col-12 col-lg-6 order-2 order-lg-1">
            <div class="rbt-blog-post-banner-content">
                <div class="rbt-blog-post-meta">
                    <ul class="rbt-blog-details-meta-list">
                        <li>
                            <a href="#">Hi-Fi Sound</a>
                        </li>
                        <li>
                            <a href="#">14 Nov 2022</a>
                        </li>
                    </ul>
                </div>
                <h3 class="rbt-title rbt-blog-banner-title">
                <a href="blog-single.html">
                    Amazfit GTR Titanium Edition and Austrian Zircon Version will Officially on
                    Exclusive
                    Global Sale
                </a>
                </h3>
                <p class="rbt-blog-banner-text">
                    Designed under the discerning eye of Pierpaolo Piccioli, Maison Valentino's of
                    the great
                    expressionsignature modern glamour that Valentino oh so well....
                </p>
                <a class="rbt-btn rbt-btn-md" href="blog-single.html">Continue Reading</a>
            </div>
        </div>
        <div class="col-12 col-lg-6 order-1 order-lg-2">
            <div class="rbt-blog-banner-thumbnail position-relative mt_sm--0 mt_md--0 mb_sm--24 mb_md--24">
                <div class="swiper rbt-blog-banner-slide-acivation rbt-curved-style-box">
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="rbt-about-banner-img">
                                <img src="assets/images/about/about-image-1.webp" alt="About us image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="rbt-about-banner-img">
                                <img src="assets/images/about/about-mobile-a-02.webp" alt="About us image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="rbt-about-banner-img">
                                <img src="assets/images/about/about-mobile-a-03.webp" alt="About us image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="rbt-about-banner-img">
                                <img src="assets/images/about/about-mobile-a-01.webp" alt="About us image">
                            </div>
                        </div>
                    </div>

                    <!-- pagination -->
                    <div
                        class="swiper-pagination rbt-swiper-progress rbt-swiper-pagination-dot-extend">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>