<div class="row g-5">
    <!-- Start Single Pricing  -->
    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="pricing-table rbt-scroll-trigger fade_in animation-order-1">
            <div class="pricing-header">
                <h3 class="title">Basic Plan</h3>
                <span class="rbt-static-badge mb--32">Free for a Month</span>
                <div class="price-wrap">
                    <div class="yearly-pricing" style="display: none;">
                        <span class="amount">$30.99</span>
                        <span class="duration">/yearly</span>
                    </div>
                    <div class="monthly-pricing" style="display: block;">
                        <span class="amount">$8.00</span>
                        <span class="duration">/monthly</span>
                    </div>
                </div>
            </div>
            <div class="pricing-body">
                <ul class="list-item">
                    <li><i class="fa-regular fa-check"></i> Unlimited Access Courses</li>
                    <li><i class="fa-regular fa-check"></i> Certificate After Completion</li>
                    <li><i class="fa-regular fa-check"></i> High Resolution Videos</li>
                    <li><i class="fa-regular fa-check"></i> 24/7 Dedicated Support</li>
                </ul>
            </div>
            <div class="pricing-btn">
                <a href="#" class="rbt-btn exclusive-btn icon-reverse-left text-center w-100" target="_blank">
                    <span class="icon-left"><i class="fa-sharp fa-regular fa-arrow-right mr--4"></i></span>
                    <span>Join Course Plan</span>
                    <span class="icon-right"><i class="fa-regular fa-arrow-right ml--4"></i></span>
                </a>
            </div>
        </div>
    </div>
    <!-- End Single Pricing  -->

    <!-- Start Single Pricing  -->
    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="pricing-table rbt-scroll-trigger fade_in animation-order-2 active">
            <div class="pricing-header">
                <h3 class="title">Standard Plan</h3>
                <span class="rbt-static-badge mb--32">Most Popular</span>
                <div class="price-wrap">
                    <div class="yearly-pricing" style="display: none;">
                        <span class="amount">$100.99</span>
                        <span class="duration">/yearly</span>
                    </div>
                    <div class="monthly-pricing" style="display: block;">
                        <span class="amount">$20.00</span>
                        <span class="duration">/monthly</span>
                    </div>
                </div>
            </div>
            <div class="pricing-body">
                <ul class="list-item">
                    <li><i class="fa-regular fa-check"></i> Unlimited Access Courses</li>
                    <li><i class="fa-regular fa-check"></i> Certificate After Completion</li>
                    <li><i class="fa-regular fa-check"></i> High Resolution Videos</li>
                    <li><i class="fa-regular fa-check"></i> 24/7 Dedicated Support</li>
                </ul>
            </div>
            <div class="pricing-btn">
                <a href="#" class="rbt-btn exclusive-btn icon-reverse-left text-center w-100" target="_blank">
                    <span class="icon-left"><i class="fa-sharp fa-regular fa-arrow-right mr--4"></i></span>
                    <span>Join Course Plan</span>
                    <span class="icon-right"><i class="fa-regular fa-arrow-right ml--4"></i></span>
                </a>
            </div>
        </div>
    </div>
    <!-- End Single Pricing  -->

    <!-- Start Single Pricing  -->
    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="pricing-table rbt-scroll-trigger fade_in animation-order-3">
            <div class="pricing-header">
                <h3 class="title">Exclusive Plan</h3>
                <span class="rbt-static-badge mb--32">Free for a Month</span>
                <div class="price-wrap">
                    <div class="yearly-pricing" style="display: none;">
                        <span class="amount">$99.99</span>
                        <span class="duration">/yearly</span>
                    </div>
                    <div class="monthly-pricing" style="display: block;">
                        <span class="amount">$39.00</span>
                        <span class="duration">/monthly</span>
                    </div>
                </div>
            </div>
            <div class="pricing-body">
                <ul class="list-item">
                    <li><i class="fa-regular fa-check"></i> Unlimited Access Courses</li>
                    <li><i class="fa-regular fa-check"></i> Certificate After Completion</li>
                    <li><i class="fa-regular fa-check"></i> High Resolution Videos</li>
                    <li><i class="fa-regular fa-check"></i> 24/7 Dedicated Support</li>
                </ul>
            </div>
            <div class="pricing-btn">
                <a href="#" class="rbt-btn exclusive-btn icon-reverse-left text-center w-100" target="_blank">
                    <span class="icon-left"><i class="fa-sharp fa-regular fa-arrow-right mr--4"></i></span>
                    <span>Join Course Plan</span>
                    <span class="icon-right"><i class="fa-regular fa-arrow-right ml--4"></i></span>
                </a>
            </div>
        </div>
    </div>
    <!-- End Single Pricing  -->
</div>