<div class="row g-5">
    <!-- Start Single Pricing  -->
    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="pricing-table style-2">
            <div class="pricing-header">
                <h3 class="title color-primary">Basic Plan</h3>
                <span class="rbt-static-badge mb--32">Free for a Month</span>
                <div class="price-wrap">
                    <div class="yearly-pricing" style="display: none;">
                        <span class="amount color-primary">₹30.99</span>
                        <span class="duration color-primary">/yearly</span>
                    </div>
                    <div class="monthly-pricing" style="display: block;">
                        <span class="amount color-primary">₹10.00</span>
                        <span class="duration color-primary">/monthly</span>
                    </div>
                </div>
            </div>

            <div class="pricing-btn">
                <a href="#" class="rbt-btn exclusive-btn icon-reverse-left text-center w-100" target="_blank">
                    <span class="icon-left"><i class="fa-sharp fa-regular fa-arrow-right mr--4"></i></span>
                    <span>Join Course Plan</span>
                    <span class="icon-right"><i class="fa-regular fa-arrow-right ml--4"></i></span>
                </a>
            </div>

            <div class="pricing-body">
                <ul class="list-item">
                    <li><i class="fa-regular fa-check"></i> Unlimited Access Courses</li>
                    <li><i class="fa-regular fa-check"></i> Certificate After Completion</li>
                    <li class="off"><i class="fa-solid fa-xmark"></i> 24/7 Dedicated Support</li>
                    <li class="off"><i class="fa-solid fa-xmark"></i> Unlimited Emails</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Single Pricing  -->

    <!-- Start Single Pricing  -->
    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="pricing-table style-2 active">
            <div class="pricing-header">
                <div class="pricing-badge"><span>Popular</span></div>
                <h3 class="title color-secondary">Standard Plan</h3>
                <span class="rbt-static-badge mb--32">Most Popular</span>
                <div class="price-wrap">
                    <div class="yearly-pricing" style="display: none;">
                        <span class="amount color-secondary">₹100.99</span>
                        <span class="duration color-secondary">/yearly</span>
                    </div>
                    <div class="monthly-pricing" style="display: block;">
                        <span class="amount color-secondary">₹20.00</span>
                        <span class="duration color-secondary">/monthly</span>
                    </div>
                </div>
            </div>
            <div class="pricing-btn">
                <a href="#" class="rbt-btn exclusive-btn icon-reverse-left text-center w-100" target="_blank">
                    <span class="icon-left"><i class="fa-sharp fa-regular fa-arrow-right mr--4"></i></span>
                    <span>Join Course Plan</span>
                    <span class="icon-right"><i class="fa-regular fa-arrow-right ml--4"></i></span>
                </a>
            </div>

            <div class="pricing-body">
                <ul class="list-item">
                    <li><i class="fa-regular fa-check"></i> Unlimited Access Courses</li>
                    <li><i class="fa-regular fa-check"></i> Certificate After Completion</li>
                    <li><i class="fa-regular fa-check"></i> High Resolution Videos</li>
                    <li><i class="fa-regular fa-check"></i> 24/7 Dedicated Support</li>
                </ul>
            </div>
            
        </div>
    </div>
    <!-- End Single Pricing  -->

    <!-- Start Single Pricing  -->
    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="pricing-table style-2">
            <div class="pricing-header">
                <h3 class="title color-pink">Exclusive Plan</h3>
                <span class="rbt-static-badge mb--32">Free for a Month</span>
                <div class="price-wrap">
                    <div class="yearly-pricing" style="display: none;">
                        <span class="amount color-pink">₹99.99</span>
                        <span class="duration color-pink">/yearly</span>
                    </div>
                    <div class="monthly-pricing" style="display: block;">
                        <span class="amount color-pink">₹39.00</span>
                        <span class="duration color-pink">/monthly</span>
                    </div>
                </div>
            </div>
            <div class="pricing-btn">
                <a href="#" class="rbt-btn exclusive-btn icon-reverse-left text-center w-100" target="_blank">
                    <span class="icon-left"><i class="fa-sharp fa-regular fa-arrow-right mr--4"></i></span>
                    <span>Join Course Plan</span>
                    <span class="icon-right"><i class="fa-regular fa-arrow-right ml--4"></i></span>
                </a>
            </div>

            <div class="pricing-body">
                <ul class="list-item">
                    <li><i class="fa-regular fa-check"></i> Unlimited Access Courses</li>
                    <li><i class="fa-regular fa-check"></i> Certificate After Completion</li>
                    <li class="off"><i class="fa-solid fa-xmark"></i> 24/7 Dedicated Support</li>
                    <li class="off"><i class="fa-solid fa-xmark"></i> Unlimited Emails</li>
                </ul>
            </div>
            
        </div>
    </div>
    <!-- End Single Pricing  -->
</div>