@use "../default/variables" as *; // Importing all the variables
@use "../default/extend" as *; // Importing all the extend
@use "../default/mixins" as *; // Importing all the mixins

/*----------------------------- 
    Folder Shape Box Styles
-------------------------------*/
.rbt-fshape-box-outline-style{
    .rbt-component-section-title{
        margin: 0;
        display: inline-block;
        padding: 12px 8px 0 32px;
        background: var(--color-gray-light);
        border: 0;
        border-top: 2px solid var(--color-brand-100);
        border-left: 2px solid var(--color-brand-100);
        border-radius: 18px 0 0 0;
        margin-bottom: -2px;
        position: relative;
        max-width: 80%;
        @media #{$lg-layout,$md-layout,$sm-layout} {
            padding: 12px 16px 0 16px;
        }
        @media #{$md-layout,$sm-layout} {
            padding: 12px 16px 12px 16px;
            width: 100%;
            max-width: 100%;
            border-radius: 12px 12px 0 0;
            border-right: 2px solid var(--color-brand-100);
            text-align: center;
        }
        .rbt-fshape-right-portion{
            position: absolute;
            top: -2px;
            left: 100%;
            width: 52px;
            height: calc(100% + 2px);
            @media #{$md-layout,$sm-layout} {
                display: none;
            }
            &.rbt-fshape-right-portion-sm{
                width: 48px;
            }
            svg{
                height: 100%;
                width: 100%;
                display: inline-block;
            }
        }
    }
    .rbt-fshape-box{
        padding: 32px;
        background: transparent;
        border: 2px solid var(--color-brand-100);
        border-radius: 0 var(--radius-big) var(--radius-big) var(--radius-big);
        &.rbt-fshape-box-py-inc{
            padding: 32px;
            @media #{$lg-layout,$md-layout,$sm-layout} {
                padding: 16px;
            }
        }
        @media #{$md-layout,$sm-layout} {
            padding: 16px;
            border-radius: 0 0 var(--radius-big) var(--radius-big);
            padding-top: 0;
        }
        @media #{$small-mobile} {
            padding: 8px;
            padding-top: 0;
        }
    }
    &.rbt-fshape-box-outline-style-bg-white{
        .rbt-component-section-title{
            background: var(--color-white);
        }
        .rbt-fshape-box{
            background: var(--color-white);
        }
    }
    &.rbt-fshape-box-outline-style-bg-dark{
        .rbt-component-section-title{
            background: var(--color-extra-ten);
            border-color: var(--color-extra-nine);
        }
        .rbt-fshape-box{
            background: var(--color-extra-ten);
            border-color: var(--color-extra-nine);
        }

        .rbt-card-row-has-top-separator {
            .rbt-card {
                border-color: var(--color-extra-nine);

                .rbt-card-title {
                    color: var(--color-white);

                    &:hover {
                        a {
                            color: var(--color-gray-200);
                        }
                    }
                }
            }
        }
    }
    &.rbt-fshape-box-outline-style-sm-size{
        .rbt-component-section-title{
            padding: 12px 24px 0 24px;
            margin-left: 0;
            margin-bottom: -3px;
            .rbt-title{
                font-size: 18px;
                line-height: 1.8;
                @media #{$large-mobile} {
                    font-size: 16px;
                    line-height: 1.8;
                }
            }
            &::after{
                width: 38px;
            }
        }
        .rbt-fshape-box{
            padding: 24px;
            border-radius: 0 var(--radius-big) var(--radius-big) var(--radius-big);
            @media #{$md-layout} {
                border-radius: 0 0 var(--radius-12) var(--radius-12);
            }
            @media #{$sm-layout} {
                border-radius: 0 0 var(--radius-12) var(--radius-12);
                padding: 16px;
            }
        }
    }
    &.rbt-fshape-box-outline-style-extend-width{
        .rbt-component-section-title{
            margin-left: -32px;
            @media #{$lg-layout} {
                margin-left: -16px;
            }
            @media #{$md-layout} {
               margin: 0;
               margin-bottom: -2px;
            }
            @media #{$sm-layout} {
               margin: 0;
               margin-bottom: -2px;
            }
        }
        .rbt-fshape-box{
            margin: 0 -32px;
            @media #{$lg-layout} {
                margin: 0 -16px;
            }
            @media #{$md-layout} {
                margin: 0;
                border-radius: 0 0 var(--radius-12) var(--radius-12);
            }
            @media #{$sm-layout} {
                margin: 0;
                border-radius: 0 0 var(--radius-12) var(--radius-12);
            }
        }
    }
    &.rbt-fshape-box-outline-style-primary-stroke{
        .rbt-component-section-title{
            border-color: var(--color-primary);
        }
        .rbt-fshape-box{
            border-color: var(--color-primary);
        }
    }
}


.rbt-product-fshape-box-outline-style{
    position: relative;
    .rbt-offer-countdown-section{
        position: absolute;
        right: 0;
        top: 32px;
        @media #{$md-layout} {
            left: 0;
            top: 0;
        }
        @media #{$sm-layout} {
           position: relative;
           top: 0;
           left: 0;
           border-left: 2px solid var(--color-brand-100);
           border-right: 2px solid var(--color-brand-100);
           padding-bottom: 18px;
           margin-bottom: -2px;
           background: var(--color-white);
           &.rbt-offer-countdown-section-primary{
                background: var(--color-gray-light);
               border-color: var(--color-primary);
           }
        }
    }
}
.rbt-fshape-row{
    &.position-relative{
        .rbt-link{
            &.position-absolute{
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                display: inline-block;
                width: auto;
                @media #{$md-layout,$sm-layout} {
                    right: 32px;
                }
                @media #{$small-mobile} {
                    font-size: var(--font-size-b4);
                    line-height: var(--line-height-b4);
                }
            }
        }
    }
}
.rbt-fshape-box.rbt-bg-color-gray-light{
    .rbt-discount-badge::after{
        background: var(--color-gray-light);
    }
}
