@use "../default/variables" as *; // Importing all the variables
@use "../default/extend" as *; // Importing all the extend
@use "../default/mixins" as *; // Importing all the mixins

/*----------------------
    Rbt List Style  
------------------------*/
.rbt-list-style-1 {
    @extend %liststyle;
    li {
        display: flex;
        font-size: 18px;
        margin: 7px 0;
        line-height: 1.45;
        @media #{$sm-layout} {
            font-size: 16px;
        }
        i {
            padding-right: 10px;
            margin-top: 5px;
            color: var(--color-primary);
        }
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &.color-white {
        li {
            color: var(--color-white);
        }
    }
}

// Style 02
.rbt-list-style-2 {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
    margin: -10px;
    margin-bottom: 40px;
    @media #{$large-mobile} {
        display: block;
        text-align: left;
    }
    li {
        margin: 10px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.50px;
        text-align: center;
        @media #{$large-mobile} {
            text-align: left;
        }
        i {
            width: 30px;
            height: 30px;
            background: var(--color-white);
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            border-radius: 100%;
            color: var(--color-primary);
            display: inline-block;
            line-height: 29px;
            margin-right: 10px;
            font-weight: 700;
            text-align: center;
        }
    }
}


// Style 03
.rbt-list-style-3 {
    @extend %liststyle;
    li {
        display: flex;
        font-size: 16px;
        margin: 7px 0;
        line-height: 1.45;
        color: var(--color-body);
        i {
            padding-right: 10px;
            margin-top: 4px;
        }
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &.color-white {
        li {
            color: var(--color-white);
        }
    }
}
// style 04
.rbt-list-style-4 {
    list-style: none;
    padding-left: 0;

    li {
        position: relative;
        padding-left: 16px;

        &::before {
            content: "";
            display: inline-block;
            height: 6px;
            width: 6px;
            background: var(--color-body);
            position: absolute;
            left: 0;
            top: 12px;
            border-radius: var(--radius-full);
        }
    }
}


// Plan Offer List
.plan-offer-list {
    @extend %liststyle;
    margin: -10px;
    li {
        font-size: 16px;
        margin: 10px;
        i {
            width: 22px;
            height: 22px;
            background: var(--color-success);
            margin: 0 auto;
            line-height: 22px;
            text-align: center;
            border-radius: 100%;
            color: var(--color-white);
            font-size: 14px;
            margin-right: 10px;
            display: inline-block;
        }
        &.off {
            opacity: 0.5;
            i {
                background: var(--color-danger);
            }
        }
    }
    &.rbt-list-primary-opacity {
        li {
            i {
                background: var(--color-brand-200) !important;
                color: var(--color-primary) !important;
            }
        }
    }
    &.rbt-list-white-opacity {
        li {
            i {
                background: var(--white-opacity) !important;
                color: var(--color-white) !important;
            }
        }
    }
}

