@use "../default/variables" as *; // Importing all the variables
@use "../default/extend" as *; // Importing all the extend
@use "../default/mixins" as *; // Importing all the mixins

/*----------------------------- 
    Product Comparison Styles
-------------------------------*/

.rbt-img-peeker-list-single{
    &.rbt-has-show-more {
        .rbt-has-show-more-inner-content{
            max-height: 420px;
        }
    }
}

.rbt-img-peeker-list,
.rbt-list-card-box-one{
  max-height: 460px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
  &::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
      background-color: var(--color-gray-50);
      border-radius: 40px;
      height: 337px;
  }
  &::-webkit-scrollbar
  {
      width: 4px;
      height: 337px;
      background-color: var(--color-gray-50);
  }
  &::-webkit-scrollbar-thumb{
      border-radius: 40px;
      background-color: var(--color-gray-300);
  }
  .rbt-product-card.rbt-list-view-variation.list-view-md .rbt-card-body{
    padding: 0;
  }
}

.rbt-products-comparison-area{
  .rbt-list-card-box-one{
      &.rbt-has-show-more {
          .rbt-has-show-more-inner-content{
              max-height: 420px;
          }
      }
  }

}

.rbt-img-peeker-list{
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media #{$sm-layout} {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    .rbt-img-peeker-single{
      flex-basis: 48%;
      display: flex;
    }
  }
}


.rbt-img-peeker-single{
    a{
        display: block;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.40) 100%);
            left: 0;
            top: 0;
        }
        img{
            border-radius: 16px;
            border: 3px solid transparent;
            object-fit: cover;
            width: 100%;
            @media #{$sm-layout} {
             border-radius: 8px;
          }
        }
        &.active{
            &::after{
                display: none;
            }
            img{
                border-color: var(--color-primary);
            }
        }
    }
}


.rbt-img-comparison-single{
    img {
        vertical-align: bottom;
        max-width: 100%;
        height: auto;
      }
      
      .rbt-block--comparison {
        /* hide shadow */
        overflow: hidden;
      }
      
      .rbt-block--comparison .rbt-block__image {
        --range: 50%;
        /* to position elements above each other */
        display: grid;
      }
      
      /* position 2 images and range slider above each other*/
      .rbt-block--comparison .rbt-block__img {
        grid-column: -1 / 1;
        grid-row: -1 / 1;
        
        overflow: hidden;
      }
      
      /* move div to right*/
      .rbt-block__img--last {
        box-shadow: 0 0 10px rgba(0,0,0,.9);
        transform: translateX(calc(var(--range) - 100%));
      }
      
      /* compensation right movement*/
      .rbt-block__img--last img {
        transform: translateX( calc( 100% - var(--range) ) );
      }
      
      /* Range Slider */
      .rbt-block__slide {
        /* scale range slider to size of image container */
        position: absolute;
		margin: 0;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;

		cursor: ew-resize;

		// Hide the slider track
		-webkit-appearance: none;
		background: transparent;

		// And the slider thumb
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: 0;
			height: 0;
		}

		// Not very DRY. But without this division, the widget breaks in Chrome
		&::-moz-range-thumb {
			width: 0;
			height: 0;
		}

		&:focus {
			outline: none;
		}
        
        /* hide range slider */
        opacity: 0;
      }
      
      
      /*********************
        OPTIONAL Custom Styling
      *********************/
      .rbt-block--comparison {
        position: relative;
        
        /* container width and height */
        width: 100%;
        min-height: 460px;
        border-radius: 16px;
      }
      
      .rbt-block--comparison .rbt-block__img {
        /* just to fit to container */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      
      .img-cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }

}


.rbt-block__slide-line{
    position: absolute;
    top: 0;
    left: var(--range);
    width: 2px;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    .rbt-block__slide-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(90deg);
        height: 48px;
        width: 48px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: var(--radius-full);
        text-align: center;
        color: var(--color-white);
        line-height: 48px;
    }
}
.rbt-comparison-badge{
  border-radius: 16px;
  padding: 6px 12px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  font-size: var(--font-size-b4);
  line-height: var(--line-height-b4);
  position: absolute;
  color: var(--color-heading);
  font-weight: 500;
  top: 16px;
  z-index: 1;
  &.rbt-comparison-badge-before{
    left: 16px;
  }
  &.rbt-comparison-badge-after{
    right: 16px;
  }
}