@use "../default/variables" as *; // Importing all the variables
@use "../default/extend" as *; // Importing all the extend
@use "../default/mixins" as *; // Importing all the mixins

.search-trigger-active,
.rbt-common-search-trigger-active {
    .search-icon {
        &::before {
            opacity: 1;
            visibility: visible;
            transition: 0.4s;
        }
    }

    &.rbt-modern-close-btn .modern-close-wrapper::before,
    &.rbt-modern-close-btn .modern-close-wrapper::after {
        opacity: 0;
        visibility: hidden;
    }

    &.open {
        background: var(--color-gray-300);

        .search-icon {
            &::before {
                opacity: 0;
                visibility: hidden;
            }
        }

        .rbt-toolbar-label {
            opacity: 0;
            visibility: hidden;
        }

        &.rbt-modern-close-btn {
            .modern-close-wrapper {
                &::before {
                    animation-name: crossRight;
                    animation-delay: .30s;
                }

                &::after {
                    animation-name: crossLeft;
                    animation-delay: .15s;
                }
            }
        }
    }
}




.rbt-search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 4px 16px rgba(8, 10, 18, 0.1);
    clip-path: polygon(0 0, 200% 0, 200% 0%, 0 0%);
    transition: var(--transition);
    border-top: 1px solid var(--color-gray-200);

    &.active {
        clip-path: polygon(0 0, 200% 0, 200% 200%, 0 200%);
        z-index: 104;
    }

    &.media-upload-wrapper-open {
        &::before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.1);
            z-index: 99;
            transition: all 0.7s;
            background: rgba(0, 0, 0, 0.5);
            z-index: 3;
        }
    }

    @media #{$md-layout} {
        max-height: 500px;
        overflow-y: scroll;
    }

    @media #{$sm-layout} {
        max-height: 500px;
        overflow-y: scroll;
    }

    .wrapper {
        max-width: 1100px;
        margin: 40px auto;
        padding: 0;
        font-weight: 400;

        @media #{$lg-layout} {
            max-width: 920px;
        }

        @media #{$md-layout} {
            margin: 30px auto;
            display: block;
            max-width: 750px;
        }

        @media #{$sm-layout} {
            display: block;
            max-width: 100%;
            padding: 15px;
            margin: 0;
        }

        .rbt-component-section-title {
            margin-bottom: 24px;

            @media #{$sm-layout} {
                margin-bottom: 8px;
            }
        }

        form {
            display: flex;
            position: relative;
            margin-bottom: 48px;
            align-items: center;

            @media #{$sm-layout} {
                margin-bottom: 12px;
            }

            .search-input {
                height: 48px;
                line-height: 1;
                margin: 0 12px 0 0;
                padding: 0 36px;
                border: 2px solid var(--color-gray-200);
                color: var(--color-gray-400);
                border-radius: 80px;
                transition: var(--transition);
                box-shadow: none;
                font-size: var(--font-size-b1);

                @media #{$large-mobile} {
                    font-size: 14px;
                    height: 40px;
                }

                &::placeholder {
                    font-size: var(--font-size-b1);
                    color: var(--color-gray-400);
                }

                &:focus {
                    border-color: var(--color-primary);
                }
            }

            .inner-search-icon {
                color: var(--color-gray-400);
                font-size: 16px;
                line-height: 16px;
                position: absolute;
                left: 16px;
                top: 17px;

                @media #{$large-mobile} {
                    top: 15px;
                    font-size: var(--font-size-b4);
                }
            }

            .media-search-btn {
                color: var(--color-gray-400);
                font-size: 16px;
                line-height: 16px;
                position: absolute;
                right: 0;
                top: 0;
                padding: 0 16px;
                height: 100%;
                border: 0;
                outline: none;
                background: transparent;
            }

            .submit-btn {
                .rbt-btn {}
            }
        }
    }

    .rbt-search-with-category {
        @media #{$md-layout} {
            margin-top: 15px;
        }

        @media #{$sm-layout} {
            margin-top: 15px;
        }
    }

    &.search-with-category-popup {
        @media #{$md-layout} {
            overflow-y: inherit;
        }

        @media #{$sm-layout} {
            overflow-y: inherit;
        }
    }
}

body::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    transition: var(--transition);
    backdrop-filter: blur(5px);
    opacity: 0;
    visibility: hidden;
    cursor: url(../images/cursor-x.webp), pointer;
}

.common-close_search_dropdown,
.rbt-ms-dismiss-outsider {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    transition: var(--transition);
    cursor: url(../images/cursor-x.webp), pointer;
}

.side-nav-opened body::before,
.header-top-menu-nav-opened .common-close_search_dropdown {
    opacity: 1;
    visibility: visible;
}

.menu-nav-opened {
    .common-close_search_dropdown {
        opacity: 1;
        visibility: visible;
    }
}




/*-------------------------
    Search Style Default  
--------------------------*/

.rbt-search-style {
    position: relative;

    input {
        background: transparent;
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        padding-right: 60px;
        border-radius: 500px;
        min-width: 300px;
        border: 2px solid var(--color-white);
        color: var(--color-white);

        &:focus {
            border-color: var(--color-white);
        }
    }

    .rbt-search-btn {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);

        i {
            color: var(--color-white);
            transition: var(--transition);
        }

        &:hover {
            i {
                color: var(--color-primary);
            }
        }
    }
}

/*-------------------------
    Search Style One  
--------------------------*/
.rbt-search-style-1 {
    position: relative;

    input {
        height: 50px;
        line-height: 50px;
        padding-right: 50px;
    }

    .search-btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        background: transparent;
        padding: 0;
        border: 0 none;
        display: block;
        width: 50px;
        text-align: center;
        transition: var(--transition);

        &:hover {
            color: var(--color-primary);
        }
    }
}

.rbt-media-search-section {
    position: absolute;
    width: 100%;
    padding: 24px;
    background: var(--color-white);
    box-shadow: 0px 12px 30px 10px rgba(0, 0, 0, 0.15);
    z-index: 10;
    border-radius: 8px;
    top: calc(100% + 8px);
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: var(--transition);

    @media #{$small-mobile} {
        padding: 12px;
    }

    &.opened {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);

        .rbt-ms-dismiss-outsider {
            opacity: 1;
            visibility: visible;
        }
    }

    .rbt-media-wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
        position: relative;

        @media #{$small-mobile} {
            gap: 12px;
            padding: 12px;
        }
    }

    .rbt-file-upload-container .file-upload-area {
        min-height: 200px;

        @media #{$small-mobile} {
            min-height: 110px;
            width: 100%;
        }
    }

    .section-title {
        text-align: center;
        font-weight: 500;
        color: var(--color-heading);

        @media #{$small-mobile} {
            font-size: var(--font-size-b3);
            line-height: var(--line-height-b3);
        }
    }

    .rbt-copy-link-part {
        margin: 0;

        .rbt-search-form {
            input {
                margin-right: 0 !important;
                width: 100%;

                @media #{$small-mobile} {
                    font-size: 14px;
                    padding: 0 16px;
                    padding-right: 80px;
                    height: 36px;
                    margin-bottom: 0;
                    line-height: 36px;
                }
            }
        }
    }

    .rbt-ms-dismiss-btn {
        color: var(--color-heading);
        font-weight: 700;
        position: absolute;
        right: 0;
        top: 0;
    }

}

.rbt-search-input-section {
    &.rbt-sm-search-section {
        position: relative;
        display: block;
        width: 100%;

        input {
            padding: 0 36px 0 16px;
            color: var(--color-heading);

            &::placeholder {
                color: var(--color-gray-500);
            }
        }

        .search-btn {
            height: 28px;
            width: 28px;
            border-radius: var(--radius);
            border: none;
            right: 6px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}





.rbt-inner-search-label-animate-activation {
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 1;

    .cd-headline {
        position: absolute;
        top: 50%;
        left: 0;
        width: calc(100% - 16px);
        font-size: var(--font-size-b3);
        color: var(--color-gray-400);
        transform: translateY(-50%);
        z-index: -1;

        &.clip {
            b {
                font-weight: 400;
            }
        }
    }

    .cd-words-wrapper {
        &::after {
            display: none;
        }
    }

    &.has-left-catagory-section {
        .cd-headline {
            padding-left: 156px;
        }
    }

}



.rbt-search-scroll-vertical-wrapper {
    position: relative;
    height: 100%;
    overflow-y: auto;
    max-height: 400px;

    @media #{$sm-layout,$md-layout,$lg-layout,$xl-layout,$laptop-device} {
        max-height: 300px;
    }

    .inner {
        position: relative;
        height: 100%;
    }
}