@use "../default/variables" as *; // Importing all the variables
@use "../default/extend" as *; // Importing all the extend
@use "../default/mixins" as *; // Importing all the mixins

/*----------------------
    RBT Video Styles  
-----------------------*/
.mfp-bg {
    z-index: 9999;
}

.mfp-wrap {
    z-index: 9999;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

html.picture {
    margin: 0 !important;
}

img.mfp-img {
    padding-bottom: 0;
}
.mfp-bg {
    background: rgba(0, 0, 0, 0.70);
    backdrop-filter: blur(5px);
    opacity: 1;
}

.mfp-iframe-scaler iframe {
    border-radius: 10px;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 1;
}


.mfp-iframe-holder .mfp-close,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    top: -60px;
    right: -50px;
    font-size: 30px;
    font-weight: 400;
    transition: 0.4s;
    opacity: 1;
    width: 50px;
    height: 50px;
    background: #19233550;
    text-align: center;
    border-radius: var(--radius-full);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: var(--color-white);
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    top: -10px;
    right: -50px;
}





.rbt-vedio-section{
    &.rbt-vedio-section-style-one{
        position: relative;
        overflow: hidden;
        z-index: 2;
        .rbt-title{
            font-size: var(--font-size-xl);
            line-height: 1.2;
            font-weight: 400;
            margin-bottom: 32px;
            @media #{$laptop-device} {
                font-size: 40px;
            }
            @media #{$lg-layout} {
                font-size: 36px;
            }
            @media #{$md-layout} {
                font-size: 24px;
            }
            @media #{$sm-layout} {
                font-size: 20px;
            }
        }
        .rbt-vedio-sm-img{
            position: absolute;
            max-width: 180px;
            height: auto;
            @media #{$sm-layout} {
                max-width: 60px;
            }
            &.rbt-vedio-sm-img-1 {
                z-index: -2;
            }
            &.rbt-vedio-sm-img-2 {
                z-index: -3;
                max-width: 150px;
            }
            &.rbt-vedio-sm-img-3 {
                z-index: -1;
                max-width: 130px;
            }
            &.rbt-vedio-sm-img-4 {
                z-index: -3;
                max-width: 150px;
            }
            &.rbt-vedio-sm-img-5 {
                z-index: -1;
                max-width: 150px;
            }
            &.rbt-vedio-sm-img-6 {
                z-index: -2;
                max-width: 150px;
            }
        }
    }
}


.fancybox__slide.has-image>.fancybox__content{
    background: var(--color-brand-50);
}
.f-thumbs__slide__button{
    background: var(--color-brand-50);
    border-radius: 6px;
    overflow: hidden;
}
.is-classic .is-nav-selected .f-thumbs__slide__button::after{
    border-color: var(--color-primary);
    border-radius: 6px;
}

.is-classic .f-thumbs__slide__button::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    bottom: 0;
    border: 2px solid var(--color-gray-200);
    border-radius: 6px;
    animation: f-fadeIn .2s ease-out;
    z-index: 10;
}


.fancybox__infobar{
    font-size: var(--font-size-b1);
}