<!-- Start Header Bottom -->
<div class="rbt-header-bottom position-relative rbt-header-bottom-1 @@bgColor d-none d-xl-block">
    <div class="@@container">
        <div class="rbt-header-catagories">
            <ul class="rbt-catagories-list @@rbtheadercatagoriesStyle">
                <li>
                    <a href="shop-by-category.html" class="rbt-single-catagory-item">
                        <i class="fa-light fa-chair"></i>
                        <span class="text">Chairs</span>
                    </a>
                </li>
                <li>
                    <a href="shop-by-category.html" class="rbt-single-catagory-item">
                        <i class="fa-light fa-bath"></i>
                        <span class="text">Bathroom</span>
                    </a>
                </li>
                <li>
                    <a href="shop-by-category.html" class="rbt-single-catagory-item">
                        <i class="fa-light fa-lamp"></i>
                        <span class="text">Lamp</span>
                    </a>
                </li>
                <li>
                    <a href="shop-by-category.html" class="rbt-single-catagory-item">
                        <i class="fa-light fa-bed-front"></i>
                        <span class="text">Bedroom</span>
                    </a>
                </li>
                <li>
                    <a href="shop-by-category.html" class="rbt-single-catagory-item active">
                        <i class="fa-light fa-lamp-street"></i>
                        <span class="text">Lighting</span>
                    </a>
                </li>
                <li>
                    <a href="shop-by-category.html" class="rbt-single-catagory-item">
                        <i class="fa-light fa-booth-curtain"></i>
                        <span class="text">Curtains</span>
                    </a>
                </li>
                <li>
                    <a href="shop-by-category.html" class="rbt-single-catagory-item">
                        <i class="fa-light fa-utensils"></i>
                        <span class="text">Utensils</span>
                    </a>
                </li>
                <li>
                    <a href="shop-by-category.html" class="rbt-single-catagory-item">
                        <i class="fa-light fa-regular fa-flower-daffodil"></i>
                        <span class="text">Flower Pot</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Header Bottom -->

