<header class="rbt-header rbt-header-11">

    @@include('header/header-main/header11.html', {
        "stickyActivation": "rbt-header-sticky-activation",
        "logo": "logo-blackbg.webp",
        "transparent": "header-not-transparent header-sticky",
        "gapSpaceBetween": "header-space-between",
        "container": "container",
        "bgMiddleImage": "rbt-header-bg-img rbt-header-bg-img-one"
    })
    
    @@include('header/header-search/search-header-one.html')
</header>

@@include('header/navStyles/mobilemenu.html')
@@include('header/offcanvas/cart-offcanvas.html')
@@include('header/offcanvas/category-offcanvas.html')

