<header class="rbt-header rbt-header-9">

    @@include('header/header-main/header9.html', {
        "stickyActivation": "rbt-header-sticky-activation",
        "topbar-bg": "rbt-topbar-bg-one",
        "logo": "logo.webp",
        "transparent": "rbt-bg-color-white header-not-transparent header-sticky",
        "gapSpaceBetween": "header-space-between",
        "container": "rbt-fullwidth-wrapper",
    })
      
    @@include('header/header-search/search-header-one.html')
    @@include('header/sticky-header/commonSticky-header.html', {
        "logo": "logo.webp",
        "gapSpaceBetween": "justify-content-between",
        "bgColor": "rbt-bg-color-white",
        "container": "rbt-fullwidth-wrapper",
    })
</header>

@@include('header/navStyles/mobilemenu.html')
@@include('header/offcanvas/cart-offcanvas.html')
@@include('header/offcanvas/category-offcanvas.html')

