<header class="rbt-header rbt-header-9">

    @@include('header/header-main/header9.html', {
    "stickyActivation": "rbt-header-sticky-activation",
    "logo": "logo.webp",
    "transparent": "rbt-bg-color-white header-not-transparent header-sticky",
    "gapSpaceBetween": "header-space-between",
    "container": "container",
    "topbar-bg": "rbt-topbar-bg-three"
    })

    @@include('header/header-search/search-header-one.html')
    @@include('header/sticky-header/commonSticky-header.html', {
    "logo": "logo.webp",
    "gapSpaceBetween": "justify-content-between",
    "bgColor": "rbt-bg-color-white",
    "container": "container",
    })
</header>

@@include('header/navStyles/mobilemenu.html')
@@include('header/offcanvas/cart-offcanvas.html')
@@include('header/offcanvas/category-offcanvas.html')