<header class="rbt-header rbt-header-1">
    @@include('header/header-main/header1.html', {
        "stickyActivation": "rbt-header-sticky-activation",
        "logo": "logo.webp",
        "transparent": "rbt-bg-color-gray-light header-not-transparent header-sticky",
        "gapSpaceBetween": "header-space-between",
        "container": "container",
    })
    @@include('header/headerMid/headerMid-1.html', {
        "bgColor": "rbt-bg-color-primary",
        "container": "container",
    })
    @@include('header/headerBottom/headerbottom-one.html', {
        "bgColor": "rbt-bg-color-gray-light",
        "rbtheadercatagoriesStyle": "",
        "container": "container",
    })
    
    @@include('header/sticky-header/commonSticky-header.html', {
        "logo": "logo.webp",
        "gapSpaceBetween": "justify-content-between",
        "bgColor": "rbt-bg-color-white",
        "container": "container",
    })

</header>

@@include('header/navStyles/mobilemenu.html')
@@include('header/offcanvas/cart-offcanvas.html')
@@include('header/offcanvas/category-offcanvas.html')

