<header class="rbt-header rbt-header-2">

    @@include('header/header-main/header2.html', {
        "stickyActivation": "rbt-header-sticky-activation",
        "logo": "logo.webp",
        "transparent": "rbt-bg-color-white header-not-transparent header-sticky",
        "gapSpaceBetween": "header-space-between",
        "container": "container",
    })
    @@include('header/headerMid/headerMid-2.html', {
        "bgColor": "rbt-bg-color-primary",
        "container": "container",
    })
    
    
    @@include('header/sticky-header/commonSticky-header.html', {
        "logo": "logo.webp",
        "gapSpaceBetween": "justify-content-between",
        "bgColor": "rbt-bg-color-white",
        "container": "container",
        "navigationEnd": "",
    })
</header>

@@include('header/navStyles/mobilemenu.html')
@@include('header/offcanvas/category-offcanvas.html')
@@include('header/offcanvas/cart-offcanvas.html')
@@include('header/offcanvas/special-offer-offcanvas-right.html')
@@include('modals/recent-view-prdModal.html')