<!-- Start Image Gallary Area -->
<div class="row row--12 mt_dec--24">
    <div class="col-lg-4 col-md-4 col-sm-4 col-6 mt--24">
        <div class="rbt-gallary-img text-center rbt-gallary-img-style-one">
            <div class="inner rbt-scroll-trigger zoom_in animation-order-1">
                <img data-fancybox="product-single-gallary" src="assets/images/insta-posts/insta-post-c-04.webp" alt="Ecommerce Instagram Posts Image">
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-6 mt--24">
        <div class="rbt-gallary-img text-center rbt-gallary-img-style-one">
            <div class="inner rbt-scroll-trigger zoom_in animation-order-2">
                <img data-fancybox="product-single-gallary" src="assets/images/insta-posts/insta-post-c-02.webp" alt="Ecommerce Instagram Posts Image">
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-6 mt--24">
        <div class="rbt-gallary-img text-center rbt-gallary-img-style-one">
            <div class="inner rbt-scroll-trigger zoom_in animation-order-3">
                <img data-fancybox="product-single-gallary" src="assets/images/insta-posts/insta-post-c-03.webp" alt="Ecommerce Instagram Posts Image">
            </div>
        </div>
    </div>

</div>
<!-- End Image Gallary Area -->
