<nav class="rbt-mainmenu-nav">
    <ul class="mainmenu mainmenu has-nav-bg-shape-hover">
        <li class="with-rbt-megamenu has-menu-child-item position-static rbt-initial-odo-count">
            <a href="#!">Demos <i class="fa-regular fa-chevron-down"></i></a>
            @@include('header/megamenu/megamenu-demo-list.html')
        </li>

        <li class="with-rbt-megamenu has-menu-child-item position-static">
            <a href="#!">Shop <i class="fa-regular fa-chevron-down"></i></a>
            @@include('header/megamenu/megamenu-nine-var-two.html')
        </li>

        <li class="with-rbt-megamenu has-menu-child-item position-static">
            <a href="#!">Pages <i class="fa-regular fa-chevron-down"></i></a>
            @@include('header/megamenu/megamenu-eleven-full-screen.html')
        </li>

        <li class="with-rbt-megamenu has-menu-child-item position-static">
            <a href="#!">Elements <i class="fa-regular fa-chevron-down"></i></a>
            @@include('header/megamenu/megamenu-ten.html')
        </li>

        <li class="with-rbt-megamenu has-menu-child-item position-static">
            <a href="#!">Core Features <i class="fa-regular fa-chevron-down"></i></a>
            @@include('header/megamenu/megamenu-twelve.html')
        </li>

        <li class="has-dropdown position-relative">
            <a href="#!">More <i class="fa-regular fa-chevron-down"></i></a>
            <ul class="submenu">
                <li><a href="https://html.getrvn.com/docs/">Documentation</a></li>
                <li><a href="https://www.youtube.com/@rainbow-themes/videos">Video Tutorials</a></li>
                <li>
                    <a href="https://support.rainbowit.net/support/login">
                        Support Center
                        <div class="rbt-product-badge rbt-product-badge-bg-green border-rounded">
                            24/7
                        </div>
                    </a>
                </li>
                <li><a href="https://html.getrvn.com/docs/doc-changelog.html">Change Log</a></li>
                <li><a href="https://rainbowthemes.net/contact/">Contact Us</a></li>
                <li><a href="https://rainbowthemes.net/faqs/">FAQ</a></li>
                <li><a href="https://rainbowthemes.net/services/">Customization</a></li>
            </ul>
        </li>

    </ul>
</nav>