<div class="rbt-countdown-section d-flex justify-content-center align-items-center">
    <div class="rbt-countdown-one @@rbt-bg-color-variation">
        <div class="countdown" data-date="2026-12-30">
            <div class="countdown-container days">
                <span class="countdown-value">87</span>
                <span class="countdown-heading">Days</span>
            </div>
            <div class="countdown-container hours">
                <span class="countdown-value">23</span>
                <span class="countdown-heading">Hours</span>
            </div>
            <div class="countdown-container minutes">
                <span class="countdown-value">38</span>
                <span class="countdown-heading">Minutes</span>
            </div>
            <div class="countdown-container seconds">
                <span class="countdown-value">27</span>
                <span class="countdown-heading">Seconds</span>
            </div>
        </div>
    </div>
</div>